@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.icon_downarrowblack {
  &:before {
    content: "\f126";
  }
}
.wishlist {
  color: #999;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  a {
    display: flex;
    justify-content: center;
    span {
      justify-content: center;
    align-self: center;
    }
  }
  &:hover{
    span{
      color: $cerise;
    }
    
  }
  .wishlist-align {
    font-size: 12px;
      font-family: $font-Lato;
      color: #666;
      letter-spacing: 1px;
      font-weight: bold;
  }
}


@media (min-width: 992px) {
  .font30 {
    font-size: 30px;
  }
    .fix-ordersummary {
      position: sticky;
      position: -webkit-sticky;
      top: 30px;
    }
    
    h3 {
      padding: 40px 0 20px 0;
    }
    .order-summary {
      min-height: calc(100vh - 55px);
      //padding: 25px 0;
    }
    .order-items {
      background-color: #fefefd;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 991px) {
    h3 {
      margin: 20px 0 15px 0;
    }
    .checkout {
      padding-bottom: 180px;
    }
    // .fix-order-items-mobile {
    //   // overflow: scroll;
    // }
    // .summary-title {
    //  // margin-bottom: 15px;
    // }
    // .pos-fixed {
    //   position: fixed;
    // bottom: 0;
    // width: 100%;
    // }
  
    .order-summary {
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 77vh;
      position: fixed;
      padding-bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      background-color: tint(#000, 90%) !important;
      z-index: 1;
      .justchk {
        overflow: scroll;
      }
  
      hr {
        margin: 10px 0 !important;
      }
      
      .promo-message {
        display: block;
      }
  
      .subtotal {
        font-size: 14px;
      }
  
      .btn-arrow {
        top: -15px;
        left: 50%;
        cursor: pointer;
        font-size: 10px;
        position: absolute;
        border-radius: 20px;
        background-color: #fff;
        border: 2px solid tint(#000, 90%);
        padding: 8px 11px 8px 9px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: inline-block !important;
      }
  
      .total {
        margin-bottom: 10px;
      }
  
      .order-items {
        overflow-y: auto;
      }
  
      .summary-footer {
        margin-top: 15px;
      }
    }
    // .order-summary {
    //   padding: 10px 0;
    // }
  }

.order-summary {
    background-color: #f9f8f5;
    a {
      color: inherit;
    }
  
    .remove {
      cursor: pointer;
      display: inline-block;
      font-size: 9px;
      font-weight: bold;
    }
  
    .summary-padding {
      padding: 0 40px;
    }
    .fix-order-items {
      max-height: 220px;
      overflow-y: scroll;
      @include bottom-shadow();
    }
  
    .summary-title {
      color: tint(#000, 40%);
      font-size: 15px;
      letter-spacing: 1px;
      font-family: $font-Lato;
    }
  
    .edit-cart {
      float:right;
      color: $cerise;
      cursor: pointer;
    }
  
    .collection-name {
      @include plp_coll_name_desktop();
    }
  
    .product-name {
      flex: 2;
      @include plp_prod_name_desktop();
    }
    .product-price {
      @include plp_prod_name_desktop();
      text-align: right;
      font-family: $font-Lato;
    }
  
    .product-qty,
    .product-size,
    .text-coupon {
      .bold {
        font-weight: bold;
      }
      @include c10-L-R();
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .subtotal {
      color: #000;
      font-size: 14px;
      font-weight: 600;
      font-family: $font-Lato;
    }
  
    .grand-total {
      font-size: 18px;
      font-weight: 600;
      font-family: $font-Lato;
    }
}

.selected-stvalue {
  margin-top: 10px;
  color: #808080;
}
.small {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-family: $font-Lato;
}
.strikeprice {
  font-size: 14px;
  text-decoration: line-through;
  color: tint(#000, 50%) !important;
  font-family: $font-Serif;
}

.discountprice {
  color: $cerise;
  font-family: $font-Serif;
  font-size: 16px;
}
.product-size {
  @include pdp_spec();
  line-height: 25px;
  justify-content: center;
  padding-right: 10px;
}
.padd {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  font-family: $font-Lato;
  color: #666;
  letter-spacing: 1px;
}

.hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.text-muted {
  color: #666;
  font-size: 12px;
}

.discount-font {
  cursor: pointer;
  font-size: 9px;
  font-weight: bold;
  margin-left: 5px;
}

.discountprice {
  color: #ab1e56;
  font-family:  $font-Lato;
  font-size: 16px;
}

.strikeprice {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
  font-family: $font-Lato;
}

.text-remove-items {
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;

  .trigger-remove-items {
    cursor: pointer;
    font-style: normal;
    text-decoration: underline;
  }
}
.black {
  color: black;
}

.delivery-date {
  @include pdp_spec();
  @include c10-L-R();
  line-height: 20px;
  justify-content: center;
  text-transform: none;
}

.wrap {
  word-wrap: break-word;
}