@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.icon_downarrowblack {
  &:before {
    content: "\f126";
  }
}
.wishlist {
  color: #999;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  a {
    display: flex;
    justify-content: center;
    span {
      justify-content: center;
      align-self: center;
    }
  }
  &:hover {
    span {
      color: $cerise;
    }
  }
  .wishlist-align {
    font-size: 12px;
    font-family: $font-Lato;
    color: #666;
    letter-spacing: 1px;
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .font30 {
    font-size: 30px;
  }
  .fix-ordersummary {
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    padding: 0;

    .free-shipping-info {
      padding: 9px 16px;
      gap: 7px;
      align-items: center;
      background: $gold-light;

      img {
        width: 13px;
        height: 13px;
        object-fit: contain;
      }
      .text {
        @include b5_10px_semibold_montserrat_charcoal();
        letter-spacing: 0.6px;
        color: $white;
      }
    }
  }

  h3 {
    padding: 40px 0 20px 0;
  }
  .order-summary {
    min-height: calc(100vh - 55px);
    //padding: 25px 0;
  }
  .order-items {
    background-color: #fefefd;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  h3 {
    margin: 20px 0 15px 0;
  }
  .checkout {
    padding-bottom: 180px;
  }
  // .fix-order-items-mobile {
  //   // overflow: scroll;
  // }
  // .summary-title {
  //  // margin-bottom: 15px;
  // }
  // .pos-fixed {
  //   position: fixed;
  // bottom: 0;
  // width: 100%;
  // }

  .order-summary {
    // left: 0;
    // right: 0;
    // bottom: 0;
    // max-height: 77vh;
    // position: fixed;
    // padding-bottom: 0;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    // -webkit-flex-direction: column;
    // flex-direction: column;
    // background-color: tint(#000, 90%) !important;
    // z-index: 1;

    .justchk {
      // overflow: scroll;
    }

    hr {
      margin: 10px 0 !important;
    }

    .promo-message {
      display: block;
    }

    // .subtotal {
    //   font-size: 16px;
    // }
    .font {
      // font-size: 16px !important;
      @include b4_12px_semibold_caps_charocal();
    }
    .btn-arrow {
      top: -15px;
      left: 50%;
      cursor: pointer;
      font-size: 10px;
      position: absolute;
      border-radius: 20px;
      background-color: #fff;
      border: 2px solid tint(#000, 90%);
      padding: 8px 11px 8px 9px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      display: inline-block !important;
    }

    .total {
      margin-bottom: 10px;
    }

    .order-items {
      overflow-y: auto;
    }

    .summary-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
    }
  }
  // .order-summary {
  //   padding: 10px 0;
  // }
}

.order-summary {
  background-color: #f9f8f5;
  a {
    color: inherit;
  }

  .remove {
    cursor: pointer;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
  }

  .font {
    font-size: 16px !important;
  }

  .summary-padding {
    padding: 0 30px;
  }
  .fix-order-items {
    max-height: 360px;
    overflow-y: scroll;
    border-top: 0.5px solid #9f9f9f;
    border-bottom: 0.5px solid #9f9f9f;
    @include bottom-shadow();

    &::-webkit-scrollbar {
      // background-color:#fff;
      width: 8px;
    }
    /* background of the scrollbar except button or resizer */
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
      background-color: #a6a6a6;
      border-radius: 5px;
      border: 2px solid #fff;
    }
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
      display: none;
    }
  }

  .summary-title {
    @include b4_12px_medium_medcharcoal_caps();
    text-align: left;
    padding: 35px 0 10px 0;
  }
  .product-wrp {
    margin: 30px 10px;
  }
  .info-wrp {
    margin: 5px 20px;
  }
}
.edit-cart {
  float: right;
  color: $cerise;
  cursor: pointer;
}

.collection-name {
  @include plp_coll_name_desktop();
}
.product-img {
  img {
    width: 60px;
    height: 90px;
  }
}

.product-name {
  flex: 2;
  padding-bottom: 10px;
  @include plp_prod_name_desktop();
  @include b4_12px_montserrat_charcoal();
}
.product-price {
  @include plp_prod_name_desktop();
  @include b3_14px_montserrat_gold();
}

.hr-product {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 0.5px solid #e2e2e2;
}

.product-qty,
.product-size,
.text-coupon {
  @include b5_10px_montserrat_charcoal();
  .bold {
    font-weight: bold;
  }
  // @include c10-L-R();
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.subtotal {
  // color: #000;
  // font-size: 14px;
  // font-weight: 600;
  // font-family: $font-Lato;
  @include b4_12px_montserrat_medcharcoal();
}
.order-total {
  @include b4_12px_montserrat_medcharcoal();
  color: $med-charcoal;
}
.grand-total-wrapper {
  margin-bottom: 10px;
}
.grand-total {
  @include b4_12px_montserrat_semibold_charcoal();
}
.grand-total-amount {
  @include b4_12px_montserrat_semibold_charcoal();
  color: $med-charcoal;
}

.deliveryfont {
  @include b4_12px_medium_medcharcoal_caps();
  margin: 35px auto;
  width: fit-content;
  border-bottom: 1px solid $med-charcoal;
  &:hover {
    @include b4_12px_montserrat_aqua_caps();
    border-bottom: 1px solid $aqua-text;
  }
}

.selected-stvalue {
  margin-top: 10px;
  color: #808080;
}
.small {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-family: $font-Lato;
}
.strikeprice {
  font-size: 14px;
  text-decoration: line-through;
  color: tint(#000, 50%) !important;
  font-family: $font-Lato;
}

.discountprice {
  color: $cerise;
  font-family: $font-Lato;
  font-size: 14px;
}
.product-size {
  @include pdp_spec();
  line-height: 25px;
  justify-content: center;
  padding-right: 10px;
}
.padd {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  font-family: $font-Lato;
  color: #666;
  letter-spacing: 1px;
  text-align: center;
}

.hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 0.5px solid #9f9f9f;
}

.text-muted {
  color: #666;
  font-size: 12px;
}

.discount-font {
  cursor: pointer;
  font-size: 9px;
  font-weight: bold;
  margin-left: 5px;
}

.discountprice {
  color: #ab1e56;
  font-family: $font-Lato;
  font-size: 14px;
}

.strikeprice {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
  font-family: $font-Lato;
}

.text-remove-items {
  font-size: 14px;
  margin: 30px 10px;
  font-style: italic;

  .trigger-remove-items {
    cursor: pointer;
    font-style: normal;
    text-decoration: underline;
    @include b4_12px_montserrat_cerise_caps();
  }
}
.black {
  color: black;
}

.delivery-date {
  @include pdp_spec();
  @include c10-L-R();
  line-height: 20px;
  justify-content: center;
  text-transform: none;
  padding-top: 10px;
}

.wrap {
  word-wrap: break-word;
}

.wishlist-icon-order-summary {
  font-size: 22px;
  padding-right: 5px;
}
.checkout-btn {
  img {
    width: 15px;
    height: 19px;
    object-fit: contain;
    margin-right: 5px;
    vertical-align: middle;
  }
  @include b3_14px_montserrat_charcoal();
  color: $white;
}

.posFixed {
  img {
    width: 15px;
    height: 19px;
    object-fit: contain;
    margin-right: 5px;
    vertical-align: middle;
  }
}

@media (max-width: 992px) {
  .fix-ordersummary {
    margin: 0 -6px;
    max-width: calc(100% + 12px);
    width: calc(100% + 12px);

    .order-summary {
      padding-bottom: 52px;
    }
  }
  .preview-trigger {
    position: fixed;
    left: 0px;
    bottom: 52px;
    z-index: 7;
    width: 100%;
    div {
      background-color: $light-beige;
    }
    .carret-container {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 25px;
      border-radius: 25px 25px 0 0;
      transform: translateX(-50%) translateY(10px);
      left: 50%;
      position: relative;
      .carret-up {
        height: 9px;
        width: 9px;
        transform: rotate(45deg);
        border: 1px solid black;
        border-right: none;
        border-bottom: none;
      }
    }
    .fixTotal {
      padding: 16px 30px;
      .total {
        @include b4_12px_montserrat_semibold_charcoal();
        text-transform: uppercase;
      }

      .text-remove-items {
        margin: 10px 0 0;
      }
    }
  }

  .checkout-preview-trigger {
    z-index: 7;
    width: 100%;
    div {
      background-color: $med-charcoal;
    }
    .fixTotal {
      padding: 16px 30px;

      .summary-title {
        @include b4_12px_montserrat_white();
        margin: 0;
      }
      .payableAmount {
        @include b5_10px_montserrat_white();
        display: flex;
        align-items: center;
        gap: 5px;
        .totalAmount{

        }
        .carret-down {
          height: 9px;
          width: 9px;
          transform: rotate(45deg);
          border: 1px solid #fff;
          border-left: none;
          border-top: none;
          display: inline-block;
        }
      }
    }
  }
  .checkout-order-summary {
    position: relative;
    .checkout-order {
      position: absolute;
      width: 100%;
      max-height: 80vh;
      top: 50px;
      left: 0;
      z-index: 99;
      overflow: hidden;
      height: 0%;
      padding-bottom: 0;
      transition: 0.3s;
    }
    .open-summary {
      height: 80vh;
    }

    .summary-amount-wrapper{
      padding: 25px 0;
      max-height: 100px;
      overflow: auto;
    }

    .fix-order-items{
      max-height: 250px !important;
    }
  }
}
