@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.social-login-text {
  @include b4_12px_montserrat_medium_charcoal();
  color: #9f9f9f;
  letter-spacing: 0.36px;
  line-height: 20px;
  text-transform: uppercase;
}

.social-login {
  cursor: pointer;
}