@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.c-sort {
    .product-number {
      padding: 5px;
      // border-top: 2px solid #efeaea;
      @include box-shadow(0px, 0px, 14px, 0px, rgba(192, 144, 144, 0.2));
      display: flex;
      .c-sort-header {
        position: fixed;
        background-color: #fff;
        top: $header-height;
        line-height: 50px;
        width: 100%;
        left: 0;
        z-index: 9;
        padding: 0 20px;
        border-bottom: 1px solid tint(#000, 80%);
      }
      .mobile-product {
        &:last-child {
          border-left: 1px solid grey;
        }
        width: 50%;
        text-align: center;
        span {
          @include plp_subhdr_dd();
          line-height: 35px;
        }
    
      }
      .mobile-filter-disabled span {
        color: #bbb;
      }
      .mobile-filter-header {
        left: 0;
        width: 100%;
        z-index: 1;
        height: 50px;
        top: $header-height;
        background-color: #fff;
        position: fixed;
        padding: 16px 20px 15px 20px;
        border-bottom: 1px solid #ccc;
        &.mobile-filter-header-sort {
          top: auto;
          bottom: 220px;
        }
        .filter-cross {
            line-height: 30px;
            .icon_cross {
              font-size: 27px;
            }
          }
          span, span pre {
            @include plp_subhdr_open_mob();
            letter-spacing: 1px;
            text-transform: uppercase;
      
            &:first-child {
              float: left;
              margin-left: 0px;
            }
            &:last-child {
              float: right;
            }
          }
      }
      .mobile-filter-menu {
        left: 0;
        position: fixed;
        bottom: 0;
        top: ($header-height + 42);
        left: 0;
        z-index: 9;
        background-color: white;
        border-top: 1px solid #ccc;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        &.mobile-filter-menu-sort {
          top: auto;
        }
        .sort {
            height: 100%;
            overflow: scroll;
            li {
            padding: 0 20px;
            line-height: 50px;
            @include menu-subcopy();
            border-bottom: 1px solid tint(#000, 90%);
            a {
                color: tint(#000, 50%);
            }
            }
        }
      }
      .no-arrow-header {
        span {
          font-size: 14px;
          font-family: $font-Lato;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 35px;
        }
        span:last-child {
          //text-transform: capitalize;
          border-left: 1px solid tint(#000, 50%);
          padding-left: 10px;
          margin-left: 10px;
  
        }
      }
      .collection-header {
        > span {
          font-size: 14px;
          font-family: $font-Lato;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 35px;
        }
        span:last-child {
          //text-transform: capitalize;
          border-left: 1px solid tint(#000, 50%);
          padding-left: 10px;
          margin-left: 10px;
  
        }
        &:after {
          content: '';
          right: 30px;
          top: 40%;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid tint(#000, 30%);
        }
      }
    }
  }
  .filter-sticky{
    position: fixed;
    margin-bottom: 0;
    bottom: 50px;
    left: 0;
    align-self: flex-start;
    z-index: 6;
    background-color: white;
    transition: bottom 0.3s;
    &.hide {
      bottom: 0;
    }
}

.mobile-filter-sort-bg {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
}
