@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.cart-padding {
  padding-right: 15px;
  padding-left: 15px;
}
.px-10{
  padding: 0 10px;
  margin-bottom: 20px;
}
.bag-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.bag-backdrop.active {
  display: block;
}

@keyframes slideLeft {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

.bag {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000010;
  width: 414px;
  font-size: 16px;
  line-height: 16px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: fixed;
  background-color: #f9f8f5;
  animation-name: slideLeft;
  animation-duration: 0.4s;

  &.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: default;
  }

  .bag-header {
    padding: 17px 28px;
    background-color: $med-charcoal;
    color: $white;

    .heading {
      font-family: $font-Montserrat;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.39px;
    }

    .crossfont-size {
      font-size: 14px;
      font-weight: bold;
      color: $white;
    }
  }

  .free-shipping-info {
    padding: 9px 12px;
    gap: 7px;
    align-items: center;
    background: $gold-light;

    img {
      width: 13px;
      height: 13px;
      object-fit: contain;
    }
    .text {
      @include b5_10px_semibold_montserrat_charcoal();
      letter-spacing: 0.6px;
      color: $white;
    }
  }
  .bag-contents {
    background-color: $white;
    padding: 0 29px;
    flex-grow: 1;
    overflow-y: auto;

    .cart-item {
      padding: 25px 0;
      border-bottom: 0.5px solid $light-charcoal;

      .out-of-stock {
        opacity: 0.3;
      }

      .row {
        gap: 12px;
        width: 100%;
      }
      .product-image {
        width: 109px;
        .bridal-icon {
          position: absolute;
          right: -10px;
          bottom: -10px;
          border-radius: 50%;

          .cerise-bridal-rings {
            background-color: $cerise;
            fill: $white;
            border-radius: 50%;
          }
        }
      }

      .product-details {
        width: 100%;
        max-width: calc(100% - 109px);
        .productTitle {
          a {
            @include b2_14px_charcoal_lora();
          }
        }

        .product-price {
          @include b3_14px_montserrat_charcoal();
          text-transform: uppercase;
          padding-top: 19px;

          .discountprice {
            color: $gold;
            font-family: $font-Montserrat;
            font-size: 14px;
          }

          .strikeprice {
            font-size: 10px;
            text-decoration: line-through;
            color: $light-charcoal;
            font-family: $font-Montserrat;
            vertical-align: middle;
          }
        }

        .product-size {
          padding-top: 15px;
          @include b5_10px_montserrat_charcoal();
        }
        .product-color {
          padding-top: 5px;
          @include b5_10px_montserrat_charcoal();
        }
        .widget-qty {
          margin-top: 15px;
          display: block;
          @media screen and (max-width: 992px) {
            margin-bottom: 15px;
          }
        }
        .stock-left-error {
          position: static !important;
          text-align: left;
          top: 25px;
          @include err_13px_lora_italic_cerise();
          font-weight: normal;
          padding-top: 10px;
        }
        .product-actions {
          padding-top: 18px;

          .remove {
            @include b5_10px_montserrat_charcoal();
            border-bottom: 1px solid $charcoal19;
            cursor: pointer;
          }
          .wishlist-display {
            div {
              cursor: pointer;
              @include b5_10px_montserrat_charcoal();
            }
          }
        }
      }
    }
  }

  .bag-footer {
    .order-summary-wrapper {
      padding: 22px 24px;

      .order-summary {
        @include b4_12px_montserrat_charcoal_caps();
        letter-spacing: 0.36px;
        padding-bottom: 15px;
        border-bottom: 0.5px solid $light-charcoal;
      }
      .sub-total-discount-wrapper {
        padding: 15px 0;
        border-bottom: 0.5px solid $light-charcoal;

        .sub-total-price,
        .discount-price {
          font-size: 14px !important;
          @include b4_12px_medium_charcoal_caps();
        }
        .discount-wrapper {
          padding-top: 15px;
        }
      }
      .remove-out-of-stock {
        padding-top: 19px;
        @include b4_12px_montserrat_cerise_caps();
        letter-spacing: 0.36px;
        text-align: center;
        font-style: normal;
        text-decoration: none !important;
        border-bottom: 1px solid $cerise;
        width: fit-content;
        margin: auto;
      }
      .total-amount {
        padding-top: 19px;

        .totalPrice {
          @include b4_12px_montserrat_semibold_charcoal();
        }

        .subtext {
          padding-top: 5px;
          @include b5_10px_montserrat_charcoal();
        }
      }
    }
    .bag-flex {
      a {
        display: block;
        background-color: $aqua;
        padding: 20px;
        text-align: center;
        border: 1px solid $aqua;
        @include b3_14px_montserrat_white();
        &:hover{
          background-color: $white !important;
          @include b3_14px_montserrat_aqua();
        }
        &.out-of-stock {
          background-color: $light-charcoal;
          cursor: not-allowed;
          &:hover{
            background-color: $light-charcoal !important;
            cursor: not-allowed;
            color: $white;
          }
        }
        // .view-bag {
        //   @include b3_14px_montserrat_white();
        // }

        
      }
    }
    .continue{
      a {
        background-color: $med-charcoal !important;
        @include b3_14px_montserrat_white();
        border: 1px solid $med-charcoal;

        &:hover{
          background-color: $white !important;
          @include b3_14px_montserrat_charcoal();
        }
      }
    }
  }
}

.cart {
  // margin: 40px 130px;
  img {
    max-width: 100%;
    // height: 164px;
  }

  .row-main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .widget-qty {
    margin-top: 10px;
    display: block;
  }

  @media screen and (max-width: 992px) {
    margin: 35px 25px;
  }
}

.cart-row {
  overflow-x: auto;
  // flex-wrap: nowrap;
  overflow-y: hidden;
  &.wishlist-wrap{
    flex-wrap: nowrap
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $light-charcoal;
  }
}

.empty-msg {
  letter-spacing: 0.5px;
  @include h6_16px_lora_charcoal();
}

.search-imagebox-new {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 135% 0 0 0;
}

.search-heading {
  font-size: 25px;
  h2 {
    @include b4_12px_montserrat_charcoal();
    margin-top: 6px;
  }
}
.search-heading-mobile {
  h2 {
    line-height: 30px;
  }
}
.image-content {
  text-align: center;
  height: auto;
  margin: 5px 0;
  width: 100%;
}

.search-image-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #464646;
  font-family: "HeaderFont", "Trebuchet MS", "geneva";
  display: block;
  text-align: center;
  letter-spacing: 0.5px;
  position: relative;
}

.search-bottom-block-second {
  width: 100vw;
  height: 150px;
  z-index: 10;
  padding: 10px 0;
}

.search-bottom-block {
  //position: fixed;
  // bottom: 0;
  width: 100vw;
  height: 150px;
  background-color: tint(#000, 90%);
  z-index: 10;
  padding: 10px 0;
  .count {
    font-style: italic;
    margin-top: 25px;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  p {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 6px;
    font-size: 15px;
    color: $cerise;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.image-result-new {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.search-feature {
  @include b4_12px_montserrat_charcoal();
  // text-decoration: underline;
  cursor: pointer;
  text-align: center;
  margin-top: 6px;
  // font-size: 12px;
  // font-weight: bold;
  a {
    @include b4_12px_montserrat_charcoal();
    // color: #ab1e56;
    // text-decoration: underline;
    // text-transform: capitalize;
  }
  // text-transform: uppercase;
  // letter-spacing: 1px;
}

.wishlist-head {
  margin-top: 35px;
  letter-spacing: 0.5px;
  font-weight: 400;
  @include h6_16px_lora_charcoal();
}
.wishlist-sub-head {
  @include b4_12px_montserrat_charcoal();
}
.view-all {
  padding-top: 15px;
  border-bottom: 1px solid $charcoal19;
  @include b4_12px_montserrat_charcoal_caps();

  &:hover {
    border-bottom: 1px solid $aqua;
    @include b4_12px_montserrat_aqua_caps();
  }
}

.view-all-mobile-wrapper {
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f9f8f5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
  }
  .view-all-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-bottom: 1px solid $charcoal19;
    @include b4_12px_montserrat_charcoal_caps();

    &:hover {
      border-bottom: 1px solid $aqua;
      @include b4_12px_montserrat_aqua_caps();
    }
  }
}

.wishlist-display {
  div {
    div {
      cursor: pointer;
      @include b5_10px_montserrat_charcoal();
      font-size: 10px !important;
      border-bottom: 1px solid #191919;
      width: fit-content;
    }
  }
}

.gc_name {
  @include b4_12px_montserrat_charcoal();
}

.gc_title {
  @include b5_10px_montserrat_charcoal();
}
.badge-position-plp-mobile {
  position: relative;
  z-index: 4;
  img {
    position: absolute;
    width: 100%;
    max-width: 52px;
    top: 0px;
  }
}

.delivery-date {
  @include b5_10px_montserrat_charcoal();
  margin-left: 0px;
  @media screen and (max-width: 992px) {
    margin-left: 0;
  }
}

.stock-left {
  margin-top: 7px;
  position: relative;
  text-align: left;
  display: block;
  @include err_13px_lora_italic_cerise();
  color:$gold !important;
  letter-spacing: 0.26px;
  font-weight: normal;
}