@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.product-n{
  margin: 5px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
      font-size: 14px;
      font-family: $font-Lato;
      color: #000;
      text-transform: capitalize;
      letter-spacing: 0.5px;
  }
  span {
    @include b3_14px_montserrat_charcoal();
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  .discountprice {
      color: #9C7D50;
      font-family:  $font-Montserrat;
      font-size: 14px;
      padding-right: 5px;
  }
  
  .strikeprice {
      font-size: 14px;
      text-decoration: line-through;
      color: gray;
      font-family: $font-Montserrat;
  }
  a:hover {
      color: #ab1e56;
      text-decoration: none;
  }
}