.music{
    position: fixed;
    top: 90px;
    right: 90px;
    z-index: 10;
    .toggel-menu {
        position: absolute;
        cursor: pointer;
        inset: 0px;
        transition: all 0.4s ease 0s;
        background: rgb(163, 163, 163);
        border-radius: 24px !important;
        // background-color: rgb(0, 0, 0);
    }
}

.open-music {
    --music-player-height-collapsed: 48px;
    --music-player-height-expanded: 102px;
    --music-player-sub-component-height: 24px;
    background: rgb(255, 255, 255);
    max-height: var(--music-player-height-expanded);
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px, rgba(35, 41, 54, 0.08) 0px 8px 16px;
    overflow: hidden;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24px;
    right: 0px;
    transition: var(--video-player-animation-default);
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.close-music {
    --music-player-height-collapsed: 48px;
    --music-player-height-expanded: 102px;
    --music-player-sub-component-height: 24px;
    background: rgb(255, 255, 255);
    max-height: var(--music-player-height-collapsed);
    width: 142px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px, rgba(35, 41, 54, 0.08) 0px 8px 16px;
    overflow: hidden;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24px;
    right: 0px;
    transition: var(--video-player-animation-default);
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.toggel-input {
    left:-999px
}


.toggel-menu::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease 0s;
}

.label1 {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 40px;
}