@import "../../styles/partials/form";
@import "../../styles/partials/variables";

.toggle-password-btn {
  width: 26px;
  top: 12px;
  right: 12px;
  position: absolute;
  cursor: pointer;
}
.login-err-msg {
    font-size: 10px;
    font-style: italic;
    color: $cerise;
    font-weight: bold;
    font-family: $font-Lato;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 15px;
    text-align: left;
    margin-bottom: 10px;
    .error {
        color: $cerise;
        text-decoration: underline;
        cursor: pointer;
      }
  }

  .social-login-footer {
    border-top: 1px solid #e6e6e6;
      padding: 30px 0;
      margin-top: 30px;
  }
  
  .social-login-text {
    font-size: 12px;
    font-family: $font-Lato;
    color: #666;
    letter-spacing: 1px;
  }


.form-heading {
  font-size: 25px;
  font-family: $font-Serif;
  line-height: 50px;
  margin-top: 30px;
}

.social-login-footer {
  border-top: 1px solid #e6e6e6;
    padding: 30px 0;
    margin-top: 30px;
}

.social-login-text {
  font-size: 12px;
  font-family: $font-Lato;
  color: #666;
  letter-spacing: 1px;
}

.select-group {
 
  position: relative;
  .form {
    margin-top: 0px;
  }

  .arrow {
    @include arrowbottom();
    position: absolute;
    top: 21px;
    right: 26px;
    &.mright {
      right: 10px;
    }
  }
  
  @media screen and (max-width: 992px){
    .arrow  {
      &.bo-style {
      top: -40px;
      right: -80px;
      }
    }
  }
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked, [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  display: inline-block;
}

input[type="radio"]:not(:checked) + label:after, [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: rotate(45deg);
}

input[type="radio"]:checked + label:after, [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: rotate(45deg);
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  font-family: $font-Lato;
}

.login-change {
  border: 1px solid #eee;
  padding: 15px;
  padding-left: 8px;
  top: 0px;
  right: 0px;
  width: 54px;
  border-left: none;
  position: absolute;
  cursor: pointer;
  font-size: 10px;
  font-style: italic;
  color: #ab1e56 !important;
  font-weight: bold;
  font-family: $font-Lato;
  letter-spacing: 1px;
  text-transform: none;
  line-height: 15px;
  text-align: left;
  margin-bottom: 10px;
  background-color: white;
}

.password-validation {
  transition: opacity 0.2s, height 0.2s;
  opacity: 0;
  height: 0;
  cursor: default;
  pointer-events: none;
  margin-top: -10px !important;
  &.show {
    opacity: 1;
    height: 78px;
  }
  p {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
  }
  ul {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    li {
      flex: 50%;
      line-height: 24px;
      text-align: left;
      &::before {
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid;
        vertical-align: text-bottom;
        margin-right: 7px;
      }
      &.correct {
        color: #86BAB4;
        &::before {
          content: '';
          height: 12px;
          width: 7px;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          border-radius: 0;
          vertical-align: baseline;
          margin-right: 10px;
          margin-left: 5px;

        }
      }
    }
  }
}

.para {
  font-size: 15px;
  margin-top: 20px;
  font-family: $font-Serif;
  letter-spacing: 1px;
  strong {
    font-weight: 700;
  }
}
.btn {
  margin: 30px auto 0 auto;
  width: 180px;
}
.big-btn {
  margin: 50px auto 0 auto;
  width: 240px;
}
.small-txt {
  font-size: 13px;
  margin-top: 10px;
}
.mini-txt {
  font-size: 11px;
  a {
    color: #000;
  }
}
.big-txt {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}