@import "../../styles/partials/form";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.toggle-password-btn {
  width: 26px;
  top: 12px;
  right: 12px;
  position: absolute;
  cursor: pointer;
}
.login-err-msg {
    font-size: 10px;
    font-style: italic;
    color: $cerise;
    font-weight: bold;
    font-family: $font-Lato;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 15px;
    text-align: left;
    margin-bottom: 10px;
    .error {
        color: $cerise;
        text-decoration: underline;
        cursor: pointer;
      }
  }
  .verify-err-msg {
    text-align: center;
    margin-top: 20px;
  }

  .social-login-footer {
    border-top: 1px solid #e6e6e6;
      padding: 30px 0;
      margin-top: 30px;
  }
  
  .social-login-text {
    font-size: 12px;
    font-family: $font-Lato;
    color: #666;
    letter-spacing: 1px;
  }


.form-heading {
  @include h3_20px_lora_charcoal();
  line-height: 25px;
  letter-spacing: 0.4px;
  text-align: center;
}

.social-login-footer {
  border-top: 1px solid #e6e6e6;
    padding: 30px 0;
    margin-top: 30px;
}

.social-login-text {
  font-size: 12px;
  font-family: $font-Lato;
  color: #666;
  letter-spacing: 1px;
}

.select-group {
 
  position: relative;
  .form {
    margin-top: 0px;
  }

  .arrow {
    @include arrowbottom();
    position: absolute;
    top: 21px;
    right: 26px;
    &.mright {
      right: 10px;
    }
  }
  
  @media screen and (max-width: 992px){
    .arrow  {
      &.bo-style {
      top: -40px;
      right: -80px;
      }
    }
  }
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked, [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  display: inline-block;
}

input[type="radio"]:not(:checked) + label:after, [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: rotate(45deg);
}

input[type="radio"]:checked + label:after, [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: rotate(45deg);
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  font-family: $font-Lato;
}

.login-change {
  @include b5_10px_montserrat_charcoal();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  letter-spacing: 0.3px;
  &:hover{
    color: #3C7979;
  }
}

.password-validation {
  transition: opacity 0.2s, height 0.2s, margin 0.2s;
  opacity: 0;
  height: 0;
  cursor: default;
  pointer-events: none;
  margin-top: -20px !important;
  &.show {
    opacity: 1;
    height: 78px;
    margin-top: -10px !important;
  }
  p {
    @include b4_12px_montserrat_charcoal();
    line-height: 20px;
    letter-spacing: 0.36px;
    text-align: left;
  }
  ul {
    font-family: $font-Montserrat;
    font-size: 10px;
    letter-spacing: 0.3px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    li {
      flex: 50%;
      line-height: 20px;
      text-align: left;
      &::before {
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid;
        vertical-align: text-bottom;
        margin-right: 7px;
      }
      &.correct {
        color: #86BAB4;
        &::before {
          content: '';
          height: 12px;
          width: 7px;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          border-radius: 0;
          vertical-align: baseline;
          margin-right: 10px;
          margin-left: 5px;

        }
      }
    }
  }
}

.para {
  font-size: 15px;
  margin-top: 20px;
  font-family: $font-Lato;
  letter-spacing: 1px;
  strong {
    font-weight: 700;
  }
}
.btn {
  margin: 30px auto 0 auto;
  width: 180px;
}
.big-btn {
  margin: 50px auto 0 auto;
  width: 240px;
}
.small-txt {
  font-size: 13px;
  margin-top: 10px;
}
.mini-txt {
  font-size: 11px;
  color: #666;
  line-height: 20px;
  a {
    color: #666;
    
  }
}
.big-txt {
  font-size: 13px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
 }
 .resend-btn {
  text-decoration: underline;
  text-transform: uppercase;
  color: $cerise;
  cursor: pointer;
  display: inline-block;
  text-align: right;
 }
 .resend-btn-disabled {
  color: tint(#000, 50%) !important;
  cursor: default;
  text-decoration: none;
 }

.timer-container {
  display: flex;
  width: 220px;
  margin: auto;
  justify-content: space-between;
  align-items: baseline;
}

span.error-msg {
  font-size: 10px !important;
  font-style: italic;
  color: #ab1e56 !important;
  font-weight: bold;
  font-family: "LatoFont", "Helvetica", "Arial";
  letter-spacing: 1px;
  text-align: left;
  line-height: 15px;
}

.verify-heading {
  @include h3_20px_lora_charcoal();
  letter-spacing: 0.4px;
  line-height: 25px;
  
}
.verify-para {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.verify-subheading {
  letter-spacing: 0.3px;
}

.error-msg {
  @include err_13px_lora_italic_cerise();
  line-height: 16px;
  margin-top: 5px;
  &.main-login-error{
    margin-bottom: 20px;
    text-align: left;
  }
}

.login-form-subheading {
  @include b4_12px_montserrat_charcoal();
  letter-spacing: 0.36px;
  margin-top: 10px;
  margin-bottom: 48px;
  padding: 0px 75px;
  text-align: center;
  &.verify-otp{
    margin-bottom: 36px;
  }
}


.change-email-btn{
  margin-top: 15px;
}

.forgot-password{
  @include b5_10px_montserrat_charcoal_caps();
  letter-spacing: 0.3px;
  line-height: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-align: right;
  margin-bottom: 40px;
  &:hover{
    color: $aqua;
  }
}

div.verify-otp-container{
  padding-top: 0px;
  padding-bottom: 0px;
  @media screen and (max-width: 500px){
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .verify-otp-heading {
    display: none;
  }
  .otp-timer{
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .verify-otp-cta{
    width: 100%;
  }
  .otp-policy{
    padding-top: 0px;
  }
  .otp-attempt{
    padding-top:13px;
    padding-bottom:60px;
  }
  .social-login{
    margin-bottom: 25px;
  }
}

.isd-code{
  height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  text-align: left;
  @include b5_10px_montserrat_charcoal();
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
}

img.country-code-search-icon{
  width: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

input[type="text"].country-code-search-input{
  padding-left: 30px;
  height: 40px;
  &:focus{
    padding-left: 30px;
  }
}

.success-msg {
  background-color: #fff;
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $semibold;
  color: #3C7979;
  letter-spacing: 0.3px;
  line-height: 16px;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
  position: sticky;
  top: 70px;
}