input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
  background-color: #fff;
  border: 1px solid #eee;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
}