@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.link {
  display: inline-block;
  vertical-align: top;
  width: 56px;
  margin-right: 10px;
  border-radius: 5px;
  border:1px solid #E5E5E5;
  &:hover{
    border:2px solid #618A8A;
  }
  &.disabled{
    pointer-events: none;
    border:2px solid #618A8A !important;
  }
  padding: 2px; 
}

.text {
  @include pdp_label();
  line-height: 15px;
  text-align: center;
  margin-top: 10px;
}

.img-responsive{
  height: auto;
  width: 100%;
  border-radius: 5px;
}