.social-icon {
    width: 40px;
    display: inline-block;
    margin-right: 10px;

    svg {
        width: 100%;
    }
}

.copy-link {
    padding: 3px;
}
.share-label {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #212529;
    cursor: pointer;
}
.share-container {
    height: 70px;
    position: relative;
}
.share-inner-container {
    position: absolute;
    top: 20px;
    transition: opacity 0.2s;
}
.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}