@import "../../styles/partials/variables";
@import "../../styles/partials/form";
@import "../../styles/partials/mixins";

.size-block-popup {
  @media screen and (min-width: 992px) {
    height: auto !important;
  }
  // padding: 0 0 75px 0;
  background-color: #fff;
  // width: 35vw;
  width: 460px;
  
  &.gstPopup {
    top: unset;
    left: unset;
    transform: unset;
    bottom: 0px;
    transition: max-height 0.5s;
  }
  .gc-tnc {
    height: auto;
    padding: 0px 0 30px 0 !important;
    // overflow-y: scroll;
    &.top-image{
      padding: 20px;
    }
    &.left-image{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }
  .disclaimer{
    p {
      line-height: 15px;
    }
  }
  .resend-gc{
    padding: 30px 0 30px 0 !important;
  }
  // p {
    // line-height: 20px;
  // padding: 7px 57px;
  // text-align: center;
  // font-size: 12px;
  /// }
  .cms-content {
    @include b4_12px_montserrat_charcoal();
    letter-spacing: 0.36px;
    margin-bottom: 30px;
    padding: 0px 20px;
    p {
      padding: 0;
    }
    &.left-image-content{
      margin-bottom: 0px;
    }
  }
  .cerise-btn-width {
    width: 60%;
    margin: 0 auto;
  }
  .freeship-btn-width {
    width: 80%;
    margin: 0 auto;
    background-color: $med-charcoal;
    letter-spacing: 0.5px;
    border: 1px solid $med-charcoal;
    @include b3_14px_montserrat_white();
    @media screen and (max-width:992px) {
      width: 90% !important;
      margin-bottom: 0 !important;
    }
    &:hover{
      @media screen and (min-width:992px) {
        background-color: $white;
        border: 1px solid $med-charcoal;
        color: $med-charcoal !important; 
      }
    }

    a{
      @include b3_14px_montserrat_white();
      opacity: 0.7;
      font-weight: 500;
      &:hover{
        @media screen and (min-width:992px) {
          color: $med-charcoal !important; 
        }
        
      }
    }
  }
  .delivery-btn-width{
    width: 85% !important;
    line-height: 60px;
    @media screen and (max-width:992px) {
      width: 100% !important;
    } 
  }
  .cross {
    border-bottom: 1px solid #f2f2f2;
        text-align: right;
        padding: 13px;
        cursor: pointer;
        position: fixed;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        font-size: 13px;
    }
  .left-image-cross {
    border-bottom: none;
    background-color: transparent;
    right: 0;
    width: auto;
    font-size: 14px;
    font-weight: bold !important;
  }
  .cross-white-btn{
    color: $white !important;
  }
  .cancel-btn {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
  line-height: 40px;
  
  a {
    color: #333333;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  font-family: $font-Lato;
  }
  }
  }


  .mobile-popup {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 480px) {
      bottom: -25% !important;
      // max-width: 400px;
    }
    @media screen and (min-width: 481px) {
      // top: 50%;
      // max-width: 450px;
      bottom: -20%;
    }
  }

  @media (min-width: 992px) {
    .centerpage-desktop {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      //width: 100%;
    }
    .centerpage-desktop-fs {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: 725px;
      margin-bottom: 0!important;
      overflow-y: auto;
      //width: 100%;
    }
    .maker-popup-desktop {
      max-width: 100%;
      max-height: 100%;
      height: 650px !important;
      width: 420px !important;
      min-height: 55px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    }
    .country-first-section{
      padding: 30px 60px 0 60px;

      p{
        padding-top: 20px;
        padding-bottom: 8px;
        @include b1_16px_charcoal_montserrat();
      }
      h3{
        padding-bottom: 20px;
        font-weight: $medium !important;
        @include b1_16px_charcoal_montserrat();
      }
      .link{
        margin: 20px auto 0 auto;
        max-width: max-content;
        padding: 0;
        cursor: pointer;
        border-bottom: 1px solid $charcoal19;
        @include b4_12px_montserrat_charcoal_caps();

        &:hover{
          border-bottom: 1px solid $aqua-text;
          color: $aqua-text;

        }
      }
    }
    .country-second-section{
      padding: 30px 60px 0 60px;
      p{
        text-align: left;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 40px;
        @include b4_12px_montserrat_charcoal_caps();
        @media(max-width:992px){
          max-width: 366px;
          margin: 0 auto 40px auto;
        }
      }
      .dropdown-wrp{
        max-width: 366px;
        margin: auto;
        padding-bottom: 20px;
      }
      .link{
        margin: 20px auto 0 auto;
        max-width: max-content;
        padding: 0;
        cursor: pointer;
        border-bottom: 1px solid $charcoal19;
        @include b4_12px_montserrat_charcoal_caps();

        &:hover{
          border-bottom: 1px solid $aqua-text;
          color: $aqua-text;

        }
      }
    }
    .edit-profile-head{
      padding-bottom: 30px;
      padding-top: 60px;
      @include h3_20px_lora_charcoal();
    }
    .edit-profile{
      padding: 0 45px;
      letter-spacing: .5px;
      font-weight: $regular !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      p{
        @include b4_12px_montserrat_charcoal();
        text-align: left;
      }
      @media screen and (max-width: 992px) {
        padding: 0 20px;
      }

      .edit-message {
        border: 1px solid #E4E5E4;
        padding: 20px;
        max-width: 100%;
        // background-color: #f9f8f5;
        font-size: 12px;
        // opacity: 0.21;
        font-family: $font-Montserrat;
        background-color: $white;

        &:disabled{
          cursor: not-allowed;
        }
      
        &::placeholder {
          font-family: $font-Montserrat !important;
        }
        &::-webkit-input-placeholder{
          font-family: $font-Montserrat !important;
        }
       
        &::-moz-placeholder{
          font-family: $font-Montserrat !important;
        }
        &::-ms-input-placeholder{
          font-family: $font-Montserrat !important;
        }
      }
      .errMsg{
        border: 1px solid $cerise;
      }
      .error{
        text-align: left;
        float: left;
        width: 65%;
        @include err_13px_lora_italic_cerise();
      }
      .char-limit{
        width: 35%;
        @include b5_10px_montserrat_charcoal();
        @media(min-width:992px){
          text-align: right;
          float: right;
        }
      }
      .send-req-btn{
        background-color: $med-charcoal;
        border: 1px solid $med-charcoal;
        margin-top: 40px;
        @include b3_14px_caps_white();
        &:hover{
          background-color: $white;
          color: $med-charcoal;
        }

        &:disabled{
          cursor: not-allowed;
        }
      }
    }
    .free-shipping-head{
      margin-bottom: 20px;
      margin-top: 20px;
      @include h3_20px_lora_charcoal();
    }
    .free-shipping {
      padding: 0 45px;
      letter-spacing: .5px;
      font-weight: $regular !important;
      @include b4_12px_montserrat_medcharcoal();
      @media screen and (max-width: 992px) {
        padding: 0 20px;
      }
      .cerise-btn {
        position: inherit;
        margin: 25px 0 20px 0;
      }
      .terms{
        text-decoration: underline;
        color: #000 !important;
      }
    
      span {
        font-weight: $semibold;
      }
      a {
        // color: $cerise !important;
        &.link {
          font-size: 12px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
        }
      }
    }
    .free-instruction{
      // padding: 0 24px;
      @include b6_9px_light_montserrat_charcoal();
      text-align: left;
      color: $montserrat-light;
      // @media screen and (min-width: 992px) {
      //   padding: 0 35px;
      // }
      .cerise-btn {
        position: inherit;
        margin: 25px 0 20px 0;
      }
      .terms{
        text-decoration: underline;
        color: #000 !important;
      }
    
      span {
        font-weight: bold;
        color: #000;
      }
      a {
        color: $cerise !important;
        &.link {
          font-size: 12px;
          letter-spacing: 1px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
.free-shipping-popup {
  .gc-tnc {
    margin-top: 50px;
    padding: 0px 0 30px 0 !important;
  }
} 
.link-text-underline {
  text-decoration: underline;
  cursor: pointer;
}
.link-text{
  @include b4_12px_medium_medcharcoal_caps();
  border-bottom: 1px solid $med-charcoal;
  text-decoration: unset;
  &:hover{
    color: $aqua-text !important;
    border-bottom: 1px solid $aqua-text;
  }
}
.link {
  padding: 25px 0;

  a{
    @include b4_12px_montserrat_charcoal_caps();
    border-bottom: 1px solid $med-charcoal;
    color: $med-charcoal !important;
    &:hover{
      color: $aqua-text !important;
      border-bottom: 1px solid $aqua-text;
    }

  }
 
}
.login-form {
  div {
    .country-code {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
  .copylink {
    position: absolute;
    top: 15px;
    right: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $cerise;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: 100;
    font-size: 10px;
    color: $formLabel;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 3px;
  }
  li {
    position: relative;
    margin: 20px 0;
    &.notify {
      width: 70%;
      margin: 0 auto;
      padding: 20px 0 80px 0;
      .error-msg {
        text-align: left;
      }
    }
    &.calendar-icon-container {
      .calendar-icon {
          position: absolute;
          top: 0;
          right: 10px;
      }
    }
    &.subscribe {
      text-align: left;
      margin: 30px 0 0 0;
      &.subs1 {
        margin-top: 50px !important;
      }
      label {
        @include c10-L-R();
        text-transform: none;
        line-height: 22px;
        a {
          color: $cerise;
          text-decoration: underline;
          &:hover {
            color: $cerise;
            text-decoration: underline;
          }
        }
      }
    }
    &.checkBalanceCheckPolicy {
      display: grid;
     /* grid-template-columns: 1fr 11fr; */
      label {
        top: 5px;
        left: 8px;
        padding-top: 0;
      }
      p {
        z-index: 1;
        font-size: 12px;
        font-family: LatoFont, Helvetica, Arial;
        color: #666;
        letter-spacing: 1px;
        text-transform: none;
        line-height: 22px;
        position: relative;
        cursor: pointer;
        font-weight: 400;
        background-color: #fff;
        padding: 3px;
        a {
          color: #ab1e56;
          text-decoration: underline;
        }
      }
    }
  }
  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    // padding: 10px;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    @include placeholder {
      opacity: 0.4;
      @include b4_12px_montserrat_charcoal();
    }
  }

  input[type="date"]:invalid {
    border: 1px solid $cerise;
  }

  // input[type="date"]:invalid+span {
  //   content:
  // }

  input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* For Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.size-block-not-fixed.form-block {

  .gc-tnc {
    padding: 50px 50px 10px 50px;
    .c10-L-R {
      padding-bottom: 0px;
    }
    .cerise-btn {
      width: 100%;
    }
    .disabled-btn-checkout-login {
      cursor: default;
    }
  }
}
.popUpHeight{
  max-height: 700px !important;
  @media(max-width:767px){
    max-height: 580px !important;
    position: relative;
  }
}

.pincodePopup {
  padding: 0;
  width: 35vw;
}


.size-block-1 {
  width: 35vw;
  // height: 80vh !important;
  // padding: 0 0 50px 0;
  background-color: $white;
  li, p {
    line-height: 20px;
    padding: 7px 50px;
    text-align: left;
    font-size: 12px;
  }
  label {
    line-height: 20px;
    margin: 7px 50px;
    text-align: left;
    font-size: 12px;
  }
  p {
    text-align: center;
  }
  .gc-tnc {
    height: 95%;
    padding-bottom: 30px;
    overflow-y: scroll;
    padding-top: 50px;
    &::-webkit-scrollbar {
      // background-color:#fff;
      width: 8px;
    }
    /* background of the scrollbar except button or resizer */
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color:#a6a6a6;
        border-radius:5px;
        border:2px solid #fff;
    }
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {display:none}
  }
  .gc-tnc > .c10-L-R > ul li{
    margin-top:0px;
    text-transform: inherit;
  }
}

@media (max-width: 992px) {
  .centerpage-desktop-fs {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .centerpage-desktop-fs-width {
    width: 100%;
  }
  .size-block-not-fixed.form-block {
    .gc-tnc {
      padding: 50px 0px 30px 0px;
      .font-ht {
        padding: 0px 10%;
  line-height: 32px;
  margin-top: 40px;
      }
      .cerise-btn {
        width: 100%;
        min-width: 0px;
      }
      .big-btn {
        min-width: 220px;
        padding: 0px 10px;
      }
      .c22-A-I {
        padding: 0px 10%;
        line-height: 32px;
      }
      .disabled-btn-checkout-login {
        cursor: default;
      }
    }
   
    
  }
  .centerpage-mobile {
    position: fixed;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translateY(-50%);
    // transform: translateY(-50%);
    bottom: 0;
    height: auto !important;
    min-height: 360px;
    width: 100%;
    // p {
    //   padding: 7px 10%;
    // }
}
.maker-popup-mobile {
  height: 100% !important;
  width: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

  .margin-b-40 {
    margin-bottom: 40px;
  }
  .checkout {
     padding-bottom: 180px;
    .order-summary {
      min-height: 0px;
    }
    .card {
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .card-sm {
      margin-top: 5px;
      padding: 20px 0;
    }

    .selected-stvalue {
      margin-top: 10px;
      color: #808080;
    }

    .payment {
      input[type="text"].input {
        width: 100%;
        text-align: left;
      }
      input[type="text"].input2 {
        width: 100%;
        text-align: left;
      }
    }
    .login-container {
      .section {
        border: none;
        padding: 0;
      }
    }
  }

}

.gc-tnc {
  // .heading {
  //   margin-bottom: 15px;
  // }
  .content {
    padding: 7px 50px;
    // margin-bottom: 20px;
  }
  .icon {
    max-height: 60px;
    margin-top: 20px;
  }
  .icon-resend {
    margin-top: 40px;
    margin-bottom: 30px;
    color: grey;
    width: 50px;
  }
  .cerise-btn30 {
    width: 30%;
    min-width: 200px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    // margin-bottom: 20px;
  }
  .cerise-btn80 {
    width: 50%;
    min-width: auto;
    a{
      width: 100%!important;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.side-margin {
  margin-left: 30px;
  margin-right: 30px;
}

// @media screen and (max-width: 320px) {
// .centerpage-mobile {
//     height: 75vh !important;
//     width: 80vw;
//   }
// }

.maker-margin {
  margin-top: 55px;
}

.intro-page {

  height: 100%;
  .content {
    position: fixed;
    color: $white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);

  }

  .logo-white {
    width: 250px;
    &:hover {
      cursor: pointer;
    }
  }
  .discover {
    width: 70%;
    margin: 40px auto;
    &:hover {
      cursor: pointer;
    }
    .shop-btn {
      line-height: 47px;
    }
  }
  i {
    border: solid $white;
    display: inline-block;

    &.arrow-down {
      @include arrows(0, 2px, 2px, 0);
      @include abc(45);
    }

  }
  .text-skip {
    position: fixed;
    bottom: 0;
    background-color: tint(#000, 30%);
    width: 100%;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 70px;
    li {
      display: inline-block;
    }
    label {
      color: $white !important;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
  .img-responsive {
    display: block;
    height: auto;
    width: 100%;
    min-width: 100%;
  }
}

// @media screen and (min-width: 992px) {
//   .introlist {
//     li {
//       display: inline-block;
//       margin: 0 15px;
//       a {
//         text-transform: uppercase;
//         color: $white;
//         letter-spacing: 5px;
//         font-size: 22px;
//         font-family: $font-Header;
//       }
//     }
//   }
// }

.introlist {
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: $font-Serif;
    margin-top: 42px;
}

.sub-heading {
  margin-top: 50px;
  font-family: $font-Lato;
  letter-spacing: .5px;
  font-size: 14px;
}

.suggest-dropdown {
  width: 70%;
  position: relative;
  margin: auto;
    .right{
      cursor: pointer;
      font-size: 10px;
      font-weight: normal;
      padding: 0 10px;
      text-align: center;
      border-bottom: 1px solid #fff;
      letter-spacing: 0.1em;
      color: #666666;
      float: right;
    }
    .left{
      cursor: pointer;
      font-size: 10px;
      font-weight: normal;
      padding: 0 10px;
      text-align: center;
      border-bottom: 1px solid #fff;
      letter-spacing: 0.1em;
      color: #666666;
      float:left
    }
    .flow-root {
      display: flow-root;
    }
}

@media (max-width: 992px) { 
  .suggest-dropdown {
    width: 100%;
    position: relative;
    margin-left: 0px;
    .right{
      cursor: pointer;
      font-size: 10px;
      font-weight: normal;
      padding: 0 10px;
      text-align: center;
      border-bottom: 1px solid #fff;
      letter-spacing: 0.1em;
      color: #666666;
      float: right;
    }
    .left{
      cursor: pointer;
      font-size: 10px;
      font-weight: normal;
      padding: 0 10px;
      text-align: center;
      border-bottom: 1px solid #fff;
      letter-spacing: 0.1em;
      color: #666666;
      float:left
    }

  } 
  .intro-page {
    .discover {
      width: 100%;
      margin: 40px 0 0 0px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.newcaret {
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #000;
  position: absolute;
  top: 42%;
  right: 10px;
}

.deliver-message {
  border: 0;
  padding: 20px;
  width: 100%;
  background-color: #f9f8f5;
  font-size: 14px;
  opacity: 0.7;
  font-family: $font-Montserrat;

  &::placeholder {
    font-family: $font-Montserrat !important;
  }
  &::-webkit-input-placeholder{
    font-family: $font-Montserrat !important;
  }
 
  &::-moz-placeholder{
    font-family: $font-Montserrat !important;
  }
  &::-ms-input-placeholder{
    font-family: $font-Montserrat !important;
  }
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.deliver-subheading {
  width: 100%;
  text-align: left;
  // margin: 0px 24px;
  @include b4_12px_montserrat_charcoal();
  // @media screen and (min-width: 992px) {
  //   margin: 0px 35px;
  // }
}
.free-delivery {
  @include b5_10px_montserrat_charcoal();
}

.cerisepop {
  position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto !important;
    width: 680px;
    min-height: 500px;
    background-color: #FBFBEE;
    .cross{
      float: right;
      padding: 15px;
      cursor: pointer;
    }
  .logo {
    position: absolute;
    width: 67%;
    left: 16%;
    top: calc(50% - 113px);
  }
  .baloon1 {
    position: absolute;
    height: 240px;
    left: -42px;
  }
  .baloon2 {
    position: absolute;
    height: 240px;
    right: -50px;
    bottom: 124px;
  }
}

.cerisemobile {
    width: 100%;
    min-height: 500px;
    background-color: #FBFBEE;
    bottom: 0;
    padding-bottom: 10px;
    position: fixed;
    z-index: 5;
    .cross{
      padding: 15px;
      position: absolute;
      z-index: 10;
      color: white;
      right: 0px;
      i {
        font-weight: bold;
        opacity: 0.7;
      }
    }
    .logo {
      position: absolute;
      width: 18%;
      top: 20%;
      left: 41%;
    }
    .baloon1 {
      position: absolute;
      height: 350px;
      left: -88px;
    }
    .baloon2 {
      position: absolute;
      height: 350px;
      right: -98px;
      bottom: 18px;
    }
}

.text {
  color:#B28F64;
}

.cerise-content {
  // color:#B28F64;
  margin: 20% 5% 0 5%;
  .heading{
    font-size: 40px;
    font-style: italic;
    font-family: $font-Edwar;
    color: $cerise;
    letter-spacing: 5px;
    line-height: 35px;
    span{
      font-style: normal;
      font-family: $font-MrsEaves;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 20px;
    }
  }
  .subheading {
    font-family: $font-Serif;
    font-size: 16px;
    margin: 15px 0 10px 0;
    letter-spacing: 1px;
  }
  .subheading1 {
    font-family: $font-Serif;
    font-size: 16px;
    font-style: normal;
    color: $cerise;
    letter-spacing: 1px;
    padding-top: 10px;
  }
  .date {
    font-size: 25px;
    font-family: $font-Serif;
  }
  .star {
    width: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button {
    background-color: #ab1e56;
    color: #fff;
    letter-spacing: 2px;
    font-family: $font-Lato;
    text-transform: uppercase;
    line-height: 44px;
    width: 50%;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin: 20px 0;
  }
  .bottom {
    color: #777;
    font-size: 11px;
    font-family: $font-Lato;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.contentmobile {
  // color:#B28F64;
  margin: 5% 5% 0 5%;
  position: relative;
  .heading{
    font-size: 40px;
    font-style: italic;
    font-family: $font-Edwar;
    color: $cerise;
    letter-spacing: 5px;
    line-height: 30px;
    span{
      font-style: normal;
      font-family: $font-MrsEaves;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
    }
  }
  .subheading {
    font-family: $font-Serif;
    font-size: 16px;
    margin: 15px 0 10px 0;
    letter-spacing: 1px;
  }
  .subheading1 {
    font-family: $font-Serif;
    font-size: 16px;
    color: $cerise;
    letter-spacing: 0.5px;
    padding-top: 10px;
  }
  .date {
    font-size: 20px;
    font-family: $font-Serif;
  }
  .star {
    width: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button {
    background-color: #ab1e56;
    color: #fff;
    letter-spacing: 2px;
    font-family: $font-Lato;
    text-transform: uppercase;
    line-height: 35px;
    width: 40%;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin: 15px 0;
  }
  .bottom {
    color: #777;
    font-size: 11px;
    font-family: $font-Lato;
    margin: 10px 30px;
  }
  .bottom2 {
    margin: 10px 20px;
  }
}
.left-img {
  padding: 0 !important;
}
.imgpadding {
  padding: 0px !important;
}

.desktopimage {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.maker-popup-fixed {
  height: 720px !important;
  width: 1170px !important;
}

.video-popup-container {
  width: 100%;
  height: 100%;
  // border: 10px solid white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  &.helloar{
    background-color: $white;
  }
  &.mobile{
    height: 100%;
    top: 0%;
    transform: translate(-50%, 0%);
  }
  .header{
    background-color: #ffffff;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px black;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 0px 12px #0000001d;
    .header-content{
      flex-basis: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      .header-icon{
        height: 60px;
        width: 90px;
      }
      .header-text{
        @include b3_14px_montserrat_charcoal();
        letter-spacing: 0.42px;
      }
    }
    .hello-ar-close{
      cursor: pointer;
      i{
        font-size: 22px;
      }
    }
  }
  .iframe-placeholder{
    width: 94%;
    margin: 0 auto;
    display: flex;
    background-color: white;
    height: calc(100% - 170px);
    transform: translateY(90px);
    z-index: 0;

    @media screen and (max-width:992px) {
      width: 100%
    }
    &.mobile{
      height: calc(100% - 150px);
    }
  }
  .footer{
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: -1px -2px 12px #0000001d;
    display: flex;
    padding: 0% 8%;
    flex-direction: column;
    justify-content: center;
    &.mobile {
      padding: 0%;
      height: 60px;
    }
  }

  .cta {
    bottom: 40px;
    position: absolute;
    width: 260px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .cross {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    i {
      font-weight: bold;
    }
  }
  .cross-hello {
    position: absolute;
    right: -40px;
    top: -42px;
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  .cross-hellomobile
   {
    position: absolute;
    right: 0px;
    top: -62px;
    cursor: pointer;
    color: white;
    font-size: 20px;
   }
}


.icon-mute {
  position: absolute;
  color: black;
  font-size: 25px;
  right: 22px;
  top: 70px;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .video-popup-container{
    .header{
      .header-content{
        flex-basis: 85%;
        justify-content: flex-start;
        .header-icon{
          height: 45px;
          width: 60px;
        }
        .header-text{
          @include b3_14px_montserrat_charcoal();
          letter-spacing: 0.42px;
        }
      }
      .hello-ar-close{
        i{
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .maker-popup-fixed {
    height: 550px !important;
    width: 360px !important;
  }
  // .video-popup-container {
  //   width: 320px;
  //   height: 489px;
  //   .cta {
  //     width: 200px;
  //   }
  //   .cross {
  //     position: absolute;
  //     right: 20px;
  //     top: 20px;
  //     cursor: pointer;
  //     i {
  //       font-weight: bold;
  //     }
  //   }
  // }

.icon-mute {
  position: absolute;
  color: black;
  font-size: 25px;
  right: 12px;
  top: 60px;
  cursor: pointer;
}
}

.btn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: auto;
}

.overflow {
  overflow: hidden;
}
.bottom {
  color: #777;
  font-size: 11px;
  font-family: $font-Lato;
  margin-bottom: 10px;
  margin-top: 10px;
}

.disclaimer {
  color: #363636;
  font-size: 10px;
  font-family: $font-Lato;
  // margin: 10px;
  // margin-top: 20px;
  letter-spacing: 0.5px;
  font-weight: lighter;
  padding: 0px 30px;
}

.two-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  .button1 {
    width: 40%;
    // max-width: 240px;
    min-width: 300px;
    height: 58px !important;
    font-family: $font-Montserrat !important;
    font-size: 14px !important;
    font-weight: $regular !important;
    color: #fff !important;
    background-color: $aqua-bold !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      p{
        padding: 0;
      }
    }
  }
  .button2 {
    width: 40%;
    max-width: 240px;
    @include b4_12px_montserrat_charcoal_caps();
    text-decoration: underline;
    text-underline-offset: 4px;
    &:hover{
      color: $aqua-bold;
    }
  }
}

.left-image {
  width: 100%;
}

.top-image{
  width: 100%;
  // height: 160px;

  @media (min-width: 600px) and (max-width: 992px){
    object-fit:cover;
  }
}

.gc-tnc{
  .left-image-cross{
    font-size: 14px;
    color: $charcoal19;
  }
  .heading{
    @include h3_20px_lora_charcoal();
    letter-spacing: 0.5px;
    // margin-bottom: 20px;
    h1 {
      margin: 0px;
    }
    p{
      line-height: 30px;
    }
  }
  .left-image-content{
    @include b4_12px_montserrat_charcoal();
    letter-spacing: 0.36px;
    // margin-bottom: 20px;
    // padding: 0px 20px;
    padding: 0px 30px;
  }
  .left-image-cta{
    // margin-bottom: 30px;
    // border: 1px solid $aqua-bold;
    color: $aqua-bold;
    font-family: $font-Montserrat;
    font-size: 12px;
    font-weight: $medium;
    text-transform: uppercase;
    height: 50px;
    line-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    background: #ab1e56;
    // &:hover{
    //   color: $white;
    //   background: $aqua-bold;
    // }
  }
  .popup-cta{
    color: #fff;
    font-family: $font-Montserrat;
    background-color: $aqua-bold;
    font-size: 14px;
    font-weight: $regular;
    text-transform: uppercase;
    height: 40px;
    line-height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    min-width: 300px;
    cursor: pointer;
    // &:hover{
    //   color: $white;
    //   background: $aqua-bold;
    // }
  }
  .disclaimer{
    @include b6_9px_light_montserrat_charcoal();
    line-height: 15px;
  }
  &.top-image{
    .disclaimer{
      p{
        // padding: 0px 25%;
        line-height: 15px;
      }
    }
  }
  &.heading-cta{
    .disclaimer{
      p{
        // padding: 0px 25%;
        line-height: 15px;
      }
    }
  }
  &.two-cta{
    .disclaimer{
      p{
        // padding: 0px 25%;
        line-height: 15px;
      }
    }
  }
}

// @media (max-width: 991px){
//   .gc-tnc{
//     padding: 30px 0 30px 0 !important;
//   }
// }

@media (min-width: 992px){
  .left-image-template-container{
    height: 700px;
    width: 615px;
  }
}

@media (max-width: 992px){
  // .left-image{
  //   height: 160px;
  // }
  .gc-tnc{
    padding: 30px 0 30px 0 !important;
    // img{
    //   background-color: #E5E5E5;
    // }
    // .heading {
    //   margin-bottom: 20px;
    // }
    .popup-cta{
      width: 70%;
      font-size: 14px;
      font-weight: $regular;
      color: $white;
      background: $aqua-bold;
      letter-spacing: 0.42px;
      //margin-bottom: 20px;
      a {
        p {
          padding: 0px;
        }
      }
    }
    .disclaimer{
      p {
        // padding: 0px 25%;
        line-height: 15px;
      }
    }
  }
}

.head-wrp{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 15px;
  border-bottom: 1px solid #f2f2f2;
  padding: 25px 0 20px;
  .delivery-head{
    @include b4_12px_medium_charcoal_caps();
  }
  .delivery-icon{
    width: unset;
    position: relative;
    padding: 0;
    border-bottom: unset;
  }
}

.activategchead-wrp{
  // display: flex;
  // justify-content: space-between;
  margin: 0 35px;
  padding: 25px 0 5px;
  .delivery-head{
    @include b4_12px_medium_charcoal_caps();
  }
  .delivery-icon{
    width: unset;
    position: relative;
    padding: 0;
    border-bottom: unset;
  }
}

.footer-wrp{
  @include b3_14px_montserrat_white();
  background: #2c2c2c;
  line-height: 18px;
  letter-spacing: 0.42px;
  padding: 16px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  width: 100%;
}

//====BillingGST popup======//

.radio-list {
  text-align: left;
  margin: 0 35px;
  .container {
    width: 80px;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #888;
    border-radius: 50%;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .txt-gst {
    position: absolute;
    left: 30px;
    top: 2px;
    @include b4_12px_medium_charcoal_caps();
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $aqua;
  }

  [type="radio"]:not(:checked) {
    position: relative;
    left: auto;
  }

  [type="radio"]:checked {
    position: relative;
    left: auto;
  }
}

.gst-title {
  @include b4_12px_montserrat_charcoal();
  margin-top: 15px;
  margin-bottom: 10px;
}
.gst-desc {
  @include b5_10px_montserrat_charcoal();
  margin-bottom: 30px;
}

.form {
  position: relative;
  .form-label {
    position: absolute;
    top: -10px;
    left: 60px;
    font-weight: 100;
    font-size: 10px;
    color: tint(#000, 60%);
    letter-spacing: 0.5px;
    background-color: #fff;
    padding: 3px;
  }
 
  div {
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  select,
  textarea {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      opacity: 0.4;
      @include b4_12px_montserrat_charcoal();
    }
  }
  input[type="text"].panError {
    border: 1px solid $cerise;
  }
}
}

.payment {
  .gift-card {
    .text-error {
      text-transform: none;
    }
    .margin-rt {
      margin: 2px 10px 0 0;
    }
    .form {
      margin-top: 30px;
    }
  }


  .input-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  input[type="text"].input {
    // width: 80%;
    width: 85%;
    text-align: left;
    @media(max-width:992px){
    }
  }
  input[type="text"].input2 {
    width: 60%;
    text-align: left;
  }
}

.error-gst{
  width: 80%;
  margin: 10px 35px;
  font-size: 13px !important;
  font-weight: normal !important;
  @media screen and (max-width: 992px){
  }
}

.form-gst-error  {
  border: 1px solid #ab1e56 !important;
}
.gst-input{
  font-family: $font-Montserrat;
}

.desc{
  p{
    word-wrap: break-word;
    text-align: left;
    @include b4_12px_montserrat_charcoal();
  }
 
}

@media (max-width:992px){
  .cerise-popup-mobile{
    height: 100% !important;
    overflow-y: auto;

    .head-wrp{
      margin-bottom: 5px;
    }
  }
}

.custom-height {
  // height: 320px;
  height: auto;
  margin-bottom: 10px;
}

.link-decor {
  text-decoration: underline;
  text-underline-offset: 4px;
  &:hover {
    cursor: pointer;
  }
  font-weight: 300;
}

.gc-checkout {
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  @media (min-width: 481px) {
    margin: 10px 0 30px 0;
  }
}

.gc-checkout:hover {
  color: #3C7979;
}

.left-float{
  float: left;}
  
.cerise-gst-disclaimer {
  @include b5_10px_montserrat_aqua();
  padding-bottom: 10px;
  letter-spacing: 0.3px;
}

.text-align-left{
  text-align: left;
}

.flexible-height {
  height: auto;
}

.fixed-height {
  @include fixed-height(450px);
}

.textAreaBox{
  max-width: unset!important;
}
.marginLR35{
  margin: 0 35px;
}
.btn-full-width-for-popup{
  width: 100% !important;
  max-width: 100% !important;
}


// ---------------------shop the look popup----------------------------------
.shop-modal-container{
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000010;
  .shop-the-look {
    background-color: $white;
    padding-bottom: 2px;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    @media screen and (max-width: 768px) {
      width: 100%;
      top: unset;
      left: unset;
      transform: unset;
      bottom: 0;
      position: fixed;
    }
    .title-wrapper {
      text-align: right;
      padding: 20px;
      position: relative;
      .shop-title {
        @include h3_20px_lora_charcoal
      }
      .close-icon{
        position: absolute;
        right: 24px;
        top: 26px;
        width: 13px;
        height: 13px;
      }
    }
    .shop-land-scape{
      padding: 0 15px 15px 15px;
    }
  }
}
