@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.large-aqua-cta{
    @include large_aqua_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color: transparent;
        color: $aqua;}
    }
    
    &:disabled{
        @include disabled_cta();
    }
}

.large-gold-cta{
    @include large_gold_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
            background-color: transparent;
            color: $gold;
        }
    }
    &:disabled{
        @include disabled_cta();
    }
}
.large-med-charcoal-cta{
    @include large_med_charcoal_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
            background-color: transparent;
            color: $med-charcoal;
        }
    }
    &:disabled{
        @include disabled_cta();
    }
}
 

.large-light-grey-cta{
    @include large_light_grey_cta();
   
    &:hover:not(.stop-hover) {
                @media screen and (min-width:992px) {
                    @include disabled_cta();
                }
    }
}

.medium-aqua-cta-300{
    @include medium_aqua_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color: transparent;
        color: $aqua;}
    }
    &:disabled{
        @include disabled_cta();
    }
}

.medium-aqua-cta-366{
    @include medium_aqua_cta_366();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color: transparent;
        color: $aqua;}
    }
    &:disabled{
        @include disabled_cta();
    }
}


.medium-med-charcoal-cta-366{
    @include medium_med_charcoal_cta_366();
    &:hover:not(.stop-hover){
        @media screen and (min-width:992px) {
            background-color: transparent !important;
            color: $med-charcoal;
        }
    }
        
    &:focus{
        color: $white;
    }
    &:disabled{
        @include disabled_cta();
    }
}
.outline-medium-med-charcoal-cta-366{
    @include outline_medium_med_charcoal_cta_366();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
            border: 1px solid $aqua;
            color: $aqua;
        }
    }
    &:disabled{
        @include disabled_cta();
    }
}
.medium-light-grey-cta{
    @include medium_light_grey_cta();
    &:disabled{
        @media screen and (min-width:992px) {
        @include disabled_cta();}
    }
}

.small-light-grey-cta{
    @include medium_light_grey_cta();
    @include small_cta();
    &:disabled{
        @media screen and (min-width:992px) {
        @include disabled_cta();
        @include small_cta();}
    }
}

.small-aqua-cta{
    @include small_aqua_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color: transparent;
        color: $aqua;}
    }
    &:disabled{
        @include disabled_cta();
    }
}

.small-white-cta{
    @include small_white_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color:$aqua;
        color: $white;}
    }
    &:disabled{
        @include disabled_cta();
    }
}

.small-med-charcoal-cta{
    @include small_med_charcoal_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color: transparent;
        color: $med-charcoal;}
    }
    &:disabled{
        @include disabled_cta();
    }
}
.small-gold-cta{
    @include small_gold_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
        background-color: transparent;
        color: $gold;}
    }
    &:disabled{
        @include disabled_cta();
    }
}

.outline-small-med-charcoal-cta{
    @include outline_small_med_charcoal_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {
            border: 1px solid $aqua;
            color: $aqua;
        }
    }
    &:disabled{
        @include disabled_cta();
    }
}

.outline-extra-small-aqua-cta{
    @include outline_extra_small_aqua_cta();
    &:hover:not(.stop-hover) {
        @media screen and (min-width:992px) {

        border: 1px solid $aqua;
        color: $white;
        background-color: $aqua;}
    }
    &:disabled{
        @include disabled_cta();
    }
}
