

.countclass {
    background: #fff 0% 0% no-repeat padding-box;
    top: 2%;
    height: 24px;
    background-color: white;
    border-radius: 19px;
    box-shadow: 3px 3px 10px #00000029;
    opacity: 1;
    right: 16px;
    color: #D8D8D8;
    position: absolute;
}