

.countclass {
    background: #fff 0% 0% no-repeat padding-box !important;
    top: 2% !important;
    height: 24px !important;
    background-color: white !important;
    border-radius: 19px !important;
    box-shadow: 3px 3px 10px #00000029 !important;
    opacity: 1 !important;
    right: 16px !important;
    color: #D8D8D8 !important;
    position: absolute !important;
}