@import "../../styles/partials/variables";



.sticky-container {
    top: $header-height + $secondary-header-height + 23px;
}

.product-image-container {
    padding-left: 5px;
    padding-bottom: 20px;
}

.product-section {
    position: relative;
    margin-bottom: 20px;
    padding-top: 15px;
}

.quickview-size{
    background-color: #fff;
    width: 75%;
    margin-top: 5%;
    min-height: 85vh;
}

.quickview-close {
    position: absolute;
    right: 30px;
    top: 25px;
    background: none;
    border: 0;
    padding: 0;
}

.pre-button-style{
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translate(-50%, -50%);
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}

.next-button-style{
    position: absolute;
    top: 50%;
    right:6%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}
.sidebar{
    margin-left: 20px;
}

// .details-container{
//     margin-top: 20px;
// }

