@import "../../styles/partials/variables";



.sticky-container {
    top: $header-height + $secondary-header-height + 23px;
}

.product-image-container {
    padding-left: 40px;
    padding-bottom: 40px;
}

.product-section {
    position: relative;
    margin-bottom: 20px;
    padding-top: 15px;
}

.quickview-size{
    background-color: #fff;
    width: 80%;
    margin-top: 5%;
    min-height: 75vh;
}

.quickview-close {
    position: absolute;
    right: 25px;
    top: 16px;
    background: none;
    border: 0;
    padding: 0;
}

.pre-button-style{
    position: absolute;
    top: 45%;
    left: 5%; 
    transform: translate(-50%, -50%);
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}

.next-button-style{
    position: absolute;
    top: 45%;
    right:0%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}

