@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.container {
    position: fixed;
    right: 30px;
    z-index: 2000000001;
    opacity: 0;
    top: -99999999px;
    pointer-events: none;
    transition: opacity 0.2s;
}

.inner-container {
    background-color: rgba(0, 0, 0, .7);
    @include b4_12px_montserrat_white();
    letter-spacing: 0.36px;
    padding: 15px;
    text-align: center;
    width: 200px;
    line-height: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    .separator{
        background: #ffffff40;
        margin-left: 10px;
        margin-right: 15px;
        width: 4px;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
    li {
        list-style-type: disc;
        margin-left: 15px;
    }
}

.close-button {
    pointer-events: all;
    cursor: pointer;
}

.visible {
    top: 55px;
    opacity: 1;
}
.growl {
    position: relative;
    padding-bottom: 20px;
}