@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/form";
.heading {
  text-transform: uppercase;
  color: tint(#000, 40%);
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 50px;
  .icon {
    font-size: 18px;
    color: $cerise;
    margin-right: 5px;
    font-weight: bold;
  }
}
.fix-left-pane {
  @include position(sticky);
  align-self: flex-start;
  top: $header-height + $secondary-header-height;
  left: 0;
  z-index: 0;
  ul {
    margin-left: 20%;
    li {
      line-height: 40px;
      a {
        font-size: 14px;
        font-family: $font-Lato;
        color: #333;
        cursor: pointer;
        &:hover {
          color: $cerise;
          text-decoration: none;
        }
      }
    }
  }
}
.bg-profile {
  background: url('../../images/myaccountBg.jpg') repeat;
  height: auto;
  // padding-top: 60px;
  &.cerise-club {
    background-color: #fbf6f0;
    background-image: url(../../images/loyalty/ceriseBg.png), url(../../images/loyalty/ceriseMainlogo.svg), url(../../images/loyalty/ceriseBg2.png), url(../../images/loyalty/butterfly.png);
    background-position: left 22% top 9%, center top 4%, left 112% top 54%, right 16% top 3%;
    background-size: 80%, 18%, 30%, 16%;
    max-width: 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    letter-spacing: 1px;
    @media screen and (max-width: 767px) {
      background-size: 85%, 50%, 60%, 30%;
      background-position: left -40% top 7%, center top 2%, left 145% top 45%, right 2% top 5%;
    }
  }
  &.cerise-sitara-club {
    background-color: #fbf6f0;
    background-image: url(../../images/loyalty/ceriseSitaraCloudSun.png), url(../../images/loyalty/ceriseSitaraMainlogo.svg),
    url(../../images/loyalty/ceriseSitaraCloud.png), url(../../images/loyalty/ceriseSitaraCloudSun2.png), url(../../images/loyalty/ceriseSitaraCloudSun3.png), url(../../images/loyalty/ceriseSitaraCloudSun4.png);
    background-position: left 10% top 6%, center top 4%, left 104% top 3%, right 5% top 40%, right -11% top 78%, left 0 top 100%;
    background-size: 27%, 21%, 45%, 93%, 50%, 50%;
    max-width: 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    letter-spacing: 1px;
    @media screen and (max-width: 767px) {
      background-position: left -49% top 6%, center top 2%, left 238% top 8%, right 5% top 22%, right -11% top 83%, left -44% top 101%;
      background-size: 60%, 45%, 87%, 102%, 100%, 75%;
    }
  }
}
.account-form-bg {
  padding-bottom: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100%;
  background-color: white;
}
.account-form-bg-mobile {
  height: 100vh !important;
  overflow: scroll;
  z-index: 0;
  padding-bottom: 20px;
  background-color: white;
}
.c-sort {
  .product-number {
    .c-sort-header {
      position: fixed;
      background-color: #fff;
      top: $header-height;
      line-height: 50px;
      width: 100%;
      left: 0;
      z-index: 9;
      padding: 0 20px;
      border-bottom: 1px solid tint(#000, 80%);
    }
    .mobile-filter-header {
      left: 0;
    }
    .mobile-filter-menu {
      left: 0;
    }
    .no-arrow-header {
      span {
        font-size: 14px;
        font-family: $font-Lato;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 35px;
      }
      span:last-child {
        //text-transform: capitalize;
        border-left: 1px solid tint(#000, 50%);
        padding-left: 10px;
        margin-left: 10px;

      }
    }
    .collection-header {
      position: relative;
      > span {
        font-size: 14px;
        font-family: $font-Lato;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 35px;
      }
      span:last-child {
        //text-transform: capitalize;
        border-left: 1px solid tint(#000, 50%);
        padding-left: 10px;
        margin-left: 10px;

      }
      &:after {
        content: '';
        right: 10px;
        top: 43%;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid tint(#000, 30%);
      }
    }
  }
}
.subheader-account {
  .collection-header {
    span {
      border-left: 0 !important;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
  }
}
.mobile-filter-header {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 9;
  background-color: #fff;
  padding: 11px 20px 4px 20px;
  top: $header-height;
  border-bottom: 1px solid tint(#000, 80%);
  .filter-cross {
    line-height: 30px;
    .icon_cross {
      font-size: 27px;
    }
  }
  span {
    @include plp_subhdr_open_mob();
    letter-spacing: 1px;
    text-transform: uppercase;
    i {
      &:before {
        font-weight: bold;
      }
    }
    &:first-child {
      float: left;
      margin-left: 0px;
    }
    &:last-child {
      float: right;
      margin-right: 10px;
      
    }
  }
}
.mobile-filter-menu {
  position: fixed;
  bottom: 0;
  top: ($header-height + 50);
  left: 0;
  z-index: 7;
  background-color: white;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  .number-div {
    width: 50%;
    text-align: center;
    background-color: #f9f8f5;
    span {
      line-height: 50px;
      @include plp_prod_quantity();
    }

  }
  .apply-button {
    width: 50%;
    text-align: center;
    span {
      line-height: 50px;
      @include cta_white();
      color: white;
    }
    background-color: $cerise;
  }
  .filter-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
  }
  .sort {
    height: 100%;
    overflow: scroll;
    li {
      padding: 0 20px;
      line-height: 50px;
      @include menu-subcopy();
      border-bottom: 1px solid tint(#000, 90%);
      a {
        color: tint(#000, 50%);
      }
    }
  }
}
