
@media screen and (min-width: 992px) {
.featured-section .slick-prev::before{
  background: url('../../images/category/arrow_left.svg') no-repeat !important;
            width: 60px;
            height: 100%;
            color: transparent;
            left: 190px;
}

.featured-section .slick-next::before{
background: url('../../images/category/arrow_right.svg') no-repeat;
            width: 60px;
            height: 100%;
            color: transparent;
            right: 190px;
}
}
.slick-arrow {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.featured-section .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
  .slick-list :focus {
    outline: none;
  }

  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }


  .featured-section .slick-slider .slick-track,
.featured-section .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.featured-section .slick-arrow{
  width:250px !important;
}

.featured-section .slick-track {
  display: flex;
}
/* common */

/* .featured-section .slick-arrow {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.featured-section .slick-arrow.slick-prev:before {
    color: #fff;
    font-family: "goodearth";
    content: "\f101";
    position: absolute;
    left: 20px;
    top: 0;
}
.featured-section .slick-arrow.slick-next::before {
    font-family: "goodearth";
    color: #fff;
    content: "\f102";
    position: absolute;
    right: 20px;
    top: 0;
}
.featured-section .slick-arrow {
  position: absolute;
  top:50%;
  display: block;
  z-index: 8;
}

.featured-section .slick-arrow.slick-prev {
  left: 0;
}
.featured-section .slick-arrow.slick-next {
  right: 0;
} */

.more-collection .slick-slider:hover .slick-arrow.slick-next, .more-collection .slick-slider:hover .slick-arrow.slick-prev {
  height: 70px;
  width: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0;
}
.featured-section.slick-slider .slick-arrow.slick-next::before, .featured-section.slick-slider .slick-arrow.slick-prev:before {
  display: none;
}


.featured-section.slick-slider:hover .slick-arrow.slick-next::before {
  display: block;
  font-size: 50px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  right: 0;
  height: 70px;
  line-height: 70px;
}
.featured-section.slick-slider:hover .slick-arrow.slick-prev:before {
  display: block;
  font-size: 50px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  left: 0;
  height: 70px;
  line-height: 70px;
}

/* more collection specific*/

.more-collection .slick-arrow {
  top: 40%;
}

.featured-section .slick-arrow.slick-prev:before, .featured-section .slick-arrow.slick-next:before {
  font-size: 80px;
}
.featured-section.add-border img{
  padding: 0 3px;
}
.featured-section.add-border .image-content {
  border-right: 1px solid tint(#000, 90%);
  min-height: 80px;
}

.more-collection .recommend-block{
  padding-top: 5px;
}


.more-collection .icon-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  font-size: 20px;
  color: #666;
  cursor: pointer;
}
.more-collection .icon_heart-cerise-fill {
  color: #ab1e56;
}
.more-collection .recommend-block{
  padding: 0 10px;
}
.recommend-block {
  min-height: 120px;
}
.recommend-block .product-n a:hover {
        color: #ab1e56;
}

.more-collection div.bannerBtnLink {
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -100px;
  letter-spacing: 1px;
  z-index: 0;
  font-weight: bold;
}
.more-collection div.bannerBtnLink span {
  background: url('/static/img/common/icons_cta-curly-fill-white.svg') no-repeat;
  text-transform: uppercase;
  width: 220px;
  height: 65px;
  display: inline-block;
  line-height: 65px;
  color: #ab1e56;
  /* font-family: $font-Lato; */
}
.more-collection div.bannerBtnLink span:hover {
  background: url('/static/img/common/icons_cta-curly-fill-ceriz.svg') no-repeat;
  color: #fff;
}

.more-collection .slick-slider .slick-arrow.slick-next:before, .more-collection .slick-slider .slick-arrow.slick-prev:before{
  display: none;
}
.more-collection .slick-slider:hover .slick-arrow.slick-next::before {
  display: block;
  font-size: 50px;
  right: 0;
}
.more-collection .slick-slider:hover .slick-arrow.slick-prev:before {
  display: block;
  font-size: 50px;
  left: 0;
}
.more-collection.mobile-slider .slick-slider .slick-arrow.slick-next:before{
  display: block;
  font-size: 50px;
  background: none;
  right: 0;
}
.more-collection.mobile-slider .slick-slider .slick-arrow.slick-prev:before{
  display: block;
  font-size: 50px;
  background: none;
  left: 0;
}

.more-collection.mobile-slider .slick-arrow {
  top: 30%;
}


