.imageSlideronatiner .slick-slider .slick-dots{
    position: absolute;
    content: "";
    top: -8px;
    height: 20px;
}
.imageSlideronatiner .slick-slider .slick-dots li{
    margin: 0 2px;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 1px #00000065;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

/* .imageSlideronatiner .slick-slider .slick-dots li.slick-active button{
    opacity: 1;
} */
.imageSlideronatiner .slick-slider .slick-dots li button{
    padding: 0;
    width: 4px;
    height: 4px;
    font-size: 0px;
    background-color: transparent;
    opacity: 1;
}

.imageSlideronatiner .slick-slider .slick-dots li.slick-active button{
    opacity: 1;
}
.imageSlideronatiner .slick-slider .slick-dots li.slick-active button::before{
    opacity: 1;
}
.imageSlideronatiner .slick-slider .slick-dots li button::before{
    content: "";
    /* box-shadow: 1px 1px 1px #00000065; */
    opacity: 0.4;
    background-color: white;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    color: white;
    border: 0;
    outline: none;
    margin: 0 auto;
}

.firstImageContainer{background-color: transparent !important;}
.firstImageContainer img{animation: swipeLeft 3s ease-out 2 2s;}
.secondImageContainer{position: absolute;top:0;z-index: -1;left: 0;right: 0;bottom: 0;}

.imageSlideronatiner .slick-arrow {
    z-index: 3;
}
.imageSlideronatiner:hover .slick-arrow.slick-next {
    right: 10px;
    height: 20px;
    z-index: 3;
    width: 20px;
    padding: 0;
  }

.imageSlideronatiner:hover .slick-arrow.slick-prev {
    left: 10px;
    height: 20px;
    z-index: 3;
    width: 20px;
    padding: 0;
}

.imageSlideronatiner:hover .slick-prev:before {
    content: url("./../../images/prev.svg");
    display: block;
    height: 20px;
    width: 20px;
    font-size: 10px;
    top: 0;
}

.imageSlideronatiner:hover .slick-next:before {
    content:url("./../../images/next.svg");
    display: block;
    height: 20px;
    width: 20px;
    font-size: 10px;
    top: 0;
}

.imageSlideronatiner .slick-list {
   margin: 0 -1px;
}

.imageSlideronatiner .slick-slide > div {
    display: flex;
 }

@keyframes swipeLeft{
    0% {transform: translateX(0%);}
    50% {transform: translateX(-40%);}
    60% {transform: translateX(-40%);}
    100% {transform: translateX(0%);}
}