@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.container {
    width: 100%;
    min-height: 360px;
    background-color: #fff;
    bottom: 0;
    padding-bottom: 55px;
    position: relative;

    .input-quantity {
        padding: 8px 0;
    }

    .size-box {
        margin: 0 6px;
    }
}

.header {
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
}

.collection {
    @include plp_coll_name_desktop();
}

.title {
    @include plp_prod_name_desktop();
    font-family: $font-Lora;
    font-size: 24px;
    color: $charcoal19;
}

.subtitle {
    font-family: $font-Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight:normal;
}

.label {
    @include pdp_label();
    width:100px;
}

.size-label {
    height: 40px;
    line-height: 40px;
}

.qty-label {
    height: 40px;
    line-height: 40px;
    margin-right: 6px;
}

.price {
    font-size: 20px;
    line-height: 30px;
    font-family: $font-Montserrat;
}
.qty-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    position: relative;
    font-family: $font-Montserrat;
    font-size: 12px;
    color:$charcoal19;
    div {
        width:133px;
    }
}

.quantity-wrapper {
    justify-content: center;
}



.email-input {
    width: 100%;
    margin: 0 auto 30px;
}

.body-class {
    bottom: 0;
    top: auto;
}

.close-btn {
    position: absolute;
    background: none;
    border: 0;
    padding: 0;
    font-size: 36px;
    display: block;
    margin: auto;
    top: 2px;
    right: 5px;
}

.button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $aquablue !important;
    color: white;
    &:hover{
        color: white !important
    }
}

.success-msg {
    @include success-msg();
    position: relative;
    top: -30px;
}

.size-error {
    @include error-msg();
}
span{
    &.discountprice {
        color: $gold;
        font-family: $font-Lato;
        font-size: 14px;
      }
      &.strikeprice {
        font-size: 14px;
        text-decoration: line-through;
        color: #9F9F9F !important;
        font-family: $font-Lato;
      }
}


@media screen and (min-width: 992px) {
    .container {
        width: auto;
        max-width: 50vw;
        min-height: 20vh;
        min-width: 600px;
    }
    .content-container {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

}
.content-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    .info-container {
        display: flex;
        justify-content: space-between;
        .details-container{
            width: 70%
        }
    }
    .size-container {
        display: flex;
        padding: 20px 0px;
    }
    .quantity-container{
        display: flex;
    }
    .input-container{
        display: flex;
        flex-direction: column;
    }
}