@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.container {
    width: 100%;
    min-height: 360px;
    background-color: #fff;
    bottom: 0;
    padding-bottom: 55px;
    position: relative;

    .input-quantity {
        padding: 8px 0;
    }

    .size-box {
        margin: 0 6px;
    }
}

.header {
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
}

.collection {
    @include plp_coll_name_desktop();
}

.title {
    @include plp_prod_name_desktop();
}

.label {
    @include pdp_label();
}

.size-label {
    margin-top: 10px;
    margin-bottom: 8px;
}

.qty-label {
    margin-top: 15px;
}

.price {
    font-size: 12px;
    line-height: 30px;
    font-family: $font-Lato;
    margin-top: 0;
}
.qty-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    position: relative;
}

.quantity-wrapper {
    justify-content: center;
}



.email-input {
    width: 70%;
    margin: 0 auto 30px;
}

.body-class {
    bottom: 0;
    top: auto;
}

.close-btn {
    position: absolute;
    background: none;
    border: 0;
    padding: 0;
    font-size: 36px;
    display: block;
    margin: auto;
    top: 2px;
    right: 5px;
}

.button {
    position: absolute;
    bottom: 0;
    left: 0;
}

.success-msg {
    @include success-msg();
    position: relative;
    top: -30px;
}

.size-error {
    @include error-msg();
}
span{
    &.discountprice {
        color: $cerise;
        font-family: $font-Serif;
        font-size: 16px;
        color:$cerise;
      }
      &.strikeprice {
        font-size: 14px;
        text-decoration: line-through;
        color: tint(#000, 50%) !important;
        font-family: $font-Serif;
      }
}


@media screen and (min-width: 992px) {
    .container {
        width: 430px;
        max-width: 50vw;
        min-height: 20vh;
    }

}