@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.loyalty-conatiner {
  margin-top: $main-header;
  padding: 565px 180px 90px 180px;
  background: #2D455C;

  .loyalty-wrp{
    background-color: $white;
    padding: 40px 170px;

    .loyalty-header{
      width: 65%;
      .heading{
        @include h1_30px_lora_medium_charcoal();
      }
      .sub-heading{
        margin-top:10px;
        @include b4_12px_montserrat_light_charcoal();
      }
    }

    .loyalty-info{
      margin-top:40px;

      .loyalty-info-row{
        display: flex;
        margin-bottom: 35px;

        img{
          width: 25px;
          height: 30px;
        }
        .loyalty-info-col{
          padding: 0 20px;
          .loyalty-info-heading{
            @include h3_20px_lora_charcoal();
          }
          .loyalty-info-subHead{
            margin-top: 4px;
            @include b4_12px_montserrat_charcoal();
          }
        }
      }
    }

    .loyaltyPointsTable{
      .tableRow{
        border-bottom: 1px solid lightgray;
        padding: 8px 0px;
        img{
          width: 25px;
          height: 30px;
        }
        .tableHeading{
            @include b2_14px_charcoal_lora();
        }
      }
    }
  }
}