@font-face {
    font-family: "HeaderFont";
    src: url("#{$cdn}/media/fonts/Franklin%20Gothic%20Medium.ttf");
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "LatoFont";
    src: url("#{$cdn}/media/fonts/Lato%20regular.ttf");
    font-weight: normal;
    font-display: swap;
  }
  
//   @font-face {
//     font-family: "LatoFont";
//     src: url("../../fonts/Lato\ 700italic.ttf") format('truetype');
//     font-weight: bold;
//     font-style: italic;
//   }
  
  @font-face {
    font-family: "LatoFont";
    src: url("#{$cdn}/media/fonts/Lato%20300.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "LatoFont";
    src: url("#{$cdn}/media/fonts/Lato%20700italic.ttf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "LatoFont";
    src: url("#{$cdn}/media/fonts/Lato%20300italic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
//   @font-face {
//     font-family: "AmiriFont";
//     src: url("../../fonts/Amiri\ regular.ttf") format('truetype');
//     font-weight: normal;
//   }
  
//   @font-face {
//     font-family: "AmiriFont";
//     src: url("../../fonts/Amiri\ italic.ttf") format('truetype');
//     font-weight: normal;
//     font-style: italic;
//   }