@import "./variables";
@import "./mixins";

.for-field {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      font-size:14px;
      color: tint(#000,60%);
      font-style: normal;
      letter-spacing:1px;
      font-family: $font-Lato;
    }
}