@import "./variables";
@import "./mixins";

.for-field {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      font-size:14px;
      color: tint(#000,60%);
      font-style: normal;
      letter-spacing:1px;
      font-family: $font-Lato;
    }
}

[type="submit"] {
  padding: 2px 6px;
}

.form-subheading {
  font-size: 12px;
  font-family: "LatoFont","Helvetica","Arial";
  color: #666;
  letter-spacing: 1px;
}

.disabled-input {
  background-color: tint(#000, 95%) !important;
  color: tint(#000, 50%);
  .Dropdown-control {
  background-color: tint(#000, 95%) !important;
    color: tint(#000, 50%);
  }
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
  background-color: #fff;
  border: 1px solid #eee;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  @include placeholder {
    font-size: 14px;
    color: tint(#000, 60%);
    font-style: normal;
    letter-spacing: 1px;
    font-family: $font-Lato;
  }
  text-align: start;
  &:active, &:focus {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    @include placeholder {
      font-size: 14px;
      color: tint(#000, 60%);
      font-style: normal;
      letter-spacing: 1px;
      font-family: $font-Lato;
    }
    text-align: start;
  }
}