@import "./variables";
@import "./mixins";

.for-field {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      font-size:14px;
      color: tint(#000,60%);
      font-style: normal;
      letter-spacing:1px;
      font-family: $font-Lato;
    }
}

[type="submit"] {
  padding: 2px 6px;
}

.form-subheading {
  font-size: 12px;
  font-family: $font-Lato;
  color: #666;
  letter-spacing: 1px;
}

.disabled-input {
  background-color: $disabled-input !important;
  color: tint(#000, 50%);
  &input, input, select {
  background-color: $disabled-input !important;
  color: tint(#000, 50%);
  }
  .Dropdown-control {
  background-color: $disabled-input !important;
    color: tint(#000, 50%);
  }
}

.login-form {
  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select, textarea {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    @include placeholder {
      font-size: 14px;
      color: $formLabel;
      font-style: normal;
      letter-spacing: 1px;
      font-family: $font-Lato;
    }
    text-align: start;
    &:active, &:focus {
      background-color: #fff;
      border: 1px solid #eee;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      line-height: 25px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      @include placeholder {
        font-size: 14px;
        color: tint(#000, 60%);
        font-style: normal;
        letter-spacing: 1px;
        font-family: $font-Lato;
      }
      text-align: start;
    }
  }
}
.toggle-password-btn {
  width: 26px;
  top: 12px;
  right: 12px;
  position: absolute;
  cursor: pointer;
}

.login-form {
  div {
    .country-code {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
  .copylink {
    position: absolute;
    top: 15px;
    right: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $cerise;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: 100;
    font-size: 10px;
    color: $formLabel;
    letter-spacing: 0.5px;
    background-color: #fff;
    padding: 3px;
  }
  div.categorylabel > div {
    position: relative;
    margin: 20px 0;
    &.address-form-checkbox {
      margin-top: 40px;
      text-align: left;
      label {
        left: 0px;
        @include b4_12px_montserrat_charcoal();
        letter-spacing: 0.42px;
        &:before {
          top:0px;
        }
      }
    }
    &.notify {
      width: 70%;
      margin: 0 auto;
      padding: 20px 0 80px 0;
      .error-msg {
        text-align: left;
      }
    }
    &.calendar-icon-container {
      .calendar-icon {
          position: absolute;
          top: 0;
          right: 10px;
      }
    }
    &.subscribe {
      text-align: left;
      margin: 30px 0 0 0;
      &.subs1 {
        margin-top: 50px;
      }
      label {
        @include b5_10px_montserrat_charcoal();
        letter-spacing: 0.3px;
        line-height: 16px;
        text-transform: none;
        a {
          color: $charcoal19;
          text-decoration: underline;
          &:hover {
            color: $charcoal19;
            text-decoration: underline;
          }
        }
      }
    }
    &.checkBalanceCheckPolicy {
      display: grid;
      /* grid-template-columns: 1fr 11fr; */
      label {
        top: 5px;
        left: 8px;
        padding-top: 0;
      }
      p {
        z-index: 1;
        font-size: 12px;
        font-family: $font-Lato;
        color: #666;
        letter-spacing: 1px;
        text-transform: none;
        line-height: 22px;
        position: relative;
        cursor: pointer;
        font-weight: 400;
        background-color: #fff;
        padding: 3px;
        a {
          color: $cerise;
          text-decoration: underline;
        }
      }
    }
  }
}

.user-gender-picker {
  .Dropdown-root {
    .Dropdown-menu {
      position: absolute;
    }
    .Dropdown-control {
      .Dropdown-placeholder{
        font-size: 14px;
        color: #333;
        font-style: normal;
        letter-spacing: normal;
        font-family: $font-Lato;
      }
    }
  } 
}

.arrow {
  @include arrowbottom();
  position: absolute;
  top: 21px;
  right: 26px;
  &.mright {
    right: 10px;
  }
}
.disabled-arrow {
  border-top-color: #9f9f9f !important;
}

.categorylabel {
  div {
    div {
      position: relative;
      &.user-gender-picker {
        .Dropdown-root {
          .Dropdown-menu {
            position: absolute;
            .Dropdown-option {
              color: black;
              font-weight: 400;
            }
          }
          .Dropdown-control {
            .Dropdown-placeholder{
              font-size: 14px;
              color: #333;
              font-style: normal;
              letter-spacing: normal;
              font-family: $font-Lato;
            }
          }
        }
      }
    }
    @include b5_10px_montserrat_charcoal();
    // text-transform: capitalize;
    &.country-code {
      display: flex;
      position: relative;
      margin: 35px 0 20px 0;
      flex-wrap: wrap;
      // .contact-msg {
      //   font-style: italic;
      //   font-size: 12px;
      //   margin-top: 5px;
      //   letter-spacing: 0.5px;
      // }
      select {
        cursor: pointer;
      }
      >div {
        width: 30%;
        position: relative;
        +div {
          width: 65%;
          position: relative;
        }
      }
      ul.react-autosuggest__suggestions-list {
        border: 1px solid #ccc;
        position: absolute;
        z-index: 8;
        max-height: 200px;
        overflow: scroll;
        background-color: white;
        width: 100%;
        li {
          border-bottom: 1px solid #ccc;
          padding: 10px 0;
          margin: 0;
          cursor: pointer;
          text-align: left;
        }
      }
    }
    &.default-address-checkbox-common {
      padding: 20px 0;
    }
    &.country-code-gc {
      top: 25px;
    }
  }
  input[type="radio"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid $light-charcoal;

  }
  input[type="radio"]:not(:checked) + label,
  input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    padding-left: 30px;
  }
}

.categorylabel {
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid $aqua;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .1s;
  }
  input[type="checkbox"]{
    &:not(:checked) + label:before{
      background-color: $white;
    }
    &:not(:checked) + label:after{
      border: solid $white;
      border-width: 0 2px 2px 0;
    }
    &:checked + label:before{
      border-color: $aqua;
      background-color: $aqua;
    }
    &:checked + label:after{
      border: solid $white;
      border-width: 0 2px 2px 0;
    }
  }
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked, [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  display: inline-block;
}

input[type="radio"]:not(:checked) + label:after, [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: rotate(45deg);
}

input[type="radio"]:checked + label:after, [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: rotate(45deg);
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  // font-weight: normal;
  font-size: 12px;
  font-family: $font-Montserrat;
}

@media screen and (max-width: 768px) {
  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
    font-size: 16px;
    @include placeholder {
      font-size: 16px;
    }
  }
  input[type="date"] {
    min-height: 47px; // for input type date in iOS
  }
}