@import "functions";
@import "variables";

@mixin hdr-cat {
  font-size: 14px;
  text-transform: uppercase;
  color: #464646;
  font-family: $font-Header;
  letter-spacing: 2px;
}

@mixin menu-heading {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-family: $font-Lato;
}

@mixin menu-copy {
  font-size: 12px;
  text-transform: capitalize;
  font-family: $font-Lato;
  letter-spacing: 0.09em;
  color: #000;
}

@mixin hdr-curr {
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  font-family: $font-Lato;
  letter-spacing: 0.1em;
  color: tint(#000, 20%);
}

@mixin hdr-dd-copy {
  font-weight: bold;
  font-style: normal;
  font-size: 9px;
  text-transform: uppercase;
  font-family: $font-Lato;
  letter-spacing: 1px;
  color: tint(#000, 20%);
}

@mixin ftr-heading-white {
  //font-weight: bold;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-Lato;
  letter-spacing: 1px;
  color: #000;
}

@mixin ftr-heading-80blk {
  @include ftr-copy-white-desktop;
  color: tint(#000, 20%);
  font-size: 14px;
  line-height: 44px;
}

@mixin ftr-copy-white {
  font-size: 10px;
  font-family: $font-Lato;
  letter-spacing: 1px;
  color: $white;
}

@mixin ftr-copy-white-desktop {
  @include hdr-curr;
  color: #000;
}

@mixin ftr-copy-70blk {
  @include ftr-copy-white-desktop;
  text-transform: capitalize;
  color: tint(#000, 30%);
}

@mixin txt-field-default {
  font-style: italic;
  font-size: 15px;
  color: $formLabel;
}

@mixin menu-cat-mobile {
  @include hdr-cat;
  color: #000;
}

@mixin menu-cat-green {
  @include menu-cat-mobile;
  color: #b7dbd2;
}

@mixin menu-subcopy {
  font-family: $font-Montserrat;
  font-size: 12px;
  color: $charcoal19;
  font-weight: 300;
  letter-spacing: 1px;
}

@mixin menu-subcopy-cerise {
  @include menu-subcopy;
  color: $cerise;
}

@mixin txt-field-default {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

/**********************************************  PLP   ******************************************************/

@mixin plp_subhdr_dd {
  font-size: 12px;
  font-weight: bold;
  font-family: $font-Lato;
  letter-spacing: 1px;
  color: $cerise;
  text-transform: uppercase;
}

@mixin plp_bottom_filters{
  font-family: $font-Montserrat;
  font-size: 12px;
  color: $charcoal19;
  text-transform: uppercase;
}

@mixin plp_coll_name_mob {
    font-size: 10px;
    font-family: $font-Serif;
    letter-spacing: 1px;
    color: tint(#000, 50%);
    text-transform: uppercase;
}
  
@mixin plp_prod_name_mob {
    font-size: 12px;
    font-family: $font-Serif;
}

@mixin plp_subhdr_dd_copy {
  font-size: 12px;
  font-family: $font-Lato;
  letter-spacing: 1px;
  color: tint(#000, 20%);
}

@mixin plp_subhdr_open_mob {
  font-size: 14px;
  font-family: $font-Montserrat;
  color: $charcoal19;
}

@mixin plp_coll_name_desktop {
    font-size: 12px;
    letter-spacing: 1px;
    color: tint(#000, 50%);
    font-family: $font-Serif;
}
  
@mixin plp_prod_name_desktop {
    font-size: 14px;
    font-family: $font-Lora;
}

@mixin plp_prod_quantity {
  font-size: 10px;
  color: $charcoal19;
  font-family: $font-Lato;
  letter-spacing: 1px;
}

@mixin plp_breadcrumbs {
  color: #19191955;
  letter-spacing: 1px;
  font-family: $font-Lato;
}

@mixin plp_cat_cerise {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $cerise;
  font-family: $font-Lato;
}

@mixin plp_filter_cat {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

@mixin plp_filter_copy {
  font-family: $font-Lato;
  font-size: 12px;
  color: tint(#000, 40%);
}

@mixin plp_filter_sub {
  font-family: $font-Montserrat;
  font-size: 12px;
  color: $light-charcoal;
  font-weight: 300;
  letter-spacing: 0px;
}

@mixin plp_clear_filter {
  font-family: $font-Montserrat;
  font-size: 10px;
  color: $charcoal19;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@mixin plp_filter_copy_cerise {
  color: $cerise;
}

@mixin plp_filter_copy_underline {
  font-family: $font-Lato;
  font-size: 12px;
  color: tint(#000, 30%);
}

@mixin plp_color_filter{
  font-family: $font-Montserrat;
  font-size: 12px;
  color: $med-charcoal;
  font-weight: normal;
}

/**********************************************  PDP   ******************************************************/

@mixin pdp_collection_header {
  font-size: 12px;
  text-transform: uppercase;
  color: tint(#000, 60%);
  letter-spacing: 2px;
  font-family: $font-Serif;
  line-height: 30px;
}

@mixin plp_filter_header {
  font-size: 10px;
  font-family: $font-Montserrat;
  color: $charcoal19;
}

// @mixin pdp_prod_title {
//   font-size: 18px;
//   color: #000;
//   font-family: $font-Lato;
//   letter-spacing: 0.5px;
// }
@mixin pdp_prod_title {
  font-size: 18px;
  color: $charcoal19;
  font-family: $font-Lora;
  letter-spacing: 0.48px;
}

// @mixin pdp_label {
//   font-family: $font-Lato;
//   font-size: 9px;
//   text-transform: uppercase;
//   color: tint(#000, 70%);
//   letter-spacing: 2px;
// }
@mixin pdp_label {
  font-family: $font-Montserrat;
  font-size: 12px;
  text-transform: uppercase;
  color: $charcoal19;
  letter-spacing: 0.36px;
}

// @mixin cta_white {
//   font-weight: bold;
//   font-size: 12px;
//   text-transform: uppercase;
//   font-family: $font-Lato;
//   letter-spacing: 1px;
// }
@mixin cta_white {
  font-family: $font-Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  // letter-spacing: 0.48px;
}

// @mixin pdp_copy_head {
//   font-size: 13px;
//   font-family: $font-Lato;
//   text-transform: uppercase;
//   color: #000;
//   letter-spacing: 1px;
// }
@mixin pdp_copy_head {
  font-size: 14px;
  font-family: $font-Montserrat;
  text-transform: uppercase;
  color: $charcoal19;
  letter-spacing: 0.36px;
}

// @mixin pdp_copy_body {
//   font-size: 15px;
//   font-family: $font-Serif;
//   color: #000;
//   text-transform: none;
//   //line-height: 20px;
//   margin-top: 15px;
// }
@mixin pdp_copy_body {
  font-size: 12px;
  font-family: $font-Montserrat;
  color: $charcoal19;
  text-transform: none;
  line-height: 20px;
  letter-spacing: 0.36px;
}
// @mixin pdp_prod_title_mobile {
//   font-size: 16px;
//   font-family: $font-Lato;
//   color: #000;
//   text-transform: capitalize;
// }
@mixin pdp_prod_title_mobile {
  font-size: 18px;
  font-family: $font-Lora;
  color: $charcoal19;
  text-transform: capitalize;
}

@mixin plp_prod_name_desktop {
  font-size: 14px;
  font-family: $font-Lora;
  color: #191919;
  text-transform: capitalize;
  line-height: 22px;
  letter-spacing: 0.28px;
}

@mixin plp_prod_price_desktop {
  font-size: 16px;
  font-family: $font-Serif;
  color: #000;
}

@mixin plp_prod_price_mob {
  font-size: 12px;
  font-family: $font-Serif;
  color: #000;
}

@mixin plp_coll_name_desktop {
  font-size: 12px;
  font-family: $font-Serif;
  color: tint(#000, 50%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin pdp_collection_header_mobile {
  font-size: 10px;
  font-family: $font-Serif;
  color: tint(#000, 50%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin curveBtnLink {
  display: inline-block;
  text-transform: uppercase;
  font-family: $font-Serif;
  letter-spacing: 1px;
}

/*******************************  Login  **************************/

@mixin c10-L-R {
  font-size: 10px;
  font-family: $font-Montserrat;
  // color: tint(#000, 40%);
  color: #191919;
  letter-spacing: 0.3px;
  line-height: 16px;
}

@mixin c22-A-I {
  font-size: 25px;
  font-family: $font-Serif;
  //font-style: italic;
}

@mixin font28 {
  font-size: 28px;
  font-family: $font-Serif;
  text-transform: capitalize;
}

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin error-msg {
  font-size: 13px;
  font-style: italic;
  color: $cerise;
  font-weight: 400;
  font-family: $font-Lora;
  letter-spacing: 0.3px;
  // text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
  &.cc-error-msg {
    line-height: 15px;
    margin-top: 5px;
  }
}
// @mixin error-msg {
//   font-size: 12px;
//   //font-style: italic;
//   color: $charcoal19;
//   //font-weight: bold;
//   font-family: $font-Montserrat;
//   letter-spacing: 0.36px;
//   // text-transform: lowercase;
//   &::first-letter {
//     text-transform: uppercase;
//   }
//   &.cc-error-msg {
//     line-height: 15px;
//     margin-top: 5px;
//   }
// }

@mixin cerise-btn {
  background-color: $cerise;
  color: #fff;
  letter-spacing: 2px;
  font-family: $font-Lato;
  text-transform: uppercase;
  line-height: 52px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  a {
    color: #fff;
    display: inline-block;
    width: 100%;
  }
}
@mixin cerise-btn-trans {
  color: $cerise;
  letter-spacing: 2px;
  font-family: $font-Lato;
  text-transform: uppercase;
  line-height: 50px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border: 1px solid $cerise;
  border-radius: 0;
  a {
    color: $cerise;
    display: inline-block;
    width: 100%;
  }
}

@mixin pdp_breadcrumbs {
  font-size: 10px;
  font-family: $font-Montserrat;
  color: tint(#191919, 50%);
}

@mixin more-details {
  font-family: $font-Lora;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: tint(#000, 20%);
}

@mixin sticky-top {
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: $white;
  left: 0;
  top: $header-height;
}

@mixin minimumWidth {
  margin-left: auto;
  margin-right: auto;
  max-width: $bp-xlarge;
}

@mixin cta-curly {
  background: url("../../images/category/ctaCeriz.svg")
    no-repeat;
  font-weight: bold;
  width: 208px;
  height: 61px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  a {
    color: $cerise;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-transform: uppercase;
    width: 100%;
    line-height: 61px;
    letter-spacing: 1px;
  }
  &:hover {
    background: url("../../images/category/ctaFillCeriz.svg")
      no-repeat;
    a {
      color: $white;
    }
  }
}

@mixin cta-shop-the-look {
  color: $cerise;
  font-family: $font-Lato;
  font-size: 10px;
  text-transform: uppercase;
}

@mixin shop-the-look {
  background-color: #fff;
  position: absolute;
  width: 100%;
}

@mixin small {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: $font-Serif;
  text-transform: capitalize;
  color: tint(#000, 30%);
}

@mixin success-msg {
  font-family: $font-Lato;
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
  color: tint(#000, 30%);
  background-color: rgb(170, 216, 199);
  line-height: 20px;
  min-height: 42px;
  padding: 10px;
  width: 100%;
  display: inline-block;
  letter-spacing: 1px;
}

@mixin bottom-shadow {
  -webkit-box-shadow: 0 10px 5px -6px tint(#000, 90%);
  box-shadow: 0 10px 5px -6px tint(#000, 90%);
}

@mixin box-shadow($horizontal-offset: 0px, $vertical-offset: 0px, $blur: 0px, $spread: 0px, $color: white) {
  -webkit-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  -moz-box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
  box-shadow: $horizontal-offset $vertical-offset $blur $spread $color;
}

@mixin transition($what, $time, $how) {
  -webkit-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin arrows($top, $right, $bottom, $left) {
  padding: 10px;
  border-width: $top $right $bottom $left;
}
@mixin transform($transforms) {
  transform: $transforms;
  -webkit-transform: $transforms;
}
@mixin abc($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin arrowbottom {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}

@mixin arrowright {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid $cerise;
}
@mixin arrowrightsmall {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid $cerise;
}

@mixin truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
    box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.3);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.5);
    box-shadow: inset 0 0 6px rgba(128, 128, 128, 0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
  }
}
@mixin scrollbar-default {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0);
  }
}

$list: $grey 92%, $white 8%;

@mixin gradient($direction, $list) {
  @include prefix((background: linear-gradient($direction, $list)), webkit moz ms a);
}

@mixin prefix($map, $vendors: webkit moz ms o) {
  @each $prop, $value in $map {
    @if $vendors {
      @each $vendor in $vendors {
        #{"-" + $vendor + "-" + $prop}: #{$value};
      }
    }
    #{$prop}: #{$value};
  }
}

@mixin position($value) {
  @include prefix((position: $value), webkit);
}

@mixin pdp_spec {
  font-family: $font-Lato;
  font-size: 9px;
  text-transform: uppercase;
  color: tint(#000, 70%);
  letter-spacing: 2px;
}

@mixin pdp_prod_name {
  font-size: 22px;
  color: #000;
  font-family: "AmiriFont", "Baskerville", "Garamond";
}

@mixin pdp_coll_name {
  font-size: 12px;
  text-transform: uppercase;
  color: tint(#000, 60%);
  letter-spacing: 2px;
  font-family: "AmiriFont", "Baskerville", "Garamond";
  line-height: 30px;
}

/*******************************  UI Kit Fonts  **************************/
@mixin h1_30px_lora_charcoal{
  font-family: $font-Lora;
  font-size: 30px;
  color: $charcoal19;
  font-style: italic;
}

@mixin h1_30px_lora_medium_charcoal{
  font-family: $font-Lora;
  font-size: 30px;
  color: $charcoal19;
  font-style: italic;
  font-weight: $medium;
}

@mixin h2_24px_lora_charcoal{
  font-family: $font-Lora;
  font-size: 24px;
  color: $charcoal19;
}

@mixin h2_24px_lora_white{
  font-family: $font-Lora;
  font-size: 24px;
  color: $white;
}

@mixin h3_20px_lora_charcoal{
  font-family: $font-Lora;
  font-size: 20px;
  color: $charcoal19;
}
@mixin h3_20px_lora_medCharcoal{
  font-family: $font-Lora;
  font-size: 20px;
  color: $med-charcoal;
}

@mixin h3_20px_lora_white{
  font-family: $font-Lora;
  font-size: 20px;
  color: $white;
}

@mixin h3_20px_lora_gold{
  font-family: $font-Lora;
  font-size: 20px;
  color: $gold;
}

@mixin h4_20px_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 20px;
  color: $charcoal19;
  font-weight: $regular;
}

@mixin h4_20px_montserrat_gold{
  font-family: $font-Montserrat;
  font-size: 20px;
  color: $gold;
  font-weight: $regular;
}

@mixin h6_16px_lora_charcoal{
  font-family: $font-Lora;
  font-size: 16px;
  color: $charcoal19;
}

@mixin h6_16px_lora_white{
  font-family: $font-Lora;
  font-size: 16px;
  color: $white;
}

@mixin b1_16px_charcoal{
  font-family: $font-Lora;
  font-size: 16px;
  font-style: normal;
  color: $charcoal19;
}

@mixin b1_16px_aqua{
  font-family: $font-Montserrat;
  font-size: 16px;
  font-weight: $regular;
  color: $aqua-bold;
}

@mixin b1_16px_charcoal_montserrat{
  font-family: $font-Montserrat;
  font-size: 16px;
  font-style: normal;
  color: $charcoal19;
  font-weight: $regular;
}

@mixin b2_14px_charcoal_lora{
  font-family: $font-Lora;
  font-size: 14px;
  font-style: normal;
  color: $charcoal19;
}

@mixin b3_14px_montserrat_light_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $light;
  color: $charcoal19;
}

@mixin b3_14px_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  color: $charcoal19;
}

@mixin b3_14px_montserrat_medcharcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  color: $med-charcoal;
}
@mixin b3_14px_montserrat_medium_medcharcoal_caps{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $medium;
  color: $med-charcoal;
  text-transform: uppercase;
}
@mixin b3_14px_montserrat_white{
  font-family: $font-Montserrat;
  font-size: 14px !important;
  font-weight: $regular;
  color: $white;
}

@mixin b3_14px_montserrat_semibold_white{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $semibold;
  color: $white;
}

@mixin b3_14px_montserrat_semibold_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $semibold;
  color: $charcoal19;
}

@mixin b3_14px_montserrat_gold{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  color: $gold;
}

@mixin b3_14px_montserrat_aqua{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  color: $aqua-text;
}

@mixin b3_14px_montserrat_medium_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $medium;
  color: $charcoal19;
}

@mixin b3_14px_montserrat_bold_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $bold;
  color: $charcoal19;
}

@mixin b3_14px_montserrat_caps_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  text-transform: uppercase;
  color: $charcoal19;
}

@mixin b3_14px_caps_white{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  text-transform: uppercase;
  color: $white;
}

@mixin b3_14px_caps_gold{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  text-transform: uppercase;
  color: $gold
}

@mixin b3_14px_caps_aqua{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $regular;
  text-transform: uppercase;
  color: #3C7979;
}

@mixin b4_12px_montserrat_light_charcoal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $light;
  color: $charcoal19;
}

@mixin b4_12px_montserrat_light_white{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $light;
  color: $white;
}

@mixin b4_12px_montserrat_light_gold{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $light;
  color: $gold;
}

@mixin b4_12px_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 12px !important;
  font-weight: $regular;
  color: $charcoal19;
}

@mixin b4_12px_montserrat_charcoal_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $charcoal19;
  text-transform: uppercase;
}

@mixin b4_12px_montserrat_medcharcoal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $med-charcoal;
}

@mixin b4_12px_montserrat_white{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $white;
}

@mixin b4_12px_montserrat_gold{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $gold;
}

@mixin b4_12px_montserrat_aqua{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $aqua-text;
}
@mixin b4_12px_montserrat_med_aqua{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $aqua-text;
}

@mixin b4_12px_montserrat_semibold_charcoal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $semibold;
  color: $charcoal19;
}
@mixin b4_14px_montserrat_semibold_charcoal{
  font-family: $font-Montserrat;
  font-size: 14px;
  font-weight: $semibold;
  color: $charcoal19;
}
@mixin b4_12px_montserrat_gold_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $gold;
  text-transform: uppercase;
}

@mixin b4_12px_montserrat_aqua_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $aqua-text;
  text-transform: uppercase;
}

@mixin b4_12px_montserrat_cerise_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $cerise;
  text-transform: uppercase;
}

@mixin b4_12px_medium_charcoal_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $charcoal19 !important;
  text-transform: uppercase;
}

@mixin b4_12px_medium_medcharcoal_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $med-charcoal;
  text-transform: uppercase;
}

@mixin b4_12px_medium_white{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $white;
}

@mixin b4_12px_medium_white_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $white;
  text-transform: uppercase;
}

@mixin b4_12px_medium_light_charcoal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $light-charcoal;
}

@mixin b4_12px_medium_light_charcoal_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $light-charcoal;
  text-transform: uppercase;
}

@mixin b4_12px_medium_gold{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $gold;
}

@mixin b4_12px_medium_gold_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $gold;
  text-transform: uppercase;
}

@mixin b4_12px_medium_cerise{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $cerise;
}

@mixin b4_12px_medium_cerise_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $cerise;
  text-transform: uppercase;
}

@mixin b4_12px_medium_aqua{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $aqua-text;
}

@mixin b4_12px_medium_aqua_caps{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $aqua-text;
  text-transform: uppercase;
}


@mixin b4_12px_semibold_caps_charocal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $semibold;
  color: $charcoal19;
  text-transform: uppercase;
}

@mixin b4_12px_montserrat_medium_charcoal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $medium;
  color: $charcoal19;
  text-transform: uppercase;
}
@mixin b4_12px_lato{
  font-family: $font-Lato;
  font-size: 12px;
  font-weight: $medium;
  color:$dark-gray;
}

@mixin b4_12px_montserrat_regular_charcoal{
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  color: $charcoal19;
}

@mixin b5_10px_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $regular;
  color: $charcoal19;
}

@mixin b5_10px_montserrat_white{
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $regular;
  color: $white;
}

@mixin b5_10px_montserrat_aqua{
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $regular;
  color: $aqua-text;
}

@mixin b5_10px_montserrat_charcoal_caps{
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $regular;
  color: $charcoal19;
  text-transform: uppercase;
}

@mixin b5_10px_montserrat_light_charcoal{
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $regular;
  color: $charcoal19;
}

@mixin b5_10px_semibold_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 10px;
  font-weight: $semibold;
  color: $charcoal19;
}

@mixin b6_9px_light_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 9px;
  font-weight: $light;
  color: $charcoal19;
}

@mixin b6_9px_montserrat_charcoal{
  font-family: $font-Montserrat;
  font-size: 9px;
  font-weight: $regular;
  color: $charcoal19;
}

@mixin error_msg_charcoal{
  font-family: $font-Lora;
  font-size: 13px;
  font-style: italic;
  color: $charcoal19;
}

@mixin error_msg_cerise{
  font-family: $font-Lora;
  font-size: 13px;
  font-style: italic;
  color: $cerise;
}

@mixin sucess_msg_cerise{
  font-family: $font-Lora;
  font-size: 13px;
  font-style: italic;
  color: $gold;
}

// =================================

@mixin err_13px_lora_italic_cerise{
  font-family: $font-Lora !important;
  font-size: 13px !important;
  color: $cerise !important;
  font-style: italic !important;
  letter-spacing: 0px;
}

@mixin err_14px_lora_italic_gold{
  font-family: $font-Lora !important;
  font-size: 14px !important;
  color: $gold !important;
  font-style: italic !important;
  letter-spacing: 0px !important;
  font-weight: normal;
}

@mixin search_text{
  font-family: $font-Montserrat;
  font-weight: normal;
  font-size: 12px;
  color: #9E2E56;
  letter-spacing: 0.30px;
}

@mixin header_currency{
  font-family: $font-Montserrat;
  font-weight: normal;
  font-size: 12px;
  color: $med-charcoal;
  letter-spacing: 0.30px; 
}

@mixin carret{
  height: 12px;
  width: 12px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transition: transform 0.2s ease-in;
  &.open {
    transform: rotate(45deg);
  }
  &.close {
    transform: rotate(-135deg);
  }
}

@mixin view_all_results {
  font-family: $font-Montserrat;
  font-size: 9px;
  color: $gold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@mixin search_placeholder() {
  font-family: $font-Lora;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-style: italic;
}

//=====================Buttons=========================//

@mixin disabled_cta{
  background-color: $light-charcoal !important;
  border: 1px solid $light-charcoal;
  cursor: not-allowed;
  pointer-events: none;
  @include b3_14px_caps_white();
}

@mixin large_cta{
  width: 100%;
  max-width: 414px;
  height: 58px;
}

@mixin medium_cta_300{
  width: 100%;
  max-width: 300px;
  height: 58px;
}

@mixin medium_cta_366{
  width: 100%;
  max-width: 366px;
  height: 58px;
}

@mixin small_cta{
  width: 100%;
  max-width: 207px;
  height: 50px;
}

@mixin extra_small_cta{
  width: 100%;
  max-width: 156px;
  height: 50px;
}

@mixin large_aqua_cta{
  @include large_cta();
  background-color: $aqua;
  border: 1px solid $aqua;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin large_gold_cta{
  @include large_cta();
  background-color: $gold;
  border: 1px solid $gold;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin large_med_charcoal_cta{
  @include large_cta();
  background-color: $med-charcoal;
  border: 1px solid $med-charcoal;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin large_light_grey_cta{
  @include large_cta();
  background-color: $light-grey;
  border: 1px solid $light-grey;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin medium_aqua_cta{
  @include medium_cta_300();
  background-color: $aqua;
  border: 1px solid $aqua;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin medium_aqua_cta_366{
  @include medium_cta_366();
  background-color: $aqua;
  border: 1px solid $aqua;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin medium_med_charcoal_cta_366{
  @include medium_cta_366();
  background-color: $med-charcoal !important;
  border: 1px solid $med-charcoal;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin outline_medium_med_charcoal_cta_366{
  @include medium_cta_366();
  background-color: transparent;
  border: 1px solid $med-charcoal;
  text-transform: uppercase;
  @include b3_14px_montserrat_caps_charcoal();
}

@mixin medium_light_grey_cta{
  @include medium_cta_300();
  background-color: $light-grey;
  border: 1px solid $light-grey;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin small_aqua_cta{
  @include small_cta();
  background-color: $aqua;
  border: 1px solid $aqua;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin small_med_charcoal_cta{
  @include small_cta();
  background-color: $med-charcoal;
  border: 1px solid $med-charcoal;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin small_gold_cta{
  @include small_cta();
  background-color: $light-grey;
  border: 1px solid $light-grey;
  text-transform: uppercase;
  @include b3_14px_caps_white();
}

@mixin outline_small_med_charcoal_cta{
  @include small_cta();
  background-color: transparent;
  border: 1px solid $med-charcoal;
  text-transform: uppercase;
  @include b3_14px_montserrat_caps_charcoal();
}

@mixin outline_extra_small_aqua_cta{
  @include extra_small_cta();
  background-color: transparent;
  border: 1px solid $aqua;
  text-transform: uppercase;
  @include b3_14px_caps_aqua();
}

@mixin gold_13px_lora_italic{
  font-family: $font-Lora;
  font-style: italic;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.26px;
  color: $gold;
}

@mixin fixed-height($val) {
  height: $val !important;
}



