@import "./functions";

$font-Header: "HeaderFont", "Trebuchet MS", "geneva";
$font-Lato: "LatoFont", "Helvetica", "Arial";
$font-Serif: "Baskerville", "Garamond", "Times";
$font-Edwar: "Edwardian";
$font-MrsEaves: "MrsEaves";
$border: 1px solid tint(#000, 80%);
$bp-xlarge: 120em; //breakpoint 1920px
$font-Montserrat: "Montserrat", "sans-serif";
$font-Lora: "Lora", serif;

// Colors
$light-bg: tint(#000, 95%);
$white: #fff;
$default: #000;
$lgtDefault: #333333;
$summerGreen: #8cb8aa;
$grey: #f9f8f5;
$disabled-input: #f2f2f2;
$formLabel: #666;
$light-grey: #A6A6A6;
$very-light-grey: #EFEFEF;
$aquablue: #8AB1B0;

// Dropdown menu
$dropdown-label-height: 32px;

// Heights
$header-height: 40px;
$main-header: 130px;
$secondary-header-height: 50px;
$main-header-height: 50px;
$secondary-header-careers-height: 50px;
$header-top:0px;
$footer-top:0px;
$header-checkout: 50px;
$grid-view-bar: 50px;
$timer-height: 40px;

// ================= UI Kit Colors ============================ //
$aqua-text: #548B8B;
// Primary Palette
$cerise: #ab1e56;
$gold: #9C7D50;
$charcoal19: #191919;
$light-beige: #F9F8F5;
$med-charcoal: #4C4C4C;
$light-charcoal: #9F9F9F;
$lightest-charcoal: #D8D8D8;

// Secondary Palette
$aqua: #7EAAA9;
$aqua-bold: #548B8B;
$aqua-light: #D0E0E0;
$cerise-light: #C6507F;
$gold-light: #B59C77;

// ================= Font Weights ============================ //
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;