@import "./functions";

$font-Header: "HeaderFont", "Trebuchet MS", "geneva";
$font-Lato: "LatoFont", "Helvetica", "Arial";
$font-Serif: "Baskerville", "Garamond", "Times";
$font-Edwar: "Edwardian";
$font-MrsEaves: "MrsEaves";
$border: 1px solid tint(#000, 80%);
$bp-xlarge: 120em; //breakpoint 1920px
$font-Montserrat: "Montserrat";
$font-Lora: "Lora";

// Colors
$light-bg: tint(#000, 95%);
$cerise: #ab1e56;
$white: #fff;
$default: #000;
$lgtDefault: #333333;
$summerGreen: #8cb8aa;
$grey: #f9f8f5;
$disabled-input: #f2f2f2;
$formLabel: #666;
$light-grey: #A6A6A6;
$very-light-grey: #EFEFEF;
$gold: #9C7D50;
$aquablue: #8AB1B0;
$charcoal19: #191919;

// Dropdown menu
$dropdown-label-height: 32px;

// Heights
$header-height: 80px;
$main-header: 130px;
$secondary-header-height: 50px;
$main-header-height: 50px;
$secondary-header-careers-height: 50px;
$header-top:0px;
$footer-top:0px;
$header-checkout: 50px;
$grid-view-bar: 50px;
$timer-height: 40px;