@import "./functions";

$font-Header: "HeaderFont", "Trebuchet MS", "geneva";
$font-Lato: "LatoFont", "Helvetica", "Arial";
$font-Serif: "Baskerville", "Garamond", "Times";

$border: 1px solid tint(#000, 80%);
$bp-xlarge: 120em; //breakpoint 1920px

// Colors
$light-bg: tint(#000, 95%);
$cerise: #ab1e56;
$white: #fff;
$default: #000;
$lgtDefault: #333;
$summerGreen: #8cb8aa;
$grey: #f9f8f5;
$disabled-input: #f2f2f2;

// Dropdown menu
$dropdown-label-height: 32px;

// Heights
$header-height: 80px;
$main-header: 130px;
$secondary-header-height: 50px;
$main-header-height: 50px;
$secondary-header-careers-height: 50px;
$header-top:0px;
$footer-top:0px;
$header-checkout: 50px;
$grid-view-bar: 50px;