
@import "../../styles/partials/variables";

.Dropdown-root{
    min-width: 161px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #ccc;
    span{
        right: 5px;
        font-weight: 100;
        color: rgba(51,51,51,.8);
    }
    ul{
        min-width: 161px;
        margin-bottom: 0px;
        border: 1px solid #ccc;
        li{
            background-color: #fff;
            box-sizing: border-box;
            color: rgba(51,51,51,.8);
            cursor: pointer;
            display: block;
            padding: 0px 13px;
            text-align: left;
        }      
    }
    li:hover{
        background-color: #f2f2f2;
        color: rgba(51,51,51,.8);
    }
}

.filter-text{
    line-height: 33px;
    font-size: 14px;
    font-family: $font-Lato;
    letter-spacing: 1px;
    color: #ab1e56;
    text-transform: uppercase;
}

.inner-header {
    display: -webkit-inline-box;
    margin-left: 8%;
    margin-top: 7px;
}

.collection-block {
    margin-bottom: 35px;
    margin-top: 35px;
}

.subc-header{
    background-color: #e6e6e6;
    padding: 15px 0;
    margin: 130px 0 0 0;
    h1{
        font-size: 28px;
        font-family: $font-Serif;
        text-transform: capitalize;
    }
    p {
        font-size: 12px;
        font-family: $font-Lato;
        color: #666;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 992px)  {

    .collection-block {
        margin-bottom: 35px;
        margin-top: 120px;
    }
}