@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.item-list{
    margin: 160px 10.5%;
    margin-top: 75px;

    @media screen and (max-width:992px) {
        margin: 0px 0px 123px 0px;
    }
}