@import "../../../../styles/partials/variables";
.dock-text{
    font-family: $font-Montserrat;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.42px;
    color: #191919;
}
.dock-cta{
    font-family: $font-Montserrat;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.36px;
    color: #191919;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    cursor: pointer;
}
.dock-cta a{
    color: #191919;
}
@media(max-width:991px){
    .dock-text{
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.36px;
    }
}
@media(max-width:425px){
    .dock-text{
        width: 50%;
        float: left;
        padding-left: 8px;
    }
}