@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/mixins";

.collection-header {
    @include pdp_collection_header();
    a {
        color: inherit;
    }
}

.side-container{
    // margin-top: 30px;
    margin-left:8.33333%
}

.title {
    max-width: 320px;
    @media (max-width: 1281px) {
        max-width: 260px;
    }
    @include pdp_prod_title();

    p {
        // font-style: italic;
        font-family: $font-Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
    }
}

.price-container {
    @include pdp_prod_title();
    font-family: $font-Montserrat;
    font-size: 16px;
    // font-weight: bold;
    line-height: 25px;
    // text-align: right !important;
    padding: 0px;
    letter-spacing: 0px;
    font-weight:400;
    margin-top: 20px;
}

.discounted-price {
    color: $gold;
    font-family: $font-Montserrat;
    font-size: 16px;
}

.filler-discounted-price {
    color: $gold;
    font-family: $font-Montserrat;
    font-size: 14px;
}
.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #9f9f9f !important;
    font-family: $font-Montserrat;
    padding-left: 8px;
}

.filler-old-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #191919 !important;
    font-family: $font-Montserrat;
    padding-left: 8px;
    font-weight: 400;
}
.mrp-sale{
font-size: 12px;
}
.mrp{
    font-size: 10px !important;
    padding-right: 3px;
}

.normal-price{
    font-size: 16px;
}

.filler-normal-price{
    font-size: 14px;;
}
.inc-tax{
    font-family: $font-Montserrat;
    font-weight: $regular;
    font-size: 9px;
    line-height: 15px;
    color: #191919;
    text-transform: initial;
}


.filler-inc-tax{
    font-family: $font-Montserrat;
    font-weight: $regular;
    font-size: 8px;
    line-height: 10px;
    color: $charcoal19;
    text-transform: initial;
}

.label {
    @include pdp_label();

    .size-guide {
        @include b5_10px_montserrat_charcoal();
        line-height: 50px;
        text-decoration: underline;
        text-transform: none;
        // letter-spacing: 1px;
        cursor: pointer;
        text-underline-offset: 2px;
        white-space: nowrap;
        &:hover {
            color: #3c7979;
        }
    }

    &.colour {
        line-height: 85px;
    }
    &.size {
        line-height: 40px;
        height: 40px;
    }
    &.fillersize {
        line-height: 40px;
        height: 40px;
        font-size: 10px;
        text-transform: none;
        @media(max-width:1023px) {
            line-height: 30px;
            height: 40px;
            font-size: 10px;
            text-transform: none;
        }
    }
    &.quantity {
        line-height: 40px;
        height: 40px
    }
}

.size-container {
    position: relative;
}

.size-error-message {
    @include gold_13px_lora_italic();
}

.bridal-ring {
    // background-color: #b3b3b3;
    // border-radius: 50%;
    // color: #fff;
    cursor: pointer;
    // line-height: 50px;
    // width: 50px;
    // height: 50px;

    // &::before {
    //     font-size: 38px;
    //     line-height: 50px;
    // }
    // &.active {
    //     background-color: $cerise;
    //     border: 1px solid $cerise;
    // }
}

.bridal-section {
    display: flex;
    align-items: center;
    margin: 25px 0 15px;
    .label {
        color: #9C7D50;
        font-family: $font-Montserrat;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.36px;
        padding-left: 6px;
        cursor: pointer;
    }
    .padding-t3{
        padding-top:3px;
    }
}


.spacer {
    margin-top: 20px;
    position: relative;
}
.spacer-quickview {
    margin-top: 10px;
}

.error-msg {
    @include error-msg();
    font-family: $font-Lora;
    font-size: 14px;
    font-style: normal;   
    font-weight: normal;
}

.filler-container {
    display: flex;
    align-items: center;
    color: $charcoal19;
    a {
        text-decoration: underline;
        color: $charcoal19;
        text-underline-offset: 2px;
    }
}
.outer-filler-container{
    border-bottom: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
    margin: 30px 0px;
    padding: 30px 0px;
}

// .filler-addToBag{
//     background-color:#7EAAA9; ;
//     color:white ;
//     &:hover{
//         background-color: white;
//         border: 1px solid #3C7979;
//         color: #3C7979;

//     }
   
// }


.filler-image {
    height: 177px;
    width: 118px;
}
.filler-title{
    font-size: 14px;
    font-weight: 400;
    font-family:$font-Lora;
    a{
        text-decoration: none;
    }
}

.filler-price{
    font-size: 12px;
    font-weight: 500;
    margin-top: 6px;
    font-family: $font-Montserrat;
}
.filler-heading{
    margin-bottom: 24px;
    font-size: 14px;
    font-family: $font-Montserrat;
}

.filler-detail-container{
    margin-inline: 10px;
}

.filler-size-container{
    border: none !important;
    height: auto;
    color: #191919 !important;
    font-size: 10px !important;

}

.filler-link{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-Montserrat;
}


.image-container{
    position: relative;
    margin-top: -15px;
}

.image-container-icon{
    position:absolute;
    top: 0px;
    right:0px;
    cursor: pointer;

    @media screen and (max-width: 992px) {
        position:absolute;
        top: 0px;
        right:6px;
        cursor: pointer;            
    }
    
}


.cushion-error
{
    font-family: $font-Montserrat;
    font-size: 12px;
    letter-spacing: 0.36px;
    font-style: normal;
    
}
.accordion-header {
    @include pdp_copy_head();
    //   font-weight: bold;
   // margin-top: 20px;
}

.header-closed-class-name
    {
        border-bottom: lightgrey solid 1px;
        padding: 15px 0px;
        display: flex;
        justify-content: space-between;

    }
.header-open-class-name
{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.accordion-body {
    @include pdp_copy_body();
    font-weight:normal;
    a {
        color: #987E56;
    }
    padding-bottom: 15px;
}

.sku {
    @include pdp_breadcrumbs();
    text-transform: uppercase;
    font-family: $font-Montserrat;
    font-size: 10px;
    color: #9f9f9f;
}

@media screen and (max-width: 992px) {
    .collection-header {
        // margin-top: 20px;
        @include pdp_collection_header_mobile();
    }

    .title, .price-container {
        @include pdp_prod_title_mobile();
        // padding-bottom: 10px;
    }
    .title{
        font-size: 16px;
    }
    .price-container{
        @include pdp_prod_title_mobile();
        font-family: $font-Montserrat;
        font-size: 16px;
        font-weight: 400;
    }

    .spacer {
        margin-top: 10px;
    }

    .label {

        &.size {
           // margin-top: 15px;
            line-height: 31px;
        }

        &.quantity {
            line-height: 25px;
        }

        &.colour {
            line-height: 25px;
        }
    }

    .action-buttons-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        // flex-direction: row-reverse;
        margin: 0;
    }

    .wishlist-btn-container, .add-to-bag-btn-container {
        background: #f2f2f2;
        padding: 0;

        .mobile-wishlist-icon {
            font-size: 22px;
            color: $gold;
            line-height: 50px;
        }
    }

    .side-container
    {
        margin-left: 20px;
    }

    .padding
    {
    padding: 2px 0px 0px 0px;
    }

}

.more-details {
    font-family: $font-Lato;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #333;
    line-height: 80px;
    &:hover {
        text-decoration: underline;
    }
}
.lh-45 {
    line-height: 45px;
}
.widget-qty {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-top: 10px;
    // min-width: 120px;
    // display: inline-flex;
    // background-color: #f1f1f1;
    // border-radius: 10px;
    // padding: 2px 0;
    // font-size: 12px;
    // line-height: 12px;
}

.margin-t-0 {
  margin-top: 0;
}


.badge-img {
    // margin-top: 40px
}
.not-eligible {
    text-align: left;
    margin-top: 5px;
}
.cushion-filler {
    width: 28px;
    height: 28px;
    padding-right: 10px;
    vertical-align: middle;
}

.shop-availability{
    line-height: 50px;
    font-size: 12px;
    color: #000;
    text-decoration: underline;
    text-transform: none;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: $font-Montserrat;
    text-underline-offset: 2px;
}
.mobile-margin{
    margin-top: 5px;
}
.compliance-container {
    align-items: flex-start;
    .compliance {
        font-family: $font-Montserrat;
        font-size: 12px;
        color: $gold;
        letter-spacing: .36px;
        p{
            font-family: $font-Montserrat;
            font-size: 12px;
            color: $gold;
            letter-spacing: .36px;
            a{
                color: $gold;
                text-decoration: underline;
                cursor: pointer;
                text-underline-offset: 2px;
            }
        }
        a{
            color: $gold;
            text-decoration: underline;
            cursor: pointer;
            text-underline-offset: 2px;
        }
    }
}
.wishlist-text
{
    padding: 8px;
}

.sales-offer{
    display: flex;
    margin-top: 15px;
    .offer-image{
        margin-right: 8px;
    }
    .offer-message{
        font-family: $font-Montserrat;
        font-size: 12px;
        a {
            color: $gold;
        }
    }
}

.wallpaper-popup-body{
    top: unset;
    left: unset;
    transform: unset;
}

.wallpaper-popup-container{
    display: flex;
    align-items: end;
    justify-content: center;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .qty-label{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .qty-component{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

.badge-padding{
    padding-bottom: 10px;
}
.view-details{
    margin-top:20px;
    a{
        font-family: $font-Montserrat;
        font-size: 12px;
        letter-spacing: 0.36px;
        color: #191919;
        text-decoration: underline;
        text-underline-offset: 5px;
        &:hover{
            color: $aqua;
        }
    }
}

.badge-margin{
    margin: 10px 0 20px 0;
}

.free-text-section{
    background: $grey;
    padding: 20px;
    margin-top: 25px;

    .head{
        display: flex;
        gap: 10px;
        @include b4_12px_montserrat_gold();
    }

    .hr{
        border-color: #0000004D !important;
    }
    
    .list{
        padding: 0px 30px;

        .item{
            margin-top: 20px;   

            .title{
                position: relative;
                text-transform: inherit !important;
                @include b4_12px_montserrat_charcoal();

                .dot{
                    height: 6px;
                    width: 6px;
                    background: $gold;
                    border-radius: 50%;
                    margin-top: 6px;
                    display: inline-block;
                    position: absolute;
                    left: -20px;
                    top: 0;
                }
            }

            .text{
                position: relative;
                padding-left: 10px;
                line-height: 1.5;
                margin-bottom: 0;

                span{
                    position: absolute;
                    top: -10px;
                    left: 0;
                    font-size: 20px;
                }
                @include b4_12px_montserrat_light_charcoal();   
            }
        }

        @media screen and (max-width:767px) {
            padding: 0 0 0 15px;
        }
      
    }
}
.share-cta{
    @include b4_12px_montserrat_charcoal_caps();
    line-height: 20px;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    display: flex;
    z-index: 1;
    cursor: pointer;
    p{
        padding-right: 3px;
    }
    img{
        width: 15px;
    }
}