@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.txt-settings {
  padding: 1em 21em 0 21em;
  h2 {
    padding-top: 40px;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    line-height: 34px;
    font-size: 25px;
    font-family: "Baskerville","Amiri","Serif";
  }
}

.clr-p {
  font-size: 12px;
  font-family: "LatoFont","Helvetica","Arial";
  color: #666;
  letter-spacing: 1px;
}

.gc-head {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.card-img-hover {
  border-color: #ab1e56;
}

.card-img {
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 10px;
}

.card-img:hover {
  border-color: #ab1e56;
  cursor: pointer;
}
.btn-gc {
  position: relative;
  .imgsetleft {
    position: absolute;
    bottom: 20%;
    left: 40%;
    .icon_button-corners-1_1 {
      &:before {
        color: #fff;
        font-size: 53px;
        opacity: 0.7;
      }
    }

  }

 .bannerBtnLink {
      letter-spacing: 1px;
      cursor: pointer;
      span {
        background-color: $cerise;
        opacity: 1;
        color: $white;
        width: 250px;
        height: 50px;
        overflow: hidden;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
        line-height: 50px;
        font-family: $font-Lato;
        white-space: nowrap;
      }
      &:before {

        //@extend .icon_buttoncorners-1_1:before;
        content: "\f103";
        color: $cerise;
        opacity: 1;
        position: absolute;
        left: -40px;
        top: -3px;
        font-size: 58px;

      }
      &:after {
        //@extend .icon_buttoncorners-1_2:before;
        content: "\f104";
        position: absolute;
        right: -40px;
        top: -3px;
        font-size: 58px;
        color: $cerise;
        opacity: 1;
      }

    }

  }

.arrow-down {
    border: solid #4d4d4d;
    padding: 10px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
}

.heading {
  text-transform: uppercase;
  color: #666;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 48px;
}