@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/form";

.txt-settings {
  padding: 1em 21em 0 21em;
  h2 {
    padding-top: 40px;
    color: #000;
    text-transform: none;
    letter-spacing: 0;
    line-height: 34px;
    font-size: 25px;
    font-family: $font-Serif;
  }
  p {
    padding: 1em 0;
    line-height: 20px;
    font-size: 14px;
  }
}
.txt-settings-mobile {
  padding: 0;
}

h2 {
  padding-top: 20px;
  color: #000;
  text-transform: none;
  letter-spacing: 0;
  line-height: 34px;
  font-size: 25px;
  font-family: $font-Serif;
}


.clr-p {
  font-size: 12px;
  font-family: $font-Lato;
  color: #666;
  letter-spacing: 1px;
}

.gift-font {
  font-size: 14px;
  color: black;
  font-family: $font-Lato;
  letter-spacing: 1px;
}

.gift-heading {
  padding-top: 20px;
  font-size: 16px;
  color: black;
  font-family: $font-Lato;
  letter-spacing: 0.5px;
}
.gc-head {
  text-transform: uppercase;
  font-size: 14px;
  font-family: $font-Lato;
  letter-spacing: 1px;
}

.card-img {
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 10px;
  width: 100%;
}

.card-img:hover {
  border-color: #ab1e56;
  cursor: pointer;
}

.card-img-hover {
  border-color: #ab1e56;
}

.btn-gc {
  position: relative;
  .imgsetleft {
    position: absolute;
    bottom: 20%;
    left: 40%;
    .icon_button-corners-1_1 {
      &:before {
        color: #fff;
        font-size: 53px;
        opacity: 0.7;
      }
    }

  }
  }
  .banner-btn-link {
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    span {
      background-color: $cerise;
      opacity: 1;
      color: $white;
      width: 250px;
      height: 52px;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      display: inline-block;
      line-height: 50px;
      font-family: $font-Lato;
      white-space: nowrap;
    }
  }
  .banner-btn-link:before {

    //@extend .icon_buttoncorners-1_1:before;
    content: "\f103";
    color: $cerise;
    opacity: 1;
    position: absolute;
    left: -46px;
    top: -4px;
    font-size: 60px;

  }
  .banner-btn-link:after {
    //@extend .icon_buttoncorners-1_2:before;
    content: "\f104";
    position: absolute;
    right: -48px;
    top: -4px;
    font-size: 60px;
    color: $cerise;
    opacity: 1;
  }

.arrow-down {
    border: solid #4d4d4d;
    padding: 10px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
}

.arrow-up{
  border: solid #4d4d4d;
  padding: 10px;
  border-width: 0 1px 1px 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  display: inline-block;
}


.back-gc {
  line-height: 50px;
  font-size: 12px;
  color: #000;
  text-transform: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $font-Lato;
  &:hover{
    text-decoration: underline;
  }
}
.gc-head {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.nobg {
  background-color: transparent;
  padding: 0;
  form {
    width: 100%;
  }
}

.select-group {
  position: relative;
  option {
    font-family: $font-Lato;
  }
}

.drop-div2 {
  margin-top: 30px;
  margin-right: -40px;
}

.heading {
  text-transform: uppercase;
  color: #666;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 48px;
}

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  input[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  input[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #ab1e56;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  input[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 100%;
    background: #fff;
}
input[type="radio"]:checked+label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #ab1e56;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="radio"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 100%;
  background: #fff;
}


.grey {
  span {
    color: #000;
    background-color: #ccc;
    margin: 10px 0;
    width: 220px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    border: 2px solid transparent;
  }
}

.price-block {
  span {
    font-size: 14px;
    font-family: $font-Lato;
    margin: 10px 25px;
    background-color: #fff;
    width: 220px;
    text-align: center;
    color: #ab1e56;
    line-height: 50px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    border: 2px solid transparent;
  }
  > p {
    font-size: 14px;
    font-family: $font-Lato;
  }
  span:hover {
    border: 2px solid #ab1e56;
    cursor: pointer;
  }
  .value-hover {
    border-color: #ab1e56;
  }
}

.curr {
  position: absolute;
  top: 33%;
  left: 10px;
  color: #ab1e56;
}
.gc {
  background: url('../../images/greyBg.jpg') repeat;
  height: 100%;
  width: 100%;
  padding-top: ($header-height + $secondary-header-height);
  padding-bottom: 50px;

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 40px;
    padding-left: 28px;
  }
  textarea, textarea:focus {
    background-color: #f2f2f2;
    border: none;
    width: 100%;
  }
}
.gc-timer {
  padding-top: ($header-height + $secondary-header-height + $timer-height);
}
.gc-mobile {
  padding-top: ($header-height);
  padding-bottom: 50px;
}
.gc-mobile-timer {
  padding-top: ($header-height + $timer-height);
}

form {
  select{
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
}

.form-bg {
  background-color: #fff;
  padding: 50px;
}

.button-bg {
  background-color: #fff;
  padding-bottom: 50px;
}

input[type="number"] {
  background-color: #fff;
  padding: 15px 15px 15px 25px;
  width: 100%;
  border: none;
  -moz-appearance: textfield;
  box-shadow: none;
  text-align: left;
  @include placeholder {
    font-style: italic;
    color: #666;
    font-size: 15px;
    font-family: $font-Lato;
    font-weight: 300;
  }
}

.input-button {
    border: none;
    background-color: #ab1e56;
    opacity: 1;
    color: #fff;
    width: 250px;
    height: 52px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-family: $font-Lato;
    display: inline-block;
    line-height: 50px;
    font-family: $font-Lato;
    white-space: nowrap;
}

.margin-x-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.width100 {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .form-bg {
    padding: 50px 30px;
  }
  .input-button {
    width: 230px;
  }
}

.note {
  text-align: left;
  font-size: 12px;
    ul {
      margin-left:15px;
      li {
        margin: 8px 10px;
        font-size: 12px;
        font-family: $font-Lato;
        color: #666666;
        list-style-type: disc;
      }
    }
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}