@import "../../../styles/partials/form";
@import "../../../styles/partials/mixins";
@import "../../../styles/partials/variables";


.terms {
  padding-bottom: 80px;
 
h3 {
  @include c22-A-I();
    letter-spacing: .5px;
    line-height: 32px;
    padding: 30px 0 15px 0;
    text-transform: capitalize;
     
}
h5 {
  @include c10-L-R();
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0;
  span {
    text-transform: none;
  }
}
p {
  @include c10-L-R();
     
    line-height: 20px;
    letter-spacing: .5px;
    // span {
    //   font-weight: bold;
    // }
    a {
      color: $cerise;
    }
}
ul {
  padding: 5px 0;
  li {
    @include c10-L-R();
    list-style-type: disc;
    line-height: 20px;
    letter-spacing: .5px;
    // span {
    //   font-weight: bold;
    // }
    a {
      color: $cerise;
    }
  }
}
ol {
  li {
    a {
      color: $cerise;
    }
  }
}
ol {
  li {
    font-size: 12px;
    font-family: "LatoFont","Helvetica","Arial";
    color: #666;
    letter-spacing: 1px;
    list-style-type: decimal;
    line-height: 20px;
    letter-spacing: .5px;
    margin-left: 12px;
  }
}

}
.table {
  border: 1px solid #ccc;
    display: flex;
    font-size: 14px;
    div {
      flex: 1;
    padding: 12px 5px;
    }
    &:nth-child(odd){
      background-color: #e6e6e6;
    }
    &.first {
      background-color: #e6e6e6;
    }
}
.form-heading {
  font-size: 25px;
  font-family: $font-Serif;
  line-height: 50px;
  margin-top: 30px;
}

.icon-signedin {
  span {
    padding: 0 5px;
    position: relative;
    i {
      font-size: 40px;
      vertical-align: middle;
      color: grey;
    }
  }
}

.order-tabs {
  margin-top: 40px;
  .orders {
    cursor: pointer;
    font-size: 15px;
    color: #afa5a5;
  }

  .hr-line {
    color: #afa5a5;
    margin-right: 15px;
    margin-left: 15px;
  }

  .active {
    color: #ab1e56;
  }
}

.no-purchases-message {
  color: #5f5c5c;
  font-size: 13px;
  font-weight: bold;
}

.browse-button {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  input {
    line-height: 40px;
  }
}

.op2 {
  opacity: .6;
}
.font-bold {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
.terms {
    padding: 0 0 80px 0;
}
}

.add {
  address {
    border: 1px solid tint(#000, 80%);
    min-height: 180px;
    text-align: left;
    &.address-checkout {
      padding: 35px 25px 90px 25px;
    }
    padding: 35px 25px 55px 25px;
    font-weight: 300;
    address {
      border: none;
      padding: 25px 0;
    }
    .border-add {
      border-top: 1px solid tint(#000, 90%);
      padding-top: 30px;
      .purchased-shop {
        height: 70px;
      }
      img {
        padding-right: 20px;
      }
    }
    &.order-block {
      background-color: tint(#000, 95%);

      &.manage-add {
        background-color: $white;
        min-height: 160px;
        &.shipping-border {
          min-height: 310px;
        }
        font-weight: 400;
        div.default-address {
          @include error-msg();
          text-align: right;
          font-size: 12px !important;
        }
        div.default-container {
          display: block;
          width: 90%;
          div.default-address-div {
            text-align: right;
            font-size: 10px;
            height: 18px;
            font-style: italic;
            display: grid;
            margin-bottom: 18px;
            grid-template-columns: 22fr 1fr;
            &.bridal {
              grid-template-columns: 4fr 15fr 1fr;
            }
            letter-spacing: 1px;
            .radio {
              display: block;
              position: relative;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
              }
              .checkmark {
                position: absolute;
                height: 15px;
                width: 15px;
                background-color: #fff;
                border: 1px solid #888;
                border-radius: 50%;
              }
              input ~ .checkmark {
                background-color: #fff;
              }

              /* When the radio button is checked, add a blue background */
              input:checked ~ .checkmark {
                background-color: #fff;
              }

              /* Create the indicator (the dot/circle - hidden when not checked) */
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }

              /* Show the indicator (dot/circle) when checked */
              input:checked ~ .checkmark:after {
                display: block;
              }

              /* Style the indicator (dot/circle) */
              .checkmark:after {
                top: 3px;
                left: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #000;
              }
            }

          }
          .cerise-bridal-rings {
            background-color: #ab1e56;
            border-radius: 50%;
            fill: #fff;
            height: 35px;
            width: 35px;
            padding: 2px;
            position: relative;
            top: -10px;
          }
        }
        .default-address-checkbox {
          position: relative;
          left: 95%;
          height: 15px;
          width: 15px;
          background-color: #fff;
          border: 1px solid #888;
          border-radius: 50%;
          padding: 20px 0;
        }
      }
      min-height: 160px;
      border-color: tint(#000, 90%);
      span {
        //text-transform: uppercase; cant use this --- it will make order status span uppercase
        //text-decoration: underline;
        &.order-status {
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    .order-block {
      min-height: 160px;
      position: relative;
      span {
        //text-transform: uppercase; cant use this --- it will make order status span uppercase
        //text-decoration: underline;
        &.order-status {
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    .edit-track {
      bottom: 25px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      &.add-checkout-actions {
        bottom: auto;
        position: absolute;
      }
      cursor: pointer;
      a:hover {
        cursor: pointer;
      }
    }
    .edit-view {
      bottom: 25px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      &.add-checkout-actions {
        bottom: auto;
        position: absolute;
      }
      cursor: pointer;
      a:hover {
        cursor: pointer;
      }
    }
    .edit {

      bottom: 25px;
      position: absolute;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      &.add-checkout-actions {
        bottom: auto;
        position: absolute;
      }
      cursor: pointer;
      a:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      text-transform: capitalize;
      &.names {
        text-transform: none;
      }
      &.price {
        font-size: 18px;
      }
      a:hover {
        cursor: pointer;
      }
    }
    .light {
      color: tint(#000, 50%);

    }
    label {
      position: absolute;
      top: -8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: tint(#000, 50%);
      background-color: #fff;
      padding: 0 3px;
      font-size: 13px;
      font-weight: 400;
    }
  }
}

.order-add-block {
  border-top: 1px solid tint(#000, 70%);
}

.plp_prod_quantity{
  @include plp_prod_quantity();
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.color-primary{
  margin: 2px 10px 0 0;
  color: $cerise;
  font-size: 12px;
  font-family: $font-Lato;
  letter-spacing: 1px;
}
.input-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.text-left{
  text-align: left;
}
.rtc {
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 20px;
  text-align: left;
}

.error-msg {
  font-size: 10px !important;
  font-style: italic;
  color: #ab1e56 !important;
  font-weight: bold;
  font-family: $font-Lato;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-align: left;
  height: 15px;
  line-height: 15px;
}

.login-form {
  hr {
    border: 0;
    border-top: 1px solid #eeeeee;
  }
  .v-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .txt-width60 {
    width: 60%;
  }
  .arrowrightsmall {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ab1e56;
  }
  .margin-r-10{
    margin-right: 10px;
  }
  .err {
    border: 1px solid #ab1e56 !important;
  }
  label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: 100;
    font-size: 10px;
    color: #999;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 3px;
  }
  .rtcinfo {
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 15px;
    line-height: 18px;
    &.mTop0 {
      margin-top: 0 !important;
    }
    a {
      &.cerise {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.value12 {
  @include c10-L-R();
  color: #000;
  margin: 10px 0 5px 0;
  .cross {
    padding-left: 10px;
    font-size: 10px;
    cursor: pointer;
  }
}
.gift-display{
  display: block;
}
