@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.collection-filter-page {
  padding: 23px 0;
  box-shadow: 0px 3px 6px #0000000A;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: $white;
  left: 0;
  top: 90px;
  &.collection-filter-timer {
    top: 80px + $timer-height;
  }

  .collection-filter-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0 23px;
    margin-bottom: 0;

    @media screen and (max-width:992px) {
      overflow-x: auto;
      justify-content: start;

      &::-webkit-scrollbar {
        display: none;
      }
      
    }

    .collection-filter {
      @include b4_12px_montserrat_light_charcoal();
      text-transform: capitalize;
      padding: 10px 21px;
      border-radius: 22px;
      background-color: $very-light-grey;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      white-space: nowrap;

      // &:hover{
      //   color:#fff;
      //   background-color: $aqua;
      // }

      &.active{
        color:#fff;
        background-color: $aqua;
      }

      .iconCross{
        line-height: 1;
        font-size: 9px;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
