@import "../../styles/partials/variables";

$pdp-top: $header-height + $secondary-header-height;

.pdp-container {
    margin-top: $header-height;
    
    &:not(.mobile) {
        margin-top: $pdp-top;
    }
}

.sticky-container {
    top: $header-height + $secondary-header-height + 23px;
}

.product-image-container {
    padding-left: 40px;

    img {
        cursor: url(../../images/cursorZoom.png), auto;
    }

    &:not(:last-child) {
        margin-bottom: 6px;
    }
}

.product-section {
    position: relative;
    margin-bottom: 20px;
}

.sidebar {
    padding-top: 23px;
}