
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

$pdp-top: $header-height;

.pdp-container {
    margin-top: $header-height - 40px;;
    &:not(.mobile) {
        margin-top: $pdp-top;
    }
}

@media screen and (max-width: 992px){
    .pdp-container{
        margin-top: $main-header - 50px;
    }
}

.pdp-secondcontainer {
    margin-top: $header-height;
    
    &:not(.mobile) {
        margin-top: $pdp-top+100;
    }
}

.pdp-container-timer {
    margin-top: $header-height + $timer-height - 5px;
    &:not(.mobile) {
        margin-top: $pdp-top + $timer-height;
    }
}

.sticky-container {
    top: $header-height + $secondary-header-height + 23px;
}

// .view-in-btn{
//     height: 50px;
//     width: 145px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     .text{
//         font-family: $font-Montserrat;
//         font-size: 12px;
//         color: #191919;
//         letter-spacing: 0.5px;
//     }
//     img {
//         cursor: pointer !important;
//         height: 40px;
//         width: 40px !important;
//     }
// }

@mixin view_in_btn{
    height: 45px;
    width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    opacity: 90%;
    cursor: pointer;
    padding: 0px 10px;
    .text{
        font-family: $font-Montserrat;
        font-size: 12px;
        color: #191919;
        letter-spacing: 0.5px;
    }
    img {
        cursor: pointer !important;
        height: 40px;
        width: 40px !important;
    }
}

.view-in-btn {
    @include view_in_btn();
}

.product-image-container {
    user-select: none;
    // padding-left: 40px;
    // margin-top: 40px;
    display: grid;
    column-gap: 4px;
    row-gap: 4px;
    position: relative;

    .product-image{
        position: relative;
        // .product-video{
        //     width: 100%;

        //     div{
        //         aspect-ratio: 4/7;
        //     }
            
        // }
            .video-wrp{
                height: 100%;
                width: 100%;
                video{
                    height: auto;
                    width: 100%
                }
            }
       
        .view-in-btn{
            @include view_in_btn();
        }
    }

    .pdp-top{
        height: 44px;
        width: 40px;
        position: absolute;
        top: 16px;
        left: 16px;
        cursor: pointer;
    }

    // Even number of images
    &.even{
        grid-template-columns: 1fr 1fr;
    }

    //Odd Number of Images
    //3 images
    &.three-images{
        grid-template-columns: 1fr 1fr;
    }
    .third-image{
        grid-column: 1 / -1;
    }

    //5 images
    &.odd-images{
        grid-template-columns: repeat(6, 1fr);
    }
    .top-row-images{
        grid-column: span 3;
    }
    .bottom-row-images{
        grid-column: span 2;
    }
    
    img {
        cursor: url(../../images/cursorZoom.png), auto;
        width: 100%;
    }
    &:not(:last-child) {
        margin-bottom: 6px;
    }
    position: relative;
}

.product-section {
    position: relative;
    padding-bottom: 100px;
    z-index: 5;
    justify-content: center;
}

.sidebar {
    padding-top: 23px;
}

.mobile-zoom-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;

    img {
        width: 34px;
        margin: 0 auto;
        padding-bottom: 3px;
        filter: drop-shadow(1px 1px 10px #909090);
    }
}

.looks-btn {
    background-color: white;
    @include b4_12px_montserrat_charcoal_caps();
    // line-height: 42px;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute ;
    right: 0;
    padding: 10px 16px 9px 17px;
    opacity: 0.9;
    width: max-content;
    box-shadow: 1px 1px 1px #0000001C;
    a {
      color: #fff;
      display: inline-block;
      width: 100%;
    }
  }

.looks-btn-overlay {
    background-color: white;
    z-index: 2;
    position: absolute;
    line-height: 42px;
    bottom: 0px;
    position: absolute;
    right: 10px;
    height: 42px;
    width: 80%;
    padding-left: 40px;
}

.mobile-pdp-image-container{
    position: relative;
}

.looks-btn-mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    min-width: 110px;
    box-shadow: 1px 1px 1px #0000001C;
    border-radius: 17px;
    font-size: 12px;
}

.looks-item-container {
    // margin-top: 10px;
    padding: 0 10px 40px 10px;
}
.shop-the-look-container{
    padding: 0 8%;
    @media screen and (max-width: 992px){
        padding: 0;
    }
    @media screen and (max-width: 767px){
        display: none;
    }
}
.looks-container {
    padding-left: 5px;
    @media screen and (max-width: 992px){
        padding-right: 45px;
    }
    
}
.looks-container-mobile{
    padding: 0 55px;
}
.looks-container-list-view {
    padding: 0 30px;
}
.header {
    @include h2_24px_lora_charcoal();
    line-height: 60px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.looks-main-image {
    padding-left: 20px !important;
}

.list-grid-bar {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
    position: sticky;
    top: $header-height - 1px;
    z-index: 3;
    box-shadow: 0 8px 6px -6px #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: top 0.3s;
    &.hide {
      top: 0px;
    }
    i {
      display: inline-block;
      font-size: 22px;
      margin-left: 20px;
      color: gray;
      &.active {
        color: $cerise;
      }
    }
  }
  .list-grid-bar-timer {
      top: $header-height -1px + $timer-height
  }

input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

.secondary-header-container {
    box-shadow: 0 8px 6px -6px tint(#000, 90%);
    height: $secondary-header-height + 30px;
    position: fixed;
    width: 100%;
    z-index: 12;
    background-color: $white;
    left: 0;
    top: $header-height;
}
.secondary-header-container-timer {
    top: $header-height + $timer-height;
}

.imgcontainer {
    width: 50px;
    margin-left: 10px;
}

.padding21 {
    padding-top: 20px;
    text-align: center;
}
.padding14 {
    padding-top: 15px;
}
.dock-text {
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 43px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 40px;
    font-family: $font-Lora;
    text-overflow: ellipsis;
    letter-spacing: 0;
    &.mobile{
        padding-left: 0px;
        @include h6_16px_lora_charcoal();
        line-height: unset;
        margin-top: 0px;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

    }
}

.mobile3d {
    width: 150px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 75px);
}

.helloimage-button {
    position: absolute;
    width: 130px;
    z-index: 1;
    bottom: 10%;
    left: calc(50% - 65px);
    cursor:  pointer !important;
}

.mobile-helloicon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    filter: drop-shadow(1px 1px 10px #909090);
}
.tab-helloicon {
    width: 70px;
}
.details-container {
    z-index: 1;
}

.tablet-slider-container {
    padding: 0 120px;
}

.grid-container {
    height: 22px;
    border-right: 1px solid #9F9F9F;
}

.list-grid-bar {
  justify-content: center;
  span{
    font-size: 12px;
    vertical-align: middle;
    color: #9f9f9f
  }
  .grid-span {
    padding-right: 8px;
    position:relative;
    top: -7%;
  }
  .list-span {
    padding-left: 8px;
    position:relative;
    top: -7%;
  }
  .active{
    color: #4C4C4C;
  }
}

.grid-icon {
    height: 21px;
    padding-right: 20px;
    position: relative;
    top: 34%;
    transform: translateY(-50%);
  }
  
  .list-container {
    height: 22px;
  }
  
  .list-icon {
    height: 21px;
    padding-left: 20px;
    position: relative;
    top: 34%;
    transform: translateY(-50%);
  }

.image-arrow-left {
    border: solid #FFF;
    border-width: 0 5px 5px 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(135deg);
    -moz-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
    left: 20px;
    display: none;
    box-shadow: 4px 4px 4px 0px #00000034;
    &:hover{
        cursor: pointer;
    }
    &.show{
        display: inline-block;
    }
}

.image-arrow-right {
    border: solid #FFF;
    border-width: 0 5px 5px 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    right: 20px;
    display: none;
    box-shadow: 4px 4px 4px 0px #00000034;
    &:hover{
        cursor: pointer;
    }
    &.show{
        display: inline-block;
    }
}

.breadcrumbs-section{
    justify-content: center;
}

.bottom-panel{
    width: 100%;
    height: 80px;
    max-height: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    z-index: 11;
    box-shadow: -1px -2px 12px #0000001d;
    background: #fff;
    display: flex;
    padding: 0% 8%;
    flex-direction: column;
    justify-content: center;
    transition: max-height 0.2s ease-in;
}

// .bottom-dock-price{
//     font-size: 14px;
// }

.dock-container{
    align-items: center;
}

.mobile-hello-ar-popup{
    height: 90%;
}

.video-div{
    height: 100%;
    .video-wrp{
        height: 100%;
        width: 100%;
        video{
            height: auto;
            width: 100%;
        }
    }
    
}

.container {
    position: relative;
    width: 100%;
}

.lazy-image {
    width: 100%;
}

.overlay-div{
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}

.inc-tax{
    font-family: $font-Montserrat;
    font-weight: $regular;
    font-size: 9px;
    line-height: 5px;
    color: $charcoal19;
    text-align: right;
    text-transform: initial;
}

.padding-bottom{
    padding-bottom: 150px;
}