
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

$pdp-top: $header-height + $secondary-header-height;

.pdp-container {
    margin-top: $header-height;
    // padding-bottom: 100px;
    &:not(.mobile) {
        margin-top: $pdp-top;
    }
}
.pdp-secondcontainer {
    margin-top: $header-height;
    
    &:not(.mobile) {
        margin-top: $pdp-top+100;
    }
}

.pdp-container-timer {
    margin-top: $header-height + $timer-height;
    &:not(.mobile) {
        margin-top: $pdp-top + $timer-height;
    }
}

.sticky-container {
    top: $header-height + $secondary-header-height + 23px;
}

.product-image-container {
    // padding-left: 40px;
    // margin-top: 40px;
    img {
        cursor: url(../../images/cursorZoom.png), auto;
    }
    &:not(:last-child) {
        margin-bottom: 6px;
    }
    position: relative;
}

.product-section {
    position: relative;
    margin-bottom: 20px;
    z-index: 6;
    justify-content: center;
}

.sidebar {
    padding-top: 23px;
}

.mobile-zoom-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;

    img {
        width: 34px;
        margin: 0 auto;
        padding-bottom: 3px;
        filter: drop-shadow(1px 1px 10px #909090);
    }
}

.looks-btn {
    background-color: white;
    color: #ab1e56;
    letter-spacing: 2px;
    font-family: "LatoFont", "Helvetica", "Arial";
    text-transform: uppercase;
    line-height: 42px;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    bottom: 50px;
    position: sticky;
    left: calc(50% - 165px);
    padding: 0 10px;
    width: max-content;
    a {
      color: #fff;
      display: inline-block;
      width: 100%;
    }
  }

.looks-btn-overlay {
    background-color: white;
    z-index: 2;
    position: absolute;
    line-height: 42px;
    bottom: 0px;
    position: absolute;
    right: 10px;
    height: 42px;
    width: 80%;
    padding-left: 40px;
}
.looks-btn-mobile {
    width: auto;
    position: absolute;
    left: calc(50% - 70px);
    bottom: 80px;
}

.looks-item-container {
    margin-top: 10px;
    padding: 0 10px 40px 10px;
}

.looks-container {
    padding: 0 60px;
}
.looks-container-list-view {
    padding: 0 30px;
}
.header {
    font-size: 25px;
    font-family: $font-Serif;
    color: #333;
    line-height: 60px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.looks-main-image {
    padding-top: 10px;
    padding-left: 21%;
}

.list-grid-bar {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
    position: sticky;
    top: $header-height - 1px;
    z-index: 3;
    box-shadow: 0 8px 6px -6px #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: top 0.3s;
    &.hide {
      top: 0px;
    }
    i {
      display: inline-block;
      font-size: 22px;
      margin-left: 20px;
      color: gray;
      &.active {
        color: $cerise;
      }
    }
  }
  .list-grid-bar-timer {
      top: $header-height -1px + $timer-height
  }

input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

.secondary-header-container {
    box-shadow: 0 8px 6px -6px tint(#000, 90%);
    height: $secondary-header-height + 30px;
    position: fixed;
    width: 100%;
    z-index: 12;
    background-color: $white;
    left: 0;
    top: $header-height;
}
.secondary-header-container-timer {
    top: $header-height + $timer-height;
}

.imgcontainer {
    width: 50px;
    margin-left: 10px;
}

.padding21 {
    padding-top: 20px;
    text-align: center;
}
.padding14 {
    padding-top: 15px;
}
.dock-text {
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 43px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 10px;
    font-family: $font-Lora
}

.mobile3d {
    width: 150px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 75px);
}

.helloimage-button {
    position: absolute;
    width: 130px;
    z-index: 1;
    bottom: 10%;
    left: calc(50% - 65px);
    cursor:  pointer !important;
}

.mobile-helloicon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
}
.tab-helloicon {
    width: 70px;
}
.details-container {
    z-index: 1;
}

.tablet-slider-container {
    padding: 0 120px;
}

.grid-container {
    height: 22px;
    border-right: 1px solid #9F9F9F;
}

.list-grid-bar {
  justify-content: center;
  span{
    font-size: 12px;
    vertical-align: middle;
    color: #9f9f9f
  }
  .grid-span {
    padding-right: 8px;
    position:relative;
    top: -7%;
  }
  .list-span {
    padding-left: 8px;
    position:relative;
    top: -7%;
  }
  .active{
    color: #4C4C4C;
  }
}

.grid-icon {
    height: 21px;
    padding-right: 20px;
    position: relative;
    top: 34%;
    transform: translateY(-50%);
  }
  
  .list-container {
    height: 22px;
  }
  
  .list-icon {
    height: 21px;
    padding-left: 20px;
    position: relative;
    top: 34%;
    transform: translateY(-50%);
  }

.image-arrow-left {
    border: solid #FFF;
    border-width: 0 5px 5px 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(135deg);
    -moz-transform: translateY(-50%) rotate(135deg);
    transform: translateY(-50%) rotate(135deg);
    left: 20px;
    display: none;
    box-shadow: 4px 4px 4px 0px #00000034;
    &:hover{
        cursor: pointer;
    }
    &.show{
        display: inline-block;
    }
}

.image-arrow-right {
    border: solid #FFF;
    border-width: 0 5px 5px 0;
    padding: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    right: 20px;
    display: none;
    box-shadow: 4px 4px 4px 0px #00000034;
    &:hover{
        cursor: pointer;
    }
    &.show{
        display: inline-block;
    }
}

.breadcrumbs-section{
    justify-content: center;
}

.bottom-panel{
    width: 100%;
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: 11;
    box-shadow: -1px -2px 12px #0000001d;
    background: #fff;
    display: flex;
    padding: 0% 8%;
    flex-direction: column;
    justify-content: center;
}

.bottom-dock-price{
    font-size: 20px !important;
    font-family: $font-Montserrat !important;
}