@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

    .otp-label {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      color: tint(#000, 30%);
      // a {
        // &:hover {
        //   text-decoration: underline;
        //   cursor: pointer;
        // }
      // }
    }
    .radiobtn1 {
      display: flex;
      > div {
        width: 100%;
      }
      > div.guest-email {
        width: 100%;
      }
    }
    .xradio {
      .radio1 {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
  
      /* Hide the browser's default radio button */
      .radio1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
  
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 25px;
        left: -5px;
        // width: 23px;
        // height: 23px;
        // background: white;
        display: inline-block;
        border-radius: 50%;
        // border: 1px solid #666;

        height: 14px;
        width: 14px;
        background-color: #fff;
        border: 1px solid #888;

        &.top{
          top: 26px !important;
        }
      }

  
      /* On mouse-over, add a grey background color */
      .radio1:hover input ~ .checkmark {
        background-color: #fff;
      }
  
      /* When the radio button is checked, add a blue background */
      .radio1 input:checked ~ .checkmark {
        background-color: #fff;
      }
  
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
  
      /* Show the indicator (dot/circle) when checked */
      .radio1 input:checked ~ .checkmark:after {
        display: block;
      }
  
      /* Style the indicator (dot/circle) */
      .radio1 .checkmark:after {
        // top: 0.5px;
        // left: 0.5px;
        // width: 7px;
        // height: 7px;
        border-radius: 50%;
        // background: #000;

        height: 11px;
        width: 11px;
        background-color: $aqua;
      }
    }
    .radiobtn {
      font-size: 20px;
      left: -30px !important;
      top: 12px;
    }

.login-form {
  max-width: 366px;
  margin: auto;
  padding-right: 10px;
  .flex{
    display: flex;
    width: 100%;
    div.country-code {
      width: 25%;
    }
    input.code-input{
      position: relative;
      background-color: #f2f2f2;
    }
  }
  .contact-number{
    flex: 3 1 0;
    border-left: 0px;
    position: relative;
    input{
      height: 50px !important;
    }
  }
  .contact-code {
    flex: 1 1 0;
    margin-right: 10px;
  }
    .country-code {
      // display: flex;
      grid-template-columns: 1fr 3fr;
      top:25px;
      &.country-code-gc {
        top: 0;
      }
    }
    .copylink {
      position: absolute;
      top: 15px;
      right: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $cerise;
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  
    label {
      position: absolute;
      top: -10px;
      left: 10px;
      font-weight: 100;
      font-size: 10px;
      color: $formLabel;
      letter-spacing: 1px;
      background-color: #fff;
      padding: 3px;
    }
    li {
      position: relative;
      margin: 30px 0;
      &.notify {
        width: 70%;
        margin: 0 auto;
        padding: 20px 0 80px 0;
        .error-msg {
          text-align: left;
        }
      }
      &.calendar-icon-container {
        .calendar-icon {
            position: absolute;
            top: 0;
            right: 10px;
        }
      }
      &.subscribe {
        text-align: left;
        // margin: 75px 0 0 0;
        &.subscribe-gc {
          margin: 35px 0 0 0;
        }
        &.subs1 {
          margin-top: 50px !important;
        }
        label {
          @include b5_10px_montserrat_charcoal();
          font-family: "Montserrat", "sans-serif" !important;
          font-size: 10px !important;
          text-transform: none;
          line-height: 18px;
          letter-spacing: 0.5px;
          a {
            color: $charcoal19;
            text-decoration: underline;
            &:hover {
              color: $aqua-bold;
              font-weight: $semibold;
            }
          }
        }
      //   input[type="radio"]:not(:checked) + label:before,
      //   input[type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
      //     content: '';
      //     position: absolute;
      //     left: 3px;
      //     top: 5px;
      //     width: 18px;
      //     height: 18px;
      //     background-color: #fff;
      //     border: 1px solid #799999;
      //   }
      //   input[type="checkbox"]:checked + label:before{
      //     content: '';
      //     position: absolute;
      //     left: 3px;
      //     top: 5px;
      //     width: 18px;
      //     height: 18px;
      //     background-color: #7EAAA9;
      //     border: 1px solid #7EAAA9;
      //   }
      //   input[type="checkbox"]:checked + label {
      //     @include b5_10px_montserrat_charcoal();
      //     position: relative;
      //     cursor: pointer;
      // }
      //   input[type="radio"]:not(:checked) + label,
      //   input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
      //   input[type="checkbox"]:checked + label {
      //     padding-left: 30px;
      //   }

      //   input[type="radio"]:not(:checked) + label:after,
      //   input[type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after,
      //   input[type="checkbox"]:checked + label:after {
      //     content: '';
      //     display: block;
      //     width: 6px;
      //     height: 10px;
      //     border: solid #fff;
      //     border-width: 0 2px 2px 0;
      //     position: absolute;
      //     top: 8px;
      //     left: 9px;
      //     font-size: 18px;
      //     line-height: 0.8;
      //     transition: all .1s;
      //   }
      }
      &.checkBalanceCheckPolicy {
        display: grid;
        label {
          top: 5px;
          left: 8px;
          padding-top: 0;
        }
        p {
          z-index: 1;
          font-size: 12px;
          font-family: $font-Lato;
          color: #666;
          letter-spacing: 1px;
          text-transform: none;
          line-height: 22px;
          position: relative;
          cursor: pointer;
          font-weight: 400;
          background-color: #fff;
          padding: 3px;
          a {
            color: #ab1e56;
            text-decoration: underline;
          }
        }
      }
    }
    
    input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
      background-color: #fff;
      border: 1px solid #eee;
      width: 100%;
      // padding: 10px;
      padding: 15px 15px;
      font-size: 14px;
      line-height: 25px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      @include placeholder {
        opacity: 0.4;
      @include b4_12px_montserrat_charcoal();
      }
    }
  
    /* For Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  &.go-back-btn {
    padding-right: 10px;
    @media screen and (max-width: 768px){
      position: fixed;
      bottom: 25px;
      left: 0;
      right: 0;
      width: 90%;
      margin: auto;
    }
  }
}

@media screen and (max-width: 992px) {
  .login-form {
    .flex{
      div.country-code {
        width: 40%;
      }
    }
  }
}
.msg{
  position: absolute;
  top: -24px;
  font-size: 12px;
  color: #6666668f;
  text-transform: none;
  margin-left: 37px;
}

.otp-text{
  margin: 30px 0 10px 0 !important;
  @include b4_12px_montserrat_light_charcoal();
  .aqua-bold{
    color: $aqua-bold;
    font-weight: $semibold;
  }
}
.error-msg{
  // position: absolute;
  // bottom: -13px;
  text-transform: none;
  font-size: 10px ;
  font-style: italic;
  color: #ab1e56 ;
  font-weight: bold;
  // font-family: $font-Serif;
  letter-spacing: 1px;
  // text-transform: lowercase;
  text-align: left;
  // height: 15px;
  line-height: 15px;
  &::first-letter {
    text-transform: uppercase;
  }
}
.relative {
  position: relative;

  &.small-input{
      // max-width: 340px;

    input{
      // max-width: 340px;
    }
  }
}
.redeem-otp {
  input {
    background-color: $white;
    border: 1px solid #888 !important;
    width: 220px !important;
    font-size: 30px !important;
    padding: 3px !important;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    line-height: 42px !important;
    color: black;
    &::-webkit-input-placeholder {
      font-family: "LatoFont", "Helvetica", "Arial";
      font-style: italic;
      font-size: 22px;
      letter-spacing: 1px;
    }
    &::-moz-placeholder {
      font-family: "LatoFont", "Helvetica", "Arial";
      font-style: italic;
      font-size: 22px;
      letter-spacing: 1px;
    }
    &::-ms-input-placeholder {
      font-family: "LatoFont", "Helvetica", "Arial";
      font-style: italic;
      font-size: 22px;
      letter-spacing: 1px;
    }
  }
  &.error {
    input {
      border: 1px solid $cerise !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .redeem-otp {
    input[type="text"] {
      background-color: $white;
      border: 1px solid #888 !important;
      width: 220px !important;
      font-size: 30px !important;
      padding: 3px !important;
      font-weight: bold;
      letter-spacing: 0.5em;
      text-indent: 0.5em;
      line-height: 42px !important;
      color: black;
    }
  }
}
.overflow-email {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch;
}
.icon-style-disabled {
  opacity: .4;
  text-decoration: none;
  &:hover {
    color: inherit;
    cursor: default;
  }
}
.otp-format {
  font-size: 14px;
}

.disable-input {
  input{
    position: relative;
    background-color: #f2f2f2 !important;
  }
  
}

.margintop {
  margin-top: 40px !important;
}
.note {
  text-align: left;
  @include b4_12px_montserrat_charcoal();
  letter-spacing: 0.36px;
    ul {
      margin-left:15px;
      li {
        margin: 8px 10px;
        list-style-type: disc;
        @include b5_10px_montserrat_charcoal();
      }
    }
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  margin-bottom: 20px;
}

//=========New OTP Component===============//

.otp-wrp{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  // box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  // padding: 30px 30px 40px 30px;
  max-width: 500px;
  max-height: 500px;
  margin: auto;

  @media screen and (max-width: 500px) {
    // padding: 40px 0;
  }

  @media screen and (min-width: 501px) and (max-width: 1100px) {
    // padding: 40px;
  }

  .otp-heading{
    @include b4_12px_montserrat_charcoal();
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }

  .otp-timer{
    @include b4_12px_montserrat_light_charcoal();
    padding: 20px 0px 20px 0;
    letter-spacing: 0.5px;
    .otp-resend{
      font-weight: 400;
      span{
        cursor: pointer;
        letter-spacing: 0.5px;
        font-weight: $semibold;
        text-decoration: underline;
        text-underline-offset: 4px;
        &:hover{
          color: #3C7979;
          text-decoration-color: #3c7979;
        }
      }
    }
  }

  .otp-input-err{
    max-width: 100%;
    // width: 263px;
    // margin: 0 auto;
    letter-spacing: 0.5px;

    .otp-input-wrp{
      display: flex;
      justify-content: center;
  
      .otp-input{
        width: 50px;
        height: 50px;
        // flex: 0 0 40px;
        flex-basis: 50px;
        border: 1px solid #E5E5E5 !important;
        border-radius: 7px !important;
        opacity: 1;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        text-align: center !important;
        margin: 0 2px 0 3px;
        letter-spacing: 0.5px;
        padding: 10px 18px;
        @include b1_16px_charcoal_montserrat();
        
        @media screen and (max-width: 500px) {
          padding: 0px;
        }
  
        &:active{
          border: 1px solid $aqua-text !important;
        }
  
        &:focus{
          border: 1px solid $aqua-text !important;
        }
  
        &.error{
          border: 1px solid $cerise !important;
        }
  
      }
    }
  
    .otp-error{
      @include error_msg_cerise();
      padding-top: 10px;
      text-align: center;
      letter-spacing: 0.5px;
      @media screen and  (max-width:992px) {
        text-align: center;
      }
    }
  }

  .otp-btn{
    // width: 300px;
    // height: 60px;
    // background-color: #4C4C4C;
    // border: 1px solid #4C4C4C;
    // border-radius:0%;
    // text-transform: uppercase;
    // letter-spacing: 0.5px;
    // @include b3_14px_montserrat_white();

    // &:hover{
    //   background-color: $white;
    //   @include b3_14px_montserrat_charcoal();
    // }

  }

  .disable{
    background-color:#9F9F9F;
    border: 1px solid #9F9F9F;
    cursor: not-allowed;

    &:hover{
      background-color: #9F9F9F;
      border: 1px solid #9F9F9F;
      @include b3_14px_montserrat_white();
    }

  }

  .otp-attempt{
    @include b6_9px_light_montserrat_charcoal();
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
  }

  .otp-policy{
    @include b5_10px_montserrat_charcoal();
    margin-top: 25px;
    border-bottom: 1px solid $charcoal19;
    letter-spacing: 0.5px;
    cursor: pointer;
    &.otp-redeem{
      margin: 15px auto 15px auto;
      width: fit-content;
    }

    &:hover{
      color: #3C7979 !important;
      border-bottom: 1px solid #3C7979 !important;
    }

    &.cancel-link{
      width: fit-content;
    margin: auto;
    margin-top: 10px;
    }

  }
}

.charcoal-btn{
  background-color: #4C4C4C;
  @include b3_14px_montserrat_white();
  text-transform: uppercase;
  letter-spacing: 0.42px;
  line-height: 52px;
  width: 100%;
  text-align: center;
  border: 1px solid #4C4C4C;
  border-radius: 0;
  cursor: pointer;
  &:hover{
    color: #191919;
    background-color: #fff;
    border: 1px solid #4C4C4C;
  }
  &.disabled-btn{
    color: #fff;
    background-color: #9f9f9f;
    border: 1px solid #9f9f9f;
  }
}

.error-msg{
  @include err_13px_lora_italic_cerise();
  font-weight: 400;
}

.line-head{
  @include b4_12px_montserrat_charcoal_caps();
  margin-top: 25px;
}

.line{
  @include b4_12px_montserrat_charcoal();
  font-weight: $semibold;
}

.radiobtn1 > div.placeholder-radio{
  position: relative;
  width: 40px;
  cursor: pointer;
  height: 50px;
  .outer{
    position: absolute;
    top: 50%;
    left: 50%;
    // height: 16px;
    // width: 16px;
    border-radius: 100%;
    // border: 1px solid black;
    transform: translate(-50%, -50%);

    height: 19px;
    width: 19px;
    background-color: #fff;
    border: 1px solid #888;
  }
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    // height: 8px;
    // width: 8px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    // background-color: #191919;

    height: 13px;
    width: 13px;
    background-color: $aqua;
  }
}

.email-wrp{
  margin: 0px 0 30px 0 !important;
  @include b4_12px_montserrat_charcoal();
  p{
    text-align: left !important;
    margin-top: 10px !important;
  }
}
.send-otp-btn{
  background-color: $med-charcoal;
  border: 1px solid $med-charcoal;
  @include b3_14px_montserrat_white();
  padding: 19px 16px !important;
  width: 100%;
  &:hover{
    @media screen and (min-width:992px) {
      background-color: $white;
    color: $med-charcoal;
    }
    
  }
  &:focus{
    border: 1px solid $med-charcoal !important;
  }
}

.otp-redeem-wrp{
padding: 0 !important;
}
.otp-wrapper-gc{
  padding: 30px 0px 10px 0px;
}

.disabledInput{
  opacity: 0.3;
}
// custom radio butons css for emai and phone input 
[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  left: 3px !important;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
}
[type="radio"]:checked + .custom-radio-btn,
[type="radio"]:not(:checked) + .custom-radio-btn{
  position: relative;
  padding-left: 28px;
}
[type="radio"]:checked + .custom-radio-btn:before,
[type="radio"]:not(:checked) + .custom-radio-btn:before {
  content: '';
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 100%;
  transform: translateY(-50%);
  height: 19px;
  width: 19px;
  background-color: #fff;
  border: 1px solid #888;
}
[type="radio"]:not(:checked) + .custom-radio-btn.disabled-radio:before{
  border: 1px solid #9F9F9F; 
  background-color: #F8F8F8;
}
[type="radio"]:checked + .custom-radio-btn:after,
[type="radio"]:not(:checked) + .custom-radio-btn:after {
  content: '';
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 3px;
  border-radius: 100%;
  height: 13px;
  width: 13px;
  background-color: #7EAAA9;
}
[type="radio"]:not(:checked) + .custom-radio-btn:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + .custom-radio-btn:after {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.email-input label{
  // left: 40px!important;
}
.disabled-inp{
  input{
    background: #E5E5E526 !important;
    color: #9F9F9F !important;
  }
}
.ph-err-msg{
  margin-top: 10px;
}

.activated-gc-msg{
  @include err_13px_lora_italic_cerise();
  color: #191919!important;
  line-height: 16px;
  letter-spacing: 0.26px;
  margin-top:25px;
}
.max-attempt-err-msg{
  text-align: left;
}