@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.breadcrumbs-container {
    span, a {
        text-transform: capitalize;
        letter-spacing: 1px;
        line-height: 50px;
        text-decoration: none;
        @include b5_10px_montserrat_charcoal();
        color: #19191955;
        &:last-child {
            color: $charcoal19;
        }
    }
}