
.more-collection .slick-arrow.slick-prev {
  left: 5px;
}
.more-collection .slick-arrow.slick-next {
  right: 5px;
}
.more-collection .slick-arrow.slick-prev:before {
    display: block;
    font-size: 50px;
    background-color: rgba(0,0,0,0.3);
    left: -15px;
}
.more-collection .slick-arrow {
  background-color: transparent;
}
.more-collection .slick-arrow.slick-next:before {
  display: block;
  font-size: 50px;
  background-color: rgba(0,0,0,0.3);
  right: -15px
}


.more-collection .slick-next:hover {
  background-color: transparent;
}
.more-collection .slick-prev:hover {
  background-color: transparent;
}