@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header {
    @include h2_24px_lora_charcoal();
    line-height: 60px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.more-block {
    margin: 20px 0 100px 0;
    padding: 10px 0;
    text-align: center;
}
.product-h {
    @include b3_14px_montserrat_light_charcoal();
    letter-spacing: 1px;
    line-height: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    padding-top: 5px;
}
.product-n {
    text-transform: capitalize;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    a {
        @include b3_14px_montserrat_charcoal();
    }
}



.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    min-width: 100%;
}
.slide {
    .link {
        display: block;
        padding: 0 3px;
    }
    position: relative;
    &:hover {
        div{
            .product-n{
                a{
                    font-weight: $medium;
                }
            }
        }
    }
}

.sale-banner {
    width: 30%;
    position: absolute;
    top: 0;
    z-index: 4;
    left: 3px;
    img {
        width: 80%;
        margin-top: 0;
    }
}

@media screen and (min-width: 992px) {
    .more-block{
        border-right: 1px solid #ccc;
    }
}