@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header {
    font-size: 25px;
    font-family: "Baskerville","Amiri","Serif";
    color: #333;
    line-height: 60px;
    text-transform: capitalize;
    text-align: center;
}
.more-block{
    border-right: 1px solid #ccc;
    margin: 20px 0 100px 0;
    padding: 10px 0;
    text-align: center;
}
.product-h {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 2px;
    font-family: "Baskerville","Amiri","Serif";
    line-height: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    padding-top: 5px;
}
.product-n {
    font-size: 16px;
    font-family: "AmiriFont", "Baskerville", "Garamond";
    color: #000;
    text-transform: capitalize;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        font-size: 16px;
        font-family: "AmiriFont", "Baskerville", "Garamond";
        color: #000;
        text-transform: capitalize;
    }
}

.sliderImage {
    padding: 0 3px;
}