@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import "partials/reset";
@import "bootstrap/bootstrap-grid.scss";
@import "partials/variables";
@import "partials/mixins";
@import "partials/images";
@import "partials/common";
@import "./stickyElements";
@import "partials/fonts";

body {
  margin: 0;
  padding: 0;
  font-family: $font-Lato;
  line-height: 1.4;
  overflow-x: hidden;
  color: $default;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  @include scrollbar();
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
}

h1, h2, h3, h4, b, strong {
  font-weight: 400;
}

h2 {
  margin-bottom: 0;
}

::-webkit-input-placeholder { /* Edge */
  font-weight: 300;
  font-family: $font-Lato;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 300;
  font-family: $font-Lato;
}

::placeholder {
  font-weight: 300;
  font-family: $font-Lato;
}
a{
  &:hover {
    text-decoration: none;
  }
}
textarea {
  font-family: $font-Lato;
  font-size: 12px;
}

ul,li,ol,p,h3,h5 {
  margin: 0;
  padding: 0;
}

button:focus, button:active, button:visited, *:focus, *:active, *:visited {
  outline: 0;
  -webkit-outline: 0;
}




li {
  list-style-type: none;
}

.padd-40{
  padding-top: 40px;
}

a {
  color: $cerise;
  cursor: pointer;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-r-10{
  margin-right: 10px;
}
.margin-t-10 {
  margin-top: 10px;
}

.margin-t-30 {
  margin-top: 30px;
}
.margin-t-40 {
  margin-top: 40px;
}
.margin-t-50 {
  margin-top: 50px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.error-msg {
  &.error-radio {
    position: absolute;
    bottom: -6px;
  }
  @include error-msg();
  span.link-text-underline {
    @include error-msg();
  }
  text-align: left;
  // height: 15px;
  line-height: 15px;
  &.word-cap {
    text-transform: none;
  }
  &.lh-none {
    line-height: 13px;
  }
  &.txtnormal {
    text-transform: none !important;
  }
}
.txt-normal {
  text-transform: none !important;
}
.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.mobile-slider-container {
  padding: 0;
}
.width250 {
  width: 250px;
}
.cerise {
  color: $cerise !important;
}
.bold {
font-weight: bold;
}

.minimumWidth {
  @include minimumWidth();
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex.gutter-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.line-ht10 {
  line-height: 10px;
}

.link-text-underline {
  text-decoration: underline !important;
  cursor: pointer;
}

.cerise-btn {
  @include cerise-btn();
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
    outline: 0;
    -webkit-outline: 0;
  }
   
  &:hover {
    text-decoration: none;
  }
  &.disabled-btn {
    background-color: tint(#000, 95%);
    color: tint(#000, 50%);
    cursor: default;
  }
  a {
    font-weight: normal;
    color: #fff;
    line-height: 50px;
    &:hover{
      color: #fff;
    }
  }
}

.cerise-btn.disabled {
  background-color: tint(#000, 90%);
  border-left: 1px solid tint(#000, 96%);
}

.success-msg {
  @include success-msg();
}

.logo {
  width: 111px;
  cursor: pointer;
}
.disabled-btn {
  background-color: tint(#000, 95%);
  color: tint(#000, 50%);
  cursor: default;
}

.error-border {
  border: 1px solid $cerise !important;
}
.hidden-eye {
  visibility: hidden !important;
}
.text-left {
  text-align: left;
}
.mobile-wishlist{
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 2;
}

.form-field-container {
  position: relative;
  width: 100%;
  font-size: 0;
}

.bg-grey {
  background: #f2f2f2;
}

.no-scroll {
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.container-start {
  margin-top: $main-header;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 100%;
}

.gutter0 {
  padding-left: 0;
  padding-right: 0;
  > .row {
    margin-left: 0;
    margin-right: 0;
    > [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.gutter15 {
  padding-left: 15px;
  padding-right: 15px;
  > .row {
    margin-left: -15px;
    margin-right: -15px;
    > [class*='col-'] {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.voffset {
  margin-top: 2px;
}

.voffset1 {
  margin-top: 5px;
}

.voffset2 {
  margin-top: 10px;
}

.voffset3 {
  margin-top: 15px;
}

.voffset4 {
  margin-top: 30px;
}

.voffset5 {
  margin-top: 40px;
}

.voffset6 {
  margin-top: 60px;
}

.voffset7 {
  margin-top: 80px;
}

.voffset8 {
  margin-top: 100px;
}

.voffset9 {
  margin-top: 150px;
}

.paddTop-20 {
  padding-top: 20px;
}
.paddTop-60 {
  padding-top: 60px;
}

.paddTop-40 {
  padding-top: 40px;
}
.vertical-middle {
  display: flex;
  align-items: center;
}
.italic{
  font-style: italic;
}
.c22-A-I {
  @include c22-A-I();
  line-height: 50px;
  margin-top: 30px;
}

.color-primary{
  margin: 2px 10px 0 0;
  color: $cerise;
  font-size: 12px;
  font-family: $font-Lato;
  letter-spacing: 1px;
}
.c10-l-r{
  @include c10-L-R();
}

.cross-center, .v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.content-container {
  min-height: 100vh;
}
