@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import url("https://djhiy8e1dslha.cloudfront.net/static/text-fonts/Lato%20regular.ttf");
@import url("https://djhiy8e1dslha.cloudfront.net/static/text-fonts/Lato%20300.ttf");
@import url("https://djhiy8e1dslha.cloudfront.net/static/text-fonts/Amiri%20regular.ttf");
@import url("https://djhiy8e1dslha.cloudfront.net/static/text-fonts/Franklin%20Gothic%20Medium.ttf");
@import url("https://djhiy8e1dslha.cloudfront.net/static/text-fonts/Lato%20700italic.ttf");
@import "partials/reset";
@import "bootstrap/bootstrap-grid.scss";
@import "partials/variables";
@import "partials/mixins";
@import "partials/images";
@import "partials/common";
@import "./stickyElements";

body {
  margin: 0;
  padding: 0;
  font-family: $font-Lato;
  line-height: 1.4;
  overflow-x: hidden;
  color: $default;
  @include scrollbar();
}

*:focus, *:active, *:visited {
  outline: none;
  -webkit-outline: none;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  cursor: pointer;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.margin-t-20 {
  margin-top: 20px;
}

.error-msg {
  &.error-radio {
    position: absolute;
    bottom: -6px;
  }
  @include error-msg();
  text-align: left;
  height: 15px;
  line-height: 15px;
  &.word-cap {
    text-transform: none;
  }
  &.lh-none {
    line-height: 13px;
  }
}

.hidden {
  display: none;
}

.mobile-slider-container {
  padding: 0;
}
.width250 {
  width: 250px;
}
.cerise {
  color: $cerise;
}
.bold {
font-weight: bold;
}

.minimumWidth {
  @include minimumWidth();
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex.gutter-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.line-ht10 {
  line-height: 10px;
}

.link-text-underline {
  text-decoration: underline;
  cursor: pointer;
}

.cerise-btn{
  background-color: #ab1e56;
  color: #fff;
  cursor: pointer;
}

.cerise-btn {
  @include cerise-btn();
  a {
    font-weight: normal;
    color: #fff;
    line-height: 50px;
  }
}

.cerise-btn.disabled {
  background-color: tint(#000, 90%);
  border-left: 1px solid tint(#000, 96%);
}