.slick-arrow {
    font-size: 30px;
    background-color: #b3b3b3;
    border-radius: 50%;
    padding: 5px;
    top: 35%;
  }
  .slick-next:hover {
    background-color: #ab1e56;
  }
  .slick-arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 35%;
    display: block;
    margin-top: -20px;
    z-index: 8;
  }
  
  .slick-prev:hover {
    background-color: #ab1e56;
  }
  .slick-prev:before {
    color: #fff;
    font-family: "goodearth";
    content: "\ea01";
    position: absolute;
    top: 0;
    font-size: 36px;
    font-weight: 700;
    left: 0;
  }
  .slick-next:before {
    color: #fff;
    font-family: "goodearth";
    content: "\ea02";
    position: absolute;
    top: 0;
    font-size: 36px;
    font-weight: 700;
    right: 0;
  }
    