.slick-arrow {
    font-size: 30px;
    /* background-color: #b3b3b3; */
    border-radius: 50%;
    padding: 5px;
    top: 35%;
}

.slick-arrow {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  display: block;
  margin-top: -20px;
  z-index: 8;
}

.slick-prev:before {
  color: #fff;
  font-family: "goodearth";
  content: "\f101";
  position: absolute;
  top: 2px;
  font-size: 36px;
  font-weight: 600;
  left: 0;
  opacity: 1;
}
.slick-next:before {
  color: #fff;
  font-family: "goodearth";
  content: "\f102";
  position: absolute;
  top: 2px;
  font-size: 36px;
  font-weight: 600;
  right: 0;
  opacity: 1;
}


.mobile-slider .slick-arrow {
  background: rgba(0,0,0,0.3);
  border-radius: 0;
  height: 70px;
  width: 50px;
  font-size: 0;
  letter-spacing: 0;
}

.mobile-slider .slick-prev {
  left: 0;
}

.mobile-slider .slick-next {
  right: 0;
}
  

.mobile-slider .slick-prev::before,
.mobile-slider .slick-next::before {
  font-size: 50px;
  height: 70px;
  line-height: 70px;
}

.slick-dots {
  position: relative;
  width: 100%;
  display: block; 
  bottom: 0; 
}

.slick-dots li {
  display: inline-block;
  margin: 0 4px;
  width: auto;
  height: auto;
}

.slick-dots li.slick-active button::before{
  color: #fff;
}
.slick-dots li.slick-active button::after{
  color: #fff;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #000;
  opacity: .2;
}

.slick-dots li button::before {
  content: unset;
}

.slick-dots li.slick-active button {
    opacity: 1;
    background-color: #ab1e56;
}
