/* .react-datepicker__input-container, .react-datepicker-wrapper, .react-datepicker-popper {
  .react-datepicker {
    width: 100%;
    .react-datepicker__month-container {
      width: 100%;
    }
  }
  width: 100%;
} */

.react-datepicker__month .react-datepicker__week .react-datepicker__day--outside-month {
  pointer-events: none;
  color: #ccc!important;
}

.react-datepicker__month-select, .react-datepicker__year-select {
  cursor: pointer;
  appearance: auto !important;
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
}

.react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker {
    width: 100%;
    border: 1px solid tint(#000, 85%) !important;
    border-radius: 0 !important;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  .react-datepicker-popper {
    width: 100%;
    top: -55px !important;
    z-index: 3;
  }
  
  .react-datepicker__header {
    background-color: #fbfaff !important;
    border-bottom: 1px solid tint(#000, 90%) !important;
  }
  
  .react-datepicker__month-container {
    width: 100%;
    background-color: #fbfaff;
  }
  
  .react-datepicker__tether-element {
    top: -10px !important;
  }
  
  .react-datepicker__triangle {
    display: none;
  }
  /* custom css by GD */
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--selected{
    color: #fff!important;
    font-weight: 500!important;
    background: #B59C77!important;
  }
  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    font-weight: bold!important;
  }
  .react-datepicker__day-name{
    font-weight: 500!important;
  }

  .react-datepicker__day, .react-datepicker__navigation, .react-datepicker__day-name{
    width: 10% !important;
  }
  
  /* month yaers dropdown css */
  .react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown{
    display: none;
  }
  .react-datepicker__header__dropdown.react-datepicker__header__dropdown--select select{
    padding: 0;
    text-align: center;
    height: auto;
    background: #fbfaff;
    border: none;
    font-weight: 600;
  }
  .react-datepicker__month-dropdown-container.react-datepicker__month-dropdown-container--select,
  .react-datepicker__year-dropdown-container.react-datepicker__year-dropdown-container--select{
    width: auto;
    margin:0;
    padding-right: 5px;
  }
  select.react-datepicker__month-select{
    text-align: right!important;
    padding-right: 3px!important;
  }
