@import "./partials/variables";

div.page-sticky-element {
    position: sticky;
    position: -webkit-sticky;
    top: 130px;
    height: max-content;

    &.page-sticky-scrolling {
        position: absolute;
        bottom: 0;
        top: auto;
    }
}