@import "../../styles/partials/form";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.back-btn-top {
    position: absolute;
    top: 50px;
    right: 40px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    &.back-btn-address {
      top: 50px;
      left: -65px;
      text-align: left;
    }
    @media screen and (max-width: 992px) {
      &.back-btn-address {
        top: 24px;
        right: 0;
      }
    }
}

.back-btn-center {
    text-align: center;
    &.back-btn-profile {
        margin: 20px 0;
    }
    .back-btn {
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        margin-top: 20px;
    }
}

.back-address-form {
    // position: relative;
    // bottom: 35px;
    // div {
    //   width: 30%;
    //   justify-self: end;
    //   float: right;
    // }
    div {
      right: -325px;
      position: absolute;
      bottom: 20px;
    }
}

.address-item-container {
  position: relative;
  // min-height: 320px;
  border: 1px solid #eaeaea;
  &.default{
    border: 1px solid #4c4c4c;
  }
  &.is-tulsi{
    border: 1px solid #8cb8aa;
  }
  .address-item {
    background-color: #fff;
    // height: 308px;
    font-weight: 400;
    text-align: left;
    padding: 20px 20px 20px 40px;
    &.checkout-fix{
      padding: 35px 25px 76px 25px;
    }
    flex-grow: 1;
    border: none;
    font-family: $font-Lato;
    .address-edit {
      opacity: .25;
      cursor: default;
    }
    &.shipping-border {
      border: 2px solid #8cb8aa;
      padding: 35px 25px 110px 25px;
    }
    &.diabled-border {
      border: 2px solid $cerise;
      padding: 35px 25px 84px 25px;
    }
    .ship-to-this-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      line-height: 50px;
    }
    .address-in-use {
      background-color: #868484;
      line-height: 50px;
      width: 100%;
      text-align: center;
      font-size: 12px;
      border: none;
      color: white !important;
      letter-spacing: 2px;
    }
    div.address-phone-number {
      @include b4_12px_montserrat_charcoal();
      letter-spacing: 0.36px;
      line-height: 22px;
      &.checkout-fix{
        font-size: 13px;
        font-family: $font-Lato;
        font-weight: 400;
        color: #191919;
      }
    }
    .default-container {
      display: block;
      width: 90%;
      div.default-address-div {
        text-align: right;
        font-size: 10px;
        // height: 18px;
        font-style: italic;
        display: grid;
        // margin-bottom: 18px;
        grid-template-columns: 22fr 1fr;
        .line {
          color: #808080;
          font-size: 10px;
          }
        div.default-address {
          @include b4_12px_montserrat_aqua();
          text-align: right;
          font-style: normal;
        }
        &.bridal {
          grid-template-columns: 4fr 15fr 1fr;
        }
        letter-spacing: 1px;
        .radio {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          .checkmark {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: #fff;
            border: 1px solid #888;
            border-radius: 50%;
          }
          input ~ .checkmark {
            background-color: #fff;
          }


          input:checked ~ .checkmark {
            background-color: #fff;
          }

          /* Create the indicator (the dot/circle - hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          /* Show the indicator (dot/circle) when checked */
          input:checked ~ .checkmark:after {
            display: block;
          }

          /* Style the indicator (dot/circle) */
          .checkmark:after {
            top: 3px;
            left: 3px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #000;
          }
        }

      }
      .cerise-bridal-rings {
        background-color: #ab1e56;
        border-radius: 50%;
        fill: #fff;
        height: 35px;
        width: 35px;
        padding: 2px;
        position: relative;
        top: -10px;
      }
    }
    .default-address-checkbox {
      position: absolute;
      left: -27px;
      height: 14px;
      width: 14px;
      background-color: #fff;
      border: 1px solid #888;
      border-radius: 50%;
      padding: 20px 0;
      &.checkout-fix{
        position: relative;
        left: 0px;
        margin-left: 10px;
      }
    }

    input[type="radio"]:checked.default-address-checkbox{
      &::after{
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #548B8B;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
      }
      &::before{
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        border: 1px solid #54b8b8;
      }
      &.checkout-fix{
        &::after{
          content: "";
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: #191919;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%,-50%);
        }
        &::before{
          content: "";
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          border: 1px solid #191919;
        }
      }
    }

    .edit-track {
      bottom: 25px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      &.add-checkout-actions {
        bottom: auto;
        position: absolute;
      }
      cursor: pointer;
      a:hover {
        cursor: pointer;
      }
    }
    .edit-view {
      bottom: 25px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      &.add-checkout-actions {
        // bottom: auto;
        // position: absolute;
      }
      cursor: pointer;
      a:hover {
        cursor: pointer;
      }
    }
    .phone-and-edit-container{
      display: flex;
      justify-content: space-between;
      &.checkout-fix{
        display: unset;
      }
    }
    .edit {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      &.add-checkout-actions {
        margin-top: 15px;
        // bottom: auto;
        // position: absolute;
      }
      cursor: pointer;
      a:hover {
        cursor: pointer;
      }
    }
    p {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      text-transform: capitalize;
      &.names {
        text-transform: none;
      }
      &.price {
        font-size: 18px;
      }
      a:hover {
        cursor: pointer;
      }
    }
    .light {
      color: tint(#000, 50%);

    }
    label {
      position: absolute;
      top: -8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: tint(#000, 50%);
      background-color: #fff;
      padding: 0 3px;
      font-size: 13px;
      font-weight: 400;
    }
  }
  &.address-item-checkout {
    padding: 35px 25px 90px 25px;
  }
  span {
    &.order-status {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}

.cerise-address-item-container {
  min-height: 160px;
  .address-item {
    padding: 35px 25px 55px 25px;
    .line-head,.address-line,.line {
      line-height: 22px;
    }
  }
}
.address-item-container-checkout {
  min-height: 360px;
  border: 1px solid #eaeaea;
}

.address-item {
  border: 2px solid #eeeeee;
  border-bottom: none;
  //margin-top: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  .address-info {
    &.bridal {
      min-height: 250px;
      .line-head {
        text-transform: capitalize;
      }
      svg {
        fill: $cerise;
        background-color: #ab1e56;
        border-radius: 50%;
        fill: #fff;
        height: 35px;
        width: 35px;
        padding: 2px;
      }
    }
  }

  .line-head {
    @include b4_12px_montserrat_charcoal();
    letter-spacing:  0.36px;
    // margin-top: 10px;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    .radio{
      position: relative;
    }
    &.checkout-fix{
      font-family: $font-Lato;
      font-size: 14px;
    }
  }

  .line {
    @include b4_12px_montserrat_light_charcoal();
    letter-spacing: 0.36px;
    &.address-line {
      word-wrap: break-word;
      font-size: 12px;
    }
    &.checkout-fix{
      font-size: 13px;
      font-family: $font-Lato;
      font-weight: 400;
      color: #808080;
    }
    &.make-default-checkout-fix{
      font-size: 10px;
      font-style: italic;
      color: #808080;
      display: flex;
      justify-content: end;
    }
    &.default-checkout-fix{
      font-family: $font-Lora;
      font-size: 12px;
      font-style: italic;
      font-weight: 700;
      color: $cerise;
      display: flex;
      justify-content: end;
    }
  }

  .separator {
    margin: 0 10px;
    font-size: 12px;
    color: #eaeaea;
    &.checkout-fix{
      font-size: 13px;
      font-family: $font-Lato;
      font-weight: 400;
      color: #191919;
    }
  }

  .action {
    @include b5_10px_montserrat_charcoal_caps();
    letter-spacing: 0.3px;
    text-decoration: underline;
    text-underline-offset: 2px;
    &:hover {
      color: $aqua-bold;
      cursor: pointer;
    }
    &.checkout-fix{
      font-size: 13px;
      font-family: $font-Lato;
      font-weight: 400;
      color: #191919;
      text-decoration: none;
      &:hover{
        color: #191919;
        cursor: pointer;
      }
    }
  }
  .address-info-bridal {
    padding: 30px;
  }
}

.address-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &.checkout-fix{
    flex-direction: row;
  }
}

.address-item-container {
  .address-item.address-in-use {
    position: absolute;
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
}

.address-wrap {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
 .add-new-address{
  @include b4_12px_montserrat_charcoal();
  text-transform: uppercase;
  letter-spacing: 0.36px;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-top: 30px;
  cursor: pointer;
  &:hover{
    color: $aqua-bold
  }
 }

.contact-msg{
  @include b5_10px_montserrat_charcoal();
  margin-top: 5px;
  letter-spacing: 0.32px;
  text-align: left;
}

.charcoal-btn{
  background-color: #4C4C4C;
  @include b3_14px_montserrat_white();
  text-transform: uppercase;
  letter-spacing: 0.42px;
  line-height: 52px;
  width: 100%;
  text-align: center;
  border: 1px solid #4C4C4C;
  border-radius: 0;
  cursor: pointer;
  &:hover{
    color: #191919;
    background-color: #fff;
  }
  &.disabled-btn{
    color: #fff;
    background-color: #9f9f9f;
    border: 1px solid #9f9f9f;
  }
}

.back-btn-font {
  @include b4_12px_medium_light_charcoal();
}

.categorylabel{
  input[type="text"], input[type="number"]{
    font-size: 12px !important;
    &::placeholder{
      font-size: 12px;
    }
  }
  select{
    font-size: 12px !important;
  }
  .address-form-checkbox{
    input[type="checkbox"]:checked + label:after{
      top: 3px;
    }
  }
}

.country-code{
  display: flex;
  justify-content: space-between;
}