@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.secondary-header-container {
    box-shadow: 0 8px 6px -6px tint(#000, 90%);
    height: $secondary-header-height;
    position: sticky;
    width: 100%;
    z-index: 4;
    background-color: $white;
    left: 0;
    top: 90px;
    margin: 0 !important;
    

    
}
.secondary-header-container-timer {
    top: 80px + $timer-height;
}
.careers {
    .secondary-header-container {
        box-shadow: 0 8px 6px -6px tint(#000, 90%);
        height: $secondary-header-careers-height;
        @include sticky-top();
    }
    .secondary-header-container-timer {
        top: $header-height + $timer-height;
    }
}