@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.secondary-header-container {
    box-shadow: 0 8px 6px -6px tint(#000, 90%);
    height: $secondary-header-height;
    @include sticky-top();
}
.secondary-header-container-timer {
    top: $header-height + $timer-height;
}
.careers {
    .secondary-header-container {
        box-shadow: 0 8px 6px -6px tint(#000, 90%);
        height: $secondary-header-careers-height;
        @include sticky-top();
    }
    .secondary-header-container-timer {
        top: $header-height + $timer-height;
    }
}