@import "../../styles/partials/variables";

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    right: 0;
    width: 100px;
    top: 0;
    height: 100%;
    overflow: auto;
    background: rgba(175, 178, 182, 0.2);
    padding: 80px 15px 15px;
}

.thumbnail-container {
    margin-bottom: 14px;
    cursor: pointer;
}

.active-thumbnail {
    border: 2px solid $white;
}

.close-btn {
    background: none;
  border: 0;
  padding: 0;
  font-size: 40px;
  display: block;
  margin: auto;
  margin-bottom: 36px;

  &.mobile {
    position: fixed;
    top: 26px;
    right: 26px;
    font-size: 22px;
  }
}

.main-image-container {
    width: 100%;
    position: fixed;
    cursor: pointer;
}