@import "../../styles/partials/variables";
@import "../../styles/partials/form";
@import "../../styles/partials/mixins";

.video-popup-container {
    width: 100%;
    height: 100%;
    // border: 10px solid white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    &.helloar{
      background-color: $white;
    }
    &.mobile{
      height: 100%;
      top: 0%;
      transform: translate(-50%, 0%);
    }
    .body{
      display: flex;
      justify-content: space-between;
      height: 100%;

      .left{
        margin-top: 70px;
        z-index: 0;
        overflow: auto;
        .thumbnail-img{
          // height: 100px;
          cursor: pointer;
          width: 70px;
          margin: 0 12px 10px 12px;
          opacity: 0.6;
          position: relative;

          .overlay-div{
            background: transparent;
            position: absolute;
            width: 100%;
            height: 100%;
          }

          // div{
          //   aspect-ratio: 3/5;
          // }

          .play{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 12px;
            cursor: pointer;
          }
        }
        .selectd-img{
          opacity: 1;
          cursor: pointer;
          border: 1px solid #888;
        }
      }

      .middle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        overflow: hidden;

        .wrp{
          // width: auto;
          margin: auto;
          // height: 100%;
          cursor: grab;
          
          div{
            // aspect-ratio: 5/15;
            height: 100vh;
            width: auto;
          }
          &.video-wrp{
            // aspect-ratio: 5/15;
            height: 100vh;
            width: 80vw;
          }

          img,video{
            height: 100%;
            object-fit: contain;
          }
          // video{
          //   width: 464px;
          // }
          .play{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 35px;
            cursor: pointer;
          }
        }
      }

      .right{
        z-index: 1;
        margin: 0 25px;
        .close{
          cursor: pointer;
          margin: 40px 0px 0px 10px;
          i{
            font-size: 15px;
            @media screen and (max-width:992px){
              text-shadow: 0 0 10px black;
            }
          }

          @media screen and (max-width:992px){
            margin: 20px 0px 0px 10px;
          }
        
        }

        .btn-wrp{
          margin-top: 45px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 40px;
          height: 148px;
          padding: 10px 10px;
          margin-left: auto;
          border-radius: 20px;
          border: 1px solid #d8d8d8;
          background: #fff;

          .plus,.minus{
            background: transparent;
            border: none;
            width: 15px;
            height: 15px;
          }

          .plus{
            margin-bottom: 15px;
          }

          .minus{
            margin-top: 5px;
            margin-bottom: 5px;
          }

        }

        @media screen and (max-width:992px){
          padding: 0 15px;
          position: absolute;
          // background: white;
          opacity: 0.8;
          height: 100%;
          z-index: 0;
          right: 0;
          margin: 0;
        }

        @media screen and (max-width:767px){
          padding: 0 15px;
          position: absolute;
          height: 100%;
          z-index: 0;
          right: 0;
          margin: 0;
          background: transparent;
          opacity: 1;
        }
      }
    }
    .footer{
      background: #fff;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 90px;
      box-shadow: -1px -2px 12px #0000001d;
      display: flex;
      padding: 0% 6%;
      flex-direction: column;
      justify-content: center;
      &.mobile {
        padding: 0%;
        height: 60px;
        box-shadow: none;
      }
    }
  
    .cta {
      bottom: 40px;
      position: absolute;
      width: 260px;
      margin: 0 auto;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .cross {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
      i {
        font-weight: bold;
      }
    }
    .cross-hello {
      position: absolute;
      right: -40px;
      top: -42px;
      cursor: pointer;
      color: white;
      font-size: 20px;
    }
    .cross-hellomobile
     {
      position: absolute;
      right: 0px;
      top: -62px;
      cursor: pointer;
      color: white;
      font-size: 20px;
     }
  }
.thumbnail-container {
    margin-bottom: 14px;
    cursor: pointer;
}

.active-thumbnail {
    border: 2px solid $white;
}
.video-wrp-height{
  height: 100%;
}