.cataloge-link .pdf{
    width: 100%;
    height: 100vh;
}
#mobile-chat-container{
    display: none!important;
}
@media(max-width:992px){
    .pdf{
        display: none;
    }
    .mobile-pdf{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: #191919;
        text-decoration: underline!important;
        text-underline-offset: 0.3rem;
    }
}
@media(min-width:993px){
    .mobile-pdf{
        display: none;
    }
}