@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.size-button {
    background-color: #f9f8f5;
    display: inline-block;
    text-align: center;
    min-width: 40px;
    border-radius: 12px;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 12px;
    font-family: $font-Montserrat;
    margin: 0 5px 5px 0;
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    line-height: 40px;
    padding: 0 5px;
    letter-spacing: 0.36px;
    position: relative;
    &:hover {
      border: 1px solid #799999;
      background-color: #f9f8f5;
      color: #799999;
    }

    // &.notavailable-select {
    //   background-color:$white;
    //   color: $cerise;
    //   text-decoration: line-through;
    // }

    &.unavailable {
      color: #E5E5E5;
      // text-decoration: line-through;
      border: #E5E5E5;
      border-style: solid;
      border-width: 1px;

      &:hover {
        // background-color: tint(#000,95%);
        border: #E5E5E5;
        border-style: solid;
        border-width: 1px;
      }
    }

    &.selected {
        border: 1px solid #799999;
        background-color: white;
        font-size:12px;
        color: #799999;
    }

    .strike-size{
      width: calc(1.414 * 35px);
      transform: rotate(315deg);
      transform-origin: top right;
      border-top: 1px solid;
      position: absolute;
      top: 2px;
      left: -13px;
      box-sizing: border-box;
    }
}