@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";


.cart-padding{
  padding-right: 15px;
  padding-left: 15px;
}
.bag-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}


  
.bag-backdrop.active {
    display: block;
}

@keyframes slideLeft {
    from {
      right: -100%;
    }
  
    to {
      right: 0;
    }
}



.bag {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 350px;
    font-size: 16px;
    line-height: 16px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    animation-name :slideLeft;
    animation-duration:0.4s;
  
    .heart {
      &.icon_heart-cerise-fill {
        color: $cerise;
      }
      .icon_heart-cerise-fill {
        color: $cerise;
      }
    }
    .heart:hover,
    .remove:hover {
      color: $cerise;
    }
    .remove {
      text-align: center;
    }
  
    .bag-header {
      color: $white;
      padding: 20px 20px 20px 30px;
      background-color: #4c4c4c;
  
      .heading {
        font-family: $font-Lato;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
  
      .subtext {
        @include c10-L-R();
        font-style: italic;
        color: tint(#000, 70%);
      }
    }
  
    .icon_cross-narrow-big {
      font-size: 12px;
      font-weight: bold;
    }
  
    .bag-contents {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
  
      .cart-item {
        padding: 20px 15px;
        margin-bottom: 1px;
        background-color: $white;
        .section {
          margin-top: 15px;
        }
  
        .product-image {
          width: 100%;
          margin-right: 10px;
        }
  
        .collection-name {
          @include plp_coll_name_desktop();
        }
  
        .name {
          @include plp_prod_name_desktop();
  
          a {
            font-weight: normal;
            font-size: 14px;
            font-family: inherit;
            text-decoration: none;
            text-align: left;
            letter-spacing: 0;
            color: #000;
          }
        }
        .icon_wishlist {
          font-size: 22px;
        }
        .icon_heart-cerise-fill {
          font-size: 22px;
        }
        /*.icon_cross-narrow-big {
          font-size: 12px;
          font-weight: bold;
        }*/
  
        .product-price {
          margin-top: 10px;
          font-family: $font-Lato;
          font-size: 14px;
        }
  
        .size {
          color: tint(#000, 20%);
          font-family: $font-Lato;
          font-size: 10px;
          letter-spacing: 0.5px;
        }
  
        .widget-qty {
          margin-top: 10px;
          max-width: 178px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          // background-color: #f1f1f1;
          border-radius: 10px;
          padding: 2px 0;
          font-size: 10px;
          .my-quantity{
            padding: 5px 12px;
          }
          input {
            padding: 3px 12px;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            -webkit-flex-grow: 1;
            flex-grow: 1;
            width: 100%;
            text-align: center;
            border-left: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
          }
  
          .plus-quantity, .minus-quantity {
            font-size: 12px;
            cursor: pointer;
            padding: 3px 12px;
          }
        }
      }
    }
  
    .bag-footer {
      padding-top: 15px;
      background-color: #fff;
      .container-cost {
        padding: 0 10px 10px 20px;
      }
  
      .bag-flex {
        flex-direction: column;
        background-color: #f9f8f5;
        .inner-div {
          border: 1px solid $cerise;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        .cart-icon-div{
          padding-right: 30px;
        }
        .view-bag {
          color: $cerise;
          letter-spacing: 2px;
          font-family: $font-Lato;
          text-transform: uppercase;
          line-height: 50px;
          text-align: left;
          font-size: 12px;
          cursor: pointer;
          a {
            color: $cerise;
            &:hover {
              color: $cerise;
              text-decoration: none;
            }
            &:focus {
                outline: 0;
                -webkit-outline: 0;
            }
          }
        }
      }
  
      .total-price {
        @include c10-L-R();
        color: #000;
        font-size: 14px;
      }

      .dis-price {
        @include c10-L-R();
        color: #000;
        font-size: 12px;
      }
  
      .subtext {
        color: tint(#000, 50%);
        font-family: $font-Lato;
        font-size: 9px;
      }
  
      .icon-cart {
        color: tint(#000, 20%);
        padding: 10px;
        font-size: 24px;
        background-color: #e4e4e4;
  
      }
    }
}
  
.bag.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: default;
    margin-top: 30px;
}

.message {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    background-color: #8cb8aa;
    font-style: italic;
    font-family: $font-Lato;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}


@media screen and (max-width:992px){
  .bag{
    width: 100%;
  }
}

.crossfont-size{
  font-size: 14px;
  font-weight: bold;
}

.crossicon-Item{
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

// .wishlist-display {
//   display: inline-table;
// }

.no-margin {
  margin: 0;
}
.discountprice {
  color: #ab1e56;
  font-family:  $font-Lato;
  font-size: 14px;
}

.strikeprice {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
  font-family: $font-Lato;
}

.cart-ring {
  position: absolute !important;
  bottom: -6px;
  right: -8px;
  z-index: 1;
  .cerise-bridal-rings {
    background-color: $cerise;
    fill: $white;
    border-radius: 50%;
  }
}

.badge-position-plp-mobile {
    width: 50%;
    top: 0;
    position: absolute;
    z-index: 4;
  img {
    width: 100%;
    margin: 5px;
  }
}

.stock-left {
  position: relative;
  top: 10px;
  text-align: center;
}
.stock-left-with-error {
  top: 25px;
}


.collection-header {
  @include pdp_collection_header();
  a {
      color: inherit;
  }
}

.side-container{
  margin-top: 30px;
  margin-left:8.33333%
}

.title {
  @include pdp_prod_title();
      line-height: 32px;
       p {
          // font-style: italic;
          font-family: $font-Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight:normal;
         }
}

.price-container {

  @include pdp_prod_title();
  font-family: $font-Montserrat;
  font-size: 20px;
  // font-weight: bold;
  text-align: right !important;
  padding: 10px 0px;
}

.discounted-price {
  color: $gold;
  font-family: $font-Montserrat;
  font-size: 20px;
}

.old-price {
  font-size: 10px;
  text-decoration: line-through;
  color: tint(#9f9f9f, 50%) !important;
  font-family: $font-Montserrat;
}

.label {
  @include pdp_label();

  .size-guide {
      line-height: 50px;
      font-size: 12px;
      color: #000;
      text-decoration: underline;
      text-transform: none;
      // letter-spacing: 1px;
      cursor: pointer;
      text-underline-offset: 2px;
  }

  &.colour {
      line-height: 85px;
  }
  &.size {
      line-height: 50px;
  }
  &.quantity {
      line-height: 40px;
  }
}

.size-container {
  position: relative;
}

.size-error-message {
  @include error-msg();
  // position: absolute;
  // top: 45px;
  display: block;
  left: 5px;
  font-family: $font-Lora;
  font-size: 14px;
  font-style: normal;
  font-weight:normal;
  letter-spacing: 0.28px;
}

.bridal-ring {
  background-color: #b3b3b3;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  line-height: 50px;
  width: 50px;
  height: 50px;

  &::before {
      font-size: 38px;
      line-height: 50px;
  }
  &.active {
      background-color: $cerise;
      border: 1px solid $cerise;
  }
}

.bridal-section {
  .label {
      color: #000;
      margin-top: 5px;
  }
}


.spacer {
  margin-top: 20px;
}
.spacer-quickview {
  margin-top: 10px;
}

.error-msg {
  @include error-msg();
  font-family: $font-Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.filler-container {
  display: flex;
  align-items: center;
  color: $charcoal19;
  a {
      text-decoration: underline;
      color: $charcoal19;
      text-underline-offset: 2px;
  }
}
.cushion-error
{
  font-family: $font-Montserrat;
  font-size: 12px;
  letter-spacing: 0.36px;
  font-style: normal;
  
}
.accordion-header {
  @include pdp_copy_head();
  //   font-weight: bold;
 // margin-top: 20px;
}

.header-closed-class-name
  {
      border-bottom: lightgrey solid 1px;
      padding: 15px 0px;
      display: flex;
      justify-content: space-between;

  }
.header-open-class-name
{
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.accordion-body {
  @include pdp_copy_body();
  letter-spacing: .5px;
  border-bottom: lightgrey solid 1px;
  //padding: 10px;
}

.sku {
  @include pdp_breadcrumbs();
  text-transform: uppercase;
  font-family: $font-Montserrat;
  font-size: 10px;
  color: #9f9f9f;
}

@media screen and (max-width: 992px) {
  .collection-header {
      margin-top: 20px;
      @include pdp_collection_header_mobile();
  }

  .title, .price-container {
      @include pdp_prod_title_mobile();
      // padding-bottom: 10px;
  }
  .price-container{
      @include pdp_prod_title_mobile();
      font-family: $font-Montserrat;
      font-size: 20px;
  }

  .spacer {
      margin-top: 20px;
  }

  .label {

      &.size {
         // margin-top: 15px;
          line-height: 25px;
      }

      &.quantity {
          line-height: 25px;
      }

      &.colour {
          line-height: 25px;
      }
  }

  .action-buttons-container {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 6;
      flex-direction: row-reverse;
      margin: 0;
  }

  .wishlist-btn-container, .add-to-bag-btn-container {
      background: #f2f2f2;
      padding: 0;

      .mobile-wishlist-icon {
        font-size: 31px;
        cursor: pointer;
        margin-top: 16px;
        margin-bottom: 5px;
        margin-left: 9px;
      }
  }

  .side-container
  {
      margin-left: 20px;
  }

}

.more-details {
  font-family:$font-Montserrat;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #191919;
  line-height: 80px;
  &:hover {
      text-decoration: underline;
  }
}
.lh-45 {
  line-height: 45px;
}
.widget-qty {
  // display: flex;
  width: 100%;
  // margin-top: 10px;
  // min-width: 120px;
  // display: inline-flex;
  // background-color: #f1f1f1;
  // border-radius: 10px;
  padding: 2px 0;
  // font-size: 12px;
  // line-height: 12px;
}

.margin-t-0 {
margin-top: 0;
}


.badge-img {
  padding: 15px 0;
}
.not-eligible {
  text-align: left;
  margin-top: 5px;
}
.cushion-filler {
  width: 40px;
  height: 40px;
  padding-right: 10px;
  vertical-align: middle;
}


.shop-availability{
  line-height: 50px;
  font-size: 12px;
  color: #000;
  text-decoration: underline;
  text-transform: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $font-Montserrat;
  text-underline-offset: 2px;
}
.mobile-margin{
  margin-top: 5px;
}
.compliance-container {
  align-items: flex-start;
  .compliance {
      font-family: $font-Montserrat;
      font-size: 12px;
      color: $gold;
      letter-spacing: .36px;
      p{
          font-family: $font-Montserrat;
          font-size: 12px;
          color: $gold;
          letter-spacing: .36px;
          a{
              color: $gold;
              text-decoration: underline;
              cursor: pointer;
              text-underline-offset: 2px;
          }
      }
      a{
          color: $gold;
          text-decoration: underline;
          cursor: pointer;
          text-underline-offset: 2px;
      }
  }
}

.margin0 {
  margin: 0px;
}

.inner-container {
  padding: 0px 10px;
}

.mobile-wishlist-icon {
  font-size: 26px !important;
  cursor: pointer !important;
  // margin-top: 18px !important;
  text-align: center;
}

.wishlist-mobile-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

