@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

input.input {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      font-size:14px;
      color: tint(#000,60%);
      font-style: normal;
      letter-spacing:1px;
      font-weight: 300;
      font-family: $font-Lato;
    }

    &.error {
      border-color: $cerise;
    }

    &.disabled {
      background-color: $disabled-input;
    }
}

.input-error {
  @include error-msg();
}

.label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-weight: 100;
  font-size: 10px;
  color: #999;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 3px;
}