@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

input.input {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px 18px;
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      font-size:14px;
      color: tint(#000,60%);
      font-style: normal;
      letter-spacing:1px;
      font-weight: 300;
      font-family: $font-Lato;
    }

    &.error {
      border-color: $cerise;
    }

    &.disabled {
      color: #C1C1C1;
    }
}

.input-error {
  @include error-msg();
  &.notify-me-email-input-error{
    font-size: 14px;
    font-family: $font-Lora;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.3px;
    display: inline-block;
    margin-top: 6px;
  }
}

.label {
  position: absolute;
  top: -10px;
  left: 15px;
  font-weight: 100;
  font-size: 14px;
  color: #999;
  letter-spacing: 0.5px;
  background-color: #fff;
  padding: 3px;
}