@import "../../../styles/partials/form";

.form-heading {
  font-size: 25px;
  font-family: "Baskerville","Amiri","Serif";
  line-height: 50px;
  margin-top: 30px;
}
.form-subheading {
  font-size: 12px;
  font-family: "LatoFont","Helvetica","Arial";
  color: #666;
  letter-spacing: 1px;
}

.login-form {
    div {
      .country-code {
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
    }
    .copylink {
      position: absolute;
      top: 15px;
      right: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $cerise;
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  
    label {
      position: absolute;
      top: -10px;
      left: 10px;
      font-weight: 100;
      font-size: 10px;
      color: tint(#000, 60%);
      letter-spacing: 1px;
      background-color: #fff;
      padding: 3px;
    }
    li {
      position: relative;
      margin: 20px 0;
      &.notify {
        width: 70%;
        margin: 0 auto;
        padding: 20px 0 80px 0;
        .error-msg {
          text-align: left;
        }
      }
      &.calendar-icon-container {
        .calendar-icon {
            position: absolute;
            top: 0;
            right: 10px;
        }
      }
      &.subscribe {
        text-align: left;
        margin: 30px 0 0 0;
        &.subs1 {
          margin-top: 50px !important;
        }
        label {
          @include c10-L-R();
          text-transform: none;
          line-height: 22px;
          a {
            color: $cerise;
            text-decoration: underline;
            &:hover {
              color: $cerise;
              text-decoration: underline;
            }
          }
        }
      }
      &.checkBalanceCheckPolicy {
        display: grid;
       /* grid-template-columns: 1fr 11fr; */
        label {
          top: 5px;
          left: 8px;
          padding-top: 0;
        }
        p {
          z-index: 1;
          font-size: 12px;
          font-family: LatoFont, Helvetica, Arial;
          color: #666;
          letter-spacing: 1px;
          text-transform: none;
          line-height: 22px;
          position: relative;
          cursor: pointer;
          font-weight: 400;
          background-color: #fff;
          padding: 3px;
          a {
            color: #ab1e56;
            text-decoration: underline;
          }
        }
      }
    }
}