
.collection-item .slick-arrow {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.collection-item .slick-slider:hover .slick-arrow {
  position: absolute;
  height: 70px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  top:50%;
  display: block;
  /* margin-top: -20px; */
  z-index: 8;
}

.collection-item .slick-arrow.slick-prev {
  left: 0px;
}
.collection-item .slick-arrow.slick-next {
  right: 0px;
}

.collection-item .slick-slider .slick-arrow.slick-next::before, .collection-item .slick-slider .slick-arrow.slick-prev:before {
  display: none;
}

.collection-item .slick-slider:hover .slick-arrow.slick-next::before {
  font-family: "goodearth";
  color: #fff;
  content: "\f102";
  position: absolute;
  top: 8px;
  display: block;
  font-size: 50px;
  right: 0px;
}
.collection-item .slick-slider:hover .slick-arrow.slick-prev:before {
  color: #fff;
  font-family: "goodearth";
  content: "\f101";
  position: absolute;
  top: 8px;
  display: block;
  font-size: 50px;
  left: 0px;
}

