@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.img-responsive-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-txt-block{
    text-align: center;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto 3em auto;
    min-height: 115px;
    p {
        font-family: "AmiriFont", "Baskerville", "Garamond";
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0 20px;
        line-height: 33px;
        color: #000;
    }
    .para {
        margin-top: 5px;
        line-height: 23px;
        font-weight: normal;
    }
    a{
        text-decoration: none;
        background-color: transparent;
    }
}


.italic{
    font-style: italic;
}

.slick-arrow {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }


