@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.image-container {
    padding: 2px;
    border: 1px solid transparent;
    position: relative;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.active {
    border: 1px solid gray;
}

.clickable {
    cursor: pointer;
}

.overlay {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 50px;
}