@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.image-container {
    padding: 2px;
    border: 1px solid transparent;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.active {
    border: 1px solid gray;
}

.clickable {
    cursor: pointer;
}