/* @import "../../styles/partials/variables"; */


.custom-slider .showheader1 {
    width: 90%;
    padding-left: 5px;
}
.custom-slider .slider-custom {
    visibility: hidden;
    height: 0;
}
/* .handel {
    background-color: $light-bg !important;
} */

.custom-slider .rc-slider-handle {
    background-color: rgb(171, 30, 86);
    border-radius: 0;
    border: 0;
    width: 2px;
    margin-left: 0px;

}
.custom-slider .rc-slider-track {
    background-color: rgb(171, 30, 86);
    height: 2px;
    border-radius: 0;
}
.custom-slider .rc-slider-rail {
    height: 2px;
    border-radius: 0;
}


.custom-slider .slider-text {
    position: relative;
    display: flex;
    margin-top: 20px;
    /* @include plp_filter_sub(); */
    line-height: 30px;
    
}
.custom-slider .slider-box {
    width: 50%;
    text-align: center;
    border: 1px solid tint(#000, 80%);
    margin: 0 2%;
}
