@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";


.quantity{
    color: #000;
    background-color: #f2f2f2;
    padding: 9px 10px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.minus-quantity{
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
}

input {
    background-color: #f2f2f2;
    text-align: center;
    padding: 6px 0;
    width: 120px;
    border: 0;
}

.plus-quantity{
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    border-left: 1px solid #fff;
}

.error-msg{
    @include error-msg();
    text-align: left;
    height: 15px;
    line-height: 15px;
    position: absolute;
    bottom: -15px;
    left: 5px;
}
.quantity-wrap {
    display: flex;
    width: 100%;
}
