@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";


.quantity{
    color: #000;
    background-color: #f2f2f2;
    padding: 9px 12px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.minus-quantity{
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border-right: 1px solid #fff;
}

.input {
    background-color: #f2f2f2;
    text-align: center;
    padding: 6px 0;

    max-width: 120px;
    border: 0;
    padding: 4px 12px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.input-pdp {
    width: 120px;
    padding: 9px 10px;
    font-size: 14px;
}

.plus-quantity{
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    border-left: 1px solid #fff;
}

.error-msg{
    @include error-msg();
    text-align: center;
    height: 15px;
    line-height: 15px;
    position: absolute;
    bottom: -15px;
    // left: 5px;
}
// .quantity-wrap {
//     // display: flex;
//     // width: 100%;
// }
