.customercare {
    h3 {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    p {
        font-size: 13px;
        line-height: 22px;
    }
}
.icon {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: text-top;
}