
.slick-active .pageritem {
    opacity: 1;
    background-color: #4C4C4C;
    border-radius: 0;
    height: 2px;
    padding: 0px;
    /* top: 0px; */
    margin-bottom: 15px;
}

.pdp-slider .slick-dots {
    position: relative;
    width: 95%;
    display: block;
    bottom: 0;
    background-color: #D8D8D8;
    height: 2px;
    top: 4px;
    left: 10px;
}

.pdp-slider .slick-next:hover {
    background-color: #fff;
}

.pdp-slider .slick-track{
    display: flex !important;
}

.pdp-slider .slick-slide > div {
    height: 100%;
}

.pdp-slider .slick-slide{
    height: 100%;
}

.slick-not-init .slick-track .slick-slide {
        display: none;
}
.slick-not-init .slick-track .slick-slide:nth-child(1){
    display: block;
}
.slick-not-init .slick-track .slick-slide:nth-child(2){
    display: block;
}

@media(min-width:767px) and (max-width:991px){
    .pdp-slider-padding .slick-list{
        padding: 0 40% 0 0!important;
    }
    .pdp-slider-padding .slick-slide {
        margin-right: 15px;
        padding-bottom: 10px;
    }
    .src-containers-pdp-_styles_tablet-slider-container,
    .src-styles-bootstrap-_bootstrap-grid_container-fluid{
        padding:0!important;
    }
}