@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header-container {
    top: $header-top;
}

.minimumWidth {
    @include minimumWidth();
}

.hamburger {
    line-height: 46px;
    left: 15px;
    padding: 0;
    top:5px;
}

.header-container {
    position: fixed;
    top: $header-top;
    z-index: 10;
    width: 100%;
    background-color: rgb(249, 248, 245);
    height: $header-height;
    .minimumWidth{
      ul {
        margin: 0;
      }
    }
    .menu-container {
      text-align: center;
      &.disable {
        opacity: .5;
        .menu-item {
          text-decoration: none;
          cursor: default;
          a {
            cursor: default;
            &.hover-a {
              text-decoration: none;
            }
          }
        }
      }
    }
    .menu-item {
      display: inline-block;
      padding: 0 15px;
      cursor: pointer;
      a {
        @include hdr-cat();
        display: block;
        text-align: center;
        letter-spacing: 0.2em;
        position: relative;
        line-height: 50px;
        &.hover-a {
          text-decoration: underline;
        }
      }
      &:nth-child(5) a {
        color: $cerise;
      }
      .icon-style {
        font-size: 16px;
      }
    }
    .disabled-menu-item {
      display: inline-block;
      padding: 0 15px;
      cursor: default;
    }
}
.logo-container {
    line-height: 49px;
    text-align: center;
  }

  @media (max-width: 992px) {
    .minimumWidth{
      margin: 0px;
    }
  }


@media (max-width: 992px) {
    .logo-container {
        text-align: center;
    }
}

.icon-font{
    font-size: 24px;
}

.icon-cross-font{
    font-size: 16px;
}

.logo {
    width: 111px;
    cursor: pointer;
}

.icon-style-disabled {
    opacity: .4;
    text-decoration: none !important;
    &:hover {
      color: inherit !important;
      cursor: default !important;
    }
}

.cerise {
    color: $cerise !important;
}

.menulist-overlap{
  margin-top: -6px;
}
.side-menu-item {
    margin: 6px 6px;
    position: relative;
    cursor: pointer; 
    .inner-profile-container{
      margin-top: 6px;
    }
    .inner-wish-container {
      margin-top: 3px !important;
      a {
       color: #000;
      }
    }
    .badge {
      position: absolute;
      top: -5px;
      right: 0;
      left: 0;
      min-width: 10px;
      padding-top: 2px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      color: #969698;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 10px;
    }
    .icon-style {
      font-size: 22px;
      margin: inherit;
      &:hover {
        color: $cerise;
        + span {
          color: $cerise;
        }
      }
    }
    .adding {
      right: -10px;
      left: auto;
      cursor: pointer;
    }
  }

.side-menu-item-mobile {
  margin: 6px 6px 6px 2px;
}

.side-menu-container {
    float: right;
    display: inline-flex;
    margin-top: 2px;
    .curr {
      span {
        &:first-child{
          margin: 0 6px 0 0;
        }
        
      }
    }
    .currency-menu{
      margin-top: 8px;
    }
    
}
.main-menu {
  position: absolute;
  .img-header {
    li {
      padding-left: 0;
    }
  }

  li {
    border-bottom: 1px solid #888;
    border-bottom: none;
    padding-left: 20px;
    line-height: 30px;
    letter-spacing: .05em;
    a {
      @include menu-copy();
      letter-spacing: .09em;
      &:hover {
        color: #000;
      }
      &.subheading {
        margin-top: 25px;
        display: inline-block;
        @include menu-heading();
        &:hover {
          text-decoration: underline;
        }
        &.link-without-url {
          text-decoration: none;
          cursor: default;
        }
        &.subheading-img:before {
          background-image: url("/static/img/star-png.png");
          background-size: 20px 20px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          position: absolute;
          left: -2px;
          margin-top: 3px;
        }
        &.subheading-img:after {
          background-image: url("/static/img/star-png.png");
          background-size: 20px 20px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          position: absolute;
          margin-top: 3px;
        }
      }
    }
  }

  .menulevel1 {
    &:after {
      content: '+';
      float: right;
      font-size: 25px;
      color: tint(#000, 50%);
    }
  }
  .menulevel1-open {
    &:after {
      content: '-';
    }
  }
  .menulevel2 {
    text-transform: uppercase;

    &:after {
      content: '';
      float: right;
      border: solid $cerise;
      font-weight: bold;
      border-width: 0 2px 2px 0;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      top: 28px;
      position: relative;
      right: 5px;
    }
  }
  .menulevel2-open {

    &:after {
      transform: rotate(313deg);
    }
  }
}
.menucolor {
  color: #ab1e56 !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 100%;
}

.dropdown-menu-bar {
  background-color: $white;
  z-index: 10;
  position: absolute;
}
.hidden{
  display: none;
}
.inner-menu {
  padding: 20px 50px 50px 50px;
  @include bottom-shadow();
}
.inner-logo {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 10%;
}

.mobile-menu {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top:$header-height;
}

.mobile-list {
  position: fixed;
  left: 0;
  padding: 0px;
  height: 100%;
  overflow: scroll;
  .col-xs-10 {
    padding: 0;
  }
}

.menu-overlay {
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.menu-slider-animate {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
  height: calc(100vh - #{$header-height});
  overflow: scroll;
  background-color: tint(#000, 90%);
}

.menu-slider {
  transform: translate3d(-840px, 0, 0);
  -webkit-transform: translate3d(-840px, 0, 0);
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
  height: calc(100vh - #{$header-height});
  overflow: scroll;
}
.op3 {
  opacity: .4;
}

.lower-menu {
  background-color: tint(#000, 90%);
  padding: 25px 20px 20px 30px;
  position: relative;
  ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  li {
    @include menu-subcopy();
    text-transform: uppercase;
    line-height: 40px;
    a {
      color: tint(#000, 20%);
    }
    > :nth-child(2) {
      padding-left: 20px;
    }
    i {
      position: absolute;
      left: 27px;
      top: 36px;
    }
    &.currency {
      &.before {
        &:after {
          content: '-';
        }
      }
      &:after {
        content: '+';
        float: right;
        font-size: 25px;
        color: tint(#000, 30%);
        font-family: $font-Lato;
        font-weight: 300;
      }

    }
    li {
      padding-left: 15px;
      text-transform: capitalize;

    }
    i {
      font-size: 20px;
    }

  }

  .p-open {

    &:after {
      content: '-';
    }

  }
  .icon_heart-cerise-fill {
    color: $cerise;
  }
}

.mobile-main-menu {
  background-color: $white;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  padding: 0 15px;
  ul{
    padding: 0px;
  }
  li {
    border-bottom: 1px solid tint(#000, 90%);
    color: #000;
    font-size: 14px;
    font-family: $font-Header;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: uppercase;
    &:nth-child(5) {
      span {
        &.menulevel1 {
          color: $cerise;
        }
      }
    }
    span {
      @include menu-cat-mobile();
    }
    li {
      border-bottom: none;
      padding-left: 20px;
      &:first-child {
        border-top: 1px solid tint(#000, 90%);
      }
      a {
        @include menu-copy();
        display: block;
      }
      li {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  .menulevel1 {
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 20px;
    display: block;
    &:after {
      content: '+';
      font-weight: bold;
      float: right;
      font-size: 25px;
      color: $cerise;
      font-family: $font-Lato;
      font-weight: 300;
    }
  }
  .menulevel1-open {

    &:after {
      content: '-';
    }
  }
  .menulevel2 {
    text-transform: uppercase;
    display: block;
    &.subheading-img {
      &:before {
        background-image: url("/static/img/star-png.png");
        background-size: 20px 20px;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        position: absolute;
        left: 10px;
        margin-top: 15px;
      }
    }
    &:after {
      content: '';
      float: right;
      border: solid $cerise;
      border-width: 0 2px 2px 0;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      top: 21px;
      position: relative;
      right: 5px;
    }
  }
  .menulevel2-open {
    &:after {
      transform: rotate(225deg);
    }
  }
}


.first-menu{
  float: left;
  .icon-style {
    font-size: 22px;
    margin-right: 10px;
  }
  .search-text{
    padding-top: 14px;
    font-style: normal;
    font-size: 12px;
    font-family: $font-Lato;
    letter-spacing: 0.1em;
    color: $cerise;
    display: flex;
    width: 100%;
    span {
      margin-top: 3px;
    }
  }
}

@media (max-width:992px) {
  .first-menu{
    .icon-style {
      font-size: 22px;
      margin-right: 5px;
      margin-left: -40px;
    }
  }
}


.announcement {
 
width: 100%;
//position: fixed;
line-height: 29px;
height: 29px;
text-align: center;
font-size: 12px;
background-color: $summerGreen;
//padding: 2px 2px 2px 15px;
display: flex;
z-index: 10;
font-family: $font-Lato;
color: $white;
.width100 {
  width: 100%;
}
.bridal-ring {
  fill: $white;
}
/* Elements to animate */
.boxx1 {
  width: 100%;
  position: absolute;
  left: 0;
  animation-name: animatetxt1;
  animation-duration: 12s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.boxx2 {
  width: 100%;
  position: absolute;
  left: 0;
  animation-name: animatetxt2;
  animation-duration: 12s;
  animation-fill-mode: both;
  text-align: center;
  animation-iteration-count: infinite;
}

/* Keyframes */
@keyframes animatetxt1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
  5% {
    opacity: 0.5;
    -webkit-transform: translateY(0px);

  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  45% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(0px);

  }
  55% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
}
@keyframes animatetxt2 {
  0% {
    opacity: 0;
-webkit-transform: translateY(-40px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
  55% {
    opacity: 0.5;
    -webkit-transform: translateY(0px);

  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
   95% {
    opacity: 0.5;
     -webkit-transform: translateY(0px);

  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
}

em {
  font-style: italic;
}
a {
  color: $white;
}
}

/* search popup */

.search {
  .search-products {
    height: calc(100vh - 220px);
  }
  .search-products-m {
    height: calc(100vh - 188px);
  }
  .search-products-ipad {
    height: calc(100vh - 260px);
  }
}

.search {
  // background-color: #f8f8f5;
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  &.row {
    margin-left: 0;
    margin-right: 0;
  }

.search-feature {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 6px;
  font-size: 12px;
  font-weight: bold;
  a {
    color: #ab1e56;
    text-decoration: underline;
  }
  text-transform: uppercase;
  letter-spacing: 1px;
}
.search-shadow {
  @include bottom-shadow();
  background-color: $white;
}
.image-content {
  min-height: 120px;
}
.search-input-block {
  line-height: 0;
  display: inline-block;
  line-height: 100px;

  input {
    width: 100%;
    border: 1px solid tint(#000, 80%);
    margin: 20px auto;
    background-color: $white;
    padding: 0 120px;
    line-height: 60px;
    font-size: 20px;
  }
  .link-results {
    position: absolute;
    right: 7%;
    cursor: pointer;
    @include more-details();
  }
  .icon_search_popup {
    cursor: pointer;
    font-size: 30px;
    color: $cerise;
    position: absolute;
    top: 35%;
    right: 3%;
  }
  .icon_search_cross {
    cursor: pointer;
    position: absolute;
    top: 30%;
    font-size: 3em;
    right: -5%;
  }
}
.search-products {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-appearance: none;
  appearance: none;
  @include scrollbar-default();
  &:hover {
    @include scrollbar();
  }
  .checkheight {
    min-height: 300px;
    //padding: 0 10rem 10rem 10rem;
  }
}
}

.search-imagebox-new {
position: relative;
display: block;
width: 100%;
height: auto;
overflow: hidden;
padding: 135% 0 0 0;
}

.search-heading {
text-transform: capitalize;
font-size: 25px;
}

.search-image-title {
font-size: 16px;
text-transform: uppercase;
color: #464646;
font-family: "HeaderFont","Trebuchet MS","geneva";
display: block;
text-align: center;
letter-spacing: 0.5px;
position: relative;
}

.search-bottom-block-second {
width: 100vw;
height: 150px;
z-index: 10;
padding: 10px 0;
}

.search-bottom-block {
//position: fixed;
// bottom: 0;
width: 100vw;
height: 150px;
background-color: tint(#000, 90%);
z-index: 10;
padding: 10px 0;
.count {
  font-style: italic;
  margin-top: 25px;
  font-size: 13px;
  letter-spacing: .5px;
}
p {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 6px;
  font-size: 15px;
  color: $cerise;
  text-transform: uppercase;
  letter-spacing: 1px;
}
}

.header-container {
.search {
  visibility: visible;
  @include transition(all, 1s, ease-in-out);
  top: $header-height;
}
}

.search-block-page {
cursor: pointer;
input {
  width: 100%;
  background-color: $white;
  padding: 0 120px;
  line-height: 60px;
  font-size: 20px;
}
.icon_search_popup {

  font-size: 30px;
  color: $cerise;
  position: absolute;
  top: 30%;
  right: 3%;
}
}

.npf-msg {
font-size: 20px;
letter-spacing: 1px;
color: tint(#000, 50%);
span {
  color: $cerise;
}
}

@media screen and (max-width: 992px) {
.search-bottom-block {
  height: 200px;
}
.search-bottom-block-second {
  height: 200px;
}
.search {
  .search-input-block {
    line-height: 60px;
    input {
      padding: 0 20px;
      border: none;
      line-height: 40px;
    }
    .link-results {
      right: 12%;
      top: 15%;
    }
  }
}

.npf-msg {
  font-size: 15px;
}
.banner-mobile-category {
  margin-top: 70px;
}
.search-products {
  .checkheight {
    min-height: 300px;
    padding: 0 2rem 0 2rem;

  }

}
.mobile-nosearch{
  position: relative !important;
}
}

.searchpage{
position: absolute;
top: 0;
width: 100%;
visibility: visible !important;
}

.badge_position_plp {
  width: 30%;
  // height: 100px;
  position: absolute;
  top: 0;
  z-index: 4;
  left: 6px;
  img {
     width: 100%;
  }
}

.badge_position_plp_mobile {
  width: 40%;
  // height: 60px;
    top: 0;
    left: 6px;
  img {
    width: 100%;
  //height: 60px;
  }
}

.imagebox-new {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 150% 0 0 0;
  .outstock {

    background: url("/static/img/outofstock-cta.svg") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $cerise;
    font-family: $font-Header;
    letter-spacing: 1px;
    opacity: .8;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    a {
      color: $cerise;
    }

  }
  .image-hover-corporate {
    text-align: center;
    i {
      font-size: 30px;
    }
  }
  .image-hover {
    text-align: center;
    width: 50%;
    &:last-child {
      border-left: 1px solid tint(#000, 70%);
    }
    i {
      font-size: 30px;
    }
  }
  .icon_cross {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: tint(#000, 60%);
    font-weight: bold;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
  }
}

.image-result-new {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product-n{
  margin: 5px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
      font-size: 16px;
      font-family: $font-Serif;
      color: #000;
      text-transform: capitalize;
  }
  span {
      font-size: 16px;
      font-family: $font-Serif;
      color: #000;
      text-transform: capitalize;
  }
  a:hover {
      color: #ab1e56;
      text-decoration: none;
  }
}
.image-content {
  .product-h {
    @include plp_coll_name_desktop();
    //padding-top: 20px;
  }
  .product-n {
    @include plp_prod_name_desktop();
    a {
      @include plp_prod_name_desktop();
    }
  }
}

.discountprice {
  color: $cerise;
  font-family: $font-Serif;
  font-size: 16px;
}
.strikeprice {
  font-size: 14px;
  text-decoration: line-through;
  color: tint(#000, 50%) !important;
  font-family: $font-Serif;
}