@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.title-h1{
  font-size: 1px;
  margin-bottom: -2px;
}

.header-container {
    top: $header-top;
}

.minimumWidth {
    @include minimumWidth();
}

.hamburger {
    line-height: 46px;
    left: 15px;
    padding: 0;
    top:5px;
    color: $lgtDefault;
}

.header-container-menu {
  position: fixed;
  bottom: 0px;
  z-index: 6;
  width: 100%;
  background-color: rgb(249, 248, 245);
  height: 60px;
  transition: bottom 0.3s;
  &.hide {
    bottom: -55px;
  }
}

.header-index {
  z-index: 1000009 !important;
  // position: fixed!important;
}
.show-sort-header-index{
  z-index: 3 !important; //added for sort menu open on mobile
}
// .header-index-home {
//   z-index: 1000002 !important;
// }
.index{
  z-index: 10 !important;
}

.plp-index{
  z-index: 5 !important; //Added for refine and sort
}
.plp-index-mobile{
  z-index: 4 !important; //Added for refine and sort
}
.header-container {
    position: relative;
    margin-top: -40px;
    top: 40px;
    z-index: 12;
    width: 100%;
    background-color: rgb(249, 248, 245);
    height: $header-height;
    .minimumWidth{
      ul {
        margin: 0;
      }
    }
    .menu-container {
      text-align: center;
      &.disable {
        opacity: .5;
        .menu-item {
          text-decoration: none;
          cursor: default;
          a {
            cursor: default;
            &.hover-a {
              text-decoration: none;
            }
          }
        }
      }
    }
    .menu-item {
      display: inline-block;
      padding: 0 15px;
      // cursor: pointer;
      a.menu-item-link {
        @include b3_14px_montserrat_caps_charcoal();
        display: block;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        line-height: 50px;
        &.hover-a {
          color: $gold;
        }
        &.hover-stories:hover {
          color: $gold;
        }
        &.hover-stories {
          text-decoration: none;
        }
      }
      .icon-style {
        font-size: 16px;
      }
      .disabled-menu-item-stories {
        font-size: 14px;
        text-transform: uppercase;
        color: #464646;
        font-family: "HeaderFont", "Trebuchet MS", "geneva";
        letter-spacing: 2px;
        display: block;
        text-align: center;
        letter-spacing: 0.2em;
        position: relative;
        line-height: 50px;
      }
    }
    .disabled-menu-item {
      display: inline-block;
      padding: 0 15px;
      cursor: default;
    }
}
.logo-container {
  line-height: 49px;
  height: 50px;
  text-align: center;
}

@media (max-width: 992px) {
  .minimumWidth {
    margin: 0px;
  }

  .logo-container {
    text-align: center;
    flex: 0 0 auto;
    max-width: 50%;
  }
}

.icon-font{
    font-size: 24px;
}

.icon-cross-font{
    font-size: 16px;
}
.icon-default-color {
  color: $lgtDefault;
}
// .logo {
//     width: 111px;
//     cursor: pointer;
// }

.icon-style-disabled {
    opacity: .4;
    text-decoration: none !important;
    &:hover {
      color: inherit !important;
      cursor: default !important;
    }
}

.cerise {
    color: $cerise !important;
}


.side-menu-item {
    margin: 8px 6px 0 6px;
    position: relative;
    cursor: pointer; 
    z-index: 1;
    .inner-profile-container{
      margin-top: 9px;
    }
    .inner-wish-container {
      margin-top: 4px !important;
      color: $gold;
      &:hover {
        a, div {
          color: inherit;
        }
        .badge {
          color: inherit;
        }
      }
      a, div {
       color: $med-charcoal;
       &:hover {
         text-decoration: none;
         color: inherit;
       }
      }
    }
    .inner-cart-container {
      margin-top: 4px !important;
      color: $gold;
      &:hover {
        i {
          color: inherit;
        }
        .badge {
          color: inherit;
        }
      }
      i {
        color: $med-charcoal;
        &:hover {
          text-decoration: none;
          color: $gold !important;
        }
      }
    }
    .badge {
      position: absolute;
      top: -5px;
      right: 0;
      left: 0;
      min-width: 10px;
      padding-top: 2px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      color: #969698;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 10px;
      &:hover {
        // color: $cerise;
        color: $gold;
      }
    }
    .icon-style {
      font-size: 20px;
      margin: inherit;
    }
    .adding {
      right: -10px;
      left: auto;
      cursor: pointer;
    }
  }

.side-menu-item-mobile {
  margin: 8px 4px 6px 4px;
}

.side-menu-container {
    height: $main-header-height;
    float: right;
    display: inline-flex;
    margin-top: 2px;
    .curr {
      span {
        &:first-child{
          margin: 0 6px 0 0;
        }
        
        
      }
    }
    .currency-menu{
      margin-top: 10px;
    }
    
}
.main-menu-animation {
  width: 100%;
  position: absolute;
  left: 0;
  top: $header-height;
  max-height: 0;
  transition: max-height 0.3s ease-in;
  overflow: hidden;
  background-color: #fff;
  text-align: initial;
}
.main-menu-animation-timer {
  top: $header-height + $timer-height;
}
.main-menu {
  position: absolute;
  .img-header {
    li {
      padding-left: 0;
    }
  }

  li {
    border-bottom: 1px solid #888;
    border-bottom: none;
    padding-left: 20px;
    line-height: 30px;
    letter-spacing: .05em;
    a {
      @include menu-copy();
      letter-spacing: .09em;
      &:hover {
        color: #000;
      }
      &.subheading {
        margin-top: 25px;
        display: inline-block;
        @include menu-heading();
        // &:hover {
        //   text-decoration: underline;
        // }
        &.link-without-url {
          text-decoration: none;
          cursor: default;
        }
        &.subheading-img:before {
          background-image: url("/static/img/star-png.png");
          background-size: 20px 20px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          position: absolute;
          left: -2px;
          margin-top: 3px;
        }
        &.subheading-img:after {
          background-image: url("/static/img/star-png.png");
          background-size: 20px 20px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          position: absolute;
          margin-top: 3px;
        }
      }
    }
  }

  // .menulevel1 {
    // &:after {
    //   content: '>';
    //   float: right;
    //   font-size: 25px;
    //   color: tint(#000, 50%);
    // }
  // }
  // .menulevel1-open {
  //   &:after {
  //     content: '-';
  //   }
  // }
  .menulevel2 {
    text-transform: uppercase;

    &:after {
      content: '';
      float: right;
      border: solid $cerise;
      font-weight: bold;
      border-width: 0 2px 2px 0;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      top: 28px;
      position: relative;
      right: 5px;
    }
  }
  .menulevel2-open {

    &:after {
      transform: rotate(313deg);
    }
  }
}
.menucolor {
  color: #ab1e56 !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 100%;
}

.dropdown-menu-bar {
  background-color: #FDFDFD;
  z-index: 10;
  position: absolute;
  box-shadow: 0 7px 28px lightgray;
  width: 100%;
  margin: 0;
}
.hidden{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}
.inner-menu {
  opacity: 0;
  padding: 0 20px 50px 20px;
  @include bottom-shadow();
}
.inner-menu-active {
  max-width: 80rem;
  margin: auto;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  transition-delay: 0.2s;
}
.inner-logo {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 10%;
}

// .mobile-menu {
//   position: absolute;
//   z-index: 10;
//   width: 100%;
//   left: 0;
//   top:$header-height;
// }

.mobile-list {
  position: fixed;
  left: 0;
  padding: 0px;
  height: 100%;
  // overflow: scroll;
  .col-xs-10 {
    padding: 0;
  }
}

.menu-overlay {
  position: fixed;
  height : 100%;
  // background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.menu-slider-animate {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
  background-color: $light-beige;
  max-width: 100%;
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menu-slider {
  transform: translate3d(-840px, 0, 0);
  -webkit-transform: translate3d(-840px, 0, 0);
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
  height: calc(100vh - #{$header-height});
  overflow: scroll;
  background-color: tint(#000, 90%);
}
.op3 {
  opacity: .4;
}

.lower-menu {
  background-color: $light-beige;
  padding: 25px 20px 20px 30px;
  position: relative;
  float: left;
  width: 50%;
  
  .no-Margin {
    margin: 0;
  }
  ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    // margin-bottom: 100px;
    overflow: scroll;
  }
  li {
    @include b4_12px_montserrat_charcoal();
    text-transform: capitalize;
    line-height: 40px;
    a {
      color: $charcoal19;
      &.wishlist-link{
        position: relative;
        span{
          margin-left: 25px;
        }
      }
    }
    > :nth-child(2) {
      padding-left: 20px;
    }
    i {
      // position: absolute;
      left: 27px;
      top: 36px;

      &.wishlist-icon {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &.currency {
      &.before {
        &:after {
          content: '-';
        }
      }
      &:after {
        content: '+';
        float: right;
        font-size: 25px;
        color: tint(#000, 30%);
        font-family: $font-Lato;
        font-weight: 300;
      }

    }
    li {
      padding-left: 15px;
      text-transform: capitalize;
      &.lower-menu-currency {
        @include b5_10px_montserrat_charcoal();
      }

      &.lower-menu-selected-currency {
        @include b5_10px_semibold_montserrat_charcoal();
      }
    }
    i {
      font-size: 18px;
    }
    &.lower-menu-login-logout {
      @include b3_14px_montserrat_gold();
      text-transform: capitalize;
      letter-spacing: 0.8px;
    }
  }

  .p-open {

    &:after {
      content: '-';
    }

  }
  .icon_heart-cerise-fill {
    color: $cerise;
  }
}

.lower-menu-non-inr-height{
  @media(max-width:767px){
    height: 90vh;
    overflow: scroll;
  }
}

// .wishlist-link {
//   padding-left: 20px;
// }

.active {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  .lower-menu {
    float: right;
  }
}
.mobile-main-menu-container {
  // display: inline-block;
  width: 200%;
  transition: transform 0.3s;
}
.mobile-main-menu {
  background-color: $white;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  padding: 0 15px;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  ul{
    padding: 0px;
  }
  .outer-menu-item {
    border-bottom: 1px solid #e6e6e69c;
  }
  li {
    color: #000;
    font-size: 14px;
    font-family: $font-Header;
    letter-spacing: 0.5px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;

    .single-node{
      @include b3_14px_montserrat_charcoal();
    }
    a, span {
      @include b3_14px_montserrat_charcoal();
    }
    li {
      border-bottom: none;
      padding-left: 20px;
      // &:first-child {
      //   border-top: 1px solid tint(#000, 90%);
      // }
      a, span {
        @include b4_12px_montserrat_charcoal();
        text-transform: capitalize;
        display: block;
        &.highlight{
          @include b4_12px_montserrat_semibold_charcoal();
          font-weight: $medium;
        }
      }
      li {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  .menulevel1 {
    @include b3_14px_montserrat_caps_charcoal();
    padding-left: 20px;
    display: block;
    &:after {
      content: '';
      float: right;
      border: solid $med-charcoal;
      font-weight: bold;
      border-width: 0 1px 1px 0;
      width: 6px;
      height: 6px;
      transform: rotate(-45deg);
      top: 25px;
      position: absolute;
      right: 5px;
    }
    .right-arrow {
      font-size: 25px;
      color: $cerise;
      font-weight: 300;
      position: absolute;
      right: 0;
      top: 0;

    }
    p span {
      font-size: 14px;
    }
  }
  .menulevel1-stories {
    @include b3_14px_montserrat_caps_charcoal();
    // color: #000;
    // text-transform: uppercase;
    // font-size: 16px;
    padding-left: 20px;
    display: block;
  }
  // .menulevel1-open {

  //   &:after {
  //     content: '-';
  //   }
  // }
  .menulevel2 {
    text-transform: uppercase;
    display: block;
    &.subheading-img {
      &:before {
        background-image: url("/static/img/star-png.png");
        background-size: 20px 20px;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        position: absolute;
        left: 10px;
        margin-top: 15px;
      }
    }
    &:after {
      content: '+';
      font-weight: normal;
      color: $charcoal19;
      font-size: 18px;
      font-family: "Montserrat";
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .menulevel2-open {
    span{
      p{
        font-weight: $semibold;
      }
    }
    &:after {
      content: '-';
    }
  }
  .menulevel2-link {
    text-transform: uppercase;
    display: block;
    // padding-left: 20px;
  }
}


.first-menu{
  float: left;
  .icon-style {
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    height: 20px;
  }
  .search-text{
    @include search_text();
    padding-top: 14px;
    letter-spacing: 0.1em;
    display: flex;
    width: 100%;
    cursor: pointer;
    span {
      margin-top: 3px;
    }
  }
}




.announcement {
// position: relative;
top: $header-top;
width: 100%;
//position: fixed;
max-height: 40px;
text-align: center;
font-size: 10px;
background-color: $white;
// padding: 13px 31px 14px 31px;
// display: flex;
z-index: 10;
font-family: $font-Lato;
color: $white;

.width100 {
  width: 100%;
}
.bridal-ring {
  fill: $white;
}
/* Elements to animate */
.boxx1 {
  // width: 100%;
  // padding: 2px 15px;
  // line-height: 20px;
  // position: absolute;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // left: 0;
  // animation-name: animatetxt1;
  // animation-duration: 4s;
  // animation-fill-mode: both;
  // animation-iteration-count: infinite;
}
.boxx2 {
  // width: 100%;
  // position: absolute;
  // left: 0;
  // animation-name: animatetxt2;
  // animation-duration: 12s;
  // animation-fill-mode: both;
  // text-align: center;
  // animation-iteration-count: infinite;
}

/* Keyframes */
@keyframes animatetxt1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
  10% {
    opacity: 0.5;
    -webkit-transform: translateY(0px);

  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  90% {
    opacity: 0.5;
    -webkit-transform: translateY(0px);

  }
  // 55% {
  //   opacity: 0;
  //   -webkit-transform: translateY(-40px);

  // }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
}
@keyframes animatetxt2 {
  0% {
    opacity: 0;
-webkit-transform: translateY(-40px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
  55% {
    opacity: 0.5;
    -webkit-transform: translateY(0px);

  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
   95% {
    opacity: 0.5;
     -webkit-transform: translateY(0px);

  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);

  }
}

em {
  font-style: italic;
}
a {
  color: $white;
}
}

/* search popup */

.search {
  .search-products {
    height: calc(100vh - 180px);
  }
  .search-products-m {
    height: calc(100vh - 188px);
  }
  .search-products-ipad {
    height: calc(100vh - 180px);
  }
}

.search {
  // background-color: #f8f8f5;
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  &.row {
    margin-left: 0;
    margin-right: 0;
  }

.search-feature {
  // text-decoration: underline;
  cursor: pointer;
  margin-top: 6px;
  @include b4_12px_montserrat_charcoal_caps();
  a {
    @include b4_12px_montserrat_charcoal_caps();
  }
  // text-transform: uppercase;
  letter-spacing: 1px;
}
.search-shadow {
  @include bottom-shadow();
  background-color: $white;
}
.image-content {
  min-height: 120px;
  text-align: center;
  height: 110px;
  margin-top: 15px;
  p {
    margin: 5px 0;
  }
}
.search-input-block {
  line-height: 0;
  display: inline-block;
  line-height: 100px;
  input {
    width: 100%;
    border: 1px solid tint(#000, 80%);
    margin: 20px auto;
    background-color: $white;
    padding: 0 200px 0 120px;
    line-height: 60px;
    font-size: 20px;
    font-family: "Montserrat";
    letter-spacing: 0.5px;
    &::placeholder{
      @include search_placeholder();
      color: $light-charcoal
    }
  }
  .link-results {
    position: absolute;
    white-space: pre-wrap;
    right: 7%;
    cursor: pointer;
    @include b5_10px_montserrat_charcoal_caps();
    // &.gold-color{
    //   color: #9C7D50
    // }
  }
  .icon-search-popup {
    // cursor: pointer;
    font-size: 20px;
    color: #4c4c4c;
    position: absolute;
    top: 41%;
    left: 9%;
    @media screen and  (max-width:992px) {
      top: 39%;
      left: 5%;
    }
    @media screen and  (min-width:1700px) {
      left: 7%;
    }
  }
  .icon-search-cross {
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 1em;
    right: -6%;
    height: 40px;
    width: 40px;
    font-weight: bold;
  }
}
.search-products {
  height: calc(100vh - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 160px;
  // @include scrollbar-default();
  // &:hover {
  //   @include scrollbar();
  // }
  .suggestion-box-width{
    max-width: 20%;
    flex: 0 0 20%;
    @media screen and (max-width: 500px) {
      max-width: 49% !important;
      flex: 0 0 49%;
    }
    @media screen and (min-width: 501px) and (max-width: 767px) {
      max-width: 32% !important;
      flex: 0 0 32%;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      max-width: 25% !important;
      flex: 0 0 25%;
      padding: 0 20px 0 0;
    }
  }
  .checkheight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 300px;
  }
  .checkheight-mobile {
    min-height: 300px;
    padding: 0 0.6rem 0 1rem;
    
    @media screen and (min-width: 501px) and (max-width: 767px) {
      padding: 0 1.6rem 0 2rem;
    }
  }
  .left {
    justify-content: flex-start;
  }
  .no-suggestion-padding {
    padding: 0 10rem 0 10rem;
  }
  .only-suggestion-min-height {
    min-height: 100px;
    flex-direction: column;
    .suggestion {
      padding-left: 120px;
    }
    .suggestion-text {
      margin-left: 120px;
    }
  }
  .only-suggestion-mobile {
    padding: 0;
    .suggestion {
      padding-left: 20px;
    }
    .suggestion-text {
      margin-left: 20px;
    }
  }
}
.only-suggestion-height {
  .suggestion {
    padding-left: 0;
  }
  .suggestion-text {
    margin-left: 0;
  }
}
}
.both-products-suggestions-mobile {
  .suggestions-flex {
    flex-direction: column;  
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .suggestion {
    text-align: left;
    padding-left: 20px;
  }
  .suggestion-text {
    text-align: left;
    margin-left: 20px;
  }
}
.search-imagebox-new {
position: relative;
display: block;
width: 100%;
height: auto;
overflow: hidden;
padding: 135% 0 0 0;
}

.search-heading {
text-transform: capitalize;
font-size: 25px;
h2 {
  @include h2_24px_lora_charcoal();
  line-height: 60px;
  text-transform: capitalize;
  margin-top: 60px;
}
}

.search-image-title {
font-size: 16px;
text-transform: uppercase;
color: #464646;
font-family: "HeaderFont","Trebuchet MS","geneva";
display: block;
text-align: center;
letter-spacing: 0.5px;
position: relative;
}

.search-bottom-block-second {
width: 100vw;
height: 150px;
z-index: 10;
padding: 10px 0;
}

.search-bottom-block {
//position: fixed;
// bottom: 0;
width: 100vw;
height: 150px;
z-index: 10;
padding: 10px 0;
.count {
  font-style: italic;
  margin-top: 25px;
  font-size: 13px;
  letter-spacing: .5px;
}
button {
  height: 50px;
  width: 207px;
  border: 0px;
  cursor: pointer;
  margin-top: -6px;
  font-size: 14px;
  background-color: $med-charcoal;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: $font-Montserrat;
}
}

.header-container {
.search {
  visibility: visible;
  z-index: 1;
  @include transition(all, 1s, ease-in-out);
  top: $header-height;
}
  .search-timer {
    top: $header-height + $timer-height;
  }
}

.search-block-page {
cursor: pointer;
input {
  width: 100%;
  background-color: $white;
  padding: 0 120px;
  line-height: 60px;
  font-size: 20px;
}
.icon-search-popup {

  font-size: 23px;
  color: $charcoal19;
  position: absolute;
  top: 30%;
  right: 3%;
}
}
.icon-style-cross {
  font-size: 14px;
  padding-top: 4px;
  // top: 0px;
  padding-right: 8px;
  // margin-left: -30px;
  color: #000;
  font-weight: bold;
}
.npf-msg {
letter-spacing: 1px;
@include b3_14px_montserrat_light_charcoal();
  span {
    @include b3_14px_montserrat_gold();
  }
}

@media screen and (max-width: 992px) {
.search-bottom-block {
  height: 100px;
  width: 100%;
}
.search-bottom-block-second {
  height: 200px;
}
.search {
  .search-input-block {
    line-height: 60px;
    input {
      padding: 6px 170px 6px 58px;
      line-height: 40px;
      @media(max-width:767px){
        border: none;
        padding: 0 170px 0 50px;
      }
    }
    .link-results {
      right: 12%;
      top: 15%;
      &.mobile-link-results{
        right: 6%;
        font-size: 9px;
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 850px) {
  .search {
    .search-input-block {
      input {
        padding: 0 170px 0 60px;
      }
    }
  }
}

.npf-msg {
  font-size: 15px;
  width: 259px;
  height: 39px;
  margin: 0 auto;
}
.banner-mobile-category {
  margin-top: 70px;
}

.mobile-nosearch{
  position: relative !important;
}
}

.searchpage{
position: absolute;
top: 0;
width: 100%;
visibility: visible !important;
}

.badge-position-plp {
  width: 60px;
  // top: 10px;
  // left:10px;
  z-index: 4;
  position: absolute;
  z-index: 1;
  img {
    width: 100%;
    margin: 0px 0 0 0;
  }
}

.badge-position-plp-mobile {
    width: 40px;
    // top: 4px;
    // left: 4px;
    position: absolute;
    z-index: 4;
  img {
    width: 100%;
    margin: 0px 0 0 0;
  }
}
.imagebox-new {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 150% 0 0 0;
  .outstock {
    background: url('../../images/outofstock-cta.svg') no-repeat;
    @include b4_12px_medium_medcharcoal_caps();
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 1px;
    opacity: .8;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    a {
        color: $med-charcoal !important;
    }
  }
  .image-hover-corporate {
    text-align: center;
    i {
      font-size: 30px;
    }
  }
  .image-hover {
    text-align: center;
    width: 50%;
    &:last-child {
      border-left: 1px solid tint(#000, 70%);
    }
    i {
      font-size: 30px;
    }
  }
  .icon_cross {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: tint(#000, 60%);
    font-weight: bold;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
  }
}

.image-result-new {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product-n{
  margin: 5px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 7%;

  &.collection-n{
    padding: 0;
  }
  a {
    @include b3_14px_montserrat_charcoal();
    text-transform: capitalize;
    letter-spacing: 0.5px;
    &:hover{
      @include b3_14px_montserrat_medium_charcoal();
    }
  }
  b{
    font-weight: 600;
  }
  .discountprice {
    color: $cerise;
    font-family: $font-Lato;
    font-size: 14px;
  }
  .strikeprice {
    font-size: 14px;
    text-decoration: line-through;
    color: tint(#000, 50%) !important;
    font-family: $font-Lato;
  }
}
// .image-content {
//   .product-h {
//     @include plp_coll_name_desktop();
//     //padding-top: 20px;
//   }
//   .product-n {

//     @include plp_prod_name_desktop();
//     a {
//       @include plp_prod_name_desktop();
//     }
//     // a {
//     //   &:hover {
//     //     color: $cerise;
//     //   }
//     // }
//   }
// }

.fixed-pincode-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  letter-spacing: 0.5px;
  font-size: 13px;
  z-index: 6;
  background-color: #00425b;
  padding: 10px;
  text-align: center;
  font-family: $font-Lato;
  a.pincode-bar-btn {
    border: 1px solid white;
    margin-left: 20px;
    padding: 5px 30px 5px 0px;
    cursor: pointer;
    .location {
      font-size: 18px;
      margin: 5px 10px;
    }
  }
  span {
    color: white;
    line-height: 30px;
  }
}
@media (max-width:992px) {
  .first-menu{
    .icon-style {
      font-size: 22px;
      margin-right: 2px;
      margin-left: -32px;
    }
  }
  .fixed-pincode-bar {
    position: fixed;
    bottom: 50px;
    width: 100vw;
    height: auto;
    letter-spacing: 0.5px;
    font-size: 13px;
    // z-index: 6;
    background-color: #00425b;
    padding: 10px;
    text-align: center;
    font-family: $font-Lato;
    div {
      display: flex;
    align-items: center;
    justify-content: space-between;
    >span {
       
    line-height: 17px;
    text-align: left;
    font-size: 11px;
     
    }
    a{
      &.pincode-bar-btn {
      border: 1px solid white;
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
    height: 30px;
    display: inline-flex;
    cursor: pointer;
    span {
      &.location {
        font-size: 18px;
    margin: 0px 5px;
      }
    }
      }
    }
    }
  }
  
  
}
.suggestion-wrap{
  @media screen and (max-width:992px) {
    display: block;
    flex-wrap: nowrap;
  }
}

.suggestion {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: $font-Lato;
    padding-left: 100px;
    text-align: left;
}
.suggestion-text{
  margin-top: 5px;
  font-size: 14px;
  float: left;
  margin-left: 100px;
  font-family: $font-Lato;
  .first-text{
    text-transform: uppercase;
  }
}
.mobile-wishlist {
  font-size: 32px;
  // top: 2px;
  color: $cerise;
}
// .sidemenu-mobile {
//   margin-left: 70px;
// }

.mobile-search {
  text-align: right;
  line-height: 45px;
  padding-right: 10px !important;
  padding-top: 5px;
  i {
    font-size: 18px;
  }
  .icon-style-cross {
    font-size: 14px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #000;
    font-weight: bold;
  }
  .badge {
    position: absolute;
    top: 4px;
    right: 12px;
    min-width: 10px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #969698;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    &:hover {
      color: $cerise;
    }
  }
  &.bottom-menu-item{
    padding: 4px 0 0 0 !important;
  }
}

.bottom-menu-item {
  text-align: center;
  line-height: 50px;
  padding-right: 0;
  left: 0;
  .badge {
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    min-width: 10px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #969698;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    &:hover {
      color: $cerise;
    }
  }
  .icon-style {
    font-size: 21px;
    color: #444444;
    margin: inherit;
  }
  .wishlist-icon-style {
    position: relative;
    bottom: 2px;
    color: #444444;
    &.wishlist-active{
      color: $gold;
    }
  }
  .menu-icon-style {
    font-size: 28px;
  }
  .logo-icon-style {
    font-size: 26px;
  }
  a{
    position: relative;
  }
  .whislist-dot-mobile{
    width: 7px;
    height: 7px;
    position: absolute;
    background: $gold;
    border-radius: 100%;
    right: -3px;
    top: 10px;
  }
}

.hamburger-bottom-menu {
  top: 8px;
}

.wishlist-link-bottom-menu {
  font-size: 28px;
}
.cart-bottom-menu {
  padding-top: 5px;
}
.home-bottom-menu {
  padding-top: 5px;
}

ul.inner-menu-mobile {
  padding: 0 20px;
  li{
    line-height: 20px;
    margin: 25px auto;
  }
  &>li:first-child {
      background-color: #FCFCFA;
      position: sticky;
      position: -webkit-sticky;
      top: -1px;
      z-index: 1;
      // border-bottom: 1px solid #e6e6e6;
      margin:0 -35px 10px -35px;
      padding: 0 35px;
      line-height: 50px;
  }
}
.inner-menu-heading {
  // text-align: center;
  .back {
    @include b5_10px_montserrat_charcoal();
    text-transform: capitalize;
    padding-left: 20px;
    &:before {
      content: '';
      float: left;
      border: solid black;
      border-width: 0 1px 1px 0;
      width: 6px;
      height: 6px;
      transform: rotate(135deg);
      top: 21px;
      position: absolute;
      left: 5px;
    }
  }
  .title {
    @include b3_14px_montserrat_semibold_charcoal();
    text-transform: uppercase;
    text-align: center;
    a {
        color: inherit;
    }
  }
}

.double-arrow {
  font-size: 26px;
  vertical-align: middle;
  right: -10px;
  position: relative;
}

.separator {
  border-right: 1px solid #D8D8D8;
}

.hr {
  margin: 20px 0 20px 0;
  height: 1px;
  border: none;
  background: #D8D8D8;
}
.column-container {
  margin-top: 25px;
}

.l3-animation {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.countdown-timer {
  height: 40px;
  width: 100%;
  background-color:#f3f3f3;
  color: $cerise;
  font-family: $font-Montserrat;
  .text-wrapper {
      margin-left: 0px;
      margin-right: 0px;
  }
  .timer-txt {
    font-size: 12px;
    line-height: 40px;
    text-align: right;
  }
  .timer-cta-btn {
    padding: 2px 8px;
    width: fit-content;
    font-size: 11px;
    margin-top: 8px;
  }
  .timer {
    padding: 0 10px;
    font-weight: 400;
    padding-top: 3px;
    .timer-label {
      font-size: 10px;
      color: #333;
    }
    .timer-value {
      font-size: 12px;
    }
    table {
      text-align: center;
      margin: auto;
      td {
        padding: 0 2px;
      }
    }
  }
}
.header-bg {
  background-color: #f9f8f5;
}

// .announcement-cta {
//   display: inline;
// }
.announcement-content {
  max-width: 75%;
  font-weight: $semibold; 
  @include b5_10px_montserrat_white();

  a{
    @include b5_10px_montserrat_white();
    line-height: 13px;
    font-weight: $semibold; 
    p{
      display: flex;
      font-weight: $semibold; 
    }
  }
}
.no-url{
  cursor: unset;
}
.announcement-cta-btn {
  font-family: $font-Montserrat;
  font-size: 10px;
  letter-spacing: 0.50px;
  font-weight: $semibold; 
  text-decoration: underline;
  text-underline-offset: 3px;
  // padding: 0px 8px;
  // margin-top: 4px;
  margin-left: 10px;
  cursor: pointer;
  line-height: 20px;
  height: 22px;
}
.announcement-container {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  padding: 14px 31px 14px 31px;
  z-index: 1;
  position: relative;
  
  @media (max-width:992px) {
    padding: 10px 28px 10px 28px;
  }
}

@media (max-width: 992px) {
  .announcement-cta-btn {
    margin-left: 10px;
  }
}

.top-bag-item {
  text-align: center;
  line-height: 50px;
  padding-top:5px;
  .top-bag-icon-style {
    font-size: 21px;
    color: #444444;
    margin: inherit;
    cursor: pointer;
  }
  .top-badge{
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    min-width: 10px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #969698;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    // &:hover {
    //   color: $cerise;
    // }
  }
}

// .lower-menu-selected-currency {
//   @include b5_10px_semibold_montserrat_charcoal();
// }

// .lower-menu-currency {
//   @include b5_10px_montserrat_charcoal();
// }

.wishlist-gold{
  color: $gold !important;
}

.cart-gold{
  color: $gold !important;
}

.product-heading {
  @include b5_10px_montserrat_light_charcoal();
  color: $light-charcoal;
}
.product-name {
  @include b5_10px_montserrat_light_charcoal();
  color: $light-charcoal;
}

.padding-mobile {
  margin-left: 19px;
  @media screen and (min-width: 501px) and (max-width: 767px) {
    margin-left: 35px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin-left: 3px;
  }
}

.padding {
  padding: 0 10.2rem;
}
.collection {
    // width: 35%;
    margin-left: 5px;
    .slider-image{
    
      @media screen and (min-width:992px) {
        object-fit: cover;
        height: 113px;
        width: 223px;
      }
     
    }
   .title{
    @include b4_12px_montserrat_light_charcoal();
    margin-top: 5px;
   }
   b {
    font-weight: 600;
    }
  .slider-image{
    @media screen and (max-width: 992px){
      height: 86px !important;
      object-fit: cover !important;
    }
  }
    
  @media screen and (max-width:992px){
    flex: 0 0 100%;
    max-width: 175px;
    margin-left: 0px;

    &:not(:last-child) {
      padding-right: 6px;
    }
  }
}
.categories {
  @include b4_12px_montserrat_light_charcoal();
  margin-top: 5px;
  b {
    font-weight: 600;
  }
  cursor: pointer;
}
.collectionlist {
  display: inline-flex;
  @media screen and (max-width:992px){
    display: flex;
    flex-wrap: nowrap;
    white-space: normal;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.trending {
  display: inline-block;
  a {
    margin-right: 10px;
    height: 30px;
    color: black;
    cursor: pointer;
    background-color: #F7F7F7;
    display: inline-block;
    width: -moz-fit-content;
    padding-left: 8px;
    padding-top: 2px;
    padding-right: 10px;
    margin-top: 10px;
  }
}
.trendingmobilePad {
  // padding-left: 19px;
  // margin-left: 5%;
  width: 100%;
  @media(max-width:767px){
    padding: 0% 5%;
  }
  @media(min-width:768px)and(max-width:992px){
    margin-left:2px;
  }
}
.trendingdesktopPad {
  // padding-left: 10.2rem;
  // margin-left: 17%;
  width: 100vw;
}
.didYouMeanText{
  width: 100%;
  @include b3_14px_montserrat_charcoal();
}
.icon-cross {
  font-size: 10px;
  margin: 9px 3px 0px 5px;
  color: #9F9F9F;
}
.trendingcat {
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  color: #191919;
  margin: 5px;
  text-align: center;
}

.recentWrp{
  margin-left: 17%;
  width: 20vw;
  margin-top: 50px;
  @media screen and (max-width:767px) {
    margin-left: 5%;
    width: 85vw;
  }
  @media screen and (min-width:768px) and (max-width:992px) {
    margin-left: 0;
    width: 100%;
    padding-right: 20px;
    margin-left: 2px;
  }

  button{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    @include b5_10px_montserrat_charcoal();
  }

  .recentWrpHead{
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
  }
  .recentBlock{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    a{
      @include b4_12px_montserrat_light_charcoal();
    }

    .search-cross{
      font-size: 20px;
      color: #9F9F9F;
      cursor: pointer;
    }
  }

  .recentBlock:last-child{
    padding-bottom: 0;
  }
}

.sideMenuWrapper{
  @media(min-width:992px){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.flex-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-family: $font-Montserrat;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.6px;
  font-weight: 600;
  text-transform: capitalize;
}

div[data-currency="USD"] div[data-testid="pdp-product-price-prefix"] {
  display: none;
}

div[data-currency="USD"] div[data-testid="pdp-product-price-suffix"] {
  display: none;
}

@media (min-width:992px) {

  .side-menu-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

  }
}
.menu-for-tablet{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media(min-width:768px)and(max-width:992px){
  .menu-for-tablet{
    padding: 0 45px;
    .hamburger{
      left:unset;
    }
    .side-menu-wrapper{
      padding: 0;
      ul{
        justify-content: right;
      }
      li{
        flex-grow: unset;
      }
      li.mobile-search{
        padding-right: 30px!important;
      }
    }
  }
  .mobile-main-menu-container{
    ul.mobile-main-menu{
      padding: 0 65px;
    }
    span.menulevel1{
      padding:0;
    }
    div.lower-menu{
      padding: 25px 65px;
    }
    div.mobile-main-menu{
      padding:0;
      ul.inner-menu-mobile{
        padding: 0 65px;
      }
    }
    ul.inner-menu-mobile{
      >li:first-child{
        margin: 0 -65px;
        padding: 0;
        div.inner-menu-heading{
          padding: 0 65px;
          margin: 0;
        }
      }
    }
  }
}
//========you might like section========//
.ymlp-padding{
  @media(max-width:767px){
    padding: 0 5%;
  }
}

.ymlp-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 300px;

  @media screen and (max-width:767px) {
    margin: 0 2%;
  }

  .ymlp-tile{
    padding: 0 10PX;
    @media screen and (min-width:767px) and (max-width:992px) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 20px 0 0;
    }
    @media screen and (min-width:993px) {
      flex: 0 0 20%;
      max-width: 20%;
      padding: 0 20px 0 0;
    }

    

    .image-content{
      height: 80px;
      a {
        @include b3_14px_montserrat_charcoal();
        text-transform: capitalize;
        letter-spacing: 0.5px;
        &:hover{
          @include b3_14px_montserrat_charcoal();
  
        }
      }
    }

  }
}

.suggested-data{
  li{
    @include b3_14px_montserrat_charcoal();
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 19px;
    margin-right: 10px;
    padding: 7px 12px;
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    border-radius: 15px;
    transition: 0.3s;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    white-space: nowrap;

    &:hover{
      cursor: pointer;
      background: #fff;
      border: 1px solid #E5E5E5;
    }
  }
}
.suggest-data-div{
  display: flex;
  overflow-x: auto;
  justify-content: start;
  padding: 0 0.6rem 0 1rem;
  &::-webkit-scrollbar {
    display: none;
  }
}

.search-last-word{
  font-weight: 600!important;
  text-transform: capitalize!important;
}

.featured-title{
  margin-top: 30px;
  @include b3_14px_montserrat_caps_charcoal();
}
.featured-cta{
  margin-bottom: 30px;
  a{
   @include b4_12px_montserrat_semibold_charcoal();
  }
  
}
@media(min-width:768px)and(max-width:992px){
  .search-tab-container{
    max-width: 670px;
    margin: 0 auto;
  }
  .checkheight-mobile,
  .suggest-data-div{
    padding:0!important;
  }
}

.whislist-dot{
  width: 7px;
  height: 7px;
  position: absolute;
  background: $gold;
  border-radius: 100%;
  right: 3px;
  top: 6px;
}

.divider {
  height: 1px;
  background: #D8D8D8;
  border: none;
  margin-top: 30px;
}
