@import "../../../styles/partials/form";
@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.toggle-password-btn {
  width: 26px;
  top: 12px;
  right: 12px;
  position: absolute;
  cursor: pointer;
}
.login-err-msg {
    @include err_13px_lora_italic_cerise();
    letter-spacing: 1px;
    text-transform: none;
    line-height: 15px;
    text-align: left;
    margin-bottom: 10px;
    .error {
        color: $cerise ;
        text-decoration: underline;
        cursor: pointer;
      }
  }

  .social-login-footer {
    border-top: 1px solid #e6e6e6;
      padding: 30px 0;
      margin-top: 30px;
  }
  
  .social-login-text {
    font-size: 12px;
    font-family: $font-Lato;
    color: #666;
    letter-spacing: 1px;
  }

.password {
  input {
  scroll-margin-top: 150px;
  scroll-snap-margin-top: 150px;
  }
}