@import "../../../styles/partials/form";

@media screen and (min-width: 992px) {
  .centerpage {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // button {
    //   background-color: $white;
    //   border-radius: 50%;
    // }
  }
  .popup-form-bg {
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 100%;

    .fix-head {
      background-color: $white;
      // position: fixed;
      // width: 33%;
      z-index: 5;
      position: sticky;
      top: 0;
      .header {
        margin: 0px 24px;
        height: 70px;
        border-bottom: 1px solid rgb(193, 193, 193);
        width: 100%;
      }
    }
    &.popup {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 600px !important;
      left: 50%;
      transform: translateX(-50%);
      width: 428px;
      @include scrollbar-default();
      &:hover {
        @include scrollbar();
      }
    }
  }
  .popup-img {
    // background: url("../../../images/signInSavannah20.jpg");
    background-size: 100% 100%;
    width:628px;
  }
}
  
.popup-form-bg {
  background-color: $white;
}
  
.popup {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  position: relative;
}

.close-popup {
  right: 20px;
  font-size: 40px;
  color: tint(#000, 50%);
  position: absolute;
  top: 20px;
  line-height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:before {
    font-size: 42px;
    color: tint(#000, 30%);
    cursor: pointer;
  }
}

.logo-popup {
  height: 70px;
}

.popup-header {
  line-height: 70px;
  border-bottom: 1px solid tint(#000, 90%);
}

@media screen and (max-width: 992px) {
  .popup-form-bg {
     height: 100vh !important;

    overflow-y: scroll;
    z-index: 0;
    padding-bottom: 100px;
    .fix-head {
      background-color: $white;
      // position: fixed;
      // width: 100%;
      z-index: 5;
      position: sticky;
      top: 0;
      .header {
        margin: 0px 24px;
        height: 70px;
        border-bottom: 1px solid rgb(193, 193, 193);
        width: 100%;
      }
    }
    &.popup{
      width: 100vw;
    }
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .centerpage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // width: 100%;

    // button {
    //   background-color: $white;
    //   border-radius: 50%;
    // }
  }
  .popup-img {
    height: 100%;
  }
  .children-container{
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
.mTop60 {
  margin-top: 60px;
}
.mTop72 {
  margin-top: 72px;
}

.children-container {
  padding: 0px 24px;
  margin-top: 40px;
  position: relative;
  &.is-success-msg{
    margin-top: 0px;
  }

}