.bridal-pop .slick-arrow.slick-prev {
  left: -100px;
  height: 72px;
}
.bridal-pop .slick-arrow.slick-prev:before {
  font-size: 60px;
  left: -5px;
}
.bridal-pop .slick-arrow.slick-next {
  right: -100px;
  height: 72px;
}
.bridal-pop .slick-arrow.slick-next:before {
  font-size: 60px;
  right: -5px;
}