@import "../../../../styles/partials/mixins";
@import "../../../../styles/partials/form";

.login-form > p{
    padding: 0.5em 0;
    line-height: 20px;
    font-size: 14px;
    @include c10-L-R();
  }

.add {
    address {
    .edit {
        width: 90%;
    }
    }
    .section-middle {
    border-right: 0;
    }
}

.bridal-ring-cerise {
    fill: $cerise;
}
.heading {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}


.arrow-down {
    border: solid #4d4d4d;
    padding: 10px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: inline-block;
}

.arrow-up{
    border: solid #4d4d4d;
    padding: 10px;
    border-width: 0 1px 1px 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    display: inline-block;
}

.bridal-icons {
    margin-top: 30px;
    margin-bottom: 20px;
    ul {

    &.icons {
        margin-top: 30px;
        li {
        background-color: tint(#000, 95%);
        height: 130px;
        width: 130px;
        display: inline-grid;
        place-items: center;
        border: 1px solid transparent;
        cursor: pointer;
        img {
            width: 80px;
        }
        ~ li {
            margin-left: 50px;
        }
        &:hover {
            border: 1px solid $cerise;
            svg {
            fill: $cerise;
            }
        }
        &.active {
            border: 1px solid $cerise;
            .bridal-ring {
            fill: $cerise;
            }
        }
        }
    }
    }
    ul {

    &.txt {
        li {
        width: 130px;
        place-items: center;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        text-transform: capitalize;
        line-height: 30px;
        ~ li {
            margin-left: 50px;
        }
        }
        margin-bottom: 30px;
    }
    }
}
.letter-spacing1 {
    letter-spacing: 1px;
    font-size: 14px;
}

.add {
    address {
    &.order-block {
        &.manage-add {
        min-height: 260px;
        height: auto;
        &.address-in-use {
            position: absolute;
            background-color: #ccc;
            height: 100%;
            width: 100%;

        }
        .letter-spacing1 {
            letter-spacing: 1px;
            font-size: 14px;
        }
        }
    }
    }
}

.bridalicon-pdp {
    .bridal-ring {
      // background-color: tint(#000, 70%);
      // border-radius: 50%;
      fill: #000;
      cursor: pointer;
      &.active {
        background-color: $cerise;
      }
    }

    .pdp_spec {
      color: #000;
    }
  }

  .back-gc {
    line-height: 50px;
    font-size: 12px;
    color: #000;
    text-transform: none;
    letter-spacing: 1px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    a {
      cursor: pointer;
      color: #000;
    }
  }
  .gc-form {
    li {
      a {
        color: $cerise;
      }
      div {
        label {
          position: absolute;
          top: -10px;
          left: 10px;
          font-weight: 100;
          font-size: 10px;
          color: #999;
          letter-spacing: 1px;
          background-color: #fff;
          padding: 3px;
        }
      }
    }
  }

.gc-head {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
  
.blank {
    display: block;
    height: 250px;
  }
  .calendar-icon {
    position: absolute;
    top: 0;
    right: 10px;
    svg {
      fill: $cerise;
    }
  }
  .share-txt-box {
    width: 100%;
    border: 1px solid tint(#000, 90%);
    text-align: left;
    input {
      border: none;
      width: 74%;
    }
  }
  .rc {
    .bridal-ring {
      fill: $cerise;
    }
    .c22-A-I {
      margin-top: 0;
    }
  }

  .widget-qty {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 2px 0;
    font-size: 10px;

    input {
      padding: 3px 12px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      width: inherit;
      text-align: center;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
    }

    .plus-quantity, .minus-quantity {
      font-size: 12px;
      cursor: pointer;
      padding: 3px 12px;
    }
  }

  .size-block {
    width: 430px;
    min-height: 360px;
    background-color: $white;
    &.enquire {
      .cross {
        cursor: unset;
      }
    }
    &.ipops {
      .slick-arrow {
        &.slick-prev {
          left: -100px;
          height: 72px;
          &:before {
            font-size: 60px;
            left: -5px;
          }
        }
        &.slick-next {
          right: -100px;
          height: 72px;
          &:after {
            font-size: 60px;
            right: -5px;
          }
        }
      }
  
      .cerise-btn {
        position: relative !important;
        width: 260px !important;
      }
      img {
        height: 483px;
        border: 5px solid #fff;
      }
      width: 692px;
      height: 650px;
      .txt {
        padding: 2em 5em;
      }
      .slick-dots {
        bottom: -20px;
        li {
          button {
            background: $cerise;
          }
        }
      }
      .cross {
        border-bottom: none;
        background-color: transparent;
      }
    }
    &.text-left-error {
      .error-msg {
        text-align: left;
      }
    }
    .pdp_spec {
      @include pdp_spec();
      margin-top: 10px;
    }
    .cerise-btn {
      @include cerise-btn();
      position: absolute;
      bottom: 0;
    }
    .plp_coll_name_desktop {
      @include plp_coll_name_desktop();
    }
    .plp_prod_name_desktop {
      @include plp_prod_name_desktop();
    }
    .cross {
      border-bottom: 1px solid tint(#000, 95%);
      text-align: right;
      font-size: 35px;
      //margin: 0 10px 20px 10px;
      padding-right: 5px;
      cursor: pointer;
      position: fixed;
      z-index: 10;
      background-color: #fff;
      width: 100%;
    }
    .price {
      font-size: 12px;
      line-height: 30px;
      font-family: "AmiriFont", "Baskerville", "Garamond";
      margin-top: 0;
    }
    .error-msg {
      @include error-msg();
      text-align: center;
    }
  }

  .size-block-mobile {
    background-color: white;
    &.ipops {
      width: 100%;
      height: 100%;
      margin-top: 30px;
      .icon_cross {
        &:before {
          color: #fff;
        }
      }
      .slick-dots {
        bottom: 0px;
      }
      img {
        height: 450px;
      }
      .add-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 101;
        .cerise-btn {
          width: 100% !important;
        }
      }
      .slick-slider {
        // margin-top: 48px;
      }
      .txt {
        padding: 2em;
        -webkit-box-shadow: -1px -2px 5px 0px rgba(212, 212, 212, 1);
        -moz-box-shadow: -1px -2px 5px 0px rgba(212, 212, 212, 1);
        box-shadow: -1px -2px 5px 0px rgba(212, 212, 212, 1);
      }
      .cross {
        border-bottom: none;
        background-color: tint(#000, 50%);
      }
      &.enquire {
        .cross {
          cursor: unset;
        }
      }
    }
  }

  .centerpage-desktop {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .centerpage-desktop-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .bridal-ring {
    fill: $cerise;
  }

.bridal-pop-btn {
  width: 260px;
}

@media screen and (max-width: 320px) {
  .size-block-mobile {
    &.ipops {
      img {
        height: 370px !important;
      }
    }
  }
}