@import "../../../styles/partials/variables";
@import "../../../styles/partials/form";
@import "../../../styles/partials/mixins";

//==================CREDIT NOTES POPUP=====================//
.credit-note-head{
    @include b4_12px_montserrat_charcoal_caps();
}
  
.cn-body{
padding: 0px 0px 20px 0px !important;

.boxWrp{
    max-height: 475px;
    overflow: auto;
    padding: 0 35px;

    &::-webkit-scrollbar {
        // background-color:#fff;
        width: 8px;
      }
      /* background of the scrollbar except button or resizer */
      // ::-webkit-scrollbar-track {
          // background-color:#fff
      // }
      /* scrollbar itself */
      &::-webkit-scrollbar-thumb {
          background-color:#a6a6a6;
          border-radius:5px;
          border:2px solid #fff;
      }
      /* set button(top and bottom of the scrollbar) */
      &::-webkit-scrollbar-button {display:none}

    .credit-note{
    padding: 25px 20px;
    margin-bottom: 10px;
    border: 0.8px solid #707070;
    margin-bottom: 10px;
    
    .head-div{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        align-items: center;
    
        h6{
        margin-bottom: 0;
        @include b4_12px_medium_charcoal_caps();
        }
    
        .checkbox-wrp{
        display: flex;
    
        label{
            width: 22px;
            height: 22px;
            margin: 0;
            padding-left: 0;
        }
        }

        .expired-head{
        display: flex;
        justify-content: space-between;

        p{
            position: relative;
            padding-right: 30px;
            @include b5_10px_montserrat_charcoal();
        }

        .icon-carrot {
            cursor: pointer;
    
            span {
                content: '';
                border: solid $charcoal19;
                border-width: 0 1px 1px 0;
                width: 10px;
                height: 10px;
                position: absolute;
                transform: rotate(45deg);
                top: -2px;
                right: 0;
    
    
                &.active {
                    transform: rotate(225deg);
                    top: 3px;
                }
            }
    
        }

        }
        
    }

    .body-div{
        p{
        text-align: left;
        @include b4_12px_montserrat_charcoal();
    
        span{
            font-weight: $semibold;
        }
        }
    
        .balance{
        padding-top: 10px;
        @include b4_12px_montserrat_med_aqua();
        }

        &.expired-body{
        opacity: 0.4;
        }
    }

    &.bg-grey{
        background-color: $lightest-grey;
        border: none;
    }
    } 
}
}
  