@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.tooltip {
    margin: 0 !important;
    width: auto !important;
    max-width: unset !important;

    img {
        height: 15px;
        position: absolute;
        top: -7px;
        left: 0px;
        cursor: pointer;
        z-index: 1;
    }
    .tooltip-msg{
        @include b5_10px_montserrat_charcoal();
        letter-spacing: 0.24px;
        line-height: 12px;
        font-weight: $light;
        font-size: 10px;
        border-radius: 5px;
        padding: 5px;
        background-color: #fff;
        height: 80px;
        width: 146px;
        @media screen and (max-width: 768px){
            height: 95px;
            width: 120px;
            &.show{
                bottom: 36px !important;
                left: -36px !important;
              }
        }
        box-shadow: 0px 3px 6px #00000029;
        display: none;
        &.show{
            display: block;
            position: absolute;
            bottom: 23px;
            left: 1px;
        }
    }
}

.number-input{
    .update-btn{
        @include b5_10px_montserrat_charcoal();
        letter-spacing: 1px;
        text-decoration: underline;
        text-underline-offset: 4px;
        cursor: pointer;
        display: inline;
        position: absolute;
        top: 25px;
        right: 10px;
        transform: translateY(-50%);
    }
}
.terms-msg{
    margin-bottom: 25px;
}
.whatsapp {
    margin: 20px 0 !important;
    .flex-for-tooltip{
        display: flex;
        margin: unset;
        width: auto;
        max-width: max-content;
    }
}
.manage-msg{
    padding-left: 30px;
    top: -20px;
    margin: 0 !important;
}
.show-popup-msg{
    display: flex;
    margin: 20px 0 !important;
    max-width: 100% !important;

    &.manage-msg{
        padding-left: 30px;
        top: -18px;
        .text{
            margin-left: 0px;
        }
    }
    img {
        height: 16px;
        padding-top: 3px
    }
    .text {
        margin-left: 10px;

        &.oneline{
            display: flex;
            max-width: max-content !important;
        }
        .info{
            @include b4_12px_montserrat_charcoal();
            font-weight: $medium;
            color: #548B8B;
            letter-spacing: 0.3px;
            line-height: 16px;  
            white-space: nowrap;
        }
        .cta {
            @include b4_12px_montserrat_charcoal();
            font-weight: $medium;
            color: #548B8B;
            letter-spacing: 0.3px;
            line-height: 16px;
            max-width: max-content !important;
            white-space: nowrap;
            a { 
                color: #548B8B;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
        .visible{
            display: none;
        }
    }
    .whatsUp-text{
        max-width: unset !important;
    }

}

.save-pref-btn{
    margin-top: 25px !important;
}

.whatsapp-no-err{
    padding-bottom: 10px;
    margin-top: -10px;
    // @include err_13px_lora_italic_cerise();
    // @include err_13px_lora_italic_cerise();
    font-size: 13px !important;
    font-style: italic !important;
    color: #ab1e56 !important;
    font-weight: 500 !important;
    font-family: "Lora", "serif" !important;
    letter-spacing: 0.3px !important;
    text-align: left;
    line-height: 15px !important;
    // margin-top: 6px !important;
}

.whatsapp-checkout {
    margin-bottom: 0px !important;
}

  .isd-code{
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    text-align: left;
    @include b5_10px_montserrat_light_charcoal();
    letter-spacing: 0.36px;
    display: flex;
    align-items: center;
    font-weight: 300 !important;
    &:hover{
        font-weight: 400 !important;
        @include b5_10px_montserrat_charcoal();
      }
      &.aqua-text{
        @include b5_10px_montserrat_aqua();
      }
  }  

  img.country-code-search-icon{
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  
  input[type="text"].country-code-search-input{
    padding-left: 30px !important;
    height: 40px !important;
    &:focus{
      padding-left: 30px !important;
    }
  }

  .contact-num{
    width: 70% !important;
    input{
      width: 100% !important;
    }
  }
  
  .country-code-wrp{
    width: 28% !important;
  
    input{
      width: 100% !important;
    }
  }  