@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.tooltip {
    margin-left: 5px;
    img {
        height: 15px;
        position: absolute;
        top: -7px;
        left: 0px;
        cursor: pointer;
        z-index: 1;
    }
    .tooltip-msg{
        @include b5_10px_montserrat_charcoal();
        letter-spacing: 0.24px;
        line-height: 12px;
        font-weight: $light;
        font-size: 8px;
        border-radius: 5px;
        padding: 5px;
        background-color: #fff;
        height: 80px;
        width: 146px;
        box-shadow: 0px 3px 6px #00000029;
        display: none;
        &.show{
            display: block;
            position: absolute;
            bottom: 23px;
            left: 1px;
        }
    }
}

.number-input{
    .update-btn{
        @include b5_10px_montserrat_charcoal();
        letter-spacing: 1px;
        text-decoration: underline;
        text-underline-offset: 4px;
        cursor: pointer;
        display: inline;
        position: absolute;
        top: 25px;
        right: 10px;
        transform: translateY(-50%);
    }
}

.whatsapp {
    .flex-for-tooltip{
        display: flex;
    }
}
.manage-msg{
    padding-left: 45px;
    top: -20px;
}
.show-popup-msg{
    display: flex;
    &.manage-msg{
        padding-left: 30px;
        top: -18px;
        .text{
            margin-left: 0px;
        }
    }
    img {
        height: 16px;
        padding-top: 3px
    }
    .text {
        margin-left: 10px;
        .info{
            @include b5_10px_montserrat_charcoal();
            font-weight: $medium;
            color: #548B8B;
            letter-spacing: 0.3px;
            line-height: 16px;
        }
        .cta {
            @include b5_10px_montserrat_charcoal();
            font-weight: $medium;
            color: #548B8B;
            letter-spacing: 0.3px;
            line-height: 16px;
            a { 
                color: #548B8B;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }
}