@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.image-boxnew {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.image-content {
    text-align: center;
    // height: 160px;
    margin-top: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-resultnew{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.plpMain{
    position: relative;
    .combodiv{
        display: flex;
    }
    .product-size-list{
        display: flex;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &:hover .product-size-list {
        opacity: 1;
    }
}

.hidden{
    display: none !important;
}
.combodiv {
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(255,255,255,0.8);
    min-height: 40px;
    line-height: 20px;
    cursor: pointer;
    p{
        font-size: 12px;
        text-transform: uppercase;
        color: #ab1e56;
        font-family: $font-Lato;
        letter-spacing: 2px;
        padding-top: 10px;
    }
    .image-hover {
        text-align: center;
        width: 50%;
    }
    .image-hover-corporate {
        text-align: center;
        width: 100%;
    }
    .image-hover:nth-last-child(1) {
        border-left: 1px solid gray;
    }

    .wishlist {
        color: gray ;
        font-size: 30px ;
    }
    i:hover{
        color: #ab1e56;
    }

}

.collection-name{
    font-size: 12px;
    font-family: $font-Serif;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 992px){
    .image-content {
        padding: 0 10px;
        margin-top: 10px;
        // height: 134px;
    }
}

.product-n{
    margin: 5px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        @include b3_14px_montserrat_charcoal();
        text-transform: capitalize;
    }
    span {
        @include b3_14px_montserrat_charcoal();
        text-transform: capitalize;
    }
    .discountprice {
        color: $gold;
        font-family: $font-Montserrat;
        font-size: 14px;
    }
    .strikeprice {
        font-size: 14px;
        text-decoration: line-through;
        color: gray;
        font-family: $font-Montserrat;
    }
    a:hover {
        text-decoration: none;
    }
}
.product-size {
    @include b5_10px_montserrat_charcoal();
    line-height: 25px;
    text-transform: capitalize;
    justify-content: center;
    padding-right: 10px;
}

.product-size-list {
    display: flex;
    justify-content: center;
    &.product-size-list-mobile {
        display: flex;
    }
    ul {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 0 5px;
        text-align: center;
        li {
            display: inline;
            padding: 0 10px;
            font-family: $font-Montserrat;
            color: $charcoal19;
            font-size: 10px;
            line-height: 25px;
            &.disabled {
                text-decoration: line-through;
                color: $light-charcoal;
              }
        }
    }
}
.outstock {
    background: url('../../../images/outofstock-cta.svg') no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    a{
        @include b4_12px_medium_charcoal_caps();
        text-transform: uppercase;
    }
    opacity: .8;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.badge-image{
    position: absolute;
    // top: 10px;
    // left: 10px;
    z-index: 2;
    img {
        width: 70px;
    }
}
.badge-image-mobile{
    position: absolute;
    // top: 10px;
    // left: 10px;
    z-index: 2;
    img {
        width: 50px;
    }
}

.new-badge-image{
    width: 30%;
    position: absolute;
    z-index: 3;
    left: 0px;
    bottom: 15px;
    img {
        width: 100%;
    }
}

.mobile-badge{
    img {
        width: 60%;
    }
}

.actions {
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
    height: 45px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shop-the-look-cta{
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-family: $font-Montserrat;
        font-size: 12px;
        color: $aqua-bold;
        border: 1.5px solid $aqua-bold;
        background-color: $white;
        font-weight: 500;
        &:hover{
        color: $white;
        background-color: $aqua-bold;
        }
        &.notify-me{
            border: 1.5px solid $light-charcoal;
            color: $light-charcoal;
            &:hover{
                background-color: $light-charcoal;
                color: $white;
            }
        }
    }
    .add-to-bag-list-view {
        line-height: 38px;
    }
}


.add-text{
    // @include b3_14px_montserrat_white()
    font-family: "Montserrat", "sans-serif";
    font-size: 12px !important;
    font-weight: 400;
    color: #fff;
}

.for-mobile{
    display: none;
}