@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";


.footer-top {
  background-size: cover;
  text-align: center;
}

.footer-top-background {
  background-repeat: repeat-x;
}


.footer-icon{
  font-size: 35px;
}
.find-us-on-icon {
  // width: 35px;
  height: 20px;
  margin-right: 20px;
}

.footer-connect-icon {
  height: 16px;
  margin-right: 10px;
}

.form-footer {
  position: relative;
  span {
    &.location {
      position: absolute;
      left: 2%;
      top: 5%;
      color: black;
      .icon-class {
        color: $aqua;
      }
      i {
        line-height: 44px;
        font-size: 20px;
        color: $med-charcoal;
      }
    }
  }
  input {
    font-size: 12px !important;
    width: 100%;
    outline: none;
    background-color: #fff;
    border: 0;
    padding: 0 10px 0 30px;
    line-height: 50px;
    font-family: $font-Montserrat;
    &::-webkit-input-placeholder{
      font-size: 12px;
      font-family: $font-Montserrat;
      text-transform: capitalize;
    }
    &::placeholder{
      font-size: 12px !important;
      font-family: $font-Montserrat;
      text-transform: capitalize;
    }
    &::-moz-placeholder{
      font-size: 12px;
      font-family: $font-Montserrat;
      text-transform: capitalize;
    }
    &::-ms-input-placeholder{
      font-size: 12px;
      font-family: $font-Montserrat;
      text-transform: capitalize;
    }
    &.open-state {
      background-color: tint(#000, 60%);
    }
    text-align: start;
  }
  div {
    position: absolute;
    right: 5%;
    top: 38%;
  }
}

.footer-socialicons {
  a {
    font-size: 20px;
    color: #000;
    &:hover {
      color: $cerise;
      text-decoration: none;
    }
  }
  .icon_footer-fb {
    width: 28px;
  }
}

.footer-bottom {
  @include ftr-copy-white-desktop();
  background-color: tint(#000, 20%);
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
}

.footer-bottomMobile {
  @include ftr-copy-white-desktop();
  background-color: tint(#000, 20%);
  color: #fff;
  padding-top: 15px;
  padding-bottom: 55px;
  font-weight: 300;
  bottom: 15px;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;
}

.inner-logo {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 10%;
}

.shop-locator{
  padding-top: 15px;
  @include b3_14px_montserrat_medium_charcoal;
  text-transform: uppercase;
  div {
    &:nth-child(2){
      padding-top: 15px;
    }
  }
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 100;
}

.cookieclass {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 362px;
  height: 230px;
  background-color: #fff;
  z-index: 100;
  padding: 10px 30px;
  text-align: center;
  font-family: $font-Lato;
  margin: 20px;
  border: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .close-popup{
    right: 0px;
    top: 0px;
    font-size: 40px;
    color: gray;
  }
  h3 {
    @include b3_14px_montserrat_caps_charcoal();
    // font-family: $font-Montserrat;
    // color: $charcoal19;
    // font-size: 12px;
    line-height: 30px;
    // text-transform: capitalize;
    // font-weight: bold;
    letter-spacing: 0;
    padding: 10px 0 0 0;
    // margin-bottom: -30px;
  }
  p {
    @include b4_12px_montserrat_charcoal();
    // font-family: $font-Montserrat;
    // color: $charcoal19;
    // font-size: 12px;
    line-height: 20px;
    // margin-bottom: -15px;
    a {
      color: $gold;
      text-decoration: underline;
    }
  }
  .preferencesLink{
    @include b4_12px_montserrat_charcoal_caps();
    margin-bottom: 10px;
    text-decoration:underline;
    
    @media screen and (max-width: 500px) {
      margin-bottom: 33px;
    }
    // border-bottom: 1px solid $charcoal19;
    cursor: pointer;
    &:hover{
      @include b4_12px_montserrat_gold_caps();
      // border-bottom: 1px solid $gold;
    }
  //   &:after {
  //     content:'';
  //     position:absolute;
  //     width:200px;
  //     height:1px;
  //     background:$charcoal19;
  //     bottom:0;
  //     left:0;
  //     right:0;
  //     margin:auto;
  //     top:70px;

  //     // @media screen and (max-width: 992px) {
  //     //   top:70px;
  //     // }

  //     @media screen and (min-width: 2000px) {
  //       top:80px;
  //     }
  // }

  // &:hover:after{
  //   background: $gold;
  // }
  }
  .ok-btn {
    @include b3_14px_caps_white();
    background-color: $med-charcoal;
    padding: 15px 30px;
    // color: #fff;
    cursor: pointer;
    display: inline-block;
    border: 1px solid $med-charcoal;
    // font-size: 14px;
    &:hover{
      @include b3_14px_montserrat_caps_charcoal();
      background-color: $white;
    }
  }
  .eu-btn{
    padding: 15px 100px !important;
  }
}

.eucookieclass{
  margin: auto;
  left: 50%;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 500px;
  height: 340px;

  .heading{
    @include b3_14px_montserrat_caps_charcoal();
    margin-top: 10px;
  }

  hr{
    border: 1px solid $light-beige;
    width: 100%;
  }

  .question{
    @include b3_14px_montserrat_charcoal();
  }
  
  .answer{
    @include b4_12px_montserrat_charcoal();
  }
  .prefhead{
    @include b2_14px_charcoal_lora();
  }
  .prefWrp{
    overflow-y: scroll;
    height: 50%;

    &::-webkit-scrollbar {
      // background-color:#fff;
      width: 8px;
    }
    /* background of the scrollbar except button or resizer */
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color:#a6a6a6;
        border-radius:5px;
        border:2px solid #fff;
    }
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {display:none}

    .prefBlock{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .prefSubBlock{
        width: 75%;
        .prefQue{
          @include b4_12px_montserrat_charcoal();
          margin-bottom: 0px;
        }
        .prefAns{
          @include b4_12px_montserrat_light_charcoal();
          margin-bottom: 0px;
        }
      }
      .prefToggleWrp{
        .prefActive{
          @include b6_9px_light_montserrat_charcoal();
          padding: 0;
        }
      }
    }

  }

  .btnWrp{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .savebtn{
      @include b3_14px_montserrat_caps_charcoal();
      background-color: $white;
      padding: 15px 20px;
      // color: #fff;
      cursor: pointer;
      display: inline-block;
      border: 1px solid $med-charcoal;
      // font-size: 14px;
      &:hover{
        @include b3_14px_caps_aqua();
        color: #3C7979;
        border: 1px solid #3C7979;
      }
      @media screen and (max-width: 992px) {
        padding: 15px 0px;
        width: 50%;
      }
    }
  
    .acceptbtn{
      @include b3_14px_caps_white();
      background-color: $med-charcoal;
      padding: 15px 40px;
      // color: #fff;
      cursor: pointer;
      display: inline-block;
      border: 1px solid $med-charcoal;
      // font-size: 14px;
      &:hover{
        @include b3_14px_montserrat_caps_charcoal();
        background-color: $white;
      }
      @media screen and (max-width: 992px) {
        padding: 15px 0px;
        width: 50%;
      }
    }
  }
  
}

.euPref{
  align-items: flex-start;
  top:90%;
  height: 85%;
}

.close-popup {
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: 8;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  
  .footer {
    background-repeat: no-repeat;
  }
  .shop-locator {
    position: relative;
    .cursor-pointer {
      &:hover {
        color: $white;
      }
    }
  }

  .hamburger {
    line-height: 48px;
    left: 15px;
  }
  .footer {
    min-height: 680px;
    // background-color: #caac3f;
    background-color: #7a9994;
  }
  .grand-outer {
    .pressinternal {
      .breadcrumbs-block {
        top: 0;
      }
    }
    .subc-header-2 {
      margin: 110px 0 40px 0 !important;
    }
    .pdp-right {
      padding-top: 0px;
    }
  }
  .side-menu-item {
    margin: 12px 6px;
    .icon-style {
      color: #000;
      &:hover {
        color: #000;
      }
    }
  }

  .footer-socialicons {
    margin: 20px auto 0 auto;
    .neg-margin {
      margin-bottom: 10px;
    }    
  }
  .main-menu-footer {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    margin-top: 10px;

    >li {
      @include b3_14px_montserrat_medium_charcoal();
      line-height: 50px;
      >a {
        text-transform: uppercase;
        @include b3_14px_montserrat_medium_charcoal();
        line-height: 44px;
      }
      li {
        text-transform: capitalize;
        line-height: 30px;
        @include b4_12px_montserrat_charcoal();
        a {
          @include b4_12px_montserrat_charcoal();
        }
        
      }
      span {
        @include b3_14px_montserrat_medium_charcoal();
        text-transform: uppercase;
      } 
    }
  }


  .cookieclass {
    width: 100%;
    height: 235px;
    // padding: 10px 15px;
    // margin: 5px;
    padding: 0;
    margin-bottom: -20px;
    border: none;

    h3{
      padding-top: 20px;
    }
    p{
      padding: 5px 50px;
    }
    .ok-btn{
      width: 100%;
    }
    .eu-btn{
      padding: 15px 30px !important;
    }
  }

  .noneu{
    padding: 0;
    margin: 0;
    top: calc(100% - 225px);
    left: 0;
    bottom: 0;
    right: 0;
  }

  .eucookieclass{
    // margin: 195px 1px 1px 1px;
    top: calc(100% + 100px);
    .ok-btn{
      text-align: center;
    }
  }

  .euPref{
    margin: 0px;
    height: 100%;
    top:49%;

    p{
      padding: 2px 20px;
      margin-bottom: 0;
    }

    .heading{
      margin: 10px 0px 2px 0px;
    }
  }
}

// input {
//   @include placeholder() {
//     font-family: $font-Montserrat;
//     font-size: 10px;
//     text-transform: capitalize;
//   }
// }

@media screen and (min-width: 992px) {
  .main-menu {
    li {
      border-bottom: none;
    }
  }
  .footer-column {
    padding-bottom: 100px;
  }
  .footer {
    min-height: 600px;
    background-size: contain;
  }
  .footer-socialicons {
    // float: left;
    .icon {
      font-family: "CustomIcons" !important;
      font-size: 20px !important;
    }
  }
  .shop-locator {
    // float: left;
    position: absolute;
    // left: 76%;
    width: 84%;
    margin-top: 50px;
    .cursor-pointer {
      &:hover {
        color: $cerise;
      }
    }
  }
  .side-menu-item {
    .icon-style {
      &:hover {
        color: $cerise;
      }
    }
  }
  .paddTop-80 {
    padding-top: 109px;
  }
}

.detail:after {
  content: "+";
  padding-left: 10px;
  float: right;
  color: #000;
  font-size: 25px;
}

.detail-show:after {
  content: "-";
  padding-left: 10px;
  float: right;
  color: #000;
  font-size: 25px;
}

@media screen and (min-width: 992px){
  .shopDropdown {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    max-height: 180px;
    overflow-y: scroll;
    z-index: 8;
    ul {
      margin-bottom: 0px;
    }
    li {
      border-top: 1px solid #9f9f9f33;
      cursor: pointer;
      margin: 0px 10px;
      @include b4_12px_montserrat_charcoal();
      line-height: 40px;
      a {
        color: #000;
      }
      &:hover {
        a {
          color: $aqua-bold;
        }
      }
    }
  }
  .shop-locator {
    position: relative;
    .cursor-pointer {
      &:hover {
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 992px){
  .shopDropdown {
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    .header{
      font-family: $font-Montserrat;
      font-size: 12px;
    }
    ul{
      border: 1px solid tint(#000, 70%);
      border-top: 0;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #fff;
      font-size: 12px;
      text-transform: capitalize;
      font-weight: normal;
      overflow-y: scroll;
      z-index: 8;
      .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include b4_12px_montserrat_charcoal();
        text-transform: uppercase;
        .locator-label{
          .location{
            .icon-store{
              color: $aqua-bold;
              font-size: 20px;
              vertical-align: middle;
            }
          }
        }
      }
    }
    li {
      border-top: 1px solid #9f9f9f33;
      cursor: pointer;
      margin: 0px 25px;
      @include b4_12px_montserrat_charcoal();
      line-height: 45px;
      a {
        color: #000;
      }
      &:hover {
        a {
          color: $cerise;
        }
      }
    }
  }
  
}

@media screen and (min-width: 992px) {
  
  .main-menu-footer {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    .footer-playlist {
      position: absolute;
      top: 100px;
    }
    ul.column {
      margin-bottom: 0;
      li {
        width: 100%;
        font-size: 12px;
        letter-spacing: 0.50px;
        line-height: 30px;
        font-weight: normal;
        color: #000;
        &:first-child{
          @include b3_14px_montserrat_medium_charcoal;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          a {
            color: $charcoal19;
            &:hover{
              color: $white;
            }
          }
        }
        @include b4_12px_montserrat_charcoal();
        a {
          color: $charcoal19;
          &:hover{
            color: white;
          }
        }
      }
    }
  }
}


.minimumWidth {
  @include minimumWidth();
}

@media (max-width: 992px) {
  .minimumWidth {
    margin: 0px;
  }
}

.ftr-heading-white {
  @include b3_14px_montserrat_semibold_white();
  text-transform: uppercase;
  line-height: 44px;
}

.ftr-copy-white-desktop {
  @include b4_12px_montserrat_white();
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.ftr-heading-80blk {
  @include ftr-heading-80blk();
  text-transform: uppercase;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $med-charcoal;
  cursor: pointer;
}

.arrow-right-enabled {
  border-left: 6px solid tint(#000, 30%);
}
.px3 {
  padding-left: 3%;
  padding-right: 3%;
}
.ftrHeadingWhite2 {
  color: #fff;
}

.footer {
  background-size: contain;
  background-repeat: repeat no-repeat;
  background-position: bottom;
}

.error-msg{
  font-size: 14px;
  color: $cerise;
  font-family: $font-Lora;
  font-style: italic;
  text-align: left;
}

.subscribe-success{
  @include b5_10px_montserrat_white();
  font-weight: $semibold;
  text-align: left;
  letter-spacing: 0.8px;
}

.mobile-find-us-on{
  @include b3_14px_montserrat_medium_charcoal();
  letter-spacing: 0.5px;

  text-transform: uppercase;
}