@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";
@import "../../styles/partials/form";

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eeeeee;
  box-sizing: content-box;
  height: 0;
}

.header-container {
  top: $header-top;

  @media(max-width:992px){
    padding-right: 30px;
  }
}

.header-container {
  position: fixed;
  top: $header-top;
  z-index: 7;
  width: 100%;
  background-color: #f9f8f5;
  height: $header-checkout;
  box-shadow: 0px 3px 6px #00000029;

  &.footer {
    top: unset;
    bottom: 0;
    box-shadow: 0px -3px 8px #00000029;
    position: relative;

    @media (max-width: 992px) {
      padding-right: 0;
    }
  }
}

.logo-container {
  line-height: 49px;
  text-align: left;
  padding-left: 35px;
}

.footer-curr {
  line-height: 49px;
  text-align: left;
  padding-left: 35px;
  @include b4_12px_montserrat_charcoal_caps();

  @media (max-width: 992px) {
    padding-left: 15px;
  }
}

@media (max-width: 992px) {
  .minimumWidth {
    margin: 0px;
  }
}

.justify-between{
  justify-content: space-between;
}

@media (max-width: 992px) {
  .logo-container {
    text-align: left;
  }
}

.icon-font {
  font-size: 24px;
}

.icon-cross-font {
  font-size: 16px;
}

.logo {
  width: 111px;
  cursor: pointer;
}

.logo-withoutcursor {
  width: 111px;
  cursor: default !important;
}

.icon-style-disabled {
  opacity: 0.4;
  text-decoration: none !important;
  &:hover {
    color: inherit !important;
    cursor: default !important;
  }
}

.cerise {
  color: $cerise !important;
}

// .menulist-overlap{
//   margin-top: -6px;
// }
.side-menu-item {
  margin: 6px 6px;
  position: relative;
  cursor: pointer;
  .inner-profile-container {
    margin-top: 6px;
  }
  .badge {
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    min-width: 10px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #969698;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
  }
  .icon-style {
    font-size: 22px;
    margin: 6px;
    &:hover {
      color: $cerise;
      + span {
        color: $cerise;
      }
    }
  }
  .adding {
    right: -10px;
    left: auto;
    cursor: pointer;
  }
}

.side-menu-container {
  float: right;
  display: inline-flex;
  margin-top: 2px;
  .currency-menu {
    margin-top: 8px;
  }
}
.main-menu {
  position: absolute;
  .img-header {
    li {
      padding-left: 0;
    }
  }

  li {
    border-bottom: 1px solid #888;
    border-bottom: none;
    padding-left: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    a {
      @include menu-copy();
      letter-spacing: 0.09em;
      &:hover {
        color: #000;
      }
      &.subheading {
        margin-top: 25px;
        display: inline-block;
        @include menu-heading();
        &:hover {
          text-decoration: underline;
        }
        &.link-without-url {
          text-decoration: none;
          cursor: default;
        }
        &.subheading-img:before {
          background-image: url("/static/img/star-png.png");
          background-size: 20px 20px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          position: absolute;
          left: -2px;
          margin-top: 3px;
        }
        &.subheading-img:after {
          background-image: url("/static/img/star-png.png");
          background-size: 20px 20px;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          position: absolute;
          margin-top: 3px;
        }
      }
    }
  }

  .menulevel1 {
    &:after {
      content: "+";
      float: right;
      font-size: 25px;
      color: tint(#000, 50%);
    }
  }
  .menulevel1-open {
    &:after {
      content: "-";
    }
  }
  .menulevel2 {
    text-transform: uppercase;

    &:after {
      content: "";
      float: right;
      border: solid $cerise;
      font-weight: bold;
      border-width: 0 2px 2px 0;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      top: 28px;
      position: relative;
      right: 5px;
    }
  }
  .menulevel2-open {
    &:after {
      transform: rotate(313deg);
    }
  }
}
.menucolor {
  color: #ab1e56 !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 100%;
}

.dropdown-menu-bar {
  background-color: $white;
  z-index: 10;
  position: absolute;
}
.hidden {
  display: none;
}
.inner-menu {
  padding: 20px 50px 50px 50px;
  @include bottom-shadow();
}
.inner-logo {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 10%;
}

.title {
  @include b4_12px_montserrat_charcoal_caps();
  span {
    color: $charcoal19 !important;
    opacity: 1;
    text-transform: uppercase;
    @include b4_12px_montserrat_medcharcoal();
  }
  .closed {
    opacity: 0.3;
    @include b4_12px_montserrat_charcoal_caps();
  }
  .iscompleted {
    opacity: 1;
    @include b4_12px_montserrat_charcoal_caps();
  }
}
@media screen and (max-width: 767px) {
  .title-mobile{
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    flex-basis: 100%;
    max-width: 100%;
  }
  .selected-stvalue-mobile-only{
    padding-top: 10px;
    text-align: left;
  }
}
@media(min-width:768px){
  .email{
    text-align: right;
  }
}

.op3 {
  opacity: 0.4;
}

.selected-stvalue {
  @include b4_12px_montserrat_charcoal();
  overflow: hidden;
  text-overflow: ellipsis;
  // max-width: 40ch;
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid lightgrey;
  }
}
.margin-r10 {
  margin-right: 10px;
}

.margin-t20 {
  margin-top: 20px;
}

.gift-wrap-line-height {
  line-height: 0px;
}
.page-body {
  margin-top: $header-checkout;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f8f5;
}

.head-lineheight {
  font-size: 14px;
  line-height: 40px;
  margin-top: 5px;
  @include b4_12px_montserrat_charcoal();

  @media screen and (max-width: 991) {
    line-height: 45px;
  }
}
.v-center {
  line-height: $header-checkout;
  color: #666;
  letter-spacing: 1px;
  img {
    width: 15px;
    height: 19px;
    object-fit: contain;
    margin-right: 5px;
    vertical-align: middle;
    filter: invert(1) grayscale(9);
  }
}
.lock {
  font-size: 26px;
  // position: absolute;
  top: 12px;
  left: -24px;
}

.cart {
  font-size: 20px;
  margin-right: 10px;
}

.card {
  // margin-left: 50px;
  // margin-right: 30px;
  background-color: #fff;
  padding-right: 100px;
  padding-left: 100px;

  &.bg-grey{
    background-color: $lightest-grey;
  }
  &.bg-white{
    border-top:1px #D9D9D9 solid;
    background-color: $white;

    .title{
      span{
        text-transform: uppercase;
        @include b4_12px_montserrat_medcharcoal();
      }
    }
  }
}

.card-open {
  border-top:1px #D9D9D9 solid;
  padding-top: 40px;
  padding-bottom: 40px;
  .review-block {
    border: 1px solid tint(#000, 90%);
    margin-top: 20px;
    .success-msg {
      @include success-msg();
    }
  }
  div {
    // position: relative;
    &.country-code {
      display: flex;
      > div {
        // width: 30%;
        position: relative;
        + div {
          // width: 65%;
          position: relative;
        }
      }
    }
    &.address-form-checkbox {
      height: 2px;
      div label {
        left: 0px;
        text-align: left;
      }
    }
  }
  div {
    .address-checkout {
      .back-address-form {
        position: relative;
        bottom: 35px;
        div {
          width: 30%;
          justify-self: end;
          float: right;
        }
      }
    }
  }
}

.card-closed {
  padding-top: 26px;
  padding-bottom: 26px;
  &.text-style {
    text-transform: capitalize;
  }
  background-color: $lightest-grey;
}

.small {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-family: $font-Lato;
}

.width-fit-content{
  width: fit-content;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.cross-center,
.v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.margin-r-10 {
  margin-right: 10px;
}
.promo-margin {
  margin-top: 4px;
}
.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.checkbox input {
  display: none;
}

.radio {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.radio input {
  display: none;
}

.checkbox .indicator {
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: white;
  display: inline-block;
  border: 1px solid $light-charcoal;

  &.checked {
    background-color: $aqua;
    border-color: $aqua;

    &:after {
      content: "";
      bottom: 9px;
      left: 7px;
      width: 7px;
      height: 13px;
      display: block;
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border: solid #fff;
      border-width: 0 2px 2px 0;
    }
  }
}

.checkbox .indicator::after {
  bottom: 9px;
  left: 7px;
  width: 7px;
  height: 13px;
  content: "";
  display: none;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid $white;
  border-width: 0 2px 2px 0;
}

.radio .indicator {
  top: 4px;
  left: 0px;
  width: 19px;
  height: 19px;
  background: white;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $light-charcoal;
  position: relative;

  // @media (max-width: 992px) {
  //   width: 18px;
  //   height: 18px;
  // }
}

.radio .indicator::after {
  display: none;
  content: "";
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: $aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // @media (max-width: 992px) {
  //   width: 13px;
  //   height: 13px;
  // }
}
.radio input:checked ~ .indicator::after {
  display: block;
}

.checkbox input:checked ~ .indicator::after {
  display: block;
}

/******* Popup ********/
.size-block-popup {
  height: auto !important;
  padding: 0 0 75px 0;
  background-color: #fff;
  width: 35vw;
  .gc-tnc {
    height: 100%;
    padding-bottom: 30px;
    overflow-y: scroll;
  }
  p {
    line-height: 20px;
    padding: 7px 57px;
    text-align: center;
    font-size: 12px;
  }
  .cerise-btn-width {
    width: 60%;
    margin: 0 auto;
  }
  .cross {
    border-bottom: 1px solid #f2f2f2;
    text-align: right;
    padding: 15px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: #fff;
    width: 100%;
  }
  .cancel-btn {
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 100%;
    line-height: 40px;

    a {
      color: #333333;
      cursor: pointer;
      text-decoration: underline;
      font-size: 14px;
      font-family: $font-Lato;
    }
  }
}

/******* Popup ********/
@media (min-width: 992px) {
  .centerpage-desktop {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    //width: 100%;
  }
}
@media (max-width: 992px) {
  .centerpage-mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto !important;
    min-height: 500px;
    width: 80vw;
    p {
      padding: 7px 10%;
    }
  }
  .margin-b-40 {
    margin-bottom: 40px;
  }
  .checkout {
    padding-bottom: 180px;
    .order-summary {
      min-height: 0px;
    }
    .card {
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 20px;
      padding-right: 20px;
      @media(min-width:768px) and (max-width:992px){
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    .card-sm {
      margin-top: 5px;
      padding: 20px 0;
    }

    .selected-stvalue {
      // margin-top: 10px;
      // color: #808080;
      padding-top: 10px
    }
    .payment {
      input[type="text"].input {
        width: 100%;
        text-align: left;
      }
      input[type="text"].input2 {
        width: 100%;
        text-align: left;
      }
    }
    .login-container {
      .section {
        border: none;
        padding: 0;
      }
    }

    @media (max-width: 992px) {
      padding-bottom: 0px;
    }
  }
}

.payment {
  .gift-card {
    .text-error {
      text-transform: none;
    }
    .margin-rt {
      margin: 2px 10px 0 0;
    }
    .form {
      margin-top: 30px;
    }

    .remove {
      cursor: pointer;
      display: inline-block;
      font-size: 9px;
      font-weight: bold;
    }
  }

  .gift-message {
    border: 0;
    padding: 20px;
    max-width: 100%;
    width: 100%;
    background-color: #f9f8f5;
    font-size: 14px;
    font-family: $font-Montserrat;
    opacity: 0.8;
    letter-spacing: 0.36px;
    font-size: 12px;
  }

  .input-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  input[type="text"].input {
    width: 50%;
    text-align: left;
    font-size: 12px;
    padding: 17px 21px;
  }
  input[type="text"].input2 {
    width: 60%;
    text-align: left;
  }
}

.radio-list {
  .container {
    width: 80px;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #888;
    border-radius: 50%;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .txt-gst {
    position: absolute;
    left: 22px;
    top: 0;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
  }

  [type="radio"]:not(:checked) {
    position: relative;
    left: auto;
  }

  [type="radio"]:checked {
    position: relative;
    left: auto;
  }
}

.form {
  position: relative;
  .form-label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: 100;
    font-size: 10px;
    color: tint(#000, 60%);
    letter-spacing: 0.5px;
    background-color: #fff;
    padding: 3px;
  }
  .country-code {
    > :first-child {
      input[type="text"] {
        border-right: 0;
      }
    }
  }
  div {
    .country-code {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    .country-code-cc {
      display: flex;
    }
    .address-form-checkbox {
      height: 2px;
      div label {
        left: 0px;
        text-align: left;
      }
      div label div span span.indicator::after {
        top: -6px;
        position: absolute;
      }
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  select,
  textarea {
    background-color: #fff;
    border: 1px solid #eee;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    @include placeholder {
      opacity: 0.4;
      @include b4_12px_montserrat_charcoal();
    }
  }
  input[type="text"].panError {
    border: 1px solid $cerise;
  }
}

.same-text {
  padding-bottom: 20px;
  padding-top: 30px;
}

// input[type="radio"]:not(:checked),
// input[type="radio"]:checked,
// [type="checkbox"]:not(:checked),
// [type="checkbox"]:checked {
//   position: absolute;
//   left: -9999px;
//   display: inline-block;
// }

// input[type="radio"] {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   padding: 0;
// }

.selected-stvalue {
  @include b4_12px_montserrat_regular_charcoal();
  letter-spacing: 0.3px;
  opacity: 0.65;

  .address-main {
    padding-top: 5px;
    width: 90%;
    .text {
      @include b4_12px_montserrat_light_charcoal();
      letter-spacing: 0.36px;
    }
  }
  .phone {
    @include b4_12px_montserrat_charcoal();
    letter-spacing: 0.36px;
    padding: 5px 0;
  }
  .bridal-address-title-ring{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.p-b100 {
  padding-bottom: 100px;
}

.bold {
  font-weight: bold;
  color: #000000;
}
.curr {
  text-align: center;
  margin-top: 0;
  line-height: 49px;
  text-align: right;
  padding-right: 35px;
  @include b4_12px_montserrat_charcoal();
  .icon {
    padding-right: 15px;

    @media (max-width: 992px) {
      padding-right: 5px;
    }
  }
  .mobile-num {
    @include b4_12px_montserrat_charcoal();
    text-decoration: none;
  }

  @media (max-width: 992px) {
    padding-right: 15px;
  }
  
  // &:hover {
  //   span {
  //     cursor: pointer;
  //     color: $cerise;
  //   }
  // }
  // span {
  //   &:first-child{
  //     margin: 0 6px 0 0;
  //   }
  // }
}

.disable-curr {
  text-align: right;
  span {
    &:first-child {
      margin: 0 6px 0 0;
    }
  }
}

.disable-checkout-header {
  background: none !important;
  :hover {
    color: #bbb !important;
  }
  ul {
    z-index: 10;
    left: -15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    background-color: #fff;
    li {
      cursor: pointer;
      padding: 15px 20px;
      line-height: normal;
      word-break: keep-all;
      border-top: 1px solid #f2f2f2;
      font-size: 10px;
    }
  }
}

.checkout-header {
  ul {
    z-index: 10;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
    li {
      cursor: pointer;
      padding: 15px 20px;
      line-height: normal;
      word-break: keep-all;
      border-top: 1px solid #f2f2f2;
      font-size: 10px;
    }
  }
}

.link {
  a {
    color: $cerise;
    text-decoration: underline;
  }
}
.gift-message {
  border: 0;
  padding: 20px;
  max-width: 100%;
  background-color: #f9f8f5;
  margin-top: 0px;
  width: 100%;
  font-family: $font-Montserrat;
  opacity: 0.8;
  letter-spacing: 0.36px;
  font-size: 12px;

  &::placeholder {
    font-family: $font-Montserrat !important;
  }
  &::-webkit-input-placeholder{
    font-family: $font-Montserrat !important;
  }
 
  &::-moz-placeholder{
    font-family: $font-Montserrat !important;
  }
  &::-ms-input-placeholder{
    font-family: $font-Montserrat !important;
  }
  
}
.font14 {
  letter-spacing: 0.5px;
  @include b5_10px_montserrat_charcoal();
}
.gift-wrap-message {
  max-width: 430px;

  @media screen and (max-width: 600px) {
    width: 98%;
  }
}

.char-limit-text {
  font-family: $font-Montserrat;
  letter-spacing: 0;
  @include b5_10px_montserrat_charcoal();
}

.linkCerise {
  a {
    color: $cerise;
    text-decoration: underline;
    &:hover {
      color: $cerise;
      text-decoration: underline;
    }
  }
}

.not-selected {
  color: #b3b3b3;
  font: bold;
}

.margin50 {
  margin-left: 50%;
}

.contact-msg {
  font-size: 11px;
  font-style: italic;
  letter-spacing: 0.3px;
  color: #333;
  b {
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen and (max-width: 992px) {
  .contact-msg {
    font-size: 10px;
  }
}

.gst-title {
  font-weight: bold;
  line-height: 24px;
  font-size: 13px;
}
.gst-desc {
  font-size: 11px;
  margin-bottom: 10px;
}


// Temporary code to disabled the redeem points

.none-pointer-event {
  pointer-events: none;
  color: #868686 !important;
}
.disabled {
  cursor: not-allowed;
}
.redeem-unavailable-message-wrapper {
  width: 80%;
  padding: 15px 3px 0 3px;

  .redeem-unavailable-message {
    @include b4_12px_lato();
    font-family: $font-Montserrat !important;
    line-height: 1.5 !important;
  }

  @media screen and (max-width: 992px) {
    padding-top: 8px;
    width: 100%;
  }
}
// Breadcrumb Styles
.breadcrumb {
  // border-bottom: 1px solid #eaeaea;
  .breadcrumb-wrapper {
    padding: 20px 0;
    gap: 5px;
    align-items: center;
    .breadcrumb-item {
      .text {
        @include b5_10px_montserrat_charcoal();
        letter-spacing: 0.3px;
        opacity: 0.3;
        color: $charcoal19;

        &.login {
          opacity: 1;
          color: $aqua-semibold;
        }
        &.active {
          opacity: 1;
          text-decoration: underline;
          color: $charcoal19;
        }
        &.visited {
          opacity: 1;
          color: $aqua-semibold;
        }
      }
      span {
        color: #707070;
        padding-right: 5px;
        font-size: 15px;
        vertical-align: middle;
      }
    }

    @media (max-width: 992px) {
      padding: 17px 0;
    }
  }

  @media (max-width: 992px) {
    margin-top: 48px;
  }
}

// Shipping & Billing Styles

.checkout-address-footer {
  padding-top: 25px;

  .send-to-address {
    // @include b3_14px_montserrat_white();
    // letter-spacing: 0.42px;
    // padding: 21px 40px;
    // width: 100%;
    // max-width: 366px;
    // background-color: $med-charcoal;
    // text-align: center;
    // cursor: pointer;
    // margin-top: 24px;
    // border: 1px solid $med-charcoal;
    // z-index: 1;
    // &:hover {
    //   @media screen and (min-width:992px) {
    //     background: $white 0% 0% no-repeat padding-box;
    //     border: 1px solid $med-charcoal;
    //     opacity: 1;
    //     color: $med-charcoal; 
    //   }
    // }
    @media (max-width: 992px) {
      left: 0;
      position: fixed;
      bottom: 0px;
      width: 100%;
      right: 0;
      max-width: 100%;
      z-index: 1;
    }
    &.footer-send-to-address {
      @media (max-width: 992px) {
        position: relative;
      }
    }
  }
}
// .send-to-payment {
//   @include b3_14px_montserrat_white();
//   letter-spacing: 0.42px;
//   padding: 21px 40px;
//   width: 100%;
//   max-width: 366px;
//   background-color: $med-charcoal;
//   text-align: center;
//   cursor: pointer;
//   margin-top: 24px;
//   border: 1px solid $med-charcoal;
//   @media (max-width: 992px) {
//     padding: 21px 25px;
//     // left: 0;
//     // position: fixed;
//     // bottom: 0px;
//     // width: 100%;
//     // right: 0;
//     // max-width: 100%;
//   }
//   &:hover {
//     @media screen and (max-width:991px) {
//       @include b3_14px_montserrat_white();
//     }

//     @media screen and (min-width:992px) {
//     background: $white 0% 0% no-repeat padding-box;
//     opacity: 1;
//     color: $med-charcoal;
//     span {
//       color: $med-charcoal;
//     }}
//   }
//   &:focus {
//     @media screen and (max-width:991px) {
//       @include b3_14px_montserrat_white();
//     }}
//   span {
//     @include b4_12px_montserrat_white();
//   }

//   &:disabled {
//     background-color: #9f9f9f;
//     border-style: solid;
//     border-color: $light-charcoal;
//     &:hover {
//       border: 2px solid $light-charcoal;
//       color: $white;
//       span {
//         color: $white;
//       }
//     }
//   }
//   // &.proceed-to-payment {
//     // padding: 9px 30px;
//     // border: 1px solid $med-charcoal;
//     // &:focus,&:active {
//     //   color: $white;
//     // }
//     // @media (max-width: 992px) {
//     //   width: 100%;
//     //   position: fixed;
//     //   bottom: 0px;
//     //   left: 0;
//     //   max-width: 100%;
//     //   z-index: 9;
//     // }
//     // &:hover {
//     //   @media screen and (min-width:992px) {
//     //   border: 1px solid $med-charcoal;
//     //   color: $med-charcoal;}
//     // }
//   // }
// }
.checkout-selected-value {
  .name {
    @include b4_12px_montserrat_charcoal();
    letter-spacing: 0.36px;
    text-transform: capitalize;
  }
  .address-type{
    word-wrap: break-word;
    width: 90%;
  }
  .editAddress {
    @include b5_10px_montserrat_charcoal();
    letter-spacing: 0.3px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0;
    text-underline-offset: 3px;
  }
  .address-main {
    padding-top: 5px;
    .text {
      @include b4_12px_montserrat_light_charcoal();
      letter-spacing: 0.36px;
    }
  }
  .phone {
    @include b4_12px_montserrat_charcoal();
    letter-spacing: 0.36px;
    padding: 5px 0;
  }
  .contact-msg {
    @include b5_10px_montserrat_aqua();
    letter-spacing: 0.3px;
    font-style: normal;
    font-weight: $semibold;
  }

  .same-as-shipping-address {
    @include b4_12px_montserrat_charcoal();
    letter-spacing: 0.36px;
  }
}

.check-box-heading {
  // margin: auto 0;
  width: auto;
  padding-top:0 !important;
  padding-bottom:0 !important; 
  @include b4_12px_montserrat_charcoal();
  a {
    border-bottom: 1px solid $charcoal19;
    color: $charcoal19;
    text-decoration: none;
    &:hover {
      color: $gold;
      border-bottom: 1px solid $gold;
    }
  }
}
.agree-terms-and-condition {
  letter-spacing: 0.3px;
  a {
    &:hover {
      color: $charcoal19;
      text-decoration: none;
      border-bottom: 1px solid $charcoal19;
    }
  }
}

.justify-right {
  justify-content: right;
}
.justify-center {
  justify-content: center;
}

@media (max-width: 992px) {
  .checkout-selected-value {
    overflow: unset;

    .editAddress {
      position: relative;
      top: -40px;
      margin: 0;
    }
  }
}

.gift-img {
  filter: invert(0.3) grayscale(9);
  position: absolute;
  top: -5px;
}
.gift-wrp-pos{
  position: relative;
}
.margin-t5 {
  margin-top: 5px;
}

.disabled-gift-wrap {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.gift-wrap-err {
  font-family: $font-Montserrat;
  font-size: 12px;
  font-weight: $regular;
  padding-top: 5px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: $cerise;
}
.payment-title {
  @include b4_12px_montserrat_light_charcoal();
  &.selected-value {
    @include b4_12px_montserrat_charcoal();
  }
}

.promo-code {
  @include b4_12px_semibold_caps_charocal();
  margin-right: 20px;
  opacity: 65%;
}
.redeem-points {
  @include b4_12px_montserrat_med_aqua();
  margin-right: 10px;
}
.cerise-points-wrapper {
  display: flex;
  justify-content: space-between;
}
.redeem-points-text {
  @include b4_12px_montserrat_charcoal();
  padding-top: 5px;
  display: block;
  max-width: 235px;
}

.promo-code-applied {
  @include b4_12px_montserrat_charcoal();
  opacity: 65%;
}

.promo-edit {
  @include b5_10px_montserrat_charcoal();
  letter-spacing: 0.3px;
  text-decoration: underline;
  text-transform: uppercase;
  float: right;
  text-underline-offset: 3px;
  font-size: 10px!important;
  font-weight: 400!important;
}
.gst-invoise-no {
  @include b5_10px_montserrat_charcoal();
  opacity: 65%;
  padding-top: 3px;
  display: block;
}
.gst-no {
  padding-top: 10px;
  @include b5_10px_montserrat_charcoal();
  opacity: 65%;
}
div.form-subheading{
  padding: unset !important;
  cursor: pointer;
}
.line-height-lable {
  font-size: 12px;
  line-height: 1.8;
}
.disable-state .line-height-lable {
  color: #9F9F9F!important;
}
span.add-new-address {
  @include b5_10px_montserrat_charcoal_caps();
  border-bottom: 1px solid $charcoal19;
  padding-bottom: 3px;
  &:hover {
    color: $aqua;
    border-bottom: 1px solid $aqua;
  }
  &.light-closed{
    border-bottom: 1px solid $light-charcoal;
}
}
.closed{
    pointer-events: none;
    opacity: 0.3;
}
.hidden{
  display: none;
}
.country-code{
  display: flex;
  justify-content: space-between;
}

.login-form{
  .categorylabel{
      label[for="whatsappSubscribe"]{
          @include b5_10px_montserrat_charcoal();
          line-height: 16px;
          letter-spacing: 0.3px;
          text-align: left;
          margin-bottom: 10px;
          left: 0;
          img{
              height: 12px;
              margin-left: 5px;
          }
      }
      .country-code {
          margin: 0px 0 20px 0px;
      }
      a{
          color: $charcoal19;
          text-decoration: underline;
      }
      span{
        font-size: 13px !important;
      }
  }
}

.login-form{
  margin-top: 30px;
  .categorylabel{
    .whatsapp{
      margin-bottom: 25px;
      .country-code{
          // margin: 0px 0px;
      }
      .checkbox-label{
        @include b4_12px_montserrat_charcoal();
        line-height: 22px;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 10px;
        left: 0;
        padding: 0px;
        padding-left: 30px;
        img{
            height: 12px;
            margin-left: 5px;
        }
      }
    }
  }
}

.whatsapp-no-err{
  @include err_13px_lora_italic_cerise();
}

.custom-error {
  margin-left: 3px;
}

.custom-checkout {
  margin-top: 35px;
}

.proceed-to-payment {
  @media (max-width: 992px) {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    max-width: unset !important;
    z-index: 9;
  }
}

.amt-btn{
  .amt-payable{
    @include b4_12px_montserrat_white();
  }

  &:hover{
    .amt-payable{
      color: #4C4C4C;
    }
  }
}
.sale-time-msg{
  // @include b4_12px_lato();
  @include b4_12px_montserrat_regular_charcoal();
}

.hide-label{
    display: none;
}

.cerise-gst-disclaimer {
  @include b5_10px_montserrat_aqua();
  padding-left: 30px;
  letter-spacing: 0.3px;
}

//=====Credit note css==================//

.credit-note-input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: unset !important;

  .edit{
    height: fit-content;
    cursor: pointer;
    border-bottom: 1px solid $charcoal19;
    @include b5_10px_montserrat_charcoal();
  }
}

@media(min-width:768px) and (max-width:992px){
  .promo-wrapper{
      background-color: #F8F8F8;
    .title{
      border-bottom: 1px solid #D9D9D9;
      padding-bottom: 20px;
    }
    .selected-stvalue{
      padding-top: 20px;
    }
  }
}

.gc_msg{
  line-height: 16px;
  letter-spacing: 0.3px;
  padding-left: 30px;
  p.aqua-text{
    @include b5_10px_montserrat_aqua();
  }
  p.grey-text{
    @include b5_10px_montserrat_light_charcoal();
    color: $light-charcoal;
  }
  .activate-link{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    cursor: pointer;
  }
}
.disable-sate .gc_msg{
  color: #9F9F9F!important;
}
.payment-mthods-wrapper{
  display: flex;
  margin-bottom: 25px;
  .payment-item{
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .payment-item.active{
    border: 1px solid #4C4C4C;
  }
  img{
    width: 40px;
  }
  img,
  .payment-title{
    position: relative;
    z-index: -1;
  }
  .other-payment-mode{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
