@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.Dropdown-root {
    min-width: 161px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #ccc;
    span{
        right: 12px;
        color: rgba(51,51,51,.8);
    }
    ul{
        min-width: 161px;
        margin-bottom: 0px;
        border: 1px solid #ccc;
        li{
            background-color: #fff;
            box-sizing: border-box;
            color: rgba(51,51,51,.8);
            cursor: pointer;
            display: block;
            padding: 0px 13px;
            text-align: left;
            line-height: 31px;
            font-size: 12px;
            font-weight: 400;
        }      
    }
    li:hover{
        background-color: #f2f2f2;
        color: rgba(51,51,51,.8);
    }
}

.filter-text{
  @include b4_12px_medium_medcharcoal_caps();
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: $secondary-header-height;
  height:$secondary-header-height;
}

.page-body{
  margin-top: $main-header;
}
.page-body-timer {
  margin-top: $main-header + $timer-height;
}
.page-body-tab {
  margin-top: $header-height;
}
.page-body-tab-timer {
  margin-top: $header-height + $timer-height;
}
@media screen and (min-width: 992px) {
  .sp-cat {
    // padding-left: 20px;
    padding-right: 20px;
}
.image-container {
  margin-left: 20px;
  .set-width {
    padding: 0 6px;
  }
}
}
@media screen and (max-width: 992px) {
  .page-body{
    margin-top: $header-height + $grid-view-bar;
  }
  .page-body-timer {
    margin-top: $header-height + $grid-view-bar + $timer-height;
  }
  .page-body-tab {
    margin-top: $header-height;
  }
  .page-body-tab-timer {
    margin-top: $header-height + $timer-height;
  }
  .imageContainerMobile {
    margin-left: 0;
    margin-right: 0;
  }
}

.inner-header {
    display: -webkit-inline-box;
    margin-left: 8%;
}

.subc-header{
    background-color: #e6e6e6;
    padding: 15px 0;
    margin: 100px 0 0 0;
    h1{
      line-height: 30px;
        font-size: 28px;
        font-family: $font-Serif;
        text-transform: capitalize;
    }
    p {
        font-size: 12px;
        font-family: $font-Lato;
        color: #666;
        letter-spacing: 1px;
    }
}

.download-width {
  width: 100%;
}

.subc-header-4 {
  // margin: 55px 0 0 0;
  padding: 10% 5%;
  background-color: #e6e6e6;
  h1{
    line-height: 30px;
    font-size: 28px;
    font-family: $font-Serif;
    text-transform: capitalize;
  }
  p {
      font-size: 12px;
      font-family: $font-Lato;
      // color: #666;
      letter-spacing: 1px;
  }
  a {
    &:hover, &:visited, &:focus, &:active {
      color: $cerise;
    }
  }
}




.npf-msg {
    font-size: 20px;
    letter-spacing: 1px;
    color: tint(#000, 50%);
    span {
      color: $cerise;
    }
}

.product-number {
    border-bottom: var(--myborder);
    display: flex;
    padding: 8px 0px;
    .mobile-product {
      &:last-child {
        border-left: 1px solid grey;
      }
      width: 50%;
      text-align: center;
      span {
        @include plp_subhdr_dd();
  
        //line-height: 35px;
      }
  
    }
    .mobile-filter-disabled span {
      color: #bbb;
    }
    .mobile-filter-header {
      width: 100%;
      position: fixed;
      z-index: 1;
      background-color: #fff;
      padding: 15px 20px 4px 20px;
      top: $header-height;
      border-bottom: 1px solid tint(#000, 80%);
      .filter-cross {
        line-height: 30px;
        .icon_cross {
          font-size: 27px;
        }
      }
      span {
        @include plp_subhdr_open_mob();
        letter-spacing: 1px;
        text-transform: uppercase;
  
        &:first-child {
          float: left;
          margin-left: 0px;
        }
        &:last-child {
          float: right;
          height: 12px;
          width: 12px;
          color: #4C4C4C;
        }
      }
    }
    span {
      font-family: $font-Montserrat;
      font-size: 10px;
      color: $charcoal19;
      line-height: 35px;
      padding-left: 6px;
    }
}

.border {
    --myborder:2px solid #efeaea;
}


.filter-sticky {
    position: sticky;
    position: -webkit-sticky;
    margin-top: 2%;
    top: 130px;
    align-self: flex-start;
}




.mobile-filter-menu {
    position: fixed;
    bottom: 0;
    top: $main-header;
    left: 0;
    z-index: 11;
    background-color: white;
    padding-top:5px;
    // -webkit-transition: all 0.5s linear;
    // -moz-transition: all 0.5s linear;
    // -o-transition: all 0.5s linear;
    // transition: all 0.5s linear;
    .number-div {
      width: 50%;
      text-align: center;
      background-color: #f9f8f5;
      span {
        line-height: 50px;
        @include b5_10px_montserrat_charcoal();
      }
  
    }
    .apply-button {
      width: 50%;
      text-align: center;
      span {
        line-height: 50px;
        @include cta_white();
        color: white;
      }
      background-color: $med-charcoal;
    }
    .filter-button {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: inline-flex;
    }
    .sort {
      height: 100%;
      overflow: scroll;
      li {
        padding: 0 20px;
        line-height: 50px;
        @include menu-subcopy();
        border-bottom: 1px solid tint(#000, 90%);
        a {
          color: tint(#000, 50%);
        }
      }
    }
  }
  .mobile-filter-menu-timer {
    top: $main-header + $timer-height;
  }

.minimumWidth {
  @include minimumWidth();
}

.filter-elements {
    span {
      @include b4_12px_medium_medcharcoal_caps();
      padding-left: 0px;
    }
    ul {
      li {
        line-height: 15px;
        span {
          text-transform: capitalize;
          &:first-child {
            @include b6_9px_montserrat_charcoal();
            line-height: 30px;
            height: 30px;
          }
          &:last-child {
            cursor: pointer;
            font-size: 8px;
            color: $charcoal19;
          }
        }
      }
    }
}

.filter-side-menu {
  height: calc(100vh - 240px);
  overflow:scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  margin: 0px 30px 0px 30px;

  @media screen and (max-width: 992px){
    height: calc(100% - 60px);
  }

  li {
    letter-spacing: 0.5px;
    line-height: 40px;
    border-bottom: 1px solid tint(#000,90%);
    @include b4_12px_medium_gold_caps();
    li {
      border-bottom: none;
      // padding-left: 20px;
      // cursor: pointer;

      a {
        @include menu-copy();
      }
      li {
        padding-left: 0px;
        label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }

      }

    }
    .plp_filter_sub {
      @include plp_clear_filter();
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 2px;
      text-transform: capitalize;
      &:hover{
        color: #3C7979;
      }
    }
  }
  .menulevel1 {
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    user-select: none;
    line-height: 50px;
    &:after {
      content: '+';
      float: right;
      font-size: 25px;
      color: tint(#000, 50%);
      font-family: $font-Lato;
      font-weight: 300;
    }
  }
  .colorhead {
    transition:max-height 0.3s ease-in;
    min-height: 55px;
    //max-height: 225px;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .colorlabel {
      label {
        padding-left: 35px;
        margin-bottom: 0;
      }
      .disableColors{
        opacity: 0.5;
        // color: #4C4C4C;
        // cursor: not-allowed;
      }
    }
    .materiallabel{
      label {
        padding-left: 35px;
        margin-bottom: 0;
      }
      .disableColors{
        opacity: 0.5;
        // color: #4C4C4C;
        // cursor: not-allowed;
      }
    }
    input[type="checkbox"]:not(:checked) + label{
      @include b4_12px_montserrat_light_charcoal();
    }
    input[type="checkbox"]:checked + label{
      @include b4_12px_montserrat_charcoal();
    }
  }
  .menulevel1-open {
    li{
      font-size: 14px;
    }
    &:after {
      content: '-';
      font-size: 43px;
    }
  }
  .menulevel2 {
    @include b4_12px_montserrat_charcoal_caps();
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    position: relative;
    user-select: none;
    line-height: 50px;
    &:after {
      content: '';
      float: right;
      border: solid tint(#000, 50%);
      border-width: 0 1px 1px 0;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      top: 15px;
      position: absolute;
      right: 5px;
      transition: transform 0.2s ease-in;
    }
  }
  .menulevel2-open {
    &:after {
      transform: rotate(-135deg);
    }
  }
}

.categorylabel {
  label {
    margin-bottom: 0;
  }
  li {
    position: relative;
    user-select: none;
    div {
      position: relative;
      &.user-gender-picker {
        .Dropdown-root {
          .Dropdown-menu {
            position: absolute;
            .Dropdown-option {
              color: black;
              font-weight: 400;
            }
          }
          .Dropdown-control {
            .Dropdown-placeholder{
              color: black;
              font-weight: 400;
            }
          }
        }
      }
    }
    @include b4_12px_montserrat_light_charcoal();
    text-transform: capitalize;
    &.country-code {
      display: flex;
      position: relative;
      margin: 35px 0 20px 0;
      select {
        cursor: pointer;
      }
      >div {
        width: 35%;
        position: relative;
        +div {
          width: 65%;
          position: relative;
        }
      }
      ul.react-autosuggest__suggestions-list {
        border: 1px solid #ccc;
        position: absolute;
        z-index: 99;
        max-height: 200px;
        overflow: scroll;
        background-color: white;
        width: 100%;
        li {
          border-bottom: 1px solid #ccc;
          padding: 10px 0;
          margin: 0;
          cursor: pointer;
        }
      }
    }
    &.default-address-checkbox-common {
      padding: 20px 0;
    }
    &.country-code-gc {
      top: 25px;
    }
    input[type="checkbox"]:checked + label{
      @include b4_12px_montserrat_charcoal();
    }
    input[type="checkbox"]:not(:checked) + label{
      @include b4_12px_montserrat_light_charcoal();
    }
  }
  input[type="radio"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid #9f9f9f;

  }
  input[type="radio"]:not(:checked) + label,
  input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    padding-left: 30px;
  }
  input[type="checkbox"]:checked + label:before {
    background-color: $aqua;
    border: 1px solid $aqua;
  }
}

.categorylabel {
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid #ab1e56;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 12px;
    left: 6px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .1s;
  }
  input[type="checkbox"]:checked + label:after{
    border: solid $white;
    border-width: 0 2px 2px 0;
  } 
}

.colorlabel {
  label {
    @include plp_color_filter();
    text-transform: capitalize;
    position: relative;
    &.white-tick{
      &:after{
        border-color: #000 !important;
      }
    }
  }

  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 12px;
    left: 9px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .1s;
  }
  
}

.materiallabel{
  label {
    @include plp_color_filter();
    text-transform: capitalize;
    position: relative;
}
input[type="checkbox"]:checked + label{
  @include b4_12px_montserrat_charcoal();
}
input[type="checkbox"]:not(:checked) + label{
  @include b4_12px_montserrat_light_charcoal();
}
input[type="radio"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 1px solid #9f9f9f;

}
input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  padding-left: 30px;
}
input[type="checkbox"]:checked + label:before {
  background-color: $aqua;
  border: 1px solid $aqua;
}
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid #ab1e56;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 12px;
    left: 6px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .1s;
  }
  input[type="checkbox"]:checked + label:after{
    border: solid $white;
    border-width: 0 2px 2px 0;
  }
}

.colorlabel {
  li {
    label {
      @include plp_filter_copy();
      text-transform: capitalize;
      position: relative;
    }
  }
  input[type="radio"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    padding:2px;
    background-clip: content-box;
    left: 0;
    top: 6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--my-color-var);
  }
  input[type="checkbox"]:checked + label:before{
    border: 1px solid black;
  }
}

.materiallabel{
    li {
      label {
        @include plp_filter_copy();
        text-transform: capitalize;
        position: relative;
      }
    }
    input[type="radio"]:not(:checked) + label:after,
    input[type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after {
      content: '';
      display: block;
      width: 6px;
      height: 10px;
      border: solid #ab1e56;
      border-width: 0 2px 2px 0;
      position: absolute;
      top: 12px;
      left: 6px;
      font-size: 18px;
      line-height: 0.8;
      transition: all .1s;
    }
    input[type="checkbox"]:checked + label:after{
      border: solid $white;
      border-width: 0 2px 2px 0;
    }
  }

.multicolorlabel {
  input[type="radio"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    background-clip: content-box;
    background-image: var(--my-bg-image);
  }
}

input[type="radio"]:not(:checked) + label:after, [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: rotate(45deg);
}

input[type="radio"]:checked + label:after, [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: rotate(45deg);
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked, [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  display: inline-block;
}

.showheader1 {
  margin-bottom: 10px;
  transition:max-height 0.3s ease-in;
  overflow: hidden;
}
.showheader2{
  transition:max-height 0.3s ease-in;
  overflow: hidden;
}

.hide-div{
  overflow: hidden;
  transition:max-height 0.3s ease-out;
  max-height:0 !important;
  .colorlabel {
    label {
      padding-left: 35px;
      margin-bottom: 0;
    }
    .disableColors{
      opacity: 0.5;
    }
  }
  .materiallabel{
    label {
      padding-left: 35px;
      margin-bottom: 0;
    }
    .disableColors{
      opacity: 0.5;
    }
  }
}

.size-list {
  margin: 0 0 15px 0;
  li {
    display: inline !important;
    padding: 0px !important;
  }
  label {
    background: #f9f8f5;
    display: inline-block;
    text-align: center;
    min-width: 40px;
    border-radius: 12px;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 12px;
    font-family: $font-Montserrat;
    margin: 0 10px 10px 0;
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    line-height: 40px;
    padding: 0 5px;
    letter-spacing: 0.36px;
    position: relative;
    min-height: 40px;
    &:hover{
      border: 1px solid $aqua-bold;
      color: $aqua-bold;
    }
    &.select_size{
      border: 1px solid $aqua-bold !important;
      color: $aqua-bold;
      font-weight: 500;
      background: white;
    }
    &.disableSize{
      color: #E5E5E5 !important;
      border: 1px solid #E5E5E5;
      background: linear-gradient(to left top, #f9f8f5 47.75%, currentColor 50.5%, currentColor 49.5%, #f9f8f5 51.25%);
      &:hover{
        border: 1px solid $aqua-bold;
      }
    }
    
    // &:hover {
    //   border: 1px solid $aqua-bold;
    //   background-color: #f9f8f5;
    //   color: $aqua-bold;
    //   font-weight: 500;
    // }
    // &.select_size {
    //   border: 1px solid $aqua-bold;
    //   background-color: white;
    //   font-size:12px;
    //   color: $aqua-bold;
    //   font-weight: 500;
    //   &.select-size{
    //     border: 1px solid $aqua-bold;
    //     background-color: white;
    //     font-size:12px;
    //     color: #e5e5e5;
    //     font-weight: 500;
    //   }
    // }
    // &.disableSize{
    //   color: #E5E5E5;
    //   border: #E5E5E5;
    //   border-style: solid;
    //   border-width: 1px;
    //   background: linear-gradient(to left top, #f9f8f5 47.75%, currentColor 50.5%, currentColor 49.5%, #f9f8f5 51.25%);
    //   &:hover {
    //     border: 1px solid $aqua-bold;
    //     background: white;
    //     color: $aqua-bold;
    //     font-weight: 500;
    //   }
    // }
  }
}

.size-list-bg1 li {
  background-color: #fff;
}

.custom-slider {
  .showheader1 {
    width: 90%;
    transition:max-height 0.3s ease-in;
    overflow: hidden;
  }
  .slider-custom {
    visibility: hidden;
    height: 0;
  }
  .handel {
    background-color: $light-bg !important;
  }
  .rc-slider-handle {
    background-color: black;
    border-radius: 0;
    border: 0;
    width: 2px;
    margin-left: 0px;

  }
  .rc-slider-track {
    background-color: black;
    height: 2px;
    border-radius: 0;
  }
  .rc-slider-rail {
    height: 2px;
    border-radius: 0;
  }
}

.slider-text {
  position: relative;
  display: flex;
  margin-top: 20px;
  @include plp_filter_sub();
  line-height: 30px;
  .slider-box {
    width: 50%;
    text-align: center;
    border: 1px solid tint(#000, 80%);
    margin: 0 2%;
    cursor: pointer;
  }
}

// .bannerMobileCategory {
//   margin-top: 70px;
// }

.catalog-font {
  font-size: 12px;
  font-family:  $font-Lato;
  color: #666;
  letter-spacing: 1px;
}

h1.corporate-heading {
  font-size: 26px;
  font-style: italic;
}
p.corporate-sub-heading {
  font-weight: bold;
  color: $cerise;
  margin-top: 15px;
  &.corporate-sub-heading-mobile {
    margin-top: 20px;
  }
}

.filter-item-cross {
  right: 18px;
  top: 8px;
  position: relative;
  float: right;
  cursor: pointer;
  font-size: 10px;
  color: black !important;
  width: 15px;
}

.filter-item {
  background-color: #F2F2F2;
  padding: 0px 30px 0px 10px !important;
  border-radius: 13px;
  cursor: default;
  color: $charcoal19;
  margin-bottom: 10px;
}

.width100 {
  max-width: 100%;
}

.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.list-grid-bar {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background-color: white;
  position: fixed;
  top: $header-height;
  z-index: 3;
  box-shadow: 0 8px 6px -6px #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
  &.hide {
    top: 0px;
    transition: top 1.5s;
  }
}

.list-grid-bar-timer {
  top: $header-height + $timer-height;
}
.list-view-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.bt-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.bt-heading {
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-family: "Baskerville","Amiri","Serif";
  color: #151515;
  font-style: italic;
  word-break: break-word;
  padding: 0 40px;
}
.bt-body {
  font-size: 14px;
  font-family: $font-Lato;
  line-height: 26px;
  color: #151515;
  text-align: center;
  padding: 0 40px;
}

.template-padding {
  padding-bottom: 50px !important;
}

.template-padding-upperMobile {
  padding-bottom: 12px !important;
}

.template-padding-mobile {
  padding-bottom: 50px !important;
}

.list-grid-bar {
  span{
    font-size: 12px;
    vertical-align: middle;
    color: #9f9f9f
  }
  .grid-span {
    padding-right: 8px;
    position:relative;
    top: -7%;
  }
  .list-span {
    padding-left: 8px;
    position:relative;
    top: -7%;
  }
  .active{
    color: #4C4C4C;
  }
}

.grid-container {
  height: 22px;
  border-right: 1px solid #9F9F9F;
}

.grid-icon {
  height: 21px;
  padding-right: 20px;
  position: relative;
  top: 34%;
  transform: translateY(-50%);
}

.list-container {
  height: 22px;
}

.list-icon {
  height: 21px;
  padding-left: 20px;
  position: relative;
  top: 34%;
  transform: translateY(-50%);
}

.no-border{
  border: none !important;
}