@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.image-boxnew {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #F7F7F7;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 20%;
        text-align: center;
        .text-content{
            .msg{
                font-family: $font-Lora;
                font-size: 16px;
                color: $charcoal19;
                margin-bottom: 20px;
            }
            .byline{
                font-family: $font-Montserrat;
                font-size: 12px;
                color: $charcoal19;
            }
        }
        .reset-link{
            font-family: $font-Montserrat;
            font-size: 12px;
            color: $charcoal19;
            text-transform: uppercase;
            text-decoration: underline;
            text-underline-offset: 4px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.image-content {
    text-align: center;
    height: 110px;
    margin-top: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-resultnew{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.reset-tile-container{
    background: #F7F7F7;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 125px);
    &.grid-fix{
        height: calc(100% - 120px);
    }
}

.plpMain:hover{
    position: relative;
    .combodiv{
        display: flex;
    }
    .product-size-list{
        display: flex;
    }
    .product-n{
        a {
            @include b3_14px_montserrat_medium_charcoal();
        }
    }
}

.hidden{
    display: none !important;
}
.combodiv {
    display: none;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(255,255,255,0.8);
    min-height: 40px;
    line-height: 20px;
    cursor: pointer;
    p{
        @include b4_12px_medium_medcharcoal_caps();
        letter-spacing: 1px;
        padding-top: 10px;
    }
    .image-hover {
        text-align: center;
        width: 50%;
    }
    .image-hover-corporate {
        text-align: center;
        width: 100%;
    }
    .image-hover:nth-last-child(1) {
        border-left: 2px solid $light-charcoal;
    }

    .wishlist {
        color: lightgray;
        font-size: 30px ;
    }
    i:hover{
        color: #ab1e56;
    }

}

.collection-name{
    font-size: 12px;
    font-family: $font-Serif;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 992px){
    .image-content {
        padding: 0 10px;
        margin-top: 10px;
        // height: 134px;
    }
}

.product-n{
    margin: 5px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        @include b3_14px_montserrat_charcoal();
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }
    span {
        @include b3_14px_montserrat_charcoal();
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }
    .discountprice {
        color: #ab1e56;
        font-family:  $font-Lato;
        font-size: 14px;
    }
    
    .strikeprice {
        font-size: 14px;
        text-decoration: line-through;
        color: gray;
        font-family: $font-Lato;
    }
}
.product-size {
    font-family: $font-Montserrat;
    font-size: 10px;
    text-transform: uppercase;
    color: $charcoal19;
    letter-spacing: 2px;
    line-height: 25px;
    justify-content: center;
    padding-right: 10px;
}

.product-size-list {
    display: none;
    justify-content: center;
    &.product-size-list-mobile {
        display: flex;
    }
    ul {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 0 5px;
        text-align: center;
        li {   
            font-family: $font-Montserrat;
            display: inline;
            padding: 0 10px;
            color: $charcoal19;
            font-size: 10px;
            line-height: 25px;
            &.disabled {
                text-decoration: line-through;
                color: tint(#000, 70%);
              }
        }
    }
}
.outstock {
    background: url('../../images/outofstock-cta.svg') no-repeat;
    @include b4_12px_medium_medcharcoal_caps();
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 1px;
    opacity: .8;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    a {
        color: $med-charcoal !important;
    }
}



.badge-image {
    position: relative;
    z-index: 3;
    img {
        position: absolute;
        top: 0px;
        width: 30%;
        left: 0;
    }
}
.badge-image-mobile{
    width: 30%;
    position: relative;
    top: 0;
    z-index: 3;
    left: 0;
    img {
        position: absolute;
        top: 0px;
    }
}

.new-badge-image{
    width: 30%;
    position: absolute;
    top: 5px;
    z-index: 3;
    right: 6px;
    img {
        width: 100%;
    }
}

.mobile-badge{
    img {
        width: 60%;
    }
}

.secondheading{
    padding: 0px 30px 0px 30px;
}
