.shopLocatorSlider, .slick-prev {
    left: -30px;
}

.shopLocatorSlider .slick-next {
    right: -20px;
}

.shopLocatorSlider .slick-prev:before {
    /* content: url('../../images/shopLocatorPrev.svg'); */
    content: url('../../images/shopLocator_LeftArrow.svg');
    display: block;
    height: 24px;
    width: 24px;
}

.shopLocatorSlider .slick-next:before {
    content: url('../../images/shopLocator_RightArrow.svg');
    /* content: url('../../images/shopLocatorPrev.svg');
    transform: rotate(180deg);	 */
    display: block;
    height: 26px;
    width: 26px;
}

.shopLocatorSlider .slick-prev.slick-disabled:before,.shopLocatorSlider .slick-next.slick-disabled:before {
    opacity: unset;
}

.shopLocatorSlider .slick-dots li.slick-active button:before {
    color: #7EAAA9;
}

.shopLocatorSlider .slick-dots li button:before{
    font-size: 8px;
}

.shopLocatorSlider .slick-dots li {
    margin: unset;
    width: 16px;
}