@import "../../styles/partials/form";

.password {
    input {
        scroll-margin-top: 150px;
        scroll-snap-margin-top: 150px;
    }
}
.arrow {
    @include arrowbottom();
    position: absolute;
    top: 21px;
    right: 20px;
    &.mright {
      right: 10px;
    }
  }