@import "../../styles/partials/form";

.password {
    input {
        scroll-margin-top: 150px;
        scroll-snap-margin-top: 150px;
    }
}
.arrow {
    @include arrowbottom();
    position: absolute;
    top: 21px;
    right: 20px;
    pointer-events: none;
    &.mright {
      right: 10px;
    }
  }
select {
  &.default {
    color: $formLabel;
    font-weight: 300;
  }
  &.black {
    color: black;
  }
}
  

input[type="date"] {
  &.default {
    color: $formLabel;
    font-weight: 300;
  }
  &.black {
    color: black;
  }
  &::-webkit-date-and-time-value {
    text-align: left;
  }
}

.error-msg {
  @include err_13px_lora_italic_cerise();
  text-align: left;
}