@import "../../styles/partials/form";
@import "../../styles/partials/mixins";

.password {
    input {
        scroll-margin-top: 150px;
        scroll-snap-margin-top: 150px;
    }
}
.arrow {
    @include arrowbottom();
    position: absolute;
    top: 21px;
    right: 20px;
    pointer-events: none;
    &.mright {
      right: 10px;
    }
    transition: transform 0.5s;
    &.active{
      transform: rotate(180deg);
    }
  }
select {
  &.default {
    color: $formLabel;
    font-weight: 300;
  }
  &.black {
    color: black;
  }
}
  

input[type="date"] {
  &.default {
    color: $formLabel;
    font-weight: 300;
  }
  &.black {
    color: black;
  }
  &::-webkit-date-and-time-value {
    text-align: left;
  }
}

.error-msg {
  @include err_13px_lora_italic_cerise();
  text-align: left;
}

.dropdown{
  position: relative;
  input[type="text"]{
    cursor: pointer;
  }
  .options{
    max-height: 202px;
    border: 1px solid #D8D8D8;
    position: absolute;
    width: 100%;
    background: white;
    z-index: 1;
    overflow: auto;
    display: none;
    &.active{
      display: block;
    }
    .option{
      height: 50px;
      padding: 10px 20px;
      cursor: pointer;
      text-align: left;
      @include b4_12px_montserrat_charcoal();
      line-height: 30px;
      letter-spacing: 0.36px;
    }
  }
  .filter{
    position: relative;
    padding: 0px;
    img{
      width: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
    input[type="text"]{
      padding-left: 50px;
      &:focus{
        padding-left: 50px;
      }
    }
  }
}