.l2l3 {
    .l2 {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 25px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .l3 {
        font-size: 12px;
        text-transform: capitalize;
        font-family: "LatoFont", "Helvetica", "Arial";
        letter-spacing: 0.09em;
        color: #000;
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
    }
    .block-l2 {
        display: block;
        margin-top: 25px;
    }
}

.image {
    .title {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 25px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .img {
        width: 100%;
        padding: 0 8%;
        margin-top: 15px;
    }
    .heading {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .subheading {
        font-size: 11px;
        text-transform: capitalize;
        font-family: "LatoFont", "Helvetica", "Arial";
        letter-spacing: 0.09em;
        color: #000;
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
    }
    .cta {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 15px;
        margin-bottom: 50px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
}

.content {
    .title {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 25px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .img {
        width: 100%;
        padding: 0 8%;
        margin-top: 15px;
    }
    .heading {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .subheading {
        font-size: 11px;
        text-transform: capitalize;
        font-family: "LatoFont", "Helvetica", "Arial";
        letter-spacing: 0.09em;
        color: #000;
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
    }
    .cta {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 50px;
        margin-bottom:  15px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
}

.vertical-image {
    .title {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 25px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .img {
        width: 100%;
        padding: 0 8%;
        margin-top: 15px;
    }
    .heading {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .subheading {
        font-size: 11px;
        text-transform: capitalize;
        font-family: "LatoFont", "Helvetica", "Arial";
        letter-spacing: 0.09em;
        color: #000;
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
    }
    .cta {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
}

.image-with-side-subheading {
    .block-title {
        display: block;
        margin-top: 25px;
    }
    .title {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .img {
        width: 50%;
        padding-left: 8%;
        padding-right: 4%;
        margin-top: 15px;
        display: inline-block;
    }
    .container {
        display: inline-block;
        vertical-align: middle;
        max-width: 50%;
        .heading {
            border-bottom: none;
            // padding-left: 20px;
            line-height: 18px;
            letter-spacing: .05em;
            margin-top: 15px;
            display: block;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            font-family: "LatoFont", "Helvetica", "Arial";
        }
        .subheading {
            font-size: 11px;
            text-transform: capitalize;
            font-family: "LatoFont", "Helvetica", "Arial";
            letter-spacing: 0.09em;
            color: #000;
            border-bottom: none;
            // padding-left: 20px;
            line-height: 18px;
        }
    }
    .cta {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .block-cta {
        margin-top: 15px;
        margin-bottom: 50px;
        display: block;
    }
}

.image-with-side-subheading-mobile {
    .title {
        border-bottom: none;
        padding-left: 20px;
        line-height: 30px;
        letter-spacing: .05em;
        margin-top: 25px;
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        font-family: "LatoFont", "Helvetica", "Arial";
    }
    .img-container {
        display: inline;
    }
    .img {
        width: 50%;
        // padding-left: 8%;
        padding-right: 4%;
        margin-top: 15px;
        margin-bottom: 15px;
        display: inline-block;
    }
    .container {
        display: inline-block;
        vertical-align: middle;
        max-width: 50%;
        .heading {
            border-bottom: none;
            // padding-left: 20px;
            line-height: 18px;
            letter-spacing: .05em;
            margin-top: 15px;
            display: block;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            font-family: "LatoFont", "Helvetica", "Arial";
        }
        .subheading {
            font-size: 11px;
            text-transform: capitalize;
            font-family: "LatoFont", "Helvetica", "Arial";
            letter-spacing: 0.09em;
            color: #000;
            border-bottom: none;
            // padding-left: 20px;
            line-height: 18px;
        }
    }
}
.block {
    display: block;
}