@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.password-validation {
    transition: opacity 0.2s, height 0.2s, margin 0.2s;
    opacity: 0;
    height: 0;
    cursor: default;
    pointer-events: none;
    margin-top: -20px !important;
    &.show {
      opacity: 1;
      height: 78px;
      margin-top: -10px !important;
    }
    p {
      @include b4_12px_montserrat_charcoal();
      line-height: 20px;
      letter-spacing: 0.36px;
      text-align: left;
    }
    ul {
      font-family: $font-Montserrat;
      font-size: 10px;
      letter-spacing: 0.3px;
      display: flex;
      flex-wrap: wrap;
      padding-top: 12px;
      li {
        flex: 50%;
        line-height: 20px;
        text-align: left;
        &::before {
          content: '';
          display: inline-block;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          border: 1px solid;
          vertical-align: text-bottom;
          margin-right: 7px;
        }
        &.correct {
          color: #86BAB4;
          &::before {
            content: '';
            height: 12px;
            width: 7px;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            border-radius: 0;
            vertical-align: baseline;
            margin-right: 10px;
            margin-left: 5px;
  
          }
        }
      }
    }
  }

  .container-start{
    margin-top: 130px;
    &.container-start-timer{
      margin-top: 130px + $timer-height;
    }
  }

  .container {
    width: 100%;
    margin-left: unset;
    text-align: center;
    .form-heading{
      @include h3_20px_lora_charcoal();
      letter-spacing: 0.4px;
      line-height: 25px;
    }
    .form-subheading{
      @include b4_12px_montserrat_charcoal();
      letter-spacing: 0.36px;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 52px;
    }
  }

  .page-body{
    background: url('../../images/myAccountBg2.png') repeat;
    height: auto;
    padding: 70px 0px;
    @media screen and (max-width: 991px){
      background: unset;
      padding: unset;
    }
    .form-container{
      width: 490px;
      padding: 60px 50px;
      background-color: #fff;
      margin: 0px auto;
      @media screen and (max-width: 991px){
        width: 100%;
        padding: 40px 24px;
      }
    }
  }


.error-msg {
  @include err_13px_lora_italic_cerise();
  text-align: left;
}