@import "../../styles/partials/variables";
* {
  margin: 0;
  padding: 0;
}​​​​​​​​
img {
  width: 100%;
  height: auto;
}
.container {
  position: relative;
}
.bg {
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.content {
  position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: $cerise;
}
.heading {
  height: 20%;
  display: flex;
  align-items: flex-end;
  h1 {
    font-size: 45px;
    font-family: $font-Serif;
    flex-basis: 100%;
  }
}
.subheading {
  display: flex;
  align-items: flex-start;
  height: 10%;
  h3 {
    font-size: 12px;
    flex-basis: 100%;
    font-size: 24px;
    font-family: $font-Serif;
  }
}
.footer {
  font-family: $font-Lato;
  height: 50%;
  align-items: flex-end;
  display: flex;
  padding-bottom: 2%;
  .footer-content {
    font-size: 22px;
    flex-basis: 100%;
  }
}
.logo-container {
  line-height: 50px;
  height: 20%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  .logo {
    flex-basis: 100%;
    img {
      width: 130px;
    }
  }
}
@media screen and (max-width: 992px) {
  .footer {
    align-items: flex-start;
    .footer-content {
      font-size: 18px;
    }
  }
  .heading {
    h1 {
      font-size: 36px;
    }
  }
  .logo-container {
    .logo {
      img {
        width: 180px;
      }
    }
  }
}

