@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.primary-button{
    font-family: $font-Lato;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 0;
    width: 100%;
    line-height: 40px;
    letter-spacing: 2px;
    &:hover {
        color: #fff;
    }
    &:active {
        color: #fff;
    }
}
