@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.heading {
    text-transform: uppercase;
    color: #666;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 48px;
}
.filter-text{
    line-height: 33px;
    font-size: 14px;
    font-family: $font-Lato;
    letter-spacing: 1px;
    color: #ab1e56;
    text-transform: uppercase;
}

.Dropdown-root {
    min-width: 161px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #ccc;
    span{
        right: 12px;
        font-weight: 400;
        color: rgba(51,51,51,.8);
    }
    ul{
        min-width: 161px;
        margin-bottom: 0px;
        border: 1px solid #ccc;
        li{
            background-color: #fff;
            box-sizing: border-box;
            color: rgba(51,51,51,.8);
            cursor: pointer;
            display: block;
            padding: 0px 13px;
            text-align: left;
            line-height: 31px;
            font-size: 12px;
            font-weight: 400;
        }      
    }
    li:hover{
        background-color: #f2f2f2;
        color: rgba(51,51,51,.8);
    }
}
.imagebox {
    position: relative;
    .image-hover {
      text-align: center;
      width: 50%;
      &:last-child {
        border-left: 1px solid tint(#000, 70%);
      }
      i {
        font-size: 30px;
      }
    }
    .icon-cross {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 25px;
      color: tint(#000, 60%);
      font-weight: bold;
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
    }
  }


.img-bottom {
    background-color: tint(#000, 95%);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    font-size: 11px;
    .size {
    width: 45%;
    float: left;
    text-align: center;
    cursor: pointer;
    color: tint(#000, 40%);
    span {
        color: $cerise;
    }
    }
    .atb {
    width: 55%;
    float: left;
    text-align: center;
    border-left: 1px solid tint(#000, 80%);
    color: $cerise;
    cursor: pointer;
    }

}

.icon-sort {
    font-size: 40px;
}
.wishlist-header {
    color: tint(#000, 40%);
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: $font-Lato;
    text-transform: uppercase;
    padding-left: 20px;
}
.image-result {
    width: 100%;
  }

.image-content {
    text-align: center;
    height: 110px;
    margin-top: 15px;
    width: 100%;
}
.product-n{
    margin: 5px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
        font-size: 14px;
        font-family: $font-Lato;
        color: #000;
        text-transform: capitalize;
    }
    span {
        font-size: 14px;
        font-family: $font-Lato;
        color: #000;
        text-transform: capitalize;
    }
    a:hover {
        color: #ab1e56;
        text-decoration: none;
    }
}
.product-size {
    font-family: $font-Lato;
    font-size: 9px;
    text-transform: uppercase;
    color: #b3b3b3;
    letter-spacing: 2px;
    line-height: 25px;
    justify-content: center;
    padding-right: 10px;
}

.product-size-list {
    display: none;
    justify-content: center;
    ul {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 0 5px;
        text-align: center;
        li {
            display: inline;
            padding: 0 10px;
            color: #ab1e56;
            font-size: 12px;
            line-height: 25px;
        }
    }
}
span{
  &.discountprice {
      color: $cerise;
      font-family: $font-Lato;
      font-size: 14px;
      color:$cerise;
    }
    &.strikeprice {
      font-size: 14px;
      text-decoration: line-through;
      color: tint(#000, 50%) !important;
      font-family: $font-Lato;
    }
}
  
.wishlist-block-outer {
    margin: 130px 0 100px 0;
}
.wishlist-block-outer-mobile {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wishlist_bottom {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 60px 0 0 ;
    padding: 10px 20px;
    span{
      display: inline-block;
      font-family: $font-Lato;}
    span.cerise{
      padding-left: 5px;
    }
  }
  .wishlist_top{
    margin-bottom: 20px;
    span{
      display:inline-block;
    }
    span.cerise{
      padding-left: 5px;
    }
  }
  
  .wishlistSubtotal {
    font-weight: bold;
    font-size: 14px;
    font-family: $font-Lato;
  }
  
.awesome {
  ul {
    li {
      background-color: black;
      color: white;
      width: 240px;
    }
  }
}
.subheader-account {
  width: 100%;
  .collection-header {
    span {
      border-left: 0 !important;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
  }
}

.c-sort {
  .product-number {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid tint(#000, 80%);
    .c-sort-header {
      position: fixed;
      background-color: #fff;
      top: $header-height;
      line-height: 50px;
      width: 100%;
      left: 0;
      z-index: 9;
      padding: 0 20px;
      border-bottom: 1px solid tint(#000, 80%);
    }
    .mobile-filter-header {
      left: 0;
    }
    .mobile-filter-menu {
      left: 0;
    }
    .no-arrow-header {
      span {
        font-size: 14px;
        font-family: $font-Lato;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 35px;
      }
      span:last-child {
        //text-transform: capitalize;
        border-left: 1px solid tint(#000, 50%);
        padding-left: 10px;
        margin-left: 10px;

      }
    }
    .collection-header {

      > span {
        font-size: 14px;
        font-family: $font-Lato;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 35px;
      }
      span:last-child {
        //text-transform: capitalize;
        border-left: 1px solid tint(#000, 50%);
        padding-left: 10px;
        margin-left: 10px;

      }
      &:after {
        content: '';
        right: 10px;
        top: 40%;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid tint(#000, 30%);
      }
    }
  }
}

.mobile-filter-header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  padding: 15px 20px 4px 20px;
  top: $header-height;
  border-bottom: 1px solid tint(#000, 80%);
  .filter-cross {
    line-height: 30px;
    .icon-close {
      // font-size: 27px;
      font-weight: bold;
    }
  }
  span {
    @include plp_subhdr_open_mob();
    letter-spacing: 1px;
    text-transform: uppercase;

    &:first-child {
      float: left;
      margin-left: 0px;
    }
    &:last-child {
      float: right;
    }
  }
}
.mobile-filter-header-timer {
  top: $header-height + $timer-height;
}
.mobile-filter-menu {
  position: fixed;
  bottom: 0;
  top: $main-header;
  left: 0;
  z-index: 9;
  background-color: white;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  .number-div {
    width: 50%;
    text-align: center;
    background-color: #f9f8f5;
    span {
      line-height: 50px;
      @include plp_prod_quantity();
    }

  }
  .apply-button {
    width: 50%;
    text-align: center;
    span {
      line-height: 50px;
      @include cta_white();
      color: white;
    }
    background-color: $cerise;
  }
  .filter-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
  }
  .sort {
    height: 100%;
    overflow: scroll;
    li {
      padding: 0 20px;
      line-height: 50px;
      @include menu-subcopy();
      border-bottom: 1px solid tint(#000, 90%);
      a {
        color: tint(#000, 50%);
      }
    }
  }
}
.mobile-filter-menu-timer {
  top: $main-header + $timer-height;
}
icon-cross {
  font-weight: bold;
}

.imagebox {
  .icon-cross-mobile {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: tint(#000, 60%);
    font-weight: bold;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
  }
}

/* empty wishlist content */
.checkheight {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 300px;
  padding: 0 10rem 0 10rem;
}
.checkheight-mobile {
  min-height: 300px;
  padding: 0;
}

.npf-msg {
  font-size: 20px;
  letter-spacing: 1px;
  color: tint(#000, 50%);
  font-style: italic;
  span {
    color: $cerise;
  }
  }

  .search-imagebox-new {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 135% 0 0 0;
    }
    
    .search-heading {
    font-size: 25px;
    h2 {
      font-size: 25px;
      font-family: "Baskerville","Amiri","Serif";
      color: #333;
      line-height: 40px;
      margin-top: 40px;
    }
    }
    .search-heading-mobile {
      h2 {
        line-height: 30px;
      }
    }
    .wishlist-heading {
      h2 {
        font-family: "Baskerville","Amiri","Serif";
        color: #333;
        margin-top: 10px;
        text-transform: uppercase;
        font-family: $font-Lato;
        font-size: 20px;
        line-height: 40px;
      }
      }
      .wishlist-heading-mobile {
        h2 {
          line-height: 30px;
        }
      }
    
    .search-image-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #464646;
    font-family: "HeaderFont","Trebuchet MS","geneva";
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    position: relative;
    }
    
    .search-bottom-block-second {
    width: 100vw;
    height: 150px;
    z-index: 10;
    padding: 10px 0;
    }
    
    .search-bottom-block {
    //position: fixed;
    // bottom: 0;
    width: 100vw;
    height: 150px;
    background-color: tint(#000, 90%);
    z-index: 10;
    padding: 10px 0;
    .count {
      font-style: italic;
      margin-top: 25px;
      font-size: 13px;
      letter-spacing: .5px;
    }
    p {
      text-decoration: underline;
      cursor: pointer;
      margin-top: 6px;
      font-size: 15px;
      color: $cerise;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    }
.image-result-new {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.search-feature {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 6px;
  font-size: 12px;
  font-weight: bold;
  a {
    color: #ab1e56;
    text-decoration: underline;
  }
  text-transform: uppercase;
  letter-spacing: 1px;
}
.badge-position-plp {
  width: 30%;
  top: 0px;
  z-index: 4;
  position: absolute;
  z-index: 1;
  img {
     width: 100%;
  }
}
.badge-position-plp-mobile {
    width: 40%;
    top: 0;
    position: absolute;
    z-index: 4;
  img {
    width: 100%;
  }
}
.page-body {
  margin-top: $header-height;
}
.page-body-timer {
  margin-top: $header-height + $timer-height;
}

.top-block-container {
  padding: 30px 0;
  text-align: center;
  width: 100%;
  background-color: #F7F7F7;
  .inner-container {
    .heading {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 0;
    }
    .subheading {
      margin-bottom: 20px;
      font-size: 12px;
      font-family: $font-Lato;
      color: #666;
      letter-spacing: 1px;
    }
    .btn {
      margin: auto;
      width: 100px;
      font-size: 12px;
      line-height: 40px;
    }
  }
}