@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.heading {
  @include b4_12px_montserrat_charcoal_caps();
    line-height: 48px;
}

.filter-text{
  @include b4_12px_montserrat_gold_caps();
  letter-spacing: 1px;
  line-height: $secondary-header-height;
  height:$secondary-header-height;
}

.Dropdown-root {
    min-width: 161px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #ccc;
    span{
        right: 12px;
        font-weight: 400;
        color: rgba(51,51,51,.8);
    }
    ul{
        min-width: 161px;
        margin-bottom: 0px;
        border: 1px solid #ccc;
        li{
            background-color: #fff;
            box-sizing: border-box;
            color: rgba(51,51,51,.8);
            cursor: pointer;
            display: block;
            padding: 0px 13px;
            text-align: left;
            line-height: 31px;
            font-size: 12px;
            font-weight: 400;
        }      
    }
    li:hover{
        background-color: #f2f2f2;
        color: rgba(51,51,51,.8);
    }
}
.imagebox {
    position: relative;
    .image-hover {
      text-align: center;
      width: 50%;
      &:last-child {
        border-left: 1px solid tint(#000, 70%);
      }
      i {
        font-size: 30px;
      }
    }
    .icon-cross {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      width: 28px;
      height: 28px;
    }
  }


.img-bottom {
    background-color: $lightest-grey;
    min-height: 53px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    font-size: 11px;
    max-height: 100%;

    div{
      height: 100%;
      width: 100%;
    line-height: 2;
    }

    .size {
      height: 100%;
    width: 45%;
    float: left;
    text-align: center;
    cursor: pointer;
    span {
       @include b5_10px_montserrat_charcoal();
    }
    }
    .atb {
      height: 100%;
    width: 55%;
    float: right;
    text-align: center;
    border-left: 1px solid tint(#000, 80%);
    cursor: pointer;
    @include b4_12px_medium_aqua_caps();
    @media screen and (max-width:767px) {
      font-size: 10px;
    }
    }

}

.icon-sort {
    @include b4_12px_montserrat_gold_caps();
    border-bottom: 1px solid $gold;
    width: fit-content;
    margin: 10px auto;

    &.disable{
      color: $light-charcoal;
      border-bottom: 1px solid $light-charcoal;
    }
}
.wishlist-header {
    color: #000;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: $font-Lato;
    text-transform: uppercase;
    padding-left: 20px;
}
.image-result {
    width: 100%;
  }

.image-content {
    text-align: center;
    height: 50px;
    margin-top: 10px;
    width: 100%;
}
.product-n{
    margin: 5px 0;
    padding: 0 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;

    @media screen and (max-width:767px) {
      padding: 0 5px;
    }
    a {
       @include b3_14px_montserrat_charcoal();
    }
    span {
      @include b3_14px_montserrat_medcharcoal();
    }
    a:hover {
       font-weight: 500;
    }
}
.product-price{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  span{
    line-height: 21px;
  }
}
.product-size {
    font-family: $font-Lato;
    font-size: 9px;
    text-transform: uppercase;
    color: #b3b3b3;
    letter-spacing: 2px;
    line-height: 25px;
    justify-content: center;
    padding-right: 10px;
}

.product-size-list {
    display: none;
    justify-content: center;
    ul {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 0 5px;
        text-align: center;
        li {
            display: inline;
            padding: 0 10px;
            color: #ab1e56;
            font-size: 12px;
            line-height: 25px;
        }
    }
}
span{
  &.discountprice {
      color: $gold;
      padding-right: 5px;
    }
    &.strikeprice {
      text-decoration: line-through;
      color: $light-charcoal;
      font-size: 14px;    }
}
  
.wishlist-block-outer {
    margin: 60px 0 100px 0;
    @media(max-width:992px){
      margin: 70px 0;
    }
}
.wishlist-block-outer-timer {
  margin: 100px 0 100px 0;

  @media screen and (max-width:992px) {
    margin: 0 0 100px 0;
  }
}
.wishlist-block-outer-mobile {
  // padding-top: 30px;
  padding-bottom: 30px;
}
.wishlist_bottom {
  display: inline-block;
  border: 1px solid #ccc;
  margin: 60px 0 0 ;
  padding: 10px 20px;
  span{
    display: inline-block;
    font-family: $font-Lato;}
  span.cerise{
    padding-left: 5px;
  }
}
.wishlist-top{
  margin-bottom: 20px;
  float: left;
  span{
    display:inline-block;
  }
  span.cerise{
    padding-left: 5px;
  }
}
  
.wishlistSubtotal {
  @include b4_12px_montserrat_charcoal();
}
  
.awesome {
  clear: both;
  ul {
    li {
      background-color: black;
      color: white;
      width: 240px;
    }
  }
}
.subheader-account {
  width: 100%;
  .collection-header {
    span {
      border-left: 0 !important;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
  }
}

.c-sort {
  .product-number {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid tint(#000, 80%);
    .c-sort-header {
      position: fixed;
      background-color: #fff;
      top: $header-height;
      line-height: 50px;
      width: 100%;
      left: 0;
      z-index: 9;
      padding: 0 20px;
      border-bottom: 1px solid tint(#000, 80%);
    }
    .mobile-filter-header {
      left: 0;
    }
    .mobile-filter-menu {
      left: 0;
    }
    .no-arrow-header {
      span {
        font-size: 14px;
        font-family: $font-Lato;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 35px;
      }
      span:last-child {
        //text-transform: capitalize;
        border-left: 1px solid tint(#000, 50%);
        padding-left: 10px;
        margin-left: 10px;

      }
    }
    .collection-header {

      > span {
        font-size: 14px;
        font-family: $font-Lato;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 35px;
      }
      span:last-child {
        //text-transform: capitalize;
        border-left: 1px solid tint(#000, 50%);
        padding-left: 10px;
        margin-left: 10px;

      }
      &:after {
        content: '';
        right: 10px;
        top: 40%;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid tint(#000, 30%);
      }
    }
  }
}

.mobile-filter-header {
  width: 100%;
  position: fixed;
  z-index: 13;
  background-color: #fff;
  padding: 15px 20px 4px 20px;
  top: $header-height;
  border-bottom: 1px solid tint(#000, 80%);
  .filter-cross {
    line-height: 30px;
    .icon-close {
      // font-size: 27px;
      font-weight: bold;
    }
  }
  span {
    @include plp_subhdr_open_mob();
    letter-spacing: 1px;
    text-transform: uppercase;

    &:first-child {
      float: left;
      margin-left: 0px;
    }
    &:last-child {
      float: right;
    }
  }
}
.mobile-filter-header-timer {
  top: $header-height + $timer-height;
}
.mobile-filter-menu {
  position: fixed;
  bottom: 0;
  top: $main-header+10px;
  left: 0;
  z-index: 11;
  background-color: white;
  // -webkit-transition: all 0.5s linear;
  // -moz-transition: all 0.5s linear;
  // -o-transition: all 0.5s linear;
  // transition: all 0.5s linear;
  .number-div {
    width: 50%;
    text-align: center;
    background-color: #f9f8f5;
    span {
      line-height: 50px;
      @include plp_prod_quantity();
    }

  }
  .apply-button {
    width: 50%;
    text-align: center;
    span {
      line-height: 50px;
      @include cta_white();
      color: white;
    }
    background-color: $cerise;
  }
  .filter-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
  }
  .sort {
    height: 100%;
    overflow: scroll;
    li {
      padding: 0 20px;
      line-height: 50px;
      @include menu-subcopy();
      border-bottom: 1px solid tint(#000, 90%);
      a {
        color: tint(#000, 50%);
      }
    }
  }
}
.mobile-filter-menu-timer {
  top: $main-header + $timer-height;
}
icon-cross {
  font-weight: bold;
}

.imagebox {
  .icon-cross-mobile {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    color: tint(#000, 60%);
    font-weight: bold;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
  }

  // @media screen and (max-width:767px) {
  //   height: 270px;
  // }
}

/* empty wishlist content */
.checkheight {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 300px;
  padding: 0 8rem 0 8rem;
}
.checkheight-mobile {
  min-height: 300px;
  padding: 0;
}

.npf-msg {
  @include b4_12px_montserrat_charcoal();
  letter-spacing: 0.5px;
  span {
    color: $cerise;
  }
  }

  .search-imagebox-new {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 135% 0 0 0;
    }
    
    .search-heading {
    font-size: 25px;
    h2 {
      @include h6_16px_lora_charcoal();
      line-height: 40px;
      margin-top: 40px;
    }
    }
    .search-heading-mobile {
      h2 {
        line-height: 30px;
      }
    }
    .wishlist-heading {
      h2 {
        @include h3_20px_lora_medCharcoal();
        margin-top: 10px;
        line-height: 40px;
      }
      }
      .wishlist-heading-mobile {
        h2 {
          line-height: 30px;
        }
      }
    
    .search-image-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #464646;
    font-family: "HeaderFont","Trebuchet MS","geneva";
    display: block;
    text-align: center;
    letter-spacing: 0.5px;
    position: relative;
    }
    
    .search-bottom-block-second {
    width: 100vw;
    height: 150px;
    z-index: 10;
    padding: 10px 0;
    }
    
    .search-bottom-block {
    //position: fixed;
    // bottom: 0;
    width: 100vw;
    height: 150px;
    background-color: tint(#000, 90%);
    z-index: 10;
    padding: 10px 0;
    .count {
      font-style: italic;
      margin-top: 25px;
      font-size: 13px;
      letter-spacing: .5px;
    }
    p {
      text-decoration: underline;
      cursor: pointer;
      margin-top: 6px;
      font-size: 15px;
      color: $cerise;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    }
.image-result-new {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.search-feature {
  cursor: pointer;
  margin-top: 6px;
  a {
    text-transform: uppercase;
   @include b4_12px_montserrat_charcoal();
  }
  letter-spacing: 1px;
}
.badge-position-plp {
  width: 30%;
  top: 0;
  z-index: 4;
  position: absolute;
  z-index: 1;
  img {
     width: 100%;
     max-width: 70px;
     position: absolute;
    //  left: 10px;
    //  top: 10px;
  }
}
.badge-position-plp-mobile {
    width: 40%;
    top: 0;
    position: absolute;
    z-index: 4;
  img {
    width: 40px;
    max-width: 40px;
    position: absolute;
    // left: 4px;
    // top: 4px;
  }
}
.page-body {
  margin-top: $header-height + $secondary-header-height;
}
.page-body-mobile {
  margin-top: $header-height;
}
.page-body-timer {
  margin-top: 80px;
}
.page-body-mobile-timer {
  margin-top: $header-height  + $timer-height;
}

.top-block-container {
  margin-top: -20px;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  background-color: #F7F7F7;
  font-family: $font-Montserrat;
  .inner-container {
    .heading {
      @include h3_20px_lora_medCharcoal();
      margin-bottom: 0;
      text-transform: capitalize !important;
    }
    .subheading {
      margin-bottom: 20px;
      letter-spacing: 0.5px;
     @include b4_12px_montserrat_light_charcoal();
    }
    .btn {
      // margin: auto;
      // width: 200px;
      // font-size: 12px;
      // line-height: 40px;
    }
  }
}

.shared-wrapper{
    margin: 60px auto;
    text-align: center;

    .heading{
      text-transform: capitalize;
      @include h3_20px_lora_medCharcoal();
    }

    .subheading{
      @include b4_12px_montserrat_light_charcoal();
    }
}

.share-list {
  @include b5_10px_montserrat_charcoal_caps();
  float: right;
  // margin-top: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .sharelink{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    padding-right: 20px;
    img{
      width: 12px;
      margin-right: 3px;
    }
    &:hover{
      color: $aqua-text;
      img {
        filter: invert(54%) sepia(44%) saturate(331%) hue-rotate(131deg) brightness(84%) contrast(85%);
      }
    }
  }

  .arrow-round{
    position: relative;
    width: 30px;
    height: 30px;
    background: #F9F8F5;
    border-radius: 100%;
    cursor: pointer;
  
    .arrow{
      height: 8px;
      width: 8px;
      border-top: 1px solid black;
      border-left: 1px solid black;
      transition: transform 0.2s ease-in;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    
    .open-icon{
      transform: translate(-50%, -50%) rotate(45deg);
      top: 60%;
    }
    .closed-icon{
      transform: translate(-50%, -50%) rotate(-135deg);
      top: 44%;
    }
  }
}

.icon-link {
  font-size: 12px;
  content: "\1F517";
}

//======================whishlist popup======================//

.size-block-bridal {
  h2 {
    @include h3_20px_lora_charcoal();
    text-transform: capitalize;
  }
  // width: 30%;
  //min-height: 360px;
  background-color: #fff;
  // height: 80vh !important;
  .scrolly {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    @include scrollbar-default();
    &:hover {
      @include scrollbar();
    }
  }
  &.ht {
    min-height: 330px;
    height: 50vh;
  }
  .btn {
    @include cerise-btn();
    position: relative;
  }
  .cross {
    border-bottom: 1px solid #f2f2f2;
    text-align: right;
    padding: 15px;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    }

    .main-wrp{
      text-align: center;
      margin: auto;
    }

    .login-form {
      .wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 13%;
        @media screen and (max-width:992px) {
          margin-bottom: 90px;
        }
        
      }
      .wup-link{
        height: 25px;
        margin: 12px 0;
        z-index: 99;
      }
      .share-txt-box-wishlist {
        position: relative;
        width: 100%;
        text-align: left;
        width: 100%;
        input[type="text"] {
          border: none;
          height: 50px;
          padding: 15px;
          width: 100%;
          background-color: #F8F8F8;
          @include b4_12px_montserrat_charcoal();
          text-overflow: ellipsis;
          border: 1px solid tint(#000, 90%);
        }
      }
      .copy-icon{
        margin: 12px 8px;
        height: 25px;
        cursor: pointer;
        z-index: 1;
      }
      .note{
        @include b5_10px_montserrat_light_charcoal();
        width: 100%;
        margin-top: 6px;
        text-align: left;
      }
      .link-wrp{
        .link{
          @include b5_10px_montserrat_charcoal();
          border-bottom: 1px solid $charcoal19;
          margin: auto;
          width: fit-content;
          cursor: pointer;
          padding-top: 25px;

          @media screen and (max-width:992px) {
            margin-bottom: 80px;
          }
        }
      }
      
    }

}

.footer{
  height: 50px;
  position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
  background-color: #2E2E2E;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  .img-text-wrp{
    display: flex;
    justify-content: start;
    width: 80%;
    @media screen and (max-width:768px) {
      width: 70%;
    }
  }
  .footer-note{
    margin: 0;
    @include b4_12px_medium_white();
    text-align: left;
    margin-top: 5px;
  }
  .margin-auto{
    margin: auto;
  }
  .delete-link{
    @include b5_10px_montserrat_white();
    border-bottom: 1px solid $white;
    cursor: pointer;
  }

  @media screen and (max-width:768px) {
    padding: 3px 20px;
  }
}

.centerpage-desktop {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  // width: 100%;
  width: 520px;
}

.centerpage-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bg-one{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  height: 150px;
}

.bg-two{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
}

.bottom{
  bottom: 50px;
}

.empty-shared-wishlist-content{
  text-align: center;

  p{
    @include h6_16px_lora_charcoal();
    margin-bottom: 10px;
  }}
.dropdown-wishlist {
  ul {
    li {
      font-size: 12px !important;
      background-color: #fff;
    }
  }
}

.err-msg{
  font-size: 14px !important;
}
.err-msg1{
  text-align: center;
}

.shared-empty-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.h2-popup{
  line-height: 1.5;
}

.badge-position{
  bottom: 65px;

  @media screen and (max-width:767px) {
    bottom: 60px;
  }
}

.list-block{
  clear: both;
  hr.devider-line{
    border-top: 0.5px solid #9F9F9F;
    margin: 0 0 40px;
    clear: both;
    @media(max-width:992px){
      margin: 0 0 35px;
    }
  }
  &:last-child hr{
    border: none;
  }
  .wishlist-head{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  .wishlist-heading{
    display: flex;
    align-items: center;
    width: 60%;
  }
  .list-name{
    padding: 0 5px;
    @include h3_20px_lora_medCharcoal();
    line-height: 25px;
    letter-spacing: 0.4px;
    padding-right: 25px;
    max-width: 90%;
    overflow-wrap: break-word;
    margin-bottom: 0;
    @media(max-width:767px){
      font-size: 18px;
    }
  }
  .edit{
    @include b5_10px_montserrat_charcoal_caps();
    letter-spacing: 0.3px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    // margin-top: 5px;
    padding-right: 20px;
  }
  .product-block{
    .product-data{
      float:left;
      // width: 280px;
      // height: 480px;
      width: 20%;
      padding: 0 5px;
      margin-bottom: 60px;
      @media(max-width:992px){
        margin-bottom: 30px;
        width: 33.33%;
      }
      @media(max-width:767px){
        width: 50%;
      }
      .product-image{
        width:100%;
      }
      .product-name{
        @include b3_14px_montserrat_charcoal();
        line-height: 21px;
        letter-spacing: 0.42px;
      }
    }
  }
  .empty-product-block{
    background: #FAFAFA;
    padding: 30px;
    margin-bottom: 60px;
    span{
      @include b4_12px_montserrat_charcoal();
      line-height: 20px;
      letter-spacing: 0.36px;
    }
  }
}

.accordion-body{
  margin-top: 20px;
  .edit-delete{
    margin-bottom: 30px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    .edit{
      padding-right: 30px;
    }
  }
}

.wishlist-popup-container{
  // max-width: 520px;
  min-height: 20vh;
  width: 100%;
  background-color: #fff;
  padding-bottom: 40px;
  position: relative;
  @media(min-width:993px){
    min-width: 520px;
  }
  .header{
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
  }
  .close-btn{
    position: absolute;
    background: none;
    border: 0;
    padding: 0;
    font-size: 36px;
    display: block;
    margin: auto;
    top: -5px;
    right: 5px;
    color: #191919;
  }
  .content-container{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    h2{
      @include h2_24px_lora_charcoal();
      line-height: 31px;
      letter-spacing: 0.48px;
    }
    .max-limit-reached{
      h3{
        @include h6_16px_lora_charcoal();
        line-height: 24px;
      }
    }
  }
  .input-field{
    position: relative;
    input{
      width: 100%;
      height: 50px;
      margin: 30px 0 0 0;
      @include b4_12px_montserrat_charcoal();
      border: 1px solid #A6A6A6;
      padding: 0 10px;
    }
    label{
      position: absolute;
      left: 15px;
      top: 20px;
      background: #fff;
      padding: 0 8px;
      @include b4_12px_montserrat_charcoal();
     }
  }
  button{
    max-width: 100%!important;
    height: 60px!important;
  }
  .delete-link{
    margin-top:25px;
    @include b5_10px_montserrat_charcoal_caps();
    line-height: 18px;
    letter-spacing: 0.3px;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    cursor: pointer;
  }
  .content-text{
    @include b4_12px_montserrat_charcoal();
    line-height: 20px;
    letter-spacing: 0.36px;
    margin: 15px 0 35px 0;
  }
  .limit-text{
    text-align: right;
    @include b6_9px_light_montserrat_charcoal();
    line-height: 12px;
    letter-spacing: 0.27px;
  }
  .err-msg-char-limit{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 15px;
    .max-limit-reached{
      margin-bottom: 0!important;
    }
    .error-msg{
      @include err_13px_lora_italic_cerise();
      line-height: 16px;
      letter-spacing: 0.26px!important;
    }
  }
}
.icon-pencil-container{
  position: absolute;
  right: 10px;
  top: 13%;
  z-index: 2;
  background: #fff;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  @media(min-width:768px) and (max-width:992px){
    top: 12%;
  }
  @media(max-width:767px){
    top: 17%;
  }
  .icon-pencil{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.icon-close-container{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  background: #fff;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  .icon-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.create-wishlist-popup > div{
  width: 350px;
  right: 12px;
  top: 11%;
}
.secondry-header-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  @media(max-width:992px){
    padding: 0 30px;
  }
}
.text-underline{
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}