@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.dropdown-menu-container {
  position: relative;
  // overflow: hidden;
  display: inline-block;
  &.open {
    overflow: unset;
  }
}

.dropdown-disabled {
  background-color: #eee;
  color: #bbb;
  border-color: #ddd;
  cursor: default !important;
}
.label {
  @include hdr-curr();
  display: inline-block;
  line-height: $dropdown-label-height;
  text-align: center;
  padding: 0 10px;
 &.disabled {
   span {
     color: #bbb;
   }
 }
 &.gold-color{
  color: #987E56 !important;
 }
 &.menu-close{
   span{
     color: #333 !important;
   }
 }
}

.menu {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  // display: none;
  min-width: 130px;
  background: $grey;
  position: absolute;
  top: $dropdown-label-height;

  &.right {
    right: -1px;
  }

  &.left {
    left: -10px;
  }
}

.checkout.menu {
  min-width: unset;
  &.left {
    left: -15px;
  }
}
.open {
  .menu {
    display: block;
  }
  .label {
    color: $cerise;
    &.gold-color {
      color: #987E56 !important;
    }
  }
}

.menu-item {
  line-height: 40px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  padding: 0 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
  letter-spacing: 0.1em;
  &:last-child {
    border-bottom: none;
  }
  span, a{
    font-size: 10px;
    font-weight: normal;
    font-family: $font-Lato;
    letter-spacing: 0.1em;
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #000;
    &:hover {
      color: $cerise !important;
    }
  }
  &.gold-color{
    color: #987E56 !important;
  }
  &:hover {
    color: $cerise !important;
  }
  &.bottom-dock-menu-item {
    color: #333 !important;
  }
}
.caret{
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #000;
  position: absolute;
  top: 42%;
  right: 0;
  &.gold-color{
    color: #987E56
  }
  &:hover{
    color: $cerise;
    &.gold-color{
      color: #987E56
    }
  }
  &.disabled {
    span {
      color: #bbb;
    }
  }
  &.carret-vertical-mid-align{
    top: 50%
  }
}

.caret-up{
    border-bottom: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #000;
    &.gold-color{
      color: #987E56
    }
    position: absolute;
    top: 50%;
    right: 0;
}

.open-up {
  position: absolute;
  transform: translateY(-115%);
  -webkit-transform: translateY(-115%);
  -moz-transform: translateY(-115%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  min-width: 170%;
  z-index: -1;
  ul{
    margin-bottom: 0px;
  }
}
