@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.dropdown-menu-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  &.open {
    overflow: unset;
  }
}
.label {
  @include hdr-curr();
  display: inline-block;
  line-height: $dropdown-label-height;
  text-align: center;
  padding: 0 10px;
}

.menu {
  display: none;
  min-width: 130px;
  background: $grey;
  position: absolute;
  top: $dropdown-label-height;

  &.right {
    right: -1px;
  }

  &.left {
    left: 0;
  }
}

.open {
  .menu {
    display: block;
  }

  .label {
    color: $cerise;
  }
}

.menu-item {
  line-height: 40px;
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  padding: 0 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
  letter-spacing: 0.1em;

  &:last-child {
    border-bottom: none;
  }
  a{
    font-size: 10px;
    font-weight: normal;
    font-family: "LatoFont","Helvetica","Arial";
    letter-spacing: 0.1em;
    color: #333;
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    text-decoration: none;
    &:hover {
      color: $cerise;
    }
  }

  &:hover {
    color: $cerise;
  }
}
.caret{
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #000;
  position: absolute;
  top: 42%;
  right: 0;
}

.caret-up{
  border-bottom: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: $cerise;
    position: absolute;
    top: 40%;
    right: 0;
}
