@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.dropdown-menu-container {
  position: relative;
  // overflow: hidden;
  display: inline-block;
  &.open {
    overflow: unset;
  }
}

.dropdown-disabled {
  background-color: #eee;
  color: #bbb;
  border-color: #ddd;
  cursor: default !important;
}

.label {
  @include header_currency();
  display: flex;
  line-height: $dropdown-label-height;
  text-align: center;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
 &.disabled {
   span {
     color: #bbb;
   }
 }
 &.gold-color{
  color: #987E56 !important;
 }
}

.menu {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  // display: none;
  width: 100px;
  min-width: max-content;
  background: $grey;
  position: absolute;
  top: $dropdown-label-height;

  &.right {
    right: -1px;
  }

  &.left {
    left: -10px;
  }
}

.checkout.menu {
  min-width: unset;
  &.left {
    left: -15px;
  }
}
.open {
  .menu {
    display: block;
  }
  .label {
    color: $gold;
    &.gold-color {
      color: $gold !important;
    }
  }
}

.menu-item {
  @include b5_10px_charcoal();
  line-height: 40px;
  cursor: pointer;
  font-weight: 600;
  padding: 0 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
  &:last-child {
    border-bottom: none;
  }
  a{
    font-size: 10px;
    font-weight: normal;
    font-family: $font-Lato;
    letter-spacing: 0.1em;
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #000;
    &:hover {
      color: $gold !important;
    }
  }
  &.gold-color{
    color: #987E56 !important;
  }
  &:hover {
    color: $gold;
  }
  &.bottom-dock-menu-item {
    color: #333 !important;
  }
}

.caret{
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #000;
  position: absolute;
  top: 42%;
  right: 0;
  &.gold-color{
    color: #987E56
  }
  &:hover{
    color: $cerise;
    &.gold-color{
      color: #987E56
    }
  }
  &.disabled {
    span {
      color: #bbb;
    }
  }
  &.carret-vertical-mid-align{
    top: 50%
  }
}

.arrow{
  @include carret();
  height: 5px;
  width: 5px;
  margin-left: 5px;
}

.open-up {
  position: absolute;
  transform: translateY(-115%);
  -webkit-transform: translateY(-115%);
  -moz-transform: translateY(-115%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  min-width: 170%;
  z-index: -1;
  ul{
    margin-bottom: 0px;
  }
}

.gold-border{
  border-color: $gold;
}
