@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.wishlist-icon {
    font-size: 28px;
    color: gray;
    cursor: pointer;
}

@media screen and (min-width:992px) {
    .wishlist-icon {
        font-size: 28px;
        color: gray;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        &:hover {
            color: $cerise;
        }
    }
}

.label {
    @include pdp_label();
}

.added-to-wishlist {
    color: $cerise !important;
}

.mobile-wishlist {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 30px;
}