@import "../../styles/partials/variables";

.product-n{
  margin: 5px 0;
  width: 100%;
  white-space: pre-wrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
  text-align: right;
  a {
      font-size: 14px;
      font-family: $font-Lato;
      color: #000;
      text-transform: capitalize;
      letter-spacing: 0.5px;
  }
  span {
      font-family: $font-Montserrat;
      color: #191919;
      text-transform: capitalize;
    //   letter-spacing: 0.5px;
  }
  .mrp{
    font-size: 10px;
  }
  .normal-price{
    font-size: 14px;
  }
  .discountprice {
      color: $gold;
      font-size: 14px;
  }
  .strikeprice {
      font-size: 12px;
      text-decoration: line-through;
      color: gray;
  }
  a:hover {
      color: #ab1e56;
      text-decoration: none;
  }
}
.sale-on{
    span,.strikeprice{
        font-size: 14px;
    }
}