@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

strong {
  font-weight: bold;
}

.accordion {
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  border-bottom: lightgrey solid 1px
}

.accordion-item-header {
  font-size: 14px;
  font-family: $font-Montserrat;
  text-transform: uppercase;
  color: #191919;
  letter-spacing: 0.36px;
  cursor: pointer;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  &.active{
    +.accordion-item-body{
      margin-bottom: 15px;
    }
  }
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 12px;
  font-family: "Montserrat";
  color: #191919;
  letter-spacing: 0.36px;
  font-weight: normal;
  &.active {
    margin-top: 15px;
  }
}

.accordion-item-body-content {
  line-height: 1.5;
}

.arrowUp::before{
  content:"\f123";
  margin: 0 8px;
}
.arrowDown::before{
  content:"\f10c";
  margin: 0 8px;   
}