@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

// strong {
//     font-weight: bold;
// }

.accordion-section {
    box-shadow: 0px 1px 0px lightgrey;
}

.accordion-header {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

//Add padding when show
.accordion-body{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    &.default-open{
      max-height: fit-content;
    }
}

.arrow {
    height: 12px;
    width: 12px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    position: absolute;
    right: 20px;
    transition: transform 0.2s ease-in;
    &.open {
      transform: rotate(45deg);
    }
    &.close {
      transform: rotate(-135deg);
    }
  }