@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.accordion-section {
  border-bottom: 1px solid lightgray;
}

.accordion-header {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

//Add padding when show
.accordion-body{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    &.default-open{
      max-height: fit-content;
    }
    div{
      p{
        strong {
          font-weight: 400;
        }
      }
    }
}

.arrow {
  @include carret();
  position: absolute;
  right: 20px;
}
