@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.more-collection-img{
  margin-right: 30px;
  background-color: $white;
  @media screen and (max-width:992px) {
      margin-bottom: 50px;
  }

  @media screen and (max-width:992px) {
      margin-right: 0;
  }
  img{
      width: 470px;
      height: 200px;
      object-fit: cover;

      @media screen and (max-width:992px) {
          width: 100%;
      }
  }

  .text-wrp{
      margin-left: 15px;
      margin-top: 15px;
      .tag-wrp{
        display: flex;
        gap: 5px;
  
        .tag{
          padding: 4px;
          border: 1px solid $aqua;
          width: fit-content;
          text-align: center;
          @include b5_10px_montserrat_aqua();
        }
      }
  
      .name{
          margin: 10px 0 20px 0;
          @include h3_20px_lora_charcoal();
      }
  }

}