@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.page-body{
    margin-top: $header-height;
  }
  .page-body-timer {
    margin-top: $header-height + $timer-height;
  }


  @media screen and (max-width: 992px) {
    .page-body{
      margin-top: $header-height + $grid-view-bar;
    }
    .page-body-timer {
      margin-top: $header-height + $grid-view-bar + $timer-height;
    }
    .imageContainerMobile {
      margin-left: 0;
      margin-right: 0;
    }
  }
  

  .careers-content {
    height: 300px;
    background-color: lightgrey;
    .careers-image-caption {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        text-align: center;
        color: white;
        width: 50%;
         h4 {
            font-size: 28px;
            font-family: $font-Serif;
            line-height: 60px;
        }
        h3 {
            font-size: 30px;
            line-height: 40px;
            text-transform: none;
            color: #333;
            margin-bottom: 20px;
            font-family: $font-Serif;
        }
        h5 {
            color: black;
            font-size: 17px;
        }
    }
    .image-caption {
        font-size: 12px;
        font-family: $font-Lato;
        letter-spacing: 1px;
    }
    position: relative;
    margin-top: $main-header;
}

.sitemap-container {
    margin: 60px auto 20px 40px;
    .l1-container {
        margin-top: 20px;
        .title {
            font-weight: bold;
            font-size: 18px;
            a, p {
                color: black;
                span {
                    color: black;
                }
            }
        }
        .l2-container {
            display: flex;
            max-height: 500px;
            .l2-inner-container {
                flex-direction: column;
                flex-wrap: wrap;
                display: flex;
                width: 20%;
                .l2-item {
                    margin: 20px 30px 20px 0;
                    width: 100%;
                    .l2-heading {
                        text-transform: uppercase;
                        font-size: 14px;
                        padding-bottom: 10px;
                        font-weight: bold;
                        a, p {
                            color: black;
                            span {
                                color: black;
                            }
                        }
                    }
                    .l3 {
                        font-size: 14px;
                        text-transform: capitalize;
                        padding-bottom: 5px;
                        a, p {
                            color: black;
                            span {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sitemap-container {
        margin: 60px auto 20px 40px;
        .l1-container {
            margin-top: 20px;
            .title {
                font-weight: bold;
                font-size: 18px;
                a, p {
                    color: black;
                    span {
                        color: black;
                    }
                }
            }
            .l2-container {
                display: flex;
                max-height: unset;
                .l2-inner-container {
                    flex-direction: column;
                    flex-wrap: wrap;
                    display: flex;
                    width: auto;
                    .l2-item {
                        margin: 20px 30px 20px 0;
                        width: 100%;
                        .l2-heading {
                            text-transform: uppercase;
                            font-size: 14px;
                            padding-bottom: 10px;
                            font-weight: bold;
                            a, p {
                                color: black;
                                span {
                                    color: black;
                                }
                            }
                        }
                        .l3 {
                            font-size: 14px;
                            text-transform: capitalize;
                            padding-bottom: 5px;
                            a, p {
                                color: black;
                                span {
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}